<mat-progress-bar
  [ngClass]="'delay'"
  *ngIf="loading"
  mode="indeterminate"
  color="accent"
  class="sticky"
></mat-progress-bar>
<td-flavored-markdown
  *ngIf="!loading"
  [content]="content"
  [hostedUrl]="url"
  [anchor]="anchor"
  [copyCodeToClipboard]="copyCodeToClipboard"
  [copyToClipboardTooltip]="copyToClipboardTooltip"
  [copyToClipboardCopiedTooltip]="copyToClipboardCopiedTooltip"
  (contentReady)="contentReady.emit()"
  (buttonClicked)="buttonClicked.emit($event)"
></td-flavored-markdown>
