<div layout-sm="row" layout-gt-md="row">
  <md-card flex-sm="70" flex-gt-md="70">
    <md-card-title>Card Patterns</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <h3>Problem</h3>
      <p>Need to display item or set of content composed of different elements whose size or supported actions vary.</p>
      <h3>Solution</h3>
      <p>Cards are a convenient means of displaying content composed of different elements. They’re also well-suited for showcasing
        elements whose size or supported actions vary, like photos with captions of variable length.</p>
    </md-card-content>
  </md-card>
  <md-card flex-sm flex-gt-md>
    <md-card-title>Resources</md-card-title>
    <md-divider></md-divider>
    <md-nav-list>
      <a md-list-item href="https://material.google.com/components/cards.html" target="_blank">
        <md-icon>launch</md-icon>
        <span mdLine>Material Design Cards</span>
      </a>
      <md-divider></md-divider>
      <a md-list-item href="https://material.angular.io/components/component/card" target="_blank">
        <md-icon>launch</md-icon>
        <span mdLine>Angular Material Cards</span>
      </a>
      <md-divider></md-divider>
      <a md-list-item href="https://www.google.com/search/about/learn-more/now/" target="_blank">
        <md-icon>launch</md-icon>
        <span mdLine>Google Now Cards</span>
      </a>
    </md-nav-list>
  </md-card>
</div>
<md-card>
  <md-card-title>Examples</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout-sm="row" layout-gt-md="row">
      <div flex-sm="35" flex-gt-md="35">
        <md-card-title>Standard Card</md-card-title>
        <md-card-subtitle>Card with standard card elements</md-card-subtitle>
        <md-card-content>
          <p>A card can be used with any of the optional card sub-elements including:</p>
          <md-list>
            <a md-list-item>
              <span mdLine>md-title</span>
            </a>
            <md-divider></md-divider>
            <a md-list-item>
              <span mdLine>md-subtitle</span>
            </a>
            <md-divider></md-divider>
            <a md-list-item>
              <span mdLine>md-divider</span>
            </a>
            <md-divider></md-divider>
            <a md-list-item>
              <span mdLine>md-card-content</span>
            </a>
            <md-divider></md-divider>
            <a md-list-item>
              <span mdLine>md-card-actions</span>
            </a>
          </md-list>
          <p>Additionally, a card may contain other components such as search, lists, icons, and images.</p>
        </md-card-content>
      </div>
      <div flex>
        <md-card class="pad-bottom-lg">
          <md-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button md-icon-button mdTooltip="View Source" (click)="toggle('example1')">
                <md-icon class="tc-grey-700">code</md-icon>
              </button>
            </div>
          </md-card-subtitle>
          <div [tdToggle]="example1">
            <div>
                  <td-highlight lang="html">
                      <![CDATA[
                        <md-card>
                          <md-card-title>Standard Card</md-card-title>
                          <md-card-subtitle>Subtitle</md-card-subtitle>
                          <md-divider></md-divider>
                          <md-card-content>
                            <p>Standard card with content</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                          </md-card-content>
                          <md-divider></md-divider>
                          <md-card-actions>
                            <button md-button color="accent" class="text-upper">Action</button>
                            <button md-button class="text-upper">Cancel</button>
                          </md-card-actions>
                        </md-card>
                      ]]>
                  </td-highlight>
            </div>
            <md-divider></md-divider>
          </div>
          <md-card class="push-md">
            <md-card-title>Title</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
              <button md-button color="accent" class="text-upper">Action</button>
              <button md-button class="text-upper">Cancel</button>
            </md-card-actions>
          </md-card>
        </md-card>
      </div>
    </div>
    <div layout-sm="row" layout-gt-md="row" class="pad-top-xxl">
      <div flex-sm="35" flex-gt-md="35">
        <md-card-title>Login Card</md-card-title>
        <md-card-subtitle>Card with form</md-card-subtitle>
        <md-card-content>
          <p>In special cases, cards may contain form elements, like the login card.  However, in most sitautions, we recommend using the <a [routerLink]="['/layouts', 'card-over']" target="_blank">Card Over</a> full page layout for forms.</p>
        </md-card-content>
      </div>
      <div flex>
        <md-card class="pad-bottom-lg">
          <md-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button md-icon-button mdTooltip="View Source" (click)="toggle('example2')">
                <md-icon class="tc-grey-700">code</md-icon>
              </button>
            </div>
          </md-card-subtitle>
          <div [tdToggle]="example2">
            <div>
              <td-highlight lang="html">
                  <![CDATA[
                    <md-card-title layout="row" layout-align="start center"><md-icon class="md-icon-logo" svgIcon="assets:teradata"></md-icon> <span class="md-title">Login</span></md-card-title>
                      <md-card-subtitle>Sign In with Your Credentials</md-card-subtitle>
                      <md-divider></md-divider>
                      <md-card-content class="push-bottom-none">
                        <form #loginForm="ngForm">
                          <div layout="row">
                            <md-form-field flex> 
                              <input mdInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                              <md-hint align="start">
                                <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                              </md-hint>
                              <md-hint align="end">{ {userElement.value.length} } / 30</md-hint>
                            </md-form-field>
                          </div>
                          <div layout="row" class="push-top-sm">
                            <md-form-field flex> 
                              <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                              <md-hint align="start">
                                <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                              </md-hint>
                              <md-hint align="end">Something hard to guess</md-hint>
                            </md-form-field>
                          </div>
                        </form>
                        <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
                      </md-card-content>
                      <md-divider></md-divider>
                      <md-card-actions>
                        <div layout="row">
                          <button flex md-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="login()" class="text-upper">Sign In</button>
                        </div>
                      </md-card-actions>
                    </md-card>
                  ]]>
              </td-highlight>
            </div>
            <md-divider></md-divider>
          </div>
          <md-card class="push-md">
            <md-card-title layout="row" layout-align="start center">
              <md-icon class="md-icon-logo" svgIcon="assets:teradata"></md-icon> <span class="md-title">Login</span>
            </md-card-title>
            <md-card-subtitle>Sign In with Your Credentials</md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content class="push-bottom-none">
              <form #loginForm="ngForm">
                <div layout="row">
                  <md-form-field flex>
                    <input mdInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                      required>
                    <md-hint align="start">
                      <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                    </md-hint>
                    <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
                  </md-form-field>
                </div>
                <div layout="row" class="push-top-sm">
                  <md-form-field flex>
                    <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                      required>
                    <md-hint align="start">
                      <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                    </md-hint>
                    <md-hint align="end">Something hard to guess</md-hint>
                  </md-form-field>
                </div>
              </form>
              <div id="invalid-auth-msg" *ngIf="invalidError" class="tc-red-600 text-center" flex>The username or password is incorrect. Please try again.</div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
              <div layout="row">
                <button flex md-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="login()" class="text-upper">Sign In</button>
              </div>
            </md-card-actions>
          </md-card>
        </md-card>
      </div>
    </div>
    <div layout-sm="row" layout-gt-md="row" class="pad-top-xxl">
      <div flex-sm="35" flex-gt-md="35">
        <md-card-title>Metadata List Card</md-card-title>
        <md-card-subtitle>Card with metadata for an item detail</md-card-subtitle>
        <md-card-content>
          <p>Cards support many rich components, including our <a [routerLink]="['/design-patterns', 'management-list']" target="_blank">management list</a>.  When adding multiple lists to a card, seperate them using md-divider and consider adding md-subheader.</p>
        </md-card-content>
      </div> 
      <div flex>
        <md-card class="pad-bottom-lg">
          <md-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button md-icon-button mdTooltip="View Source" (click)="toggle('example3')">
                <md-icon class="tc-grey-700">code</md-icon>
              </button>
            </div>
          </md-card-subtitle>
          <div [tdToggle]="example3">
            <div>
              <td-highlight lang="html">
                  <![CDATA[
                    <md-card>
                      <md-card-title>Item Info</md-card-title>
                      <md-card-subtitle>Info About This Item</md-card-subtitle>
                      <md-divider></md-divider>
                      <md-list>
                        <h3 md-subheader>Metadata</h3>
                        <md-list-item>
                          <md-icon mdListAvatar>account_box</md-icon>
                          <h4 mdLine>John Jameson</h4>
                          <p mdLine>Owner</p>
                        </md-list-item>
                        <md-divider md-inset></md-divider>
                        <md-list-item>
                          <md-icon mdListAvatar>description</md-icon>
                          <h4 mdLine>An Item Description</h4>
                          <p mdLine>Description</p>
                        </md-list-item>
                        <md-divider md-inset></md-divider>
                        <md-list-item>
                          <md-icon mdListAvatar>vpn_key</md-icon>
                          <h4 mdLine>1141e8e8-8d24-4956-93c2</h4>
                          <p mdLine>API Key</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <h3 md-subheader>Dates</h3>
                        <md-list-item>
                          <md-icon mdListAvatar>access_time</md-icon>
                          <h4 mdLine>Wed, July 6, 2016 11:13 AM</h4>
                          <p mdLine>Last Updated</p>
                        </md-list-item>
                        <md-divider md-inset></md-divider>
                        <md-list-item>
                          <md-icon mdListAvatar>today</md-icon>
                          <h4 mdLine>Wed, July 4, 2016 09:11 AM</h4>
                          <p mdLine>Created</p>
                        </md-list-item>
                      </md-list>
                      <md-divider></md-divider>
                      <md-card-actions>
                        <button md-button color="accent" class="text-upper">Edit</button>
                      </md-card-actions>
                    </md-card>
                  ]]>
              </td-highlight>
            </div>
            <md-divider></md-divider>
          </div>
          <md-card class="push-md" flex>
            <md-card-title>Item Info</md-card-title>
            <md-card-subtitle>Info About This Item</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <h3 md-subheader>Metadata</h3>
              <md-list-item>
                <md-icon mdListAvatar>account_box</md-icon>
                <h4 mdLine>John Jameson</h4>
                <p mdLine>Owner</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon mdListAvatar>description</md-icon>
                <h4 mdLine>An Item Description</h4>
                <p mdLine>Description</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon mdListAvatar>vpn_key</md-icon>
                <h4 mdLine>1141e8e8-8d24-4956-93c2</h4>
                <p mdLine>API Key</p>
              </md-list-item>
              <md-divider></md-divider>
              <h3 md-subheader>Dates</h3>
              <md-list-item>
                <md-icon mdListAvatar>access_time</md-icon>
                <h4 mdLine>Wed, July 6, 2016 11:13 AM</h4>
                <p mdLine>Last Updated</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon mdListAvatar>today</md-icon>
                <h4 mdLine>Wed, July 4, 2016 09:11 AM</h4>
                <p mdLine>Created</p>
              </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-card-actions>
              <button md-button color="accent" class="text-upper">Edit</button>
            </md-card-actions>
          </md-card>
        </md-card>
      </div>
    </div>
    <div layout-sm="row" layout-gt-md="row" class="pad-top-xxl">
      <div flex-sm="35" flex-gt-md="35">
        <md-card-title>CRUD Manage List Card</md-card-title>
        <md-card-subtitle>Card with faux-columns & search</md-card-subtitle>
        <md-card-content>
          <p>In this example, notice the <a [routerLink]="['/components', 'search']" target="_blank">search component</a> in the top left.  Also, using the flex model, you can simulate columns by using the same layout on each row.  See the <a [routerLink]="['/design-patterns', 'management-list']" target="_blank">management list</a> for more implementation details.</p>
        </md-card-content>
      </div>
      <div flex>
        <md-card class="pad-bottom-lg">
          <md-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button md-icon-button mdTooltip="View Source" (click)="toggle('example4')">
                <md-icon class="tc-grey-700">code</md-icon>
              </button>
            </div>
          </md-card-subtitle>
          <div [tdToggle]="example4">
            <div>
              <td-highlight lang="html">
                  <![CDATA[
                    <md-card>
                      <md-card-title layout>
                        <md-form-field class="text-sm" flex>
                          <input mdInput placeholder="Search Items"/>
                          <span mdPrefix><md-icon>search</md-icon></span>
                        </md-form-field>
                      </md-card-title>
                      <md-list class="pull-top">
                        <md-list-item>
                          <md-icon mdListAvatar>apps</md-icon>
                          <h3 mdLine>App Name</h3>
                          <span flex></span>
                          <span flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
                          <span flex="30" class="md-body-1 tc-grey-500">Modified</span>
                        </md-list-item>
                        <ng-template let-item="$implicit" let-i="index" let-last="last" ngFor [ngForOf]="[1, 2, 3, 4]">
                          <a md-list-item>
                            <md-icon mdListAvatar>dns</md-icon>
                            <h3 mdLine> Item { {i} } </h3>
                            <p mdLine> Item Description </p>
                            <span flex></span>
                            <span flex="30" class="md-body-1 tc-grey-500">Firstname Lastname</span>
                            <span flex="30" class="md-body-1 tc-grey-500">Apr 14, 2016 12:32 PM</span>
                          </a>
                          <md-divider *ngIf="!last" md-inset></md-divider>
                        </ng-template>
                      </md-list>
                    </md-card>
                  ]]>
              </td-highlight>
            </div>
            <md-divider></md-divider>
          </div>
          <md-card class="push-md">
              <md-card-title layout>
                <md-form-field class="text-sm" flex>
                  <input mdInput placeholder="Search Items"/>
                  <span mdPrefix><md-icon>search</md-icon></span>
                </md-form-field>
              </md-card-title>
              <md-list class="pull-top">
                <md-list-item>
                  <md-icon mdListAvatar>apps</md-icon>
                  <h3 mdLine>App Name</h3>
                  <span flex></span>
                  <span flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
                  <span flex="30" class="md-body-1 tc-grey-500" hide-md hide-sm hide-xs>Modified</span>
                </md-list-item>
                <ng-template let-item="$implicit" let-i="index" let-last="last" ngFor [ngForOf]="[1, 2, 3, 4]">
                  <a md-list-item>
                    <md-icon mdListAvatar>dns</md-icon>
                    <h3 mdLine> Item {{i}} </h3>
                    <p mdLine> Item Description </p>
                    <span flex></span>
                    <span flex="30" class="md-body-1 tc-grey-500">Firstname Lastname</span>
                    <span flex="30" class="md-body-1 tc-grey-500" hide-md hide-sm hide-xs>Apr 14, 2016 12:32 PM</span>
                  </a>
                  <md-divider *ngIf="!last" md-inset></md-divider>
                </ng-template>
              </md-list>
            </md-card>
        </md-card>
      </div>
    </div>
    <div layout-sm="row" layout-gt-md="row" class="pad-top-xxl">
      <div flex-sm="35" flex-gt-md="35">
        <md-card-title>Card with Image Variations</md-card-title>
        <md-card-subtitle>Card with sepcial image elements</md-card-subtitle>
        <md-card-content>
          <p>Images displayed within cards inherit styling which removes margin and padding, depending on where the imgae is positioned within the card. Notice if the image is first it has proper rounded corners.</p>
          <p>Examples are leveraging the following special image elements:</p>
          <md-list>
            <a md-list-item>
              <span mdLine>Card Small Image</span>
              <p mdLine>md-card-sm-image</p>
            </a>
            <md-divider></md-divider>
            <a md-list-item>
              <span mdLine>Card Medium Image</span>
              <p mdLine>md-card-md-image</p>
            </a>
          </md-list>
        </md-card-content>
      </div>
      <div flex>
        <md-card class="pad-bottom-lg">
          <md-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button md-icon-button mdTooltip="View Source" (click)="toggle('example5')">
                <md-icon class="tc-grey-700">code</md-icon>
              </button>
            </div>
          </md-card-subtitle>
          <div [tdToggle]="example5">
            <div>
              <td-highlight lang="html">
                <![CDATA[
                  <div layout-gt-xs="row">
                    <md-card>
                      <img md-card-image src="https://placekitten.com/g/600/200">
                      <md-card-title>Card with Image First</md-card-title>
                      <md-card-subtitle>100% Width Image</md-card-subtitle>
                      <md-card-content>
                      </md-card-content>
                    </md-card>
                  </div>
                  <div layout-gt-xs="row">
                    <md-card>
                      <md-card-title-group>
                        <md-card-title class="text-xl">Card with Small Image</md-card-title>
                        <md-card-subtitle>80px x 80px Image</md-card-subtitle>
                        <img md-card-sm-image src="https://placekitten.com/g/200/200">
                      </md-card-title-group>
                    </md-card>
                  </div>
                  <div layout-gt-xs="row">
                    <md-card>
                      <md-card-title-group>
                        <md-card-title class="text-xxl">Card with Medium Image</md-card-title>
                        <md-card-subtitle>112px x 112px Image</md-card-subtitle>
                        <img md-card-md-image src="https://placekitten.com/g/300/300">
                      </md-card-title-group>
                    </md-card>
                  </div>
                  <div layout-gt-xs="row">
                    <md-card>
                      <md-card-title-group>
                        <md-card-title>Card with Large Image</md-card-title>
                        <md-card-subtitle>152px x 152px image</md-card-subtitle>
                        <img md-card-lg-image src="https://placekitten.com/g/400/200">
                      </md-card-title-group>
                    </md-card>
                  </div>
                  ]]>
              </td-highlight>
            </div>
            <md-divider></md-divider>
          </div>
          <div class="push-md">
            <div layout-gt-xs="row">
              <md-card>
                <img alt="kitten" md-card-image src="https://placekitten.com/g/600/200">
                <md-card-title>Card with Image First</md-card-title>
                <md-card-subtitle>100% Width Image</md-card-subtitle>
                <md-card-content>
                </md-card-content>
              </md-card>
            </div>
            <div layout-gt-xs="row">
              <md-card>
                <md-card-title-group>
                  <md-card-title class="text-xl">Card with Small Image</md-card-title>
                  <md-card-subtitle>80px x 80px Image</md-card-subtitle>
                  <img alt="kitten" md-card-sm-image src="https://placekitten.com/g/200/200">
                </md-card-title-group>
              </md-card>
            </div>
            <div layout-gt-xs="row">
              <md-card>
                <md-card-title-group>
                  <md-card-title class="text-xxl">Card with Medium Image</md-card-title>
                  <md-card-subtitle>112px x 112px Image</md-card-subtitle>
                  <img alt="kitten" md-card-md-image src="https://placekitten.com/g/300/300">
                </md-card-title-group>
              </md-card>
            </div>
            <div layout-gt-xs="row">
              <md-card>
                <md-card-title-group>
                  <md-card-title>Card with Large Image</md-card-title>
                  <md-card-subtitle>152px x 152px Image</md-card-subtitle>
                  <img alt="kitten" md-card-lg-image src="https://placekitten.com/g/400/200">
                </md-card-title-group>
              </md-card>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>