<md-sidenav-container fullscreen>
  <md-sidenav>
    <md-toolbar>
      <div layout="column">
        <span *ngIf="icon || logo || sidenavTitle" layout="row" layout-align="start center">
          <md-icon *ngIf="icon">{{icon}}</md-icon>
          <md-icon *ngIf="logo && !icon" class="md-icon-logo" [svgIcon]="logo"></md-icon>
          <span class="md-subhead">{{sidenavTitle}}</span>
        </span>
        <ng-content select="[td-toolbar-content]"></ng-content>
      </div>
    </md-toolbar>
    <ng-content select="[menu-items],[td-sidenav-content]"></ng-content>
  </md-sidenav>
  <ng-content></ng-content>
</md-sidenav-container>
