:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  .td-layout-toolbar-header {
    padding-top: 16px;
    padding-bottom: 8px
  }
  md-toolbar.td-layout-toolbar {
    padding-top: 24px;
    padding-bottom: 8px;
    /deep/ > .md-toolbar-layout > md-toolbar-row {
      height: auto !important;
    }
  }
}
