<div layout="column" layout-fill>
  <md-toolbar [color]="color">
    <ng-content select="[td-menu-button]"></ng-content>
    <span *ngIf="icon || logo || toolbarTitle"
          [class.cursor-pointer]="routerEnabled"
          (click)="handleNavigationClick()"
          layout="row"
          layout-align="start center">
      <md-icon *ngIf="icon">{{icon}}</md-icon>
      <md-icon *ngIf="logo && !icon" class="md-icon-logo" [svgIcon]="logo"></md-icon>
      <span *ngIf="toolbarTitle">{{toolbarTitle}}</span>
    </span>
    <ng-content select="[td-toolbar-content]"></ng-content>
  </md-toolbar>
  <div flex layout="column" class="content md-content" cdkScrollable>
    <ng-content></ng-content>
  </div>
  <ng-content select="td-layout-footer"></ng-content>
</div>
