.td-menu-button {
  margin-left: 0px;
  /deep/ [dir='rtl'] & { 
    margin-right: 0px;
    margin-left: 6px;
  }
}

:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
