:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  .td-menu-button {
    [dir='ltr'] & { 
      margin-left: 0px;
    }
    [dir='rtl'] & { 
      margin-right: 0px;
    }
  }
}
