.td-menu-button {
  margin-left: 0;
  ::ng-deep [dir='rtl'] & {
    margin-right: 0;
    margin-left: 6px;
  }
}

:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  .td-layout-nav-wrapper {
    // [layout="column"]
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    // [layout-fill]
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    .td-layout-nav-toolbar-content {
      // [layout="row"]
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      // [layout-align="start center"]
      align-items: center;
      align-content: center;
      max-width: 100%;
      justify-content: flex-start;
    }
    .td-layout-nav-content {
      // [layout="column"]
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      // [flex]
      flex: 1;
      // [md-content]
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
