<div layout="column" layout-fill>
  <md-toolbar [color]="color">
    <button md-icon-button class="td-menu-button" *ngIf="isMainSidenavAvailable" (click)="openMainSidenav()">
      <md-icon class="md-24">menu</md-icon>
    </button>
    <md-icon *ngIf="icon" [routerLink]="navigationRoute" class="cursor-pointer">{{icon}}</md-icon>
    <md-icon *ngIf="logo && !icon" class="md-icon-logo cursor-pointer" [svgIcon]="logo" [routerLink]="navigationRoute"></md-icon>
    <span *ngIf="toolbarTitle" class="cursor-pointer" [routerLink]="navigationRoute">{{toolbarTitle}}</span>
    <ng-content select="[toolbar-content], [td-toolbar-content]"></ng-content>
  </md-toolbar>
  <div flex layout="column" class="content md-content">
    <ng-content></ng-content>
  </div>
  <ng-content select="td-layout-footer"></ng-content>
</div>
