<form [formGroup]="dynamicForm" novalidate>
  <div layout="row" 
         layout-wrap 
         layout-margin 
         layout-align="start center">
    <template let-element ngFor [ngForOf]="elements">
      <td-dynamic-element [formControlName]="element.name"
                          [dynamicControl]="dynamicForm.controls[element.name]"
                          [id]="element.name"
                          [label]="element.label || element.name" 
                          [type]="element.type"
                          [required]="element.required"
                          [min]="element.min"
                          [max]="element.max"
                          [selections]="element.selections">
      </td-dynamic-element>
    </template>
  </div>
  <ng-content></ng-content>
</form>