<form [formGroup]="dynamicForm" novalidate>
  <div layout="row"
       layout-wrap
       layout-margin
       layout-align="start center"
       formArrayName="formArray">
    <ng-template let-control ngFor [ngForOf]="dynamicForm.controls['formArray'].controls" let-i="index">
      <td-dynamic-element
        [dynamicControl]="control"
        [elementName]="control.tdElementConfig.name"
        [id]="control.tdElementConfig.name"
        [label]="control.tdElementConfig.label || control.tdElementConfig.name"
        [type]="control.tdElementConfig.type"
        [required]="control.tdElementConfig.required"
        [min]="control.tdElementConfig.min"
        [max]="control.tdElementConfig.max"
        [selections]="control.tdElementConfig.selections">
      </td-dynamic-element>
    </ng-template>
  </div>
  <ng-content></ng-content>
</form>
