@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/style/elevation';
@import '../common/styles/variables';

@mixin td-steps-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  td-steps {
    .td-steps-header {
      @include mat-elevation(1);
    }
    .td-step-content,
    .td-step-summary,
    .td-step-actions {
      margin: $margin;
    }
    // steps
    .td-horizontal-line {
      border-bottom-color: md-color($foreground, divider);
    }
    .td-vertical-line {
      border-left-color: md-color($foreground, divider);
    }
    // header
    .td-step-header {
      .md-caption {
        color: md-color($foreground, secondary-text);
      }
      .mat-disabled {
        &, & * {
          color: md-color($foreground, disabled);
        }
      }
      .mat-warn {
        &, & * {
          color: md-color($warn);
        }
      }
      .mat-complete {
        color: md-color($accent);
      }
    }
    .td-circle {
      color: md-color($background, card);
      &.mat-active {
        background-color: md-color($accent);
      }
      &.mat-inactive {
        background-color: md-color($foreground, disabled);
      }
      & md-icon {
        fill: md-color($foreground, text);
      }
    }
    .td-triangle {
      color: md-color($warn);
    }
  }
}