@import '../../../../node_modules/@angular/material/core/theming/palette';
@import '../../../../node_modules/@angular/material/core/theming/theming';
@import '../../../../node_modules/@angular/material/core/style/elevation';

// TODO properly wrap in mixin to apply theme like material2 components
$foreground: $md-light-theme-foreground;
$background: $md-light-theme-background;

.td-line-wrapper,
.td-step {
  position: relative;
}

.td-line-wrapper {
  width: 24px;  
}

.td-horizontal-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: md-color($foreground, divider);
  height: 1px;
  position: relative;
  top: 36px;
  margin-left: -6px;
  margin-right: -3px;
  min-width: 15px;
}

.td-vertical-line {
  position: absolute;
  left: 20px;
  bottom: -16px;
  top: -16px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: md-color($foreground, divider);
}

.td-steps-header {
  @include md-elevation(1);
}