@import '../styles/variables';

.td-steps-header {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
}

.td-horizontal-line {
  border-bottom: 1px solid gainsboro;
  height: 1px;
  position: relative;
  top: 36px;
  min-width: 15px;
}