<div class="td-step" layout="column">
  <td-step-header *ngIf="isVertical()" [number]="number" 
                  [label]="label" 
                  [sublabel]="sublabel" 
                  [active]="active" 
                  [disabled]="disabled" 
                  [state]="state"
                  (activated)="open()"
                  (deactivated)="close()">
  </td-step-header>
  <div layout="row" flex>
    <div class="td-line-wrapper">
      <div *ngIf="isVertical()" class="td-line"></div>
    </div>
    <div flex>
      <div [tdToggle]="!active">
        <div class="td-step-active">
          <ng-content></ng-content>
        </div>
        <div layout="row">
          <ng-content select="td-step-actions"></ng-content>
        </div>
      </div>
      <div *ngIf="isVertical()" [tdToggle]="active || !isComplete()">
        <ng-content select="td-step-summary"></ng-content>
      </div>
    </div>
  </div>
</div>
