@import '../styles/variables';
@import '../styles/default-theme';

:host {
  &:not(:last-of-type) .td-line {
    border-left: 1px solid gainsboro;
  }
}
.td-step {
  position: relative;
}
.td-line-wrapper {
  width: 24px;
}
.td-line {
  position: absolute;
  left: 20px;
  bottom: -16px;
  top: 56px;
}
.td-step-active,
:host /deep/ td-step-summary,
:host /deep/ td-step-actions {
  padding-top: $padding;
  padding-left: $padding;
  display: block;
}
:host /deep/ td-step-actions {
  margin-bottom: $margin;
}