<div *ngIf="isHorizontal()" class="td-steps-header" layout="row" title>
  <template let-step let-index="index" let-last="last" ngFor [ngForOf]="steps">
    <td-step-header class="td-step-horizontal-header"
                    (keydown.enter)="step.toggle()"
                    [number]="index + 1"
                    [active]="step.active" 
                    [disabled]="step.disabled" 
                    [state]="step.state"
                    (click)="step.toggle()">
      <template td-step-header-label [cdkPortalHost]="step.stepLabel"></template>
      <template td-step-header-label [ngIf]="!step.stepLabel">{{step.label}}</template>
      <template td-step-header-sublabel [ngIf]="true">{{step.sublabel | truncate:30}}</template>
    </td-step-header>
    <span *ngIf="!last" class="td-horizontal-line" flex></span>
  </template>
</div>
<div *ngFor="let step of steps; let index = index; let last = last" class="td-step" layout="column">
  <td-step-header class="td-step-vertical-header"
                  (keydown.enter)="step.toggle()"
                  [number]="index + 1"
                  [active]="step.active" 
                  [disabled]="step.disabled" 
                  [state]="step.state"
                  (click)="step.toggle()"
                  *ngIf="isVertical()">
    <template td-step-header-label [cdkPortalHost]="step.stepLabel"></template>
    <template td-step-header-label [ngIf]="!step.stepLabel">{{step.label}}</template>
    <template td-step-header-sublabel [ngIf]="true">{{step.sublabel}}</template>
  </td-step-header>
  <template [ngIf]="isVertical() || step.active || (!areStepsActive() && prevStep === step)">
    <td-step-body [active]="step.active" [state]="step.state">
      <div *ngIf="isVertical()" class="td-line-wrapper">
        <div *ngIf="!last" class="td-vertical-line"></div>
      </div>
      <template td-step-body-content [cdkPortalHost]="step.stepContent"></template>
      <template td-step-body-actions [cdkPortalHost]="step.stepActions"></template>
      <template td-step-body-summary [cdkPortalHost]="step.stepSummary"></template>
    </td-step-body>
  </template>
</div>
