<md-toolbar [color]="color">
</md-toolbar>
<div class="margin" layout-gt-xs="row" layout-align-gt-xs="center start" layout-fill>
  <div [attr.flex-gt-xs]="cardWidth">
    <md-card>
      <md-card-title *ngIf="cardTitle">{{cardTitle}}</md-card-title>
      <md-card-subtitle *ngIf="cardSubtitle">{{cardSubtitle}}</md-card-subtitle>
      <md-divider *ngIf="cardTitle || cardSubtitle"></md-divider>
      <ng-content></ng-content>
    </md-card>
    <ng-content select="[after-card], [td-after-card]"></ng-content>
  </div>
</div>
