<td-dialog>
  <td-dialog-title *ngIf="title">
    {{title}}
  </td-dialog-title>
  <td-dialog-content class="md-subhead tc-grey-700">
    {{message}}
    <form #form="ngForm" novalidate>
      <div layout="row">
        <md-form-field flex>
          <input mdInput
                #input
                (focus)="handleInputFocus()"
                (keydown.enter)="$event.preventDefault(); form.valid && accept()"
                [(ngModel)]="value"
                name="value"
                required/>
        </md-form-field>
      </div>
    </form>
  </td-dialog-content>
  <td-dialog-actions>
    <button md-button
            #closeBtn 
            (keydown.arrowright)="acceptBtn.focus()"
            (click)="cancel()">{{cancelButton}}</button>
    <button md-button
            color="accent"
            #acceptBtn
            (keydown.arrowleft)="closeBtn.focus()"
            [disabled]="!form.valid"
            (click)="accept()">{{acceptButton}}</button>
  </td-dialog-actions>
</td-dialog>