@media (min-width: 600px) {
  td-dialog {
    width: 400px;
  }
}
@media (max-width: 599px) {
  td-dialog {
    width: 250px;
  }
}
.td-dialog-input-wrapper {
  // layout row
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  .td-dialog-input {
    // flex
    flex: 1;
    box-sizing: border-box;
  }
}
