@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/shadows';
@import '../../styles/default-theme';

@mixin toolbar-theme($palette) {
  color: md-color($palette, default-contrast);
}
:host /deep/ {
  md-sidenav-layout {
    & > .md-sidenav-content {
      margin-left: 0 !important;
    }
  }
  @media (min-width: 600px) {
    md-sidenav-layout {
      height: 100%;
      display: flex;
      & > md-sidenav {
        display: flex;
        position: relative;
        height: 100%;
        width: 382px;
        flex: 0 0 auto;
        transition: none;
        &.md-sidenav-closed,
        &.md-sidenav-closing {
          visibility: visible;
          transform: translate3d(0, 0, 0);
        }
      }
      & > .md-sidenav-content {
        margin-left: 0 !important;
        display: flex;
        flex-grow: 1;
      }
    }
  }
  @media (max-width: 599px) {
    md-sidenav-layout {

      & > md-sidenav {
        &.md-sidenav-opened,
        &.md-sidenav-opening,
        &.md-sidenav-closing {
          z-index: 3;
        }
      }
      & > .md-sidenav-content {
        z-index: 2;
      }
    }
  }
}
md-toolbar {
  box-shadow: $md-shadow-bottom-z-1;
  z-index: 1;
  &.md-primary {
    @include toolbar-theme($md-primary);
  }
}
.md-sidenav-left {
    z-index: 1;
}
.list {
    background-color: #fff;
    text-align: start;
    
}
.content {
    // overflow: hidden;
    // padding-bottom: 65px;
}
