<div layout="column" layout-fill>
  <div flex layout="column" class="content md-content">
    <mat-sidenav-container fullscreen class="td-layout-nav-list" layout="row" flex>
      <mat-sidenav #sidenav
                  position="start"
                  [mode]="mode"
                  [opened]="opened"
                  [disableClose]="disableClose"
                  [style.max-width]="sidenavWidth"
                  [style.min-width]="sidenavWidth"
                  layout="column" 
                  layout-fill
                  class="md-whiteframe-z1">
        <mat-toolbar [color]="color" class="md-whiteframe-z1">
          <ng-content select="[td-menu-button]"></ng-content>
          <span *ngIf="icon || logo || toolbarTitle"
                [class.cursor-pointer]="routerEnabled"
                (click)="handleNavigationClick()"
                layout="row"
                layout-align="start center">
            <mat-icon *ngIf="icon">{{icon}}</mat-icon>
            <mat-icon *ngIf="logo && !icon" class="mat-icon-logo" [svgIcon]="logo"></mat-icon>
            <span *ngIf="toolbarTitle">{{toolbarTitle}}</span>
          </span>
          <ng-content select="[td-sidenav-toolbar-content]"></ng-content>
        </mat-toolbar>
        <div flex class="list md-content" cdkScrollable>
          <ng-content select="[td-sidenav-content]"></ng-content>
        </div>
      </mat-sidenav>
      <div layout="column" layout-fill class="md-content">
        <mat-toolbar [color]="color" class="md-whiteframe-z1">
          <ng-content select="[td-toolbar-content]"></ng-content>
        </mat-toolbar>
        <div class="md-content" flex cdkScrollable>
          <ng-content></ng-content>
        </div>
        <ng-content select="td-layout-footer-inner"></ng-content>
      </div>
    </mat-sidenav-container>
  </div>
  <ng-content select="td-layout-footer"></ng-content>
</div>