:host {
  .draggable-dialog {
    .mat-toolbar {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }
}

::ng-deep {
  &.draggable-dialog-wrapper {
    > .mat-dialog-container {
      padding: 0;
    }
  }
}
