<demo-component [demoId]="'dynamic-forms-demo-text'">
  <dynamic-forms-demo-text></dynamic-forms-demo-text>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-number'">
  <dynamic-forms-demo-number></dynamic-forms-demo-number>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-boolean'">
  <dynamic-forms-demo-boolean></dynamic-forms-demo-boolean>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-date'">
  <dynamic-forms-demo-date></dynamic-forms-demo-date>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-array'">
  <dynamic-forms-demo-array></dynamic-forms-demo-array>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-file-input'">
  <dynamic-forms-demo-file-input></dynamic-forms-demo-file-input>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-custom-validation'">
  <dynamic-forms-demo-custom-validation></dynamic-forms-demo-custom-validation>
</demo-component>
<demo-component [demoId]="'dynamic-forms-demo-custom-elements'">
  <dynamic-forms-demo-custom-elements></dynamic-forms-demo-custom-elements>
</demo-component>
