@import 'variables';

md-sidenav {
    width: $navigation-drawer-width;
    .md-list-item {
        md-icon {
            margin-right: $margin;
            color: #737373;
            fill: #737373;
        }
    }
    md-toolbar {
        .md-toolbar-title {
            padding-top: 10px;;
        }
        .md-toolbar-link {
            color: #444;
            text-decoration: none;
        }
    }
}
