<md-card>
  <md-card-title>Dynamic Forms</md-card-title>
  <md-card-subtitle>Build forms from a JS object</md-card-subtitle>
  <md-divider></md-divider>
  <md-toolbar hide show-gt-md>
    <div layout="row" flex>
      <span flex="50">Generated Form</span>
      <span flex="50">Form Builder</span>
    </div>
  </md-toolbar>
  <md-divider hide show-gt-md></md-divider>
  <div layout-gt-md="row">
    <div layout="column" class="bgc-grey-100 pad-sm" flex-gt-md="50">
      <md-card flex>
        <md-card-title>
          <div layout="row" layout-align="start center" flex>
            <div flex class="text-md">Toggle to reveal form JSON object</div>
            <button md-icon-button mdTooltip="See JSON elements code" (click)="showDynamicCode = !showDynamicCode">
              <md-icon>code</md-icon>
            </button>
          </div>
        </md-card-title>
        <md-divider></md-divider>
        <div [tdToggle]="!showDynamicCode">
          <td-highlight language="json" [content]="dynamicElements | json"></td-highlight>
        </div>
        <div class="pad">
          <td-dynamic-forms #dynamicForm [elements]="dynamicElements">
          </td-dynamic-forms>
        </div>
        <md-card-actions>
          <button md-raised-button color="primary" class="text-upper" [disabled]="!dynamicForm.valid">
            Submit
          </button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="pad" flex-gt-md="50">
      <md-card-title class="push-top-sm push-bottom-sm">
        <div layout="row" layout-align="start center" flex>
          <div flex class="text-md">Select a type, add element then update</div>
        </div>
      </md-card-title>
      <md-divider></md-divider>
      <form #addForm="ngForm">
        <div layout="row" layout-align="start center" class="pad-sm">
          <md-select class="pad-right" placeholder="Select element type" floatPlaceholder="never" [(ngModel)]="type" name="type" required>
            <md-option *ngFor="let option of elementOptions" [value]="option">
              {{ option }}
            </md-option>
          </md-select>
          <button mdTooltip="Add this element" md-mini-fab color="accent" [disabled]="!addForm.valid" (click)="addElement()">
            <md-icon>add</md-icon>
          </button>
        </div>
      </form>
      <h4>Form elements</h4>
      <ng-template let-model let-last="last" let-index="index" ngFor [ngForOf]="dynamicElements">
        <td-expansion-panel [label]="model.name">
          <md-divider></md-divider>
          <div class="pad" layout="column">
            <div layout="row">
              <md-input-container class="pad-right-xs" flex>
                <input mdInput
                      placeholder="Label"
                      [(ngModel)]="model.label"
                      name="label">
              </md-input-container>
              <md-input-container flex="30">
                <input mdInput
                      type="number"
                      min="0"
                      max="100"
                      placeholder="Flex (width in %)"
                      [(ngModel)]="model.flex"
                      name="flex">
              </md-input-container>
            </div>
            <div *ngIf="isMinMaxSupported(model.type)" layout="row">
              <md-input-container class="pad-right-xs" flex>
                <input mdInput
                      type="number"
                      placeholder="Min"
                      [(ngModel)]="model.min"
                      name="min">
              </md-input-container>
              <md-input-container flex="50">
                <input mdInput
                      type="number"
                      placeholder="Max"
                      [(ngModel)]="model.max"
                      name="max">
              </md-input-container>
            </div>
            <div layout="row">
              <md-slide-toggle [(ngModel)]="model.required" name="required">Required</md-slide-toggle>
              <span flex></span>
              <button md-icon-button mdTooltip="Delete element" (click)="deleteElement(index)">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </div>
        </td-expansion-panel>
      </ng-template>
      <div class="push-top" layout="row">
        <button md-raised-button color="primary" class="text-upper" (click)="dynamicForm.refresh()">
          Update Form
        </button>
      </div>
    </div>
  </div>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Dynamic Text Elements</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="textElements">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="textElements">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          {{textElements | json}}
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Dynamic Number Elements</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="numberElements">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="numberElements">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          {{numberElements | json}}
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Dynamic Boolean Elements</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="booleanElements">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="booleanElements">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          {{booleanElements | json}}
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Dynamic Array Elements</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="arrayElements">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="arrayElements">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          {{arrayElements | json}}
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3 class="md-title">Custom Validation</h3>
    <h4>Using Config with ITdCustomValidate</h4>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="customValidationITdCustomValidate">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="customValidationITdCustomValidate">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
              // Custom Validator using ITdCustomValidate object
              customValidationITdCustomValidate: ITdDynamicElementConfig[] = [{
                name: 'numberIsEven',
                label: 'Even Number In Rage',
                type: TdDynamicType.Number,
                customValidators: [

                  // Simple Validation using ITdCustomValidate interface
                  <ITdCustomValidate>{

                    // Must be unique
                    name: 'isEven',

                    // Static error message presented in UI
                    message: 'Must be even',

                    // Return true if valid
                    predicateFn: (value: any): boolean => {
                      return ( value % 2 ) === 0;
                    },
                  },
                ],
              }];
            ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>

    <h4>Using ValidatorFn</h4>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="customValidationValidatorFn">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="customValidationValidatorFn">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
              // Custom Validator using ValidatorFn function
              customValidationValidatorFn: ITdDynamicElementConfig[] = [{
                name: 'numberIsOddInRange',
                label: 'Odd Number In Range',
                type: TdDynamicType.Number,
                min: 8,
                max: 20,
                customValidators: [

                  // Function using ValidatorFn signature
                  <ValidatorFn>(control: AbstractControl): { [key: string]: any } => {

                    // Validate Logic
                    let isOdd: boolean = ( control.value % 2 ) !== 0;

                    // ITdCustomError Object
                    let error: ITdCustomError = {

                      // Must be unique
                      'isOdd': {

                        // Dynamic error message presented to UI
                        message: 'Not Odd: ' + control.value, 
                      },
                    };

                    return !isOdd ? error : undefined;
                  },
                ],
              }];
            ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>

    <h4>Multiple Validators</h4>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms #customValidateForm [elements]="multipleValidatorTypes">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="multipleValidatorTypes">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
              // Custom validator with different methods
              multipleValidatorTypes: ITdDynamicElementConfig[] = [{
                name: 'containValidCharacters',
                label: 'Password',
                type: TdDynamicElement.Password,
                required: true,

                // Covalent validator migrated from other project
                tdContainsUppercaseCharacter: true,
                
                customValidators: [

                  // Contain at lease one number
                  <ITdCustomValidate>{
                    name: 'containsNumber',
                    message: 'Need a number',
                    predicateFn: (value: any): boolean => {
                      return /\d/i.test(value); // Return true if valid
                    },
                  },

                  // Length between 8 - 20 characters
                  <ITdCustomValidate>{
                    name: 'length',
                    message: 'Password needs from 8 - 20 characters',
                    predicateFn: (value: any): boolean => {
                      return value && ( value.length >= 8 ) && ( value.length <= 20 ); // Return true if valid
                    },
                  },

                  // Contain at least one special character
                  <ValidatorFn>(control: AbstractControl): { [key: string]: any } => {

                    let validCharacters: string[] = ['!', '@', '#', '$', '%'];
                    let regex: RegExp = new RegExp('[' + validCharacters.join('').toString() + ']', 'g');
                    
                    let isValid: boolean = regex.test(control.value);

                    let error: ITdCustomError = {
                      'containSpecialCharacters': {

                        // TODO: parenthesis may be mistaken for valid special character. refine error message.
                        message: 'Need at least one special character (' + validCharacters.join(', ').toString() + ')',
                      },
                    };

                    return !isValid ? error : undefined;
                  },
                ],
              }];
            ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3 class="md-title">Dynamic File Input Element</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <td-dynamic-forms [elements]="fileElements">
        </td-dynamic-forms>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-dynamic-forms [elements]="fileElements">
            </td-dynamic-forms>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          {{fileElements | json}}
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<td-readme-loader resourceUrl="platform/dynamic-forms/README.md"></td-readme-loader>