<div class="dynamic-slider-wrapper relative push-top" flex layout="column">
  <label class="md-input-placeholder md-float td-slider-label" [class.md-focused]="slider._isActive"> {{label}} <span *ngIf="required" class="md-placeholder-required">*</span></label>
  <div layout="row" layout-align="start center" flex>
    <md-slider #slider
               [(ngModel)]="value"
                [min]="min"
                [max]="max"
                thumbLabel
                tickInterval="auto"
                [required]="required"
                flex>
    </md-slider>
  </div>  
</div>