<md-card>
  <md-card-title>Navigation Drawer (Sidenav) Design Patterns</md-card-title>
  <md-card-subtitle>Sidenav toolbar &amp; list from the Material Design spec</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div class="md-padding bgc-grey-200">
      <td-layout>
        <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
          <md-nav-list>
            <a *ngFor="let item of routes" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
          </md-nav-list>
          <div td-navigation-drawer-menu>
            <md-nav-list>
              <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
            </md-nav-list>
          </div>
        </td-navigation-drawer>
        <div td-sidenav-content class="td-layout-footer pad">
          &copy; 2017 Your Company, Inc.
        </div>
      </td-layout>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="primary" href="https://material.io/guidelines/patterns/navigation-drawer.html" target="_blank" class="text-upper">Navigation Drawer</a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>Demo Code</md-card-title>
  <md-card-content>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout #layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a *ngFor="let item of routes" md-list-item (click)="layout.close()" [routerLink]="[item.route]"><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item (click)="layout.close()" [routerLink]="[item.route]"><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <div td-sidenav-content class="td-layout-footer pad">
            &copy; 2017 Your Company, Inc.
          </div>
          <router-outlet></router-outlet>
        </td-layout>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        ...
        export class MainComponent {
          routes: Object[] = [{
              icon: 'home',
              route: '.',
              title: 'Home',
            }, {
              icon: 'library_books',
              route: '.',
              title: 'Documentation',
            }, {
              icon: 'color_lens',
              route: '.',
              title: 'Style Guide',
            }, {
              icon: 'view_quilt',
              route: '.',
              title: 'Layouts',
            }, {
              icon: 'picture_in_picture',
              route: '.',
              title: 'Components & Addons',
            },
          ];

          usermenu: Object[] = [{
              icon: 'swap_horiz',
              route: '.',
              title: 'Switch account',
            }, {
              icon: 'tune',
              route: '.',
              title: 'Account settings',
            }, {
              icon: 'exit_to_app',
              route: '.',
              title: 'Sign out',
            },
          ];
        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
