:host {
  .td-breadcrumb {
    height: 48px;
    // [layout]
    box-sizing: border-box;
    //display: flex;
    // [layout="row"]
    flex-direction: row;
    // [layout-align="end center"]
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-end;
    ::ng-deep > * {
      margin: 0 10px;
    }
  }
  mat-icon.material-icons.mat-icon {
    display: inline-flex;
    vertical-align: middle;
  }
}
