<md-card>
  <md-card-title>Notifications</md-card-title>
  <md-card-subtitle>Notification count &amp; menu for toolbar</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">Toolbar notification &amp; menu</h3>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <md-toolbar color="accent">
          <button md-icon-button>
            <md-icon>menu</md-icon>
          </button>
          <span>Toolbar</span>
          <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
          <td-notification-count color="primary" positionX="before" [notifications]="true">
            <md-icon>person</md-icon>
          </td-notification-count>
          <td-notification-count color="primary" [notifications]="false">
            <md-icon>messages</md-icon>
          </td-notification-count>
          <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
            <td-notification-count [notifications]="101">
              <md-icon>notifications</md-icon>
            </td-notification-count>
          </button>
          <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
            <td-menu>
              <div td-menu-header class="md-subhead">Notifications</div>
              <md-nav-list dense>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                  <a md-list-item>
                    <md-icon md-list-avatar>today</md-icon>
                    <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                    <p md-line>22 minutes ago</p>
                  </a>
                  <md-divider *ngIf="!last"></md-divider>
                </ng-template>
              </md-nav-list>
              <button md-button color="accent" td-menu-footer>
                See All Notifications
              </button>
            </td-menu>
          </md-menu>
          <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
          <md-menu #toolbarMenu1="mdMenu">
            <button md-menu-item>
              <md-icon>settings</md-icon>
              <span>Settings</span>
            </button>
            <button md-menu-item>
              <md-icon>exit_to_app</md-icon>
              <span>Sign out</span>
            </button>
          </md-menu>
        </md-toolbar>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <md-toolbar color="accent">
              <button md-icon-button>
                <md-icon>menu</md-icon>
              </button>
              <span>Toolbar</span>
              <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
              <td-notification-count color="primary" positionX="before" [notifications]="true">
                <md-icon>person</md-icon>
              </td-notification-count>
              <td-notification-count color="primary" [notifications]="false">
                <md-icon>messages</md-icon>
              </td-notification-count>
              <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
                <td-notification-count [notifications]="101">
                  <md-icon>notifications</md-icon>
                </td-notification-count>
              </button>
              <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
                <td-menu>
                  <div td-menu-header class="md-subhead">Notifications</div>
                  <md-nav-list dense>
                    <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                      <a md-list-item>
                        <md-icon md-list-avatar>today</md-icon>
                        <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                        <p md-line>22 minutes ago</p>
                      </a>
                      <md-divider *ngIf="!last"></md-divider>
                    </ng-template>
                  </md-nav-list>
                  <button md-button color="accent" td-menu-footer>
                    See All Notifications
                  </button>
                </td-menu>
              </md-menu>
              <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
              <md-menu #toolbarMenu1="mdMenu">
                <button md-menu-item>
                  <md-icon>settings</md-icon>
                  <span>Settings</span>
                </button>
                <button md-menu-item>
                  <md-icon>exit_to_app</md-icon>
                  <span>Sign out</span>
                </button>
              </md-menu>
            </md-toolbar>
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Tabs notification</h3>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <md-tab-group md-stretch-tabs>
          <md-tab>
            <ng-template md-tab-label>
              <div layout="row" layout-align="center center">
                Activities
                <td-notification-count color="primary" [notifications]="true">
                </td-notification-count>
              </div>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <div layout="row" layout-align="center center">
                Logs
                <td-notification-count color="warn" [notifications]="0">
                </td-notification-count>
              </div>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <div layout="row" layout-align="center center">
                Chats 
                <td-notification-count color="accent" [notifications]="12">
                </td-notification-count>
              </div>
            </ng-template>
          </md-tab>
        </md-tab-group>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <md-tab-group md-stretch-tabs>
              <md-tab>
                <ng-template md-tab-label>
                  <div layout="row" layout-align="center center">
                    Activities
                    <td-notification-count color="primary" [notifications]="true">
                    </td-notification-count>
                  </div>
                </ng-template>
              </md-tab>
              <md-tab>
                <ng-template md-tab-label>
                  <div layout="row" layout-align="center center">
                    Logs
                    <td-notification-count color="warn" [notifications]="0">
                    </td-notification-count>
                  </div>
                </ng-template>
              </md-tab>
              <md-tab>
                <ng-template md-tab-label>
                  <div layout="row" layout-align="center center">
                    Chats 
                    <td-notification-count color="accent" [notifications]="12">
                    </td-notification-count>
                  </div>
                </ng-template>
              </md-tab>
            </md-tab-group>
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">List item notification</h3>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <md-nav-list dense flex>
          <a md-list-item>
            <md-icon md-list-avatar>person</md-icon>
            <h3 md-line> Jyn Erso stole the plans to the Death Star </h3>
            <p md-line> 10 mins ago </p>
            <span></span>
            <td-notification-count color="accent" [notifications]="1">
            </td-notification-count>
          </a>
          <md-divider md-inset></md-divider>
          <a md-list-item>
            <md-icon md-list-avatar>person</md-icon>
            <h3 md-line> Something something something.. dark side. </h3>
            <p md-line> 9 hours ago </p>
            <span></span>
            <td-notification-count color="primary" [notifications]="0">
            </td-notification-count>
          </a>
          <md-divider md-inset></md-divider>
          <a md-list-item>
            <md-icon md-list-avatar>person</md-icon>
            <h3 md-line> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
            <p md-line> 2 days ago </p>
            <span></span>
            <td-notification-count [notifications]="true">
            </td-notification-count>
          </a>
        </md-nav-list>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <md-nav-list dense flex>
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Jyn Erso stole the plans to the Death Star </h3>
                <p md-line> 10 mins ago </p>
                <span></span>
                <td-notification-count color="accent" [notifications]="1">
                </td-notification-count>
              </a>
              <md-divider md-inset></md-divider>
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Something something something.. dark side. </h3>
                <p md-line> 9 hours ago </p>
                <span></span>
                <td-notification-count color="primary" [notifications]="0">
                </td-notification-count>
              </a>
              <md-divider md-inset></md-divider>
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
                <p md-line> 2 days ago </p>
                <span></span>
                <td-notification-count [notifications]="true">
                </td-notification-count>
              </a>
            </md-nav-list>
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdNotificationCountComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <p>Use <code><![CDATA[<td-notification-count>]]></code> element to show number of notifications.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-notification-count>]]></code> component has {{notificationsAttrs.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="notificationsAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <button md-icon-button (click)="notificationCount = 0" [mdMenuTriggerFor]="notificationsMenu">
          <td-notification-count color="accent" positionY="top" positionX="after" [notifications]="notificationCount">
            <md-icon>notifications</md-icon>
          </td-notification-count>
        </button>
        <md-menu #notificationsMenu="mdMenu">
          <td-menu>
            <div td-menu-header class="md-subhead">Notifications</div>
            <md-nav-list dense>
              <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                <a md-list-item>
                  <md-icon md-list-avatar>today</md-icon>
                  <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                  <p md-line>22 minutes ago</p>
                </a>
                <md-divider *ngIf="!last"></md-divider>
              </ng-template>
            </md-nav-list>
            <button md-button color="accent" td-menu-footer>
              See All Notifications
            </button>
          </td-menu>
        </md-menu>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        export class Demo {
          notificationCount: number = 100;
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentNotificationsModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentNotificationsModule } from '@covalent/core';
        @NgModule({
          imports: [
            CovalentNotificationsModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
