<mat-card>
  <mat-card-title>Notifications</mat-card-title>
  <mat-card-subtitle>Notification count &amp; menu for toolbar</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3 class="mat-title">Toolbar notification &amp; menu</h3>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-toolbar color="accent">
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <span>Toolbar</span>
          <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
          <td-notification-count color="primary" positionX="before" [notifications]="true">
            <mat-icon>person</mat-icon>
          </td-notification-count>
          <td-notification-count color="primary" [notifications]="false">
            <mat-icon>messages</mat-icon>
          </td-notification-count>
          <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
            <td-notification-count [notifications]="101">
              <mat-icon>notifications</mat-icon>
            </td-notification-count>
          </button>
          <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
            <td-menu>
              <div td-menu-header class="mat-subheading-2">Notifications</div>
              <mat-nav-list dense>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>today</mat-icon>
                    <h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                    <p matLine>22 minutes ago</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <button mat-button color="accent" td-menu-footer>
                See All Notifications
              </button>
            </td-menu>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #toolbarMenu1="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </mat-toolbar>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <mat-toolbar color="accent">
              <button mat-icon-button>
                <mat-icon>menu</mat-icon>
              </button>
              <span>Toolbar</span>
              <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
              <td-notification-count color="primary" positionX="before" [notifications]="true">
                <mat-icon>person</mat-icon>
              </td-notification-count>
              <td-notification-count color="primary" [notifications]="false">
                <mat-icon>messages</mat-icon>
              </td-notification-count>
              <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
                <td-notification-count [notifications]="101">
                  <mat-icon>notifications</mat-icon>
                </td-notification-count>
              </button>
              <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
                <td-menu>
                  <div td-menu-header class="mat-subheading-2">Notifications</div>
                  <mat-nav-list dense>
                    <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                      <a mat-list-item>
                        <mat-icon matListAvatar>today</mat-icon>
                        <h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                        <p matLine>22 minutes ago</p>
                      </a>
                      <mat-divider *ngIf="!last"></mat-divider>
                    </ng-template>
                  </mat-nav-list>
                  <button mat-button color="accent" td-menu-footer>
                    See All Notifications
                  </button>
                </td-menu>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #toolbarMenu1="matMenu">
                <button mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Settings</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sign out</span>
                </button>
              </mat-menu>
            </mat-toolbar>
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">Tabs notification</h3>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template matTabLabel>
              <div layout="row" layout-align="center center">
                Activities
                <td-notification-count color="primary" [notifications]="true">
                </td-notification-count>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template matTabLabel>
              <div layout="row" layout-align="center center">
                Logs
                <td-notification-count color="warn" [notifications]="0">
                </td-notification-count>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template matTabLabel>
              <div layout="row" layout-align="center center">
                Chats 
                <td-notification-count color="accent" [notifications]="12">
                </td-notification-count>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <mat-tab-group mat-stretch-tabs>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                    Activities
                    <td-notification-count color="primary" [notifications]="true">
                    </td-notification-count>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                    Logs
                    <td-notification-count color="warn" [notifications]="0">
                    </td-notification-count>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                    Chats 
                    <td-notification-count color="accent" [notifications]="12">
                    </td-notification-count>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">List item notification</h3>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-nav-list dense flex>
          <a mat-list-item>
            <mat-icon matListAvatar>person</mat-icon>
            <h3 matLine> Jyn Erso stole the plans to the Death Star </h3>
            <p matLine> 10 mins ago </p>
            <span></span>
            <td-notification-count color="accent" [notifications]="1">
            </td-notification-count>
          </a>
          <mat-divider matInset></mat-divider>
          <a mat-list-item>
            <mat-icon matListAvatar>person</mat-icon>
            <h3 matLine> Something something something.. dark side. </h3>
            <p matLine> 9 hours ago </p>
            <span></span>
            <td-notification-count color="primary" [notifications]="0">
            </td-notification-count>
          </a>
          <mat-divider matInset></mat-divider>
          <a mat-list-item>
            <mat-icon matListAvatar>person</mat-icon>
            <h3 matLine> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
            <p matLine> 2 days ago </p>
            <span></span>
            <td-notification-count [notifications]="true">
            </td-notification-count>
          </a>
        </mat-nav-list>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <mat-nav-list dense flex>
              <a mat-list-item>
                <mat-icon matListAvatar>person</mat-icon>
                <h3 matLine> Jyn Erso stole the plans to the Death Star </h3>
                <p matLine> 10 mins ago </p>
                <span></span>
                <td-notification-count color="accent" [notifications]="1">
                </td-notification-count>
              </a>
              <mat-divider matInset></mat-divider>
              <a mat-list-item>
                <mat-icon matListAvatar>person</mat-icon>
                <h3 matLine> Something something something.. dark side. </h3>
                <p matLine> 9 hours ago </p>
                <span></span>
                <td-notification-count color="primary" [notifications]="0">
                </td-notification-count>
              </a>
              <mat-divider matInset></mat-divider>
              <a mat-list-item>
                <mat-icon matListAvatar>person</mat-icon>
                <h3 matLine> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
                <p matLine> 2 days ago </p>
                <span></span>
                <td-notification-count [notifications]="true">
                </td-notification-count>
              </a>
            </mat-nav-list>
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<td-readme-loader resourceUrl="platform/core/notifications/README.md"></td-readme-loader>