
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Toolbar</span>
      <span flex></span>
      <!-- Notification indicator, no notifications -->
      <td-notification-count color="accent" [notifications]="false">
        <mat-icon>messages</mat-icon>
      </td-notification-count>
      <!-- Notification indicator, no count -->
      <td-notification-count color="accent" positionX="before" [notifications]="true">
        <mat-icon>person</mat-icon>
      </td-notification-count>
      <!-- Notification indicator with count -->
      <button class="overflow-visible" mat-icon-button>
        <td-notification-count [notifications]="101" [limit]=50>
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>
     
    </mat-toolbar>
 