
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Toolbar</span>
      <td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>
      <td-notification-count color="accent" positionX="before" [notifications]="true">
        <mat-icon>person</mat-icon>
      </td-notification-count>
      <td-notification-count color="accent" [notifications]="false">
        <mat-icon>messages</mat-icon>
      </td-notification-count>
      <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <td-notification-count [notifications]="101" [limit]=50>
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>
      <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
        <td-menu>
          <div td-menu-header class="mat-subheading-2 push-none">Notifications</div>
          <mat-nav-list dense>
            <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
              <a mat-list-item>
                <mat-icon matListAvatar>today</mat-icon>
                <h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                <p matLine>22 minutes ago</p>
              </a>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-nav-list>
          <button mat-button color="accent" td-menu-footer>
            See All Notifications
          </button>
        </td-menu>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #toolbarMenu1="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
 