<md-card>
  <md-card-title>Angular-Material Components</md-card-title>
  <md-card-subtitle>ng2 Material Design core components</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <p>With Angular-Material 2.0, we get all these components.</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="accent" href="https://github.com/angular/material2#feature-status" target="_blank">View Angular-Material Docs</a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>Buttons</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <p>Tip: Use UPPERCASE text for 1-2 words, and Titlecase text for 3+ words.</p>
    <md-card-actions>
      <button md-button class="text-upper">Flat</button>
      <button md-raised-button class="text-upper">Raised</button>
      <button md-icon-button>
        <md-icon>favorite</md-icon>
      </button>
      <button md-fab color="primary">
        <md-icon>add</md-icon>
      </button>
      <button md-mini-fab color="accent">
        <md-icon>add</md-icon>
      </button>
    </md-card-actions>

  </md-card-content>

  <md-card-content>
    <td-highlight lang="html">
    <![CDATA[
      <!-- Basic Buttons -->
      <button md-button class="text-upper">Flat</button>
      <button md-raised-button class="text-upper">Raised</button>
      <!-- Button with icon -->
      <button md-icon-button>
        <md-icon>favorite</md-icon>
      </button>
      <!-- FAB Buttons -->
      <button md-fab color="primary">
        <md-icon>add</md-icon>
      </button>
      <button md-mini-fab color="accent">
        <md-icon>add</md-icon>
      </button>
    ]]>
    </td-highlight>
  </md-card-content>

  <md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" class="text-upper">Primary</button>
      <button md-raised-button color="accent" class="text-upper">Accent</button>
      <button md-raised-button color="warn" class="text-upper">Warn</button>
      <button md-button disabled>off</button>
      <button md-raised-button disabled>off</button>
      <button md-mini-fab disabled  color="primary"><md-icon>check circle</md-icon></button>
    </md-card-actions>

  </md-card-content>

  <md-card-content>
    <td-highlight lang="html">
    <![CDATA[
      <!-- Themed Buttons -->
      <button md-raised-button color="primary" class="text-upper">Primary</button>
      <button md-raised-button color="accent" class="text-upper">Accent</button>
      <button md-raised-button color="warn" class="text-upper">Warn</button>
      <!-- Disabled Buttons -->
      <button md-button disabled>off</button>
      <button md-raised-button disabled>off</button>
      <button md-mini-fab disabled  color="primary"><md-icon>check circle</md-icon></button>
    ]]>
    </td-highlight>
  </md-card-content>


</md-card>

<md-card>
  <md-card-title>Cards</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-card>
      <md-card-title>Standard Card</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
      <md-divider></md-divider>
      <md-card-content>
        <p>Standard card with content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="accent" class="text-upper">Action</button>
        <button md-button class="text-upper">Cancel</button>
      </md-card-actions>
    </md-card>
    <td-highlight lang="html">
    <![CDATA[
      <!-- Basic Card -->
      <md-card>
        <md-card-title>Standard Card</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <p>Standard card with content</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-button color="accent" class="text-upper">Action</button>
          <button md-button class="text-upper">Cancel</button>
        </md-card-actions>
      </md-card>
    ]]>
    </td-highlight>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="accent" [routerLink]="['/style-guide/cards']">More on Cards</a>
  </md-card-actions>
</md-card>



<md-card>
  <md-card-title>Checkbox</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start start">
      <div layout="column" flex="50" class="pad-right">
        <h3>Basic Usage</h3>
        <md-list>
          <md-list-item *ngFor="let grocery of groceries">
            <md-checkbox [checked]="grocery.bought">
              {{grocery.name}}
            </md-checkbox>
          </md-list-item>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        </md-list>
        <td-highlight lang="html">
        <![CDATA[
          <!-- Basic Usage -->
          <md-list>
            <md-list-item *ngFor="let grocery of groceries">
              <md-checkbox [checked]="grocery.bought">
                { { grocery.name } }
              </md-checkbox>
            </md-list-item>
          </md-list>
        ]]>
        </td-highlight>

      </div>
      <div layout="column" flex="50">
        <h3>Usage within Forms</h3>
        <form>
          <div layout="row" layout-align="start center">
            <md-checkbox flex="initial" [(ngModel)]="user.agreesToTOS" name="agreesToTOS">
              I agree to the terms
            </md-checkbox>
            <button md-raised-button [disabled]="!user.agreesToTOS" class="pad-right-sm" class="text-upper">Sign Up</button>
          </div>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
          <md-checkbox labelPosition="after">
            I come after my label.
          </md-checkbox>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
          <md-checkbox labelPosition="before">I come before my label</md-checkbox>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        </form>

        <td-highlight lang="html">
        <![CDATA[
          <!-- Usage within Forms -->
          <form (ngSubmit)="saveUser()">
            <div layout="row" layout-align="start center">
              <md-checkbox [(ngModel)]="user.agreesToTOS" name="agreesToTOS">
                I have read and agree to the terms of service.
              </md-checkbox>
              <button type="submit" md-raised-button [disabled]="!user.agreesToTOS" class="text-upper">Sign Up</button>
            </div>

            <md-checkbox labelPosition="after">
              I come after my label.
            </md-checkbox>

            <md-checkbox labelPosition="before">I come before my label</md-checkbox>
          </form>
        ]]>
        </td-highlight>
      </div>
    </div>
  </md-card-content>
</md-card>


<md-card>
  <md-card-title>Icons</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row">
      <div flex="60" layout="column" class="pad-right-lg">
        <h3>Basic Icons</h3>
        <div layout="row" layout-align="space-between center">
          <md-icon>account_circle</md-icon>
          <md-icon>help</md-icon>
          <md-icon>delete</md-icon>
          <md-icon>favorite</md-icon>
          <md-icon>star</md-icon>
          <md-icon>done_all</md-icon>
          <md-icon>description</md-icon>
          <md-icon>open_in_new</md-icon>
          <md-icon>question_answer</md-icon>
          <md-icon>schedule</md-icon>
        </div>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <div layout="row" layout-align="space-between center">
          <md-icon>thumb_up</md-icon>
          <md-icon>today</md-icon>
          <md-icon>warning</md-icon>
          <md-icon>airplay</md-icon>
          <md-icon>comment</md-icon>
          <md-icon>settings</md-icon>
          <md-icon>room</md-icon>
          <md-icon>stars</md-icon>
          <md-icon>touch_app</md-icon>
          <md-icon>trending_up</md-icon>
        </div>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <div layout="row" layout-align="space-between center">
          <md-icon>view_list</md-icon>
          <md-icon>view_module</md-icon>
          <md-icon>view_quilt</md-icon>
          <md-icon>view_week</md-icon>
          <md-icon>view_headline</md-icon>
          <md-icon>dashboard</md-icon>
          <md-icon>subject</md-icon>
          <md-icon>view_carousel</md-icon>
          <md-icon>playlist_add_check</md-icon>
          <md-icon>playlist_add</md-icon>
        </div>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <td-highlight lang="html">
          <![CDATA[
            <!-- Basic -->
            <md-icon>account_circle</md-icon>
          ]]>
        </td-highlight>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <div layout="column">
          <h3>Icon Sizes</h3>
          <div layout="row" layout-align="space-between center" class="push-bottom-sm">
            <md-icon class="md-18">favorite</md-icon>
            <md-icon class="md-24">favorite</md-icon>
            <md-icon class="md-36">favorite</md-icon>
            <md-icon class="md-48">favorite</md-icon>
            <button md-fab color="accent">
              <md-icon class="md-18">shopping_cart</md-icon>
            </button>
            <button md-fab color="accent">
              <md-icon class="md-24">shopping_cart</md-icon>
            </button>
            <button md-fab color="accent">
              <md-icon class="md-36">shopping_cart</md-icon>
            </button>
          </div>
          <td-highlight lang="html">
            <![CDATA[
              <!-- Icon Sizes (Default: md-24) -->
              <md-icon class="md-18">favorite</md-icon>
              <md-icon class="md-24">favorite</md-icon>
              <md-icon class="md-36">favorite</md-icon>
              <md-icon class="md-48">favorite</md-icon>
            ]]>
          </td-highlight>
        </div>
      </div>

      <div flex="40" layout="column">
        <h3>Icons with Buttons</h3>
        <div layout="row" layout-align="space-between center">
          <button md-icon-button class="pad-right">
            <md-icon>favorite</md-icon>
          </button>
          <button md-fab color="accent">
            <md-icon>shopping_cart</md-icon>
          </button>
          <button md-mini-fab color="accent">
            <md-icon>add</md-icon>
          </button>
          <button md-mini-fab color="accent" disabled>
            <md-icon>backup</md-icon>
          </button>
        </div>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <td-highlight lang="html">
          <![CDATA[
            <!-- Icons and Buttons -->
            <button md-icon-button>
              <md-icon>favorite</md-icon>
            </button>
            <button md-fab color="accent">
              <md-icon>shopping_cart</md-icon>
            </button>
            <button md-mini-fab color="accent">
              <md-icon>add</md-icon>
            </button>
            <button md-mini-fab color="accent" disabled>
              <md-icon>backup</md-icon>
            </button>
          ]]>
        </td-highlight>
      </div>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="accent" [routerLink]="['/style-guide/iconography']">More on Icons</a>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Input</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <form>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="Company (disabled)" disabled value="Google">
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="First name">
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="Long Last Name That Will Be Truncated">
        </md-input-container>
      </div>

      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea mdInput placeholder="Address" value="1600 Amphitheatre Pkway"></textarea>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea mdInput placeholder="Address 2"></textarea>
        </md-input-container>
      </div>

      <div layout="row" layout-margin>
        <md-input-container flex>
          <input mdInput placeholder="City">
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container flex>
          <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
          <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-card-content>
    <td-highlight lang="html">
    <![CDATA[
      <!-- Inputs -->
      <form>
        <div layout="row" layout-margin>
          <md-input-container flex>
            <input mdInput placeholder="Company (disabled)" disabled value="Google">
          </md-input-container>
        </div>
        <div layout="row" layout-margin>
          <md-input-container flex>
            <input mdInput placeholder="First name">
          </md-input-container>
          <md-input-container flex>
            <input mdInput placeholder="Long Last Name That Will Be Truncated">
          </md-input-container>
        </div>

        <div layout="row" layout-margin>
          <md-input-container flex>
            <textarea mdInput placeholder="Address" value="1600 Amphitheatre Pkway"></textarea>
          </md-input-container>
        </div>
        <div layout="row" layout-margin>
          <md-input-container flex>
            <textarea mdInput placeholder="Address 2"></textarea>
          </md-input-container>
        </div>

        <div layout="row" layout-margin>
          <md-input-container flex>
            <input mdInput placeholder="City">
          </md-input-container>
          <md-input-container flex>
            <input mdInput placeholder="State">
          </md-input-container>
          <md-input-container flex>
            <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
            <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
          </md-input-container>
        </div>
      </form>
    ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Lists</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <!-- Simple list -->
    <h3>Simple List</h3>
    <md-list>
      <md-list-item> Pepper </md-list-item>
      <md-list-item> Salt </md-list-item>
      <md-list-item> Paprika </md-list-item>
    </md-list>

    <td-highlight lang="html">
    <![CDATA[
      <!-- Simple list -->
      <md-list>
        <md-list-item> Pepper </md-list-item>
        <md-list-item> Salt </md-list-item>
        <md-list-item> Paprika </md-list-item>
      </md-list>
    ]]>
    </td-highlight>

    <md-divider class="push-top-sm push-bottom-sm"></md-divider>

    <!-- Checkbox list -->
    <h3>Checkbox list</h3>

    <md-list>
      <template ngFor let-todo [ngForOf]="todos">
        <md-list-item>
          <div layout="row" layout-align="start center">
            <div flex>
              <md-checkbox [checked]="todo.finished">
                {{todo.name}}
              </md-checkbox>
            </div>
            <div><md-icon>more_horiz</md-icon></div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </template>
    </md-list>

    <td-highlight lang="html">
    <![CDATA[
      <!-- Checkbox list -->
      <md-list>
        <template ngFor let-todo [ngForOf]="todos">
          <md-list-item>
            <div layout="row" layout-align="start center">
              <div flex>
                <md-checkbox [checked]="todo.finished">
                  { { todo.name } }
                </md-checkbox>
              </div>
              <div><md-icon>more_horiz</md-icon></div>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </template>
      </md-list>
    ]]>
    </td-highlight>

    <md-divider class="push-top-sm push-bottom-sm"></md-divider>

    <!-- list with links (nav list) -->
    <h3>Nav list (list with links)</h3>

    <md-nav-list>
      <template let-item let-last="last" ngFor [ngForOf]="messages">
        <a md-list-item [routerLink]="['/style-guide/material-components']"> {{item.from}} </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-nav-list>

    <td-highlight lang="html">
    <![CDATA[
      <!-- list with links (nav list) -->
      <md-nav-list>
        <template let-item let-last="last" ngFor [ngForOf]="messages">
          <a md-list-item [routerLink]="..."> { {item.from}}  </a>
          <md-divider *ngIf="!last"></md-divider>
        </template>
      </md-nav-list>
    ]]>
    </td-highlight>

    <md-divider class="push-top-sm push-bottom-sm"></md-divider>


    <!-- list with Avatars-->
    <h3>2 Line List Items with Avatars and inset dividers</h3>

    <md-list>
      <template let-item let-last="last" ngFor [ngForOf]="messages">
        <md-list-item>
          <img md-list-avatar src="{{item.photo}}" alt="">
          <h3 md-line> {{item.from}} </h3>
          <p md-line> {{item.subject}} - {{item.message}} </p>
        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </template>
    </md-list>

    <td-highlight lang="html">
    <![CDATA[
      <!-- list with Avatars-->
      <md-list>
        <template let-item let-last="last" ngFor [ngForOf]="messages">
          <md-list-item>
            <img md-list-avatar src="{ {item.photo} }" alt="">
            <h3 md-line> { {item.from} } </h3>
            <p md-line> { {item.subject} } - { {item.message} } </p>
          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </template>
      </md-list>
    ]]>
    </td-highlight>

    <md-divider class="push-top-sm push-bottom-sm"></md-divider>

    <!-- list with Icons-->
    <h3>3 Line List Item with Icons and inset dividers</h3>

    <md-list>
      <template let-item let-last="last" ngFor [ngForOf]="messages">
        <md-list-item>
          <md-icon md-list-avatar>person</md-icon>
          <h3 md-line> {{item.from}} </h3>
          <h4 md-line> {{item.subject}} </h4>
          <p md-line> {{item.message}} </p>
        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </template>
    </md-list>

    <td-highlight lang="html">
    <![CDATA[
      <!-- list with Icons-->
      <md-list>
        <template let-item let-last="last" ngFor [ngForOf]="messages">
          <md-list-item>
            <md-icon md-list-avatar>person</md-icon>
            <h3 md-line> { {item.from} } </h3>
            <h4 md-line> { {item.subject} } </h4>
            <p md-line> { {item.message} } </p>
          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </template>
      </md-list>
    ]]>
    </td-highlight>

  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Progress</md-card-title>
  <md-divider></md-divider>
  <md-card-content layout="row">

    <div flex="48" class="pad-right">
      <h3>Progress Bars</h3>
      <h4>Determinate</h4>
      <md-progress-bar mode="determinate" value="40"></md-progress-bar>


      <h4>Indeterminate</h4>
      <md-progress-bar mode="indeterminate"></md-progress-bar>

      <h4>Buffer</h4>
      <md-progress-bar mode="buffer" value="15" bufferValue="15"></md-progress-bar>

      <h4>Query</h4>
      <md-progress-bar mode="query"></md-progress-bar>

      <h4>Colors</h4>

      <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
      <md-divider class="push-top-sm push-bottom-sm"></md-divider>
      <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
      <md-divider class="push-top-sm push-bottom-sm"></md-divider>
      <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
      <md-divider class="push-top-sm push-bottom-sm"></md-divider>

    <td-highlight lang="html">
      <![CDATA[
        <!-- Progress Bars-->
        <h4>Determinate</h4>
        <md-progress-bar mode="determinate" value="40"></md-progress-bar>


        <h4>Indeterminate</h4>
        <md-progress-bar mode="indeterminate"></md-progress-bar>

        <h4>Buffer</h4>
        <md-progress-bar mode="buffer" value="15" bufferValue="15"></md-progress-bar>

        <h4>Query</h4>
        <md-progress-bar mode="query"></md-progress-bar>

        <h4>Colors</h4>

        <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
      ]]>
      </td-highlight>

    </div>

    <div flex="48">
      <!-- Progress circles-->
      <h3>Progress Spinner</h3>

      <div layout="row">

        <div>
          <h4>Determinate</h4>
          <md-progress-spinner mode="determinate" value="66"></md-progress-spinner>

        </div>

        <div>

          <h4>indeterminate</h4>
          <md-progress-spinner mode="indeterminate"></md-progress-spinner>

        </div>

        <div>

          <h4>Spinner</h4>
          <md-spinner></md-spinner>

        </div>

      </div>

      <div>

        <h4>Colors</h4>
        <div layout="row">
          <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
          <md-progress-spinner mode="indeterminate" color="accent"></md-progress-spinner>
          <md-progress-spinner mode="indeterminate" color="warn"></md-progress-spinner>
        </div>
        <md-divider class="push-top-sm push-bottom-sm"></md-divider>

      </div>

      <td-highlight lang="html">
      <![CDATA[
        <!-- Progress Circles -->

      <div layout="row">
        <div>
          <h4>Determinate</h4>
          <md-progress-spinner mode="determinate" value="66"></md-progress-spinner>
        </div>

        <div>
          <h4>indeterminate</h4>
          <md-progress-spinner mode="indeterminate"></md-progress-spinner>
        </div>

        <div>
          <h4>Spinner</h4>
          <md-spinner></md-spinner>
        </div>
      </div>

      <div>
        <h4>Colors</h4>
        <div layout="row">
          <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
          <md-progress-spinner mode="indeterminate" color="accent"></md-progress-spinner>
          <md-progress-spinner mode="indeterminate" color="warn"></md-progress-spinner>
        </div>
      </div>
      ]]>
      </td-highlight>


    </div>
  </md-card-content>
</md-card>



<md-card>
  <md-card-title>Radios</md-card-title>
  <md-divider></md-divider>
  <md-card-content layout="row">

    <div flex="48" class="pad-right">
      <!-- Basic Radios -->
      <h3>Basic Radios</h3>

      <md-radio-group name="group1">
        <md-radio-button class="pad-right-sm" name="group1">Option 1  </md-radio-button>
        <md-radio-button class="pad-right-sm" name="group1">Option 2  </md-radio-button>
        <md-radio-button class="pad-right-sm" name="group1" disabled="true">Option 3 (disabled)  </md-radio-button>
      </md-radio-group>

      <md-divider class="push-top-sm push-bottom-sm"></md-divider>

      <td-highlight lang="html">
      <![CDATA[
        <!-- Basic Radios -->
        <md-radio-group name="group1">
          <md-radio-button name="group1">Option 1  </md-radio-button>
          <md-radio-button name="group1">Option 2  </md-radio-button>
          <md-radio-button name="group1" disabled="true">Option 3 (disabled)  </md-radio-button>
        </md-radio-group>
      ]]>
      </td-highlight>

    </div>

    <div flex="48">
      <!-- Dynamic Radios -->
      <h3>Dynamic Radios</h3>

      <md-radio-group name="more_options" [(ngModel)]="favoriteSeason">
        <md-radio-button class="pad-right-sm" *ngFor="let season of seasonOptions" name="more_options" [value]="season">
          {{season}}
        </md-radio-button>
      </md-radio-group>
      <p>Your favorite season is: <strong>{{favoriteSeason}}</strong></p>
      <md-divider class="push-top-sm push-bottom-sm"></md-divider>

      <td-highlight lang="html">
      <![CDATA[
        <!-- Dynamic Radios -->
        <md-radio-group name="more_options" [(ngModel)]="favoriteSeason">
          <md-radio-button *ngFor="let season of seasonOptions" name="more_options" [value]="season">
            {{season}}
          </md-radio-button>
        </md-radio-group>
        <p>Your favorite season is: <strong>{ { favoriteSeason } }</strong></p>
      ]]>
      </td-highlight>
    </div>
  </md-card-content>
</md-card>

  <md-card>
  <md-card-title>Toolbar</md-card-title>
  <md-divider></md-divider>

  <md-card-content>

    <div class="demo-toolbar">
      <p>The default color toolbar:</p>
      <md-toolbar>
        <button md-icon-button>
          <md-icon>menu</md-icon>
        </button>
        <span>Default Toolbar</span>
        <span flex></span>
        <td-search-box placeholder="Search" [alwaysVisible]="alwaysVisible" flex></td-search-box>
        <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
        <md-menu #toolbarMenu1="mdMenu">
          <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Settings</span>
          </button>
          <button md-menu-item>
            <md-icon>exit_to_app</md-icon>
            <span>Sign out</span>
          </button>
        </md-menu>
      </md-toolbar>
      <p>The primary color toolbar:</p>
      <md-toolbar color="primary">
        <button md-icon-button>
          <md-icon>menu</md-icon>
        </button>
        <span>Primary Toolbar</span>
        <span flex></span>
        <button md-icon-button>
          <md-icon>search</md-icon>
        </button>
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
      </md-toolbar>
      <p>The accent color toolbar:</p>
      <md-toolbar color="accent">
        <button md-icon-button>
          <md-icon>menu</md-icon>
        </button>
        <span>Accent Toolbar</span>
        <span flex></span>
        <button md-icon-button>
          <md-icon>search</md-icon>
        </button>
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
      </md-toolbar>
      <p>An accent toolbar using the second toolbar row:</p>
      <md-toolbar color="accent">
        <md-toolbar-row>
          <span>Second Line Toolbar</span>
        </md-toolbar-row>
      </md-toolbar>
      <p>A primary toolbar using the third toolbar row:</p>
      <md-toolbar color="primary">
        <md-toolbar-row></md-toolbar-row>
        <md-toolbar-row>
          <span flex>Third Line Toolbar</span>
          <button md-icon-button>
            <md-icon>favorite</md-icon>
          </button>
          <button md-icon-button>
            <md-icon>delete</md-icon>
          </button>
        </md-toolbar-row>
      </md-toolbar>

    </div>

    <td-highlight lang="html">
      <![CDATA[
        <!-- toolbar start -->
        <md-toolbar>
          <button md-icon-button>
            <md-icon>menu</md-icon>
          </button>
          <span>Default Toolbar</span>
          <span flex></span>
          <td-search-box placeholder="Search" [alwaysVisible]="alwaysVisible" flex></td-search-box>
          <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
          <md-menu #toolbarMenu1="mdMenu">
            <button md-menu-item>
              <md-icon>settings</md-icon>
              <span>Settings</span>
            </button>
            <button md-menu-item>
              <md-icon>exit_to_app</md-icon>
              <span>Sign out</span>
            </button>
          </md-menu>
        </md-toolbar>
        <!-- toolbar end -->
        <!-- toolbar start -->
        <md-toolbar color="primary">
          <button md-icon-button>
            <md-icon>menu</md-icon>
          </button>
          <span>Primary Toolbar</span>
          <span flex></span>
          <button md-icon-button>
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button>
            <md-icon>more_vert</md-icon>
          </button>
        </md-toolbar>
        <!-- toolbar end -->
        <!-- toolbar start -->
        <md-toolbar color="accent">
          <button md-icon-button>
            <md-icon>menu</md-icon>
          </button>
          <span>Accent Toolbar</span>
          <span flex></span>
          <button md-icon-button>
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button>
            <md-icon>more_vert</md-icon>
          </button>
        </md-toolbar>
        <!-- toolbar end -->
        <!-- toolbar start -->
        <md-toolbar color="accent">
          <md-toolbar-row>
            <span>Second Line Toolbar</span>
          </md-toolbar-row>
        </md-toolbar>
        <!-- toolbar end -->
        <!-- toolbar start -->
        <md-toolbar color="primary">
          <md-toolbar-row></md-toolbar-row>
          <md-toolbar-row>
            <span flex>Third Line Toolbar</span>
            <button md-icon-button>
              <md-icon>favorite</md-icon>
            </button>
            <button md-icon-button>
              <md-icon>delete</md-icon>
            </button>
          </md-toolbar-row>
        </md-toolbar>
        <!-- toolbar end -->
      ]]>
      </td-highlight>

  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Tabs</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <template md-tab-label>One</template>
        <h3 class="md-title">First tab content</h3>
        <p>Plaid echo park knausgaard normcore franzen cronut. Pickled humblebrag tofu hoodie, umami salvia farm-to-table schlitz try-hard food truck knausgaard pabst. Yuccie portland jean shorts, authentic mixtape waistcoat gentrify blue bottle. Fixie kickstarter church-key small batch seitan, shabby chic vegan listicle before they sold out. Hammock raw denim flannel tousled seitan you probably haven't heard of them. Trust fund man bun pug, kickstarter artisan selvage letterpress cornhole tote bag butcher locavore. Affogato try-hard kickstarter seitan, DIY pickled hella godard pork belly four loko ugh.</p>
      </md-tab>
      <md-tab>
        <template md-tab-label>Two</template>
        <h3 class="md-title">Second tab content</h3>
        <p>Hashtag distillery skateboard man bun gochujang, salvia man braid art party meggings heirloom kitsch farm-to-table. Franzen beard fingerstache gentrify, heirloom portland ennui XOXO microdosing kitsch plaid. Chicharrones bushwick chia, banh mi irony tattooed hammock butcher shabby chic taxidermy semiotics marfa post-ironic. Blue bottle keffiyeh farm-to-table ennui, chambray pitchfork art party pinterest artisan pop-up. Etsy banjo marfa, blue bottle kombucha crucifix XOXO tousled beard. Tilde disrupt kale chips bicycle rights skateboard master cleanse hella shoreditch, meditation retro shabby chic vice heirloom. Etsy listicle vice actually, iPhone chia hoodie four loko.</p>
      </md-tab>
    </md-tab-group>
    <md-divider></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <md-tab-group md-stretch-tabs>
          <md-tab>
            <template md-tab-label>First tab content</template>
            <h1>First content</h1>
            <p>...</p>
          </md-tab>
          <md-tab>
            <template md-tab-label>Second tab content</template>
            <h1>Second tab content</h1>
            <p>...</p>
          </md-tab>
        </md-tab-group>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Slide Toggle</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start start">
      <div layout="column" flex="50" class="pad-right">
        <h3>Basic Usage</h3>
        <md-list>
          <md-list-item *ngFor="let system of systems">
            <md-slide-toggle [color]="system.color" [(ngModel)]="system.on">
              {{system.name}}
            </md-slide-toggle>
          </md-list-item>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        </md-list>
        <td-highlight lang="html">
        <![CDATA[
          <!-- Basic Usage -->
          <md-list>
            <md-list-item *ngFor="let system of systems">
              <md-slide-toggle [color]="system.color" [(ngModel)]="system.on" (change)="doSomething($event)">
                { {system.name} }
              </md-slide-toggle>
            </md-list-item>
          </md-list>
        ]]>
        </td-highlight>
        <md-divider class="push-top push-bottom"></md-divider>
        <td-highlight lang="typescript">
          <![CDATA[
              systems: Object[] = [{
                name: 'Lights',
                on: false,
                color: 'primary',
              }, {
                name: 'Surround Sound',
                on: true,
                color: 'accent',
              }, {
                name: 'T.V.',
                on: true,
                color: 'warn',
              },
            ];
            ]]>
          </td-highlight>
      </div>
      <div layout="column" flex="50">
        <h3>Usage within Forms</h3>
        <form>
          <div layout="row" layout-align="start center">
            <md-slide-toggle color="accent" [(ngModel)]="house.lockHouse" name="lockHouse">
              Lock?
            </md-slide-toggle>
            <md-icon *ngIf="house.lockHouse" class="pad-right-sm">lock</md-icon>
          </div>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
          <md-slide-toggle disabled>
            I am disabled.
          </md-slide-toggle>
          <md-divider class="push-top-sm push-bottom-sm"></md-divider>
        </form>

        <td-highlight lang="html">
        <![CDATA[
          <!-- Usage within Forms -->
          <form>
            <div layout="row" layout-align="start center">
              <md-slide-toggle color="accent" [(ngModel)]="house.lockHouse" (change)="lock($event)" name="lockHouse">
                Lock?
              </md-slide-toggle>
              <md-icon *ngIf="house.lockHouse">lock</md-icon>
            </div>

            <md-slide-toggle disabled>
              I am disabled.
            </md-slide-toggle>
          </form>
        ]]>
        </td-highlight>
      </div>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Grid List</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-grid-list cols="4">
      <md-grid-tile colspan="3" rowspan="1" [style.background]="'lightblue'">One</md-grid-tile>
      <md-grid-tile colspan="1" rowspan="2" [style.background]="'lightgreen'">Two</md-grid-tile>
      <md-grid-tile colspan="1" rowspan="1" [style.background]="'lightpink'">Three</md-grid-tile>
      <md-grid-tile colspan="2" rowspan="1" [style.background]="'#DDBDF1'">Four</md-grid-tile>
    </md-grid-list>
    <md-divider></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <md-grid-list cols="4">
          <md-grid-tile colspan="3" rowspan="1" [style.background]="'lightblue'">
            ...
          </md-grid-tile>
          <md-grid-tile colspan="1" rowspan="2" [style.background]="'lightblue'">
            ...
          </md-grid-tile>
          <md-grid-tile colspan="1" rowspan="1" [style.background]="'lightblue'">
            ...
          </md-grid-tile>
          <md-grid-tile colspan="1" rowspan="2" [style.background]="'lightblue'">
            ...
          </md-grid-tile>
        </md-grid-list>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Grid list with images and headers or footers</md-card-title>
  <md-tab-group md-stretch-tabs>
    <md-tab>
      <template md-tab-label>Headers</template>
      <md-grid-list cols="3" rowHeight="200px">
        <md-grid-tile *ngFor="let dog of dogs" style="background:gray">
          <md-grid-tile-header>
            <md-icon md-grid-avatar>info_outline</md-icon>
            {{dog.name}}
          </md-grid-tile-header>
          <img [alt]="dog.name" src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png">
        </md-grid-tile>
      </md-grid-list>
      <md-divider></md-divider>
      <md-card-content>
        <td-highlight lang="html">
          <![CDATA[
            <md-grid-list cols="3" rowHeight="200px">
              <md-grid-tile *ngFor="let dog of dogs">
                <md-grid-tile-header>
                  <md-icon md-grid-avatar>info_outline</md-icon>
                  { { dog.name } }
                </md-grid-tile-header>
                <img src="">
              </md-grid-tile>
            </md-grid-list>
            ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
    <md-tab>
      <template md-tab-label>Footers</template>
      <md-grid-list cols="3" rowHeight="200px">
        <md-grid-tile *ngFor="let dog of dogs">
          <img [alt]="dog.name" src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png">
          <md-grid-tile-footer>
            <h3 md-line>{{dog.name}}</h3>
            <span md-line>Human: {{dog.human}}</span>
            <md-icon>star_border</md-icon>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
      <md-divider></md-divider>
      <md-card-content>
        <td-highlight lang="html">
          <![CDATA[
            <md-grid-list cols="3" rowHeight="200px">
              <md-grid-tile *ngFor="let dog of dogs">
                <img src="">
                <md-grid-tile-footer>
                  <h3 md-line>{ { dog.name } }</h3>
                  <span md-line>Human: { { dog.human } }</span>
                  <md-icon>star_border</md-icon>
                </md-grid-tile-footer>
              </md-grid-tile>
            </md-grid-list>
            ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
  <md-card-content>

  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Tooltips</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-raised-button color="accent" mdTooltip="I show above" mdTooltipPosition="above" class="text-upper">Bottom Tooltip</button>
    <button md-raised-button color="accent" mdTooltip="I show after" mdTooltipPosition="after" class="text-upper">Bottom Tooltip</button>
    <button md-raised-button color="accent" mdTooltip="I show below" mdTooltipPosition="below" class="text-upper">Bottom Tooltip</button>
    <button md-raised-button color="accent" mdTooltip="I show before" mdTooltipPosition="before" class="text-upper">Bottom Tooltip</button>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <button md-raised-button color="accent" mdTooltip="I show above" mdTooltipPosition="above" class="text-upper">Bottom Tooltip</button>
        <button md-raised-button color="accent" mdTooltip="I show after" mdTooltipPosition="after" class="text-upper">Bottom Tooltip</button>
        <button md-raised-button color="accent" mdTooltip="I show below" mdTooltipPosition="below" class="text-upper">Bottom Tooltip</button>
        <button md-raised-button color="accent" mdTooltip="I show before" mdTooltipPosition="before" class="text-upper">Bottom Tooltip</button>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Menus (dropdowns)</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item> Refresh </button>
        <button md-menu-item> Settings </button>
        <button md-menu-item> Help </button>
        <button md-menu-item disabled> Sign Out </button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="posXMenu">
      Before
    </button>
    <md-menu x-position="before" #posXMenu="mdMenu" class="before">
        <button md-menu-item> Refresh </button>
        <button md-menu-item> Settings </button>
        <button md-menu-item> Help </button>
        <button md-menu-item disabled> Sign Out </button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="aboveMenu">
      Above
    </button>
    <md-menu y-position="above" #aboveMenu="mdMenu" class="above">
        <button md-menu-item> Refresh </button>
        <button md-menu-item> Settings </button>
        <button md-menu-item> Help </button>
        <button md-menu-item disabled> Sign Out </button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="iconsMenu">
      Icons in Menu
    </button>
    <md-menu #iconsMenu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <!-- menu opens when trigger button is clicked -->
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="posXMenu">
          Before
        </button>
        <md-menu x-position="before" #posXMenu="mdMenu" class="before">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="aboveMenu">
          Above
        </button>
        <md-menu y-position="above" #aboveMenu="mdMenu" class="above">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="iconsMenu">
          Icons in Menu
        </button>
        <md-menu #iconsMenu="mdMenu">
          <button md-menu-item>
            <md-icon>dialpad</md-icon>
            <span>Redial</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>voicemail</md-icon>
            <span>Check voicemail</span>
          </button>
          <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
          </button>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Button Toggles</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-button-toggle>Toggle Me</md-button-toggle>
    <md-button-toggle-group name="alignment">
        <md-button-toggle value="left"><md-icon>format_align_left</md-icon></md-button-toggle>
        <md-button-toggle value="center"><md-icon>format_align_center</md-icon></md-button-toggle>
        <md-button-toggle value="right"><md-icon>format_align_right</md-icon></md-button-toggle>
        <md-button-toggle value="justify"><md-icon>format_align_justify</md-icon></md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group multiple>
        <md-button-toggle>Flour</md-button-toggle>
        <md-button-toggle>Eggs</md-button-toggle>
        <md-button-toggle>Sugar</md-button-toggle>
        <md-button-toggle>Milk</md-button-toggle>
    </md-button-toggle-group>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <md-button-toggle>Toggle Me</md-button-toggle>
        <md-button-toggle-group name="alignment">
            <md-button-toggle value="left"><md-icon>format_align_left</md-icon></md-button-toggle>
            <md-button-toggle value="center"><md-icon>format_align_center</md-icon></md-button-toggle>
            <md-button-toggle value="right"><md-icon>format_align_right</md-icon></md-button-toggle>
            <md-button-toggle value="justify"><md-icon>format_align_justify</md-icon></md-button-toggle>
        </md-button-toggle-group>
        <md-button-toggle-group multiple>
            <md-button-toggle>Flour</md-button-toggle>
            <md-button-toggle>Eggs</md-button-toggle>
            <md-button-toggle>Sugar</md-button-toggle>
            <md-button-toggle>Milk</md-button-toggle>
        </md-button-toggle-group>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Ripples</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-raised-button
        md-ripple
        [mdRippleColor]="'rgba(30, 136, 229, 0.2)'"
        class="text-upper">
      Click me
    </button>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <button md-raised-button
            md-ripple
            [mdRippleColor]="'rgba(30, 136, 229, 0.2)'"
            class="text-upper">
          Click me
        </button>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Slider</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-slider color="accent" min="1" max="5" thumbLabel tickInterval="1"></md-slider>
    <md-slider step="5" thumbLabel tickInterval="5"></md-slider>
    <md-slider thumbLabel tick-interval="auto"></md-slider>
    <md-divider class="push-top push-bottom"></md-divider>
    <h3 class="md-title">Vertical Slider</h3>
    <md-slider vertical min="1" max="100" thumbLabel tickInterval="10"></md-slider>
    <md-divider class="push-top push-bottom"></md-divider>
    <h3 class="md-title">Inverted Slider</h3>
    <md-slider invert min="1" max="100" thumbLabel tickInterval="10"></md-slider>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <md-slider min="1" max="5" thumbLabel tickInterval="1"></md-slider>
        <md-slider step="5" thumbLabel tickInterval="5"></md-slider>
        <md-slider thumbLabel tick-interval="auto"></md-slider>
        <md-divider class="push-top push-bottom"></md-divider>
        <h3 class="md-title">Vertical Slider</h3>
        <md-slider vertical min="1" max="100" thumbLabel tickInterval="10"></md-slider>
        <md-divider class="push-top push-bottom"></md-divider>
        <h3 class="md-title">Inverted Slider</h3>
        <md-slider invert min="1" max="100" thumbLabel tickInterval="10"></md-slider>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Snack Bar</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-raised-button (click)="showSnackBar()">Show Snack Bar</button>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Component } from '@angular/core';
        import { MdSnackBar } from '@angular/material';
        ...
        ...
        constructor(private _snackBarService: MdSnackBar) {
        }

        showSnackBar(): void {
          let snackBarRef: MdSnackBarRef<any> = this._snackBarService.open('Message', 'Action', { duration: 3000 });
        }
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Dialog</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <button md-raised-button color="accent" (click)="openDialog()">Show simple dialog</button>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <button md-raised-button color="accent" (click)="openDialog()">Show simple dialog</button>
      ]]>
    </td-highlight>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="typescript">
      <![CDATA[
          import { Component } from '@angular/core';
          import { MdDialog } from '@angular/material';
          ...
          constructor(public dialog: MdDialog) { }
          ...
          openDialog(): void {
            this.dialog.open(DialogComponent, {
              height: '50%', // can be px or %
              width: '60%', // can be px or %
            });
          }
          ...
          @Component({
            selector: 'dialog-example',
            template: `
              <h3 md-dialog-title>Simple Dialog</h3>
              <md-dialog-content>
                <p>Apply a <code>md-dialog-title</code> attribute on a heading.</p>
                <p>Use a <code>md-dialog-content</code> element for content.</p>
                <p>Place actions in an <code>md-dialog-actions</code> element.</p>
              </md-dialog-content>
              <md-dialog-actions layout="row" layout-align="end center">
                <button md-button md-dialog-close>Close</button>
              </md-dialog-actions>
            `,
          })
          export class DialogComponent {}
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Select</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <form>
      <div layout="row" layout-margin>
        <md-select flex="50" placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </md-option>
        </md-select>
      </div>
      <div layout="row" layout-margin>
        <div flex> Selected food value: {{selectedValue}} </div>
      </div>
    </form>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <form>
          <div layout="row" layout-margin>
            <md-select flex="50" placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
              <md-option *ngFor="let food of foods" [value]="food.value">
                { {food.viewValue} }
              </md-option>
            </md-select>
          </div>
          <div layout="row" layout-margin>
            <div flex> Selected food value: { {selectedValue} } </div>
          </div>
        </form>
        ]]>
      </td-highlight>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="typescript">
      <![CDATA[
          selectedValue: string;

          foods: any[] = [
            {value: 'steak-0', viewValue: 'Steak'},
            {value: 'pizza-1', viewValue: 'Pizza'},
            {value: 'tacos-2', viewValue: 'Tacos'}
          ];
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Autocomplete</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row">
      <md-input-container flex="50">
        <input mdInput placeholder="State" [mdAutocomplete]="tdAuto" [(ngModel)]="currentState" #modelDir="ngModel"
          (ngModelChange)="this.tdStates = filterStates(currentState)" [disabled]="tdDisabled">
      </md-input-container>
    </div>
    
    <div class="push-top">
      <button md-button (click)="modelDir.reset()" class="text-upper">Reset</button>
      <button md-button (click)="currentState='California'" class="text-upper">Set value</button>
      <button md-button (click)="tdDisabled=!tdDisabled" class="text-upper">Toggle disabled</button>
    </div>

    <md-autocomplete #tdAuto="mdAutocomplete">
      <md-option *ngFor="let state of tdStates" [value]="state.name">
        <span>{{ state.name }}</span>
        <span class="demo-secondary-text"> ({{state.code}}) </span>
      </md-option>
    </md-autocomplete>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <div layout="row">
          <md-input-container flex="50">
            <input mdInput placeholder="State" [mdAutocomplete]="tdAuto" [(ngModel)]="currentState" #modelDir="ngModel"
              (ngModelChange)="this.tdStates = filterStates(currentState)" [disabled]="tdDisabled">
          </md-input-container>
        </div>

        <div class="push-top">
          <button md-button (click)="modelDir.reset()" class="text-upper">Reset</button>
          <button md-button (click)="currentState='California'" class="text-upper">Set value</button>
          <button md-button (click)="tdDisabled=!tdDisabled" class="text-upper">Toggle disabled</button>
        </div>

        <md-autocomplete #tdAuto="mdAutocomplete">
          <md-option *ngFor="let state of tdStates" [value]="state.name">
            <span>{ { state.name } }</span>
            <span class="demo-secondary-text"> ({ {state.code} }) </span>
          </md-option>
        </md-autocomplete>
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Chips</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">Chips (with colors)</h3>
    <md-chip-list>
      <md-chip *ngFor="let chip of chips"
          [selected]="chip.selected"
          color="{{chip.color}}">
          {{chip.name}}
      </md-chip>
    </md-chip-list>
    <md-divider class="push-top push-bottom"></md-divider>
    <h3 class="md-title">Chip Stacked (with colors)</h3>
    <div layout-gt-xs="row">
      <md-chip-list flex-gt-xs="50" class="mat-chip-list-stacked">
        <md-chip *ngFor="let chip of chips"
            [selected]="chip.selected"
            color="{{chip.color}}">
            {{chip.name}}
        </md-chip>
      </md-chip-list>
    </div>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="html">
      <![CDATA[
        <h3 class="md-title">Basic Chips (with colors)</h3>
        <md-chip-list>
          <md-chip *ngFor="let chip of chips"
              [selected]="chip.selected"
              color="{ {chip.color} }">
              { {chip.name} }
          </md-chip>
        </md-chip-list>
        <md-divider class="push-top push-bottom"></md-divider>
        <h3 class="md-title">Chip List (with colors)</h3>
        <div layout-gt-xs="row">
          <md-chip-list flex-gt-xs="50" class="md-chip-list-stacked">
            <md-chip *ngFor="let chip of chips"
                [selected]="chip.selected"
                color="{ {chip.color} }">
                { {chip.name} }
            </md-chip>
          </md-chip-list>
        </div>
        ]]>
      </td-highlight>
    <md-divider class="push-top push-bottom"></md-divider>
    <td-highlight lang="typescript">
      <![CDATA[
         color: string;

          chips: Object = [
            { name: 'Default', color: '', selected: false },
            { name: 'Default (selected)', color: '', selected: true },
            { name: 'Primary (selected)', color: 'primary', selected: true },
            { name: 'Accent (selected)', color: 'accent', selected: true },
            { name: 'Warn (selected)', color: 'warn', selected: true },
          ];
        ]]>
      </td-highlight>
  </md-card-content>
</md-card>
