<mat-card flex>
  <mat-card-title>Line</mat-card-title>
  <mat-card-subtitle>Individual component configurations, series, tooltip, x & y axis, series tooltip</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <td-chart [style.height.px]="300">
          <td-chart-tooltip [trigger]="'item'">
          </td-chart-tooltip>
          <td-chart-x-axis [show]="true"
                            [position]="'top'"
                            [type]="'time'"
                            [splitLine]="{show: false}"
                            [boundaryGap]="false">
          </td-chart-x-axis>
          <td-chart-y-axis [show]="true"
                            [type]="'value'">
          </td-chart-y-axis>
          <td-chart-series td-line
                            [symbolSize]="14"
                            [data]="[{
                              'name': '2018-10-29T03:27:33.932Z',
                              'value': [
                                '2018-10-29T03:27:33.932Z',
                                200
                              ]
                            }, {
                              'name': '2018-10-30T03:27:33.932Z',
                              'value': [
                                '2018-10-30T03:27:33.932Z',
                                50
                              ]
                            },{
                              'name': '2018-10-31T03:27:33.932Z',
                              'value': [
                                '2018-10-31T03:27:33.932Z',
                                100
                              ]
                            }]"
                            [name]="'Revenue'"
                            [symbol]="'roundRect'"
                            [color]="'#F2724B'">
            <td-chart-series-tooltip>
              <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                <ng-container *ngIf="params">
                  <div layout="row" layout-align="start center">
                    <mat-icon>
                      <span class="tc-accent">account_balance</span>
                    </mat-icon>
                    <span class="mat-caption pad-left-sm">
                      {{params.seriesName + ': ' + params.value[1]}}
                    </span>
                  </div>
                  <div class="mat-caption">
                    at {{(params.name | date:'medium')}}
                  </div>
                </ng-container>
              </ng-template>
            </td-chart-series-tooltip>
          </td-chart-series>
          <td-chart-series td-line
                            [symbolSize]="14"
                            [data]="[{
                              'name': '2018-10-29T03:28:59.797Z',
                              'value': [
                                '2018-10-29T03:28:59.797Z',
                                200
                              ]
                            }, {
                              'name': '2018-10-29T13:28:59.797Z',
                              'value': [
                                '2018-10-29T13:28:59.797Z',
                                50
                              ]
                            }, {
                              'name': '2018-11-01T03:28:59.797Z',
                              'value': [
                                '2018-11-01T03:28:59.797Z',
                                100
                              ]
                            }]"
                            [name]="'Sales'"
                            [symbol]="'roundRect'"
                            [color]="'#3A4950'">
            <td-chart-series-tooltip>
              <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                <ng-container *ngIf="params">
                  <div layout="row" layout-align="start center">
                    <mat-icon>
                      <span class="tc-primary">attach_money</span>
                    </mat-icon>
                    <span class="mat-caption pad-left-sm">
                      {{params.seriesName + ': ' + params.value[1]}}
                    </span>
                  </div>
                  <div class="mat-caption">
                      at {{(params.name | date:'medium')}}
                    </div>
                </ng-container>
              </ng-template>
            </td-chart-series-tooltip>
          </td-chart-series>
        </td-chart>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML: </p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chart [style.height.px]="300">
              <td-chart-tooltip [trigger]="'item'">
              </td-chart-tooltip>
              <td-chart-x-axis [show]="true"
                                [position]="'top'"
                                [type]="'time'"
                                [splitLine]="{show: false}"
                                [boundaryGap]="false">
              </td-chart-x-axis>
              <td-chart-y-axis [show]="true"
                                [type]="'value'">
              </td-chart-y-axis>
              <td-chart-series td-line
                                [symbolSize]="14"
                                [data]="[{
                                  'name': '2018-10-29T03:27:33.932Z',
                                  'value': [
                                    '2018-10-29T03:27:33.932Z',
                                    200
                                  ]
                                }, {
                                  'name': '2018-10-30T03:27:33.932Z',
                                  'value': [
                                    '2018-10-30T03:27:33.932Z',
                                    50
                                  ]
                                },{
                                  'name': '2018-10-31T03:27:33.932Z',
                                  'value': [
                                    '2018-10-31T03:27:33.932Z',
                                    100
                                  ]
                                }]"
                                [name]="'Revenue'"
                                [symbol]="'roundRect'"
                                [color]="'#F2724B'">
                <td-chart-series-tooltip>
                  <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                    <ng-container *ngIf="params">
                      <div layout="row" layout-align="start center">
                        <mat-icon>
                          <span class="tc-accent">account_balance</span>
                        </mat-icon>
                        <span class="mat-caption pad-left-sm">
                          { {params.seriesName + ': ' + params.value[1]} }
                        </span>
                      </div>
                      <div class="mat-caption">
                        at { {(params.name | date:'medium')} }
                      </div>
                    </ng-container>
                  </ng-template>
                </td-chart-series-tooltip>
              </td-chart-series>
              <td-chart-series td-line
                                [symbolSize]="14"
                                [data]="[{
                                  'name': '2018-10-29T03:28:59.797Z',
                                  'value': [
                                    '2018-10-29T03:28:59.797Z',
                                    200
                                  ]
                                }, {
                                  'name': '2018-10-29T13:28:59.797Z',
                                  'value': [
                                    '2018-10-29T13:28:59.797Z',
                                    50
                                  ]
                                }, {
                                  'name': '2018-11-01T03:28:59.797Z',
                                  'value': [
                                    '2018-11-01T03:28:59.797Z',
                                    100
                                  ]
                                }]"
                                [name]="'Sales'"
                                [symbol]="'roundRect'"
                                [color]="'#3A4950'">
                <td-chart-series-tooltip>
                  <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                    <ng-container *ngIf="params">
                      <div layout="row" layout-align="start center">
                        <mat-icon>
                          <span class="tc-primary">attach_money</span>
                        </mat-icon>
                        <span class="mat-caption pad-left-sm">
                          { {params.seriesName + ': ' + params.value[1]} }
                        </span>
                      </div>
                      <div class="mat-caption">
                          at { {(params.name | date:'medium')} }
                        </div>
                    </ng-container>
                  </ng-template>
                </td-chart-series-tooltip>
              </td-chart-series>
            </td-chart>
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Line (JS Object)</mat-card-title>
  <mat-card-subtitle>Configuration object used to render a chart</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>

        <td-chart [style.height.px]="300"
                  [config]="config">
        </td-chart>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <p>HTML: </p>
      <td-highlight lang="html">
        <![CDATA[
          <td-chart [style.height.px]="300"
                    [config]="config">
          </td-chart>
        ]]>          
      </td-highlight>
      <p>config JSON: </p>
      <td-highlight [content]="config | json" lang="json">
      </td-highlight>
    </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<td-readme-loader resourceUrl="platform/echarts/bar/README.md"></td-readme-loader>
