{
  "plugins": [
    ["@semantic-release/commit-analyzer", { "preset": "conventionalcommits" }],
    ["@semantic-release/release-notes-generator"],
    ["@semantic-release/exec", {
      "prepareCmd":"./scripts/npm-version ${nextRelease.version} && npm run build:lib",
      "publishCmd": "./scripts/npm-publish ${nextRelease.channel}"
    }],
    ["@semantic-release/npm"],
    ["@semantic-release/changelog",{
      "changelogFile": "docs/CHANGELOG.md"
    }],
    ["@semantic-release/git", {
      "message": "ci(release): ${nextRelease.version} [skip ci]",
      "assets": [
        "docs/CHANGELOG.md",
        "package.json",
        "package-lock.json",
        "libs/**/package.json"
      ]
    }],
    ["@semantic-release/github", {
      "assets": ["*.tgz"]
    }]
  ],
  "branches": [
    { 
      "name": "next",
      "channel": "next",
      "prerelease": true
    },{ 
      "name": "main" 
    }]
}