<demo-component [demoId]="'breadcrumbs-demo-basic'" [demoTitle]="'Basic Breadcrumbs'">
    <breadcrumbs-demo-basic></breadcrumbs-demo-basic>
</demo-component>

<demo-component [demoId]="'breadcrumbs-demo-custom-separator'" [demoTitle]="'Custom Separator Icon'">
  <breadcrumbs-demo-custom-separator></breadcrumbs-demo-custom-separator>
</demo-component>

<demo-component [demoId]="'breadcrumbs-demo-resize'" [demoTitle]="'Responsive Breadcrumbs'">
  <breadcrumbs-demo-resize></breadcrumbs-demo-resize>
</demo-component>
