<h2>Covalent Example</h2>
<mat-list>
  <td-virtual-scroll-container [style.height.px]="400" [data]="data">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <mat-list-item>
        <mat-icon matListAvatar>person</mat-icon>
        <h4 matLine>{{row.name}}</h4>
        <p matLine>Row: {{row.index}}</p>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </ng-template>
  </td-virtual-scroll-container>
</mat-list>

<h2>Material CDK Example</h2>
<mat-list>
  <cdk-virtual-scroll-viewport itemSize="50" [style.height.px]="400">
    <ng-template let-row let-last="last" cdkVirtualFor [cdkVirtualForOf]="data">
      <mat-list-item>
        <mat-icon matListAvatar>person</mat-icon>
        <h4 matLine>{{row.name}}</h4>
        <p matLine>Row: {{row.index}}</p>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </ng-template>
  </cdk-virtual-scroll-viewport>
</mat-list>

