<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-bottom']">
      <mat-card-title>Navigation Drawer Patterns</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="mat-typography">
        <h3>When to use</h3>
        <p>The navigation drawer provides a familiar means of navigation along with access to additional account features, for example, the ability to switch accounts, access settings, and sign out.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <div layout="row" layout-align="start center">
          <span>Example</span>
          <span flex></span>
          <a href="https://stackblitz.com/edit/nav-drawer-patterns" target="_blank" matTooltip="View Code" mat-icon-button>
            <mat-icon>launch</mat-icon>
          </a>
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <div layout-gt-sm="row">
        <div flex-gt-sm="25" class="mat-typography pad relative">
          <h2>Usage</h2>
          <h3>Permanent</h3>
          <p>Permanent drawers are always visible.</p>
          <mat-divider class="pad-bottom" [inset]="true"></mat-divider>
          <h3>Persistent</h3>
          <p>Persistent drawers can be toggled open and closed.</p>
          <mat-divider class="pad-bottom" [inset]="true"></mat-divider>
          <h3>Mini Variant</h3>
          <p>Mini variant drawers change based on screen width.</p>
          <mat-divider class="pad-bottom" [inset]="true"></mat-divider>
          <h3>Temporary</h3>
          <p>Temporary drawers can be toggled open and close automatically.</p>
          <mat-divider class="pad-bottom" [inset]="true"></mat-divider>
          <h2 class="push-bottom-none">Guidelines</h2>
          <mat-nav-list class="pull-left pull-right">
            <a mat-list-item href="https://material.io/guidelines/patterns/navigation-drawer.html" target="_blank">
              <mat-icon style="font-size: 15px">launch</mat-icon>
              <span matLine>Material Design</span>
              <p matLine>Nav Drawer</p>
            </a>
          </mat-nav-list>
        </div>
        <div layout="row" flex-gt-sm>
          <iframe flex class="iframe" [src]="source"></iframe>
        </div>
      </div>
    </mat-card>
    <div layout-gt-xs="row">
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>
            <span class="tc-green-600">Do</span>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>looks_one</mat-icon>
              <h3 matLine>Use standard layouts</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>looks_two</mat-icon>
              <h3 matLine>Be consistent</h3>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>
            <span class="tc-red-600">Don't</span>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>looks_one</mat-icon>
              <h3 matLine>Don't use nested navigation</h3>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
  </div>
  