<div layout-sm="row" layout-gt-md="row">
  <mat-card flex-sm="70" flex-gt-md="70">
    <mat-card-title>Navigation Drawers Patterns</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h3>Problem</h3>
      <p>Need a means of navigation that is familiar and consistent.</p>
      <h3>Solution</h3>
      <p>The navigation drawer provides a familiar means of navigation along with access to additional account features, for example, the ability to switch accounts, access settings, and sign out.</p>
    </mat-card-content>
  </mat-card>
  <mat-card flex-sm flex-gt-md>
    <mat-card-title>Resources</mat-card-title>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="https://material.io/guidelines/patterns/navigation-drawer.html" target="_blank">
        <mat-icon>launch</mat-icon>
        <span matLine>Material Design Nav Drawer</span>
      </a>
    </mat-nav-list>
  </mat-card>
</div>
<mat-card>
  <mat-card-title>Examples</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout-sm="row" layout-gt-md="row">
      <div flex-sm="35" flex-gt-md="35">
        <mat-card-title>Side Navigation</mat-card-title>
        <mat-card-subtitle>Sidenav toolbar &amp; list from the Material Design spec</mat-card-subtitle>
        <mat-card-content>
          <p>In addition to the Material Design Navigation Drawer component, this example leverages the following components:</p>
          <mat-nav-list>
            <a mat-list-item href="https://material.io/guidelines/components/lists.html" target="_blank">
              <mat-icon>launch</mat-icon>
              <span matLine>Material Design List</span>
              <p matLine>mat-list</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item href="https://material.io/guidelines/style/icons.html" target="_blank">
              <mat-icon>launch</mat-icon>
              <span matLine>Material Design Icon</span>
              <p matLine>mat-icons</p>
            </a>
          </mat-nav-list>
        </mat-card-content>
      </div>
      <div flex>
        <mat-card class="pad-bottom-lg">
          <mat-card-subtitle class="bgc-grey-100 push-none">
            <div layout="row">
              <span flex></span>
              <button mat-icon-button matTooltip="View Source" (click)="toggle('example1')">
                <mat-icon class="tc-grey-700">code</mat-icon>
              </button>
            </div>
          </mat-card-subtitle>
          <div [@tdCollapse]="example1">
            <div>
              <mat-tab-group mat-stretch-tabs dynamicHeight>
                  <mat-tab>
                    <ng-template matTabLabel>HTML</ng-template>
                      <td-highlight lang="html">
                          <![CDATA[
                            <td-layout #layout>
                              <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
                                <mat-nav-list>
                                  <a *ngFor="let item of routes" mat-list-item (click)="layout.close()" [routerLink]="[item.route]"><mat-icon>{ {item.icon} }</mat-icon>{ {item.title} }</a>
                                </mat-nav-list>
                                <div td-navigation-drawer-menu>
                                  <mat-nav-list>
                                    <a *ngFor="let item of usermenu" mat-list-item (click)="layout.close()" [routerLink]="[item.route]"><mat-icon>{ {item.icon} }</mat-icon>{ {item.title} }</a>
                                  </mat-nav-list>
                                </div>
                              </td-navigation-drawer>
                              <div td-sidenav-content class="td-layout-footer pad">
                                &copy; 2017 Your Company, Inc.
                              </div>
                              <router-outlet></router-outlet>
                            </td-layout>
                          ]]>
                      </td-highlight>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Typescript</ng-template>
                      <td-highlight lang="typescript">
                          <![CDATA[
                            ...
                            export class MainComponent {
                              routes: Object[] = [{
                                  icon: 'home',
                                  route: '.',
                                  title: 'Home',
                                }, {
                                  icon: 'library_books',
                                  route: '.',
                                  title: 'Documentation',
                                }, {
                                  icon: 'color_lens',
                                  route: '.',
                                  title: 'Style Guide',
                                }, {
                                  icon: 'view_quilt',
                                  route: '.',
                                  title: 'Layouts',
                                }, {
                                  icon: 'picture_in_picture',
                                  route: '.',
                                  title: 'Components & Addons',
                                },
                              ];

                              usermenu: Object[] = [{
                                  icon: 'swap_horiz',
                                  route: '.',
                                  title: 'Switch account',
                                }, {
                                  icon: 'tune',
                                  route: '.',
                                  title: 'Account settings',
                                }, {
                                  icon: 'exit_to_app',
                                  route: '.',
                                  title: 'Sign out',
                                },
                              ];
                            }
                          ]]>
                      </td-highlight>
                  </mat-tab>
              </mat-tab-group>
            </div>
            <mat-divider></mat-divider>
          </div>
          <div class="push-md border">
            <td-layout>
              <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
                <mat-nav-list>
                  <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
                </mat-nav-list>
                <div td-navigation-drawer-menu>
                  <mat-nav-list>
                    <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
                  </mat-nav-list>
                </div>
              </td-navigation-drawer>
              <div td-sidenav-content class="td-layout-footer pad">
                &copy; 2017 Your Company, Inc.
              </div>
            </td-layout>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>