:host ::ng-deep {
  .mat-drawer-container[fullscreen] {
    position: static;
    width: 100%;
    height: 500px;
    .td-layout-sidenav {
      transform: translate3d(0,0,0) !important;
      visibility: visible !important;
      height: 100%;
      position: relative;
    }
  }
}

.border {
  border: 1px solid #ebebeb;
}