:host /deep/ {
  .mat-drawer-container[fullscreen] {
    position: static;
    width: 100%;
    height: 500px;
    mat-sidenav {
      transform: translate3d(0,0,0) !important;
      visibility: visible !important;
      top: 71px;
      bottom: 41px;
    }
  }
}

.border {
  border: 1px solid #ebebeb;
}