<md-card>
  <md-card-title>Line Chart</md-card-title>
  <md-card-subtitle>Generate Line Chart</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <td-line-chart dataSrc="platform/charts/line-chart/data.tsv"
                   contentType="tsv"
                   bottomAxis="col1"
                   bottomAxisTitle="Day Offset"
                   leftAxisTitle="Temperature"
                   [lineColumns]="['col2', 'col3','col4']"
                   [lineTitles]="['New York','San Francisco', 'Austin']"
                   [lineColors]="['#3366cc', '#dc3912', '#ff9900']"
                   chartTitle="Temperature Trend">
    </td-line-chart>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdLineChartComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
     <h2><code><![CDATA[<td-line-chart>]]></code></h2>
     <p>Use <code><![CDATA[<td-line-chart>]]></code> element to draw a line chart</p>
     <p>Note: <code>d3.min.js</code> needs to be added as vendor and referenced in `index.html`.</p>
     <td-highlight lang="javascript">
      module.exports = function(defaults) {
        return new Angular2App(defaults, {
          vendorNpmFiles: [
            ...
            'd3/build/d3.min.js'
          ]
        });
      };
    </td-highlight>
    and
    <td-highlight lang="html">
      <![CDATA[
        <script src="vendor/d3/build/d3.min.js"></script>
      ]]>
    </td-highlight>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
      <td-line-chart dataSrc="platform/charts/line-chart/data.tsv"
                     contentType="tsv"
                     bottomAxis="col1"
                     bottomAxisTitle="Day Offset"
                     leftAxisTitle="Temperature"
                     [lineColumns]="['col2', 'col3','col4']"
                     [lineTitles]="['New York','San Francisco', 'Austin']"
                     [lineColors]="['#3366cc', '#dc3912', '#ff9900']"
                     chartTitle="Temperature Trend">
      </td-line-chart>
         ]]>
    </td-highlight>
    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
      col1,col2,col3,col4
      1,63.4,62.7,72.2
      2,58.0,59.9,67.7
      3,53.3,59.1,69.4
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdLineChartComponent } from '@covalent/charts';
        ...
          directives: [ TdLineChartComponent ]
        })
        export class LineChartDemoComponent {

        }
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
