<md-card>
  <md-card-title>HttpInterceptorService</md-card-title>
  <md-card-subtitle>How to use this service</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>HttpInterceptorService</code></h2>
    <p>Service provided with methods that wrap the ng2 [Http] service and provide an easier experience for interceptor implementation.</p>
    <p>To add a desired interceptor, it needs to implement the [IHttpInterceptor] interface.</p>
    <td-highlight lang="typescript">
      export interface IHttpInterceptor {
        onRequest?: (requestOptions: RequestOptionsArgs) => RequestOptionsArgs;
        onResponse?: (response: Response) => Response;
        onResponseError?: (error: Response) => Response;
      }
    </td-highlight>
    <h3>Methods:</h3>
    <p>The [HttpInterceptorService] service has {{interceptorServiceMethods.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="interceptorServiceMethods">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example:</h3>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Injectable } from '@angular/core';
        import { IHttpInterceptor } from '@covalent/http';

        @Injectable()
        export class CustomInterceptor implements IHttpInterceptor {

          onRequest(requestOptions: RequestOptionsArgs): RequestOptionsArgs {
            ... // do something to requestOptions
            return requestOptions;
          }

          onResponse(response: Response): Response {
            ... // check response status and do something
            return response;
          }

          onResponseError(error: Response): Response {
            ... // check error status and do something
            return error;
          }
        }
      ]]>
    </td-highlight>
    <p>Bootstrap interceptor providers:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { HTTP_PROVIDERS } from '@angular/http';
        import { provideInterceptors } from '@covalent/http';
        import { CustomInterceptor } from 'dir/to/interceptor';

        bootstrap(AppComponent, [
          HTTP_PROVIDERS,
          provideInterceptors([CustomInterceptor]),
        ]);
      ]]>
    </td-highlight>
    <p>After that, just inject [HttpInterceptorService] and use it for your requests.</p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>RESTService</md-card-title>
  <md-card-subtitle>How to use this class</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>RESTService</code></h2>
    <p>Abstract class provided with methods that wraps http services to facilitate REST API calls.</p>
    <h3>Methods:</h3>
    <p>The <code>RESTService</code> class has {{restServiceMethods.length}} methods:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="restServiceMethods">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example:</h3>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Injectable } from '@angular/core';
        import { Response, Http } from '@angular/http';
        import { RESTService, HttpInterceptorService } from '@covalent/http';

        @Injectable()
        export class CustomRESTService extends RESTService<any> {

          constructor(private _http: Http /* or HttpInterceptorService */) {
            super(_http, {
              baseUrl: 'www.api.com',
              path: '/path/to/endpoint',
              transform: (res: Response): any => res.json(),
            });
          }
        }
      ]]>
    </td-highlight>
    <p>Note: the constructor takes any object that implements the methods in [IHttp] interface.</p>
    <p>This can be the angular2 [Http] service, the covalent [HttpInterceptorService] or a custom service.</p>
    <td-highlight lang="typescript">
      <![CDATA[
        export interface IHttp {
          delete: (url: string, options?: RequestOptionsArgs) => Observable<Response>;
          get: (url: string, options?: RequestOptionsArgs) => Observable<Response>;
          head: (url: string, options?: RequestOptionsArgs) => Observable<Response>;
          patch: (url: string, body: any, options?: RequestOptionsArgs) => Observable<Response>;
          post: (url: string, body: any, options?: RequestOptionsArgs) => Observable<Response>;
          put: (url: string, body: any, options?: RequestOptionsArgs) => Observable<Response>;
          request: (url: string | Request, options: RequestOptionsArgs) => Observable<Response>;
        }
      ]]>
    </td-highlight>
  </md-card-content>
 </md-card>
