<table td-data-table>
  <thead>
    <tr td-data-table-column-row>
      <th
        td-data-table-column
        [name]="'date'"
        [sortable]="true"
        [active]="sortBy == 'date'"
        (sortChange)="sort($event)"
        [sortOrder]="sortOrder"
      >
        Date
      </th>
      <th
        td-data-table-column
        [name]="'first_name'"
        [sortable]="true"
        [active]="sortBy == 'first_name'"
        (sortChange)="sort($event)"
        [sortOrder]="sortOrder"
      >
        First Name
      </th>
      <th td-data-table-column [name]="'last_name'">Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let item of atomicData">
      <td td-data-table-cell>{{ item.date }}</td>
      <td td-data-table-cell>{{ item.first_name }}</td>
      <td td-data-table-cell>{{ item.last_name }}</td>
    </tr>
  </tbody>
</table>
