<mat-card>
  <mat-card-title>Markdown Text Editor</mat-card-title>
  <mat-card-subtitle>Simple markdown text editor component</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>With this component you can utilize SimpleMDE as an Angular Component.</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" href="https://github.com/Teradata/covalent-text-editor" target="_blank" class="text-upper">Github Repo</a>
    <a mat-button color="accent" href="https://www.npmjs.com/package/@covalent/text-editor" target="_blank" class="text-upper">npm Module</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Demo</mat-card-title>
  <mat-card-subtitle>Edit the markdown in the left editor for a real-time preview</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-toolbar hide show-gt-md>
    <div layout="row" flex>
      <span flex="55">Editor</span>
      <span flex="45">Preview</span>
    </div>
  </mat-toolbar>
  <mat-divider hide show-gt-md></mat-divider>
  <div layout-gt-md="row" class="bgc-grey-50" tdMediaToggle="gt-md" [mediaStyles]="{height: '650px'}">
    <div flex-gt-md="55" layout-gt-md="column" class="pad-sm">
      <td-text-editor flex-gt-md [(ngModel)]="editorVal"></td-text-editor>
    </div>
    <div flex-gt-md="45" layout-gt-md="column" class="md-content pad-sm">
      <td-markdown flex-gt-md [content]="editorVal"></td-markdown>
    </div>
  </div>
</mat-card>

<td-readme-loader resourceUrl="https://raw.githubusercontent.com/Teradata/covalent-text-editor/master/docs/API.md">
</td-readme-loader>

<td-readme-loader resourceUrl="https://raw.githubusercontent.com/Teradata/covalent-text-editor/master/docs/SETUP.md">
</td-readme-loader>
