<mat-card>
  <mat-card-title>Markdown Navigator component</mat-card-title>
  <mat-card-subtitle>
    A component for rendering and navigating through markdown, such as documentation.
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <div>
          <mat-radio-group [(ngModel)]="selected" (change)="selectOption()">
            <mat-radio-button *ngFor="let option of options" [value]="option">
              {{ option.name }}
            </mat-radio-button>
          </mat-radio-group>
          <td-code-editor
            flex
            [language]="'json'"
            [editorOptions]="{ minimap: { enabled: false } }"
            [(ngModel)]="input"
            [style.height.px]="200"
          ></td-code-editor>
          <button mat-button class="text-upper" color="primary" (click)="applyInput()">Apply</button>
          <button mat-button class="text-upper" color="primary" (click)="demoStartAt()">Jump to a place</button>
        </div>
        <div>
          <td-markdown-navigator
            [items]="currentTree"
            [startAt]="startAt"
            [compareWith]="compareByTitle"
            [style.height.px]="250"
          ></td-markdown-navigator>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <td-highlight lang="html">
          <![CDATA[
            <td-markdown-navigator
              [items]="currentTree"
              [startAt]="startAt"
              [compareWith]="compareByTitle"
              [style.height.px]="250"
            ></td-markdown-navigator>
          ]]>
        </td-highlight>
        <td-highlight lang="typescript">
          <![CDATA[
          import {
            IMarkdownNavigatorItem,
          } from '@covalent/markdown-navigator';

          public currentTree: IMarkdownNavigatorItem[] = [];
          public startAt: IMarkdownNavigatorItem;
          public compareByTitle: (o1: IMarkdownNavigatorItem, o2: IMarkdownNavigatorItem) => boolean = (
            o1: IMarkdownNavigatorItem,
            o2: IMarkdownNavigatorItem,
          ): boolean => o1.title === o2.title;
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Markdown Navigator Window component</mat-card-title>
  <mat-card-subtitle>
    A component that contains a MarkdownNavigator component and a toolbar
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <td-markdown-navigator-window
          [items]="currentTree"
          [startAt]="startAt"
          [compareWith]="compareByTitle"
          [style.height.px]="250"
        ></td-markdown-navigator-window>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <td-highlight lang="html">
            <![CDATA[
            <td-markdown-navigator-window
              [items]="currentTree"
              [startAt]="startAt"
              [compareWith]="compareByTitle"
              [style.height.px]="250"
            ></td-markdown-navigator-window>
            ]]>
          </td-highlight>
          <td-highlight lang="typescript">
            <![CDATA[
            import {
              IMarkdownNavigatorItem,
            } from '@covalent/markdown-navigator';

            public currentTree: IMarkdownNavigatorItem[] = [];
            public startAt: IMarkdownNavigatorItem;
            public compareByTitle: (o1: IMarkdownNavigatorItem, o2: IMarkdownNavigatorItem) => boolean = (
              o1: IMarkdownNavigatorItem,
              o2: IMarkdownNavigatorItem,
            ): boolean => o1.title === o2.title;
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Markdown Navigator Window Service</mat-card-title>
  <mat-card-subtitle>
    A service that opens a MarkdownNavigatorWindowComponent inside a draggable dialog. Uses the openDraggable method of
    the TdDialogService.
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <mat-card-actions>
        <button mat-button class="text-upper" color="primary" (click)="openWindow()">
          Open
        </button>
      </mat-card-actions>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <td-highlight lang="html">
          <![CDATA[
          <button mat-button class="text-upper" color="primary" (click)="openWindow()">
            Open
          </button>
          ]]>
        </td-highlight>
        <td-highlight lang="typescript">
          <![CDATA[
          import {
            MarkdownNavigatorWindowService,
          } from '@covalent/markdown-navigator';

          constructor(private _markdownNavigatorWindowService: MarkdownNavigatorWindowService) {}

          public openWindow(): void {
            this._markdownNavigatorWindowService.open(this.windowConfig);
          }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card>
  <mat-card-title>Markdown Navigator Window Directive</mat-card-title>
  <mat-card-subtitle>
    A directive that calls the MarkdownNavigatorWindowService open method on click events.
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <mat-card-actions>
        <button
          mat-button
          class="text-upper"
          color="primary"
          [tdMarkdownNavigatorWindow]="windowConfig"
          [disabled]="false"
        >
          Open
        </button>
      </mat-card-actions>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <td-highlight lang="html">
          <![CDATA[
          <button
            mat-button
            class="text-upper"
            color="primary"
            [tdMarkdownNavigatorWindow]="windowConfig"
            [disabled]="false"
          >
            Open
          </button>
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<td-readme-loader resourceUrl="platform/markdown-navigator/README.md"></td-readme-loader>
