<mat-sidenav-container fullscreen [autosize]="containerAutosize" class="td-layout-manage-list">
  <mat-sidenav #sidenav
              position="start"
              [mode]="mode"
              [opened]="opened"
              [disableClose]="disableClose"
              [style.max-width]="sidenavWidth"
              [style.min-width]="sidenavWidth">
    <ng-content select="mat-toolbar[td-sidenav-content]"></ng-content>
    <div class="td-layout-manage-list-sidenav" cdkScrollable>
      <ng-content select="[td-sidenav-content]"></ng-content>
    </div>
  </mat-sidenav>
  <div class="td-layout-manage-list-main">
    <ng-content select="mat-toolbar"></ng-content>
    <div class="td-layout-manage-list-content" cdkScrollable>
      <ng-content></ng-content>
    </div>
    <ng-content select="td-layout-footer-inner"></ng-content>
  </div>
</mat-sidenav-container>
