<td-dialog>
  <td-dialog-title *ngIf="title">
    {{title}}
  </td-dialog-title>
  <td-dialog-content class="md-subhead tc-grey-700">
    {{message}}
  </td-dialog-content>
  <td-dialog-actions>
    <button md-button
            #closeBtn 
            (keydown.arrowright)="acceptBtn.focus()"
            (click)="cancel()">{{cancelButton}}</button>
    <button md-button
            color="accent"
            #acceptBtn
            (keydown.arrowleft)="closeBtn.focus()"
            (click)="accept()">{{acceptButton}}</button>
  </td-dialog-actions>
</td-dialog>