.td-confirm-title {
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .td-confirm-wrapper {
    width: 400px;
  }
}
@media (max-width: 599px) {
  .td-confirm-wrapper {
    width: 250px;
  }
}

.td-confirm-content {
  margin-bottom: 16px;
}

.td-confirm-actions {
  position: relative;
  top: 16px;
  left: 16px;
}

:host {
  button {
    text-transform: uppercase;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 64px;
  }
}