<demo-component [demoId]="'loading-demo-basic'" [demoTitle]="'Basic'">
  <loading-demo-basic></loading-demo-basic>
</demo-component>

<demo-component
  [demoId]="'loading-demo-replace'"
  [demoTitle]="'Template Until Syntax'"
>
  <loading-demo-replace></loading-demo-replace>
</demo-component>

<demo-component
  [demoId]="'loading-demo-observable'"
  [demoTitle]="'Until Syntax Using Observables'"
>
  <loading-demo-observable></loading-demo-observable>
</demo-component>

<demo-component [demoId]="'loading-demo-fullscreen'" [demoTitle]="'Fullscreen'">
  <loading-demo-fullscreen></loading-demo-fullscreen>
</demo-component>

<demo-component [demoId]="'loading-demo-icon'" [demoTitle]="'Icon'">
  <loading-demo-icon></loading-demo-icon>
</demo-component>
