<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-bottom']">
      <mat-card-title>Management List Patterns</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="mat-typography">
        <h3>When to use</h3>
        <p>If the amount of data or structure of the data does not justify a data grid, consider using a management list with
            faux-columns and sorting instead.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <div layout="row" layout-align="start center">
          <span>Example</span>
          <span flex></span>
          <a href="https://stackblitz.com/edit/manage-list-patterns" target="_blank" matTooltip="View Code" mat-icon-button>
            <mat-icon>launch</mat-icon>
          </a>
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <div layout-gt-sm="row">
        <div flex-gt-sm="25" class="mat-typography pad relative">
          <h2>Usage</h2>
          <mat-list class="pull-left pull-right">
            <mat-list-item>
              <h3 matLine>Toolbar</h3>
              <p matLine>Secondary toolbar with title &amp; actions</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine>Left nav</h3>
              <p matLine>Subnavigation for items</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine>Search</h3>
              <p matLine>Place search in card header</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine>Sorting</h3>
              <p matLine>Display sorting in toolbar</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine>List or Datatable</h3>
              <p matLine>Select best option for metadata</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <h2 class="push-top push-bottom-none">Guidelines</h2>
          <mat-nav-list class="pull-left pull-right">
            <a mat-list-item href="https://material.io/guidelines/components/lists.html" target="_blank">
              <mat-icon>launch</mat-icon>
              <h3 matLine>Material Design </h3>
              <p matLine>Lists Guidelines</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item href="https://material.angular.io/components/list/overview" target="_blank">
              <mat-icon>launch</mat-icon>
              <h3 matLine>Angular Material</h3>
              <p matLine>Lists Guidelines</p>
            </a>
          </mat-nav-list>
        </div>
        <div layout="row" flex-gt-sm>
          <iframe flex class="iframe" [src]="source"></iframe>
        </div>
      </div>
    </mat-card>
    <div layout-gt-xs="row">
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>
            <span class="tc-green-600">Do</span>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>looks_one</mat-icon>
              <h3 matLine>Adjust content with media queries</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>looks_two</mat-icon>
              <h3 matLine>Limit number of columns</h3>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>
            <span class="tc-red-600">Don't</span>
          </mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>looks_one</mat-icon>
              <h3 matLine>Don't add too many columns</h3>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
  </div>
