<td-highlight lang="css">    
    <![CDATA[   
      pre {
        display: block;
        overflow-x: auto;
        padding: 0;
        margin: 0;
        background: #002451;
        color: white;
        font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
        line-height: 1.45;
        tab-size: 2;
        -webkit-font-smoothing: auto;
        -webkit-text-size-adjust: none;
        position: relative;
        border-radius: 2px;
      }
    ]]>
  </td-highlight>