:host /deep/ {
  td-data-table,
  td-highlight,
  md-checkbox {
    display: block;
  }

  td-data-table,
  td-highlight,
  md-checkbox:last-of-type {
    margin-bottom: 16px;
  }

  .md-checkbox-disabled {
    &.md-checkbox-checked, &.md-checkbox-indeterminate {
      .md-checkbox-background {
        background-color: #03a9f4 !important;
      }
    }
  }
}