<md-card>
  <md-card-title>Search</md-card-title>
  <md-card-subtitle>Search and filter items</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start center">
      <md-button-toggle-group name="mode" (change)="modeChange()" [(ngModel)]="debounce">
        <md-button-toggle md-tooltip="Enter/Clear Events" [value]="0"><md-icon>search</md-icon> Enter/Clear</md-button-toggle>
        <md-button-toggle md-tooltip="Debounce Events" [value]="1"><md-icon>keyboard</md-icon> Debounce</md-button-toggle>
      </md-button-toggle-group>
    </div>
    <h3>Search Input</h3>
    <p>Search Value: {{searchInputTerm || 'Empty'}}</p>
    <div layout="row" layout-align="start center">
      <td-search-input *ngIf="debounce" placeholder="Search here" (searchDebounce)="searchInputTerm = $event"></td-search-input>
      <td-search-input *ngIf="!debounce" placeholder="Search here" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''"></td-search-input>
    </div>
    <h3>Search Box</h3>
    <p>Search Value: {{searchBoxTerm || 'Empty'}}</p>
    <div layout="row" layout-align="start center">
      <td-search-box *ngIf="debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (searchDebounce)="searchBoxTerm = $event"></td-search-box>
      <td-search-box *ngIf="!debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (search)="searchBoxTerm = $event" (clear)="searchBoxTerm = ''"></td-search-box>
    </div>
    <h3>Search Box in Toolbar</h3>
    <md-toolbar color="primary">
      <td-search-box placeholder="Search here" [alwaysVisible]="alwaysVisible" flex></td-search-box>
    </md-toolbar>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="toggleAlwaysVisible()">Toggle Search Box Always Visible</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>TdPagingBarComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-paging-bar>]]></code></h2>
    <p>Use <code><![CDATA[<td-paging-bar>]]></code> element to generate a paging bar.</p>
    <p>The <code>(change)</code> event throws an event with the following interface:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        export interface IPageChangeEvent {
          page: number;
          maxPage: number;
          pageSize: number;
          total: number;
          fromRow: number;
          toRow: number;
        }
      ]]>
    </td-highlight>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-paging-bar>]]></code> component has {{searchInputAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="searchInputAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-paging-bar [pageSizes]="[100,200,500,1000,2000]" [pageSize]="100" [total]="1345" (change)="change($event)"></td-paging-bar>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { IPageChangeEvent } from '@covalent/paging-bar';
        ...
        })
        export class Demo {
          change(event: IPageChangeEvent): void {
            ...
          }
          
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentPagingBarModule] using the <code>forRoot()</code> method in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentPagingBarModule } from '@covalent/paging-bar';
        @NgModule({
          imports: [
            CovalentPagingBarModule.forRoot(),
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>