<md-card>
  <md-card-title>Search</md-card-title>
  <md-card-subtitle>Search and filter items</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start center">
      <md-button-toggle-group name="mode" (change)="modeChange()" [(ngModel)]="debounce">
        <md-button-toggle mdTooltip="Enter/Clear Events" [value]="0"><md-icon>search</md-icon> Enter/Clear</md-button-toggle>
        <md-button-toggle mdTooltip="Debounce Events" [value]="1"><md-icon>keyboard</md-icon> Debounce</md-button-toggle>
      </md-button-toggle-group>
    </div>
    <h3>Search Input</h3>
    <p>Search Value: {{searchInputTerm || 'Empty'}}</p>
    <div layout="row" layout-align="start center">
      <td-search-input *ngIf="debounce" [showUnderline]="true" placeholder="Search here" (searchDebounce)="searchInputTerm = $event"></td-search-input>
      <td-search-input *ngIf="!debounce" [showUnderline]="true" placeholder="Search here" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''"></td-search-input>
    </div>
    <h3>Search Box</h3>
    <p>Search Value: {{searchBoxTerm || 'Empty'}}</p>
    <div layout-gt-xs="row">
      <md-card flex-gt-xs="60">
        <div layout="row" layout-align="start center" class="push-left push-right">
          <span class="md-title">Card</span>
          <span flex></span>
          <td-search-box *ngIf="debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (searchDebounce)="searchBoxTerm = $event" flex></td-search-box>
          <td-search-box *ngIf="!debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (search)="searchBoxTerm = $event" (clear)="searchBoxTerm = ''" flex></td-search-box>
        </div>
        <md-divider></md-divider>
        <md-card-content>card content</md-card-content>
      </md-card>
    </div>
    <h3>Search Box in Toolbar</h3>
    <md-toolbar color="primary">
      <td-search-box backIcon="arrow_back" placeholder="Search here" [alwaysVisible]="alwaysVisible" flex></td-search-box>
      <button md-icon-button><md-icon>more_vert</md-icon></button>
    </md-toolbar>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="toggleAlwaysVisible()" class="text-upper">Always Visible</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>TdSearchInputComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-search-input>]]></code></h2>
    <p>Use <code><![CDATA[<td-search-input>]]></code> element to generate a search input with its animated cancel button.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-search-input>]]></code> component has {{searchInputAttrs.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="searchInputAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-search-input placeholder="Search here" [showUnderline]="false|true" [debounce]="500" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''">
        </td-search-input>
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentSearchModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentSearchModule } from '@covalent/core';
        @NgModule({
          imports: [
            CovalentSearchModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdSearchBoxComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-search-box>]]></code></h2>
    <p>Use <code><![CDATA[<td-search-box>]]></code> element to generate a search box with animations.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-search-box>]]></code> component has {{searchBoxAttrs.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="searchBoxAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="false|true" [debounce]="500" [alwaysVisible]="false|true" (searchDebounce)="searchInputTerm = $event" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''">
        </td-search-box>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>