<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-subtitle>Search and filter items</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row" layout-align="start center">
      <mat-button-toggle-group name="mode" (change)="modeChange()" [(ngModel)]="debounce">
        <mat-button-toggle matTooltip="Enter/Clear Events" [value]="0"><mat-icon>search</mat-icon> Enter/Clear</mat-button-toggle>
        <mat-button-toggle matTooltip="Debounce Events" [value]="1"><mat-icon>keyboard</mat-icon> Debounce</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <h3>Search Input</h3>
    <p>Search Value: {{searchInputTerm || 'Empty'}}</p>
    <div layout-gt-xs="row">
      <div flex-gt-xs="40">
        <td-search-input *ngIf="debounce" [showUnderline]="true" placeholder="Search here" (searchDebounce)="searchInputTerm = $event"></td-search-input>
        <td-search-input *ngIf="!debounce" [showUnderline]="true" placeholder="Search here" (search)="searchInputTerm = $event" (clear)="searchInputTerm = ''"></td-search-input>
      </div>
    </div>
    <h3>Search Box</h3>
    <p>Search Value: {{searchBoxTerm || 'Empty'}}</p>
    <div layout-gt-xs="row">
      <mat-card flex-gt-xs="60">
        <div layout="row" layout-align="start center" class="push-left push-right">
          <span class="mat-title">Card</span>
          <span flex></span>
          <td-search-box *ngIf="debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (searchDebounce)="searchBoxTerm = $event" flex></td-search-box>
          <td-search-box *ngIf="!debounce" placeholder="Search here" [alwaysVisible]="alwaysVisible" (search)="searchBoxTerm = $event" (clear)="searchBoxTerm = ''" flex></td-search-box>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content>card content</mat-card-content>
      </mat-card>
    </div>
    <h3>Search Box in Toolbar</h3>
    <mat-toolbar color="primary">
      <td-search-box backIcon="arrow_back" placeholder="Search here" [alwaysVisible]="alwaysVisible" flex></td-search-box>
      <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    </mat-toolbar>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button color="primary" (click)="toggleAlwaysVisible()" class="text-upper">Always Visible</button>
  </mat-card-actions>
</mat-card>

<td-readme-loader resourceUrl="platform/core/search/search-input/README.md"></td-readme-loader>

<td-readme-loader resourceUrl="platform/core/search/search-box/README.md"></td-readme-loader>
