<div class="dynamic-input-wrapper" layout="column">
  <md-input-container>
    <input #elementInput
            mdInput
            [(ngModel)]="value"
            [placeholder]="label"
            [type]="type"
            [required]="required"
            [attr.min]="min"
            [attr.max]="max"
            flex>
    <md-hint align="start">
      <span class="tc-red-600"  *ngIf="control.errors && control.dirty">
        <span *ngFor="let error of errorMessages; last as isLast">{{error}} <span *ngIf="!isLast">, </span></span>
      </span>
    </md-hint>
  </md-input-container>
</div>
