<div class="dynamic-input-wrapper" layout="column">
  <md-input-container>
    <input #elementInput
            mdInput
            [(ngModel)]="value"
            [placeholder]="label"
            [type]="type"
            [required]="required"
            [min]="min"
            [max]="max"
            flex>
    <md-hint align="start">
      <span class="tc-red-600">
        <span *ngIf="control.errors?.max">Max: {{control.errors?.max.maxValue}}</span>
        <span *ngIf="control.errors?.min">Min: {{control.errors?.min.minValue}}</span>
      </span>
    </md-hint>
  </md-input-container>
</div>