.mat-tab-link {
  // font-weight: 500;
  letter-spacing: 0.0893em;
  color: #757575;
  opacity: 1;
}

.mat-tab-nav-bar.mat-accent .mat-tab-link {
  &.active {
    color: #138483;
  }
}

.content-title {
  font-size: 28px;
}
