<mat-card>
  <mat-card-title>Navigational Stepper</mat-card-title>
  <mat-card-subtitle>Basic Navigational Stepper (shrink width of page to see responsive behavior)</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="pad">
        <td-horizontal-nav-stepper #horizontalRightNavStepper>
          <a td-nav-step [routerLink]="'/'" [state]="'complete'" [sublabel]="'1st step'">My Step A</a>
          <a td-nav-step [routerLink]="'/components'" [state]="'complete'" [sublabel]="'2nd step'">My Step B</a>
          <a td-nav-step [routerLink]="'/components/expansion-panel'" [state]="'complete'" [sublabel]="'3rd step'">My Step C</a>
          <a td-nav-step [routerLink]="'/components/tab-select'" [state]="'required'" [sublabel]="'Almost done'">My Step D</a>
          <a td-nav-step [routerLink]="'/components/file-input'" [state]="'none'" [sublabel]="'Last and final'">My Step E</a>
        </td-horizontal-nav-stepper>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-horizontal-nav-stepper #horizontalRightNavStepper>
              <a td-nav-step [routerLink]="'/'" [state]="'complete'" [sublabel]="'1st step'">My Step A</a>
              <a td-nav-step [routerLink]="'/components'" [state]="'complete'" [sublabel]="'2nd step'">My Step B</a>
              <a td-nav-step [routerLink]="'/components/expansion-panel'" [state]="'complete'" [sublabel]="'3rd step'">My Step C</a>
              <a td-nav-step [routerLink]="'/components/tab-select'" [state]="'required'" [sublabel]="'Almost done'">My Step D</a>
              <a td-nav-step [routerLink]="'/components/file-input'" [state]="'none'" [sublabel]="'Last and final'">My Step E</a>
            </td-horizontal-nav-stepper>
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<td-readme-loader resourceUrl="platform/core/nav-stepper/README.md"></td-readme-loader>
