
@mixin td-breadcrumbs-theme($theme) {
  $foreground: map-get($theme, foreground);

  td-breadcrumb {
    &:last-of-type {
      color: mat-color($foreground, disabled);
      cursor: default;
    }
  }
}
