<demo-component [demoId]="'data-table-demo-custom'">
  <data-table-demo-custom></data-table-demo-custom>
</demo-component>
<demo-component [demoId]="'data-table-demo-basic'">
  <data-table-demo-basic></data-table-demo-basic>
</demo-component>
<demo-component [demoId]="'data-table-demo-custom-sort'">
  <data-table-demo-custom-sort></data-table-demo-custom-sort>
</demo-component>
<demo-component [demoId]="'data-table-demo-atomic'">
  <data-table-demo-atomic></data-table-demo-atomic>
</demo-component>
<demo-component [demoId]="'data-table-demo-with-components'">
  <data-table-demo-with-components></data-table-demo-with-components>
</demo-component>