<demo-component [demoId]="'data-table-demo-basic'" [demoTitle]="'Basic'">
  <data-table-demo-basic></data-table-demo-basic>
</demo-component>
<demo-component [demoId]="'data-table-demo-custom'" [demoTitle]="'Custom Column, Inline Editing'">
  <data-table-demo-custom></data-table-demo-custom>
</demo-component>
<demo-component [demoId]="'data-table-demo-sort'" [demoTitle]="'Column Sort'">
  <data-table-demo-sort></data-table-demo-sort>
</demo-component>
<demo-component [demoId]="'data-table-demo-with-components'"
  [demoTitle]="'Row Selection, Row Click, Paging, Filtering'">
  <data-table-demo-with-components></data-table-demo-with-components>
</demo-component>