<demo-component [demoId]="'markdown-demo-basic'">
    <markdown-demo-basic></markdown-demo-basic>
</demo-component>

<demo-component [demoId]="'markdown-demo-anchor-jumping'">
  <markdown-demo-anchor-jumping></markdown-demo-anchor-jumping>
</demo-component>

<demo-component [demoId]="'markdown-demo-links-images'">
  <markdown-demo-links-images></markdown-demo-links-images>
</demo-component>

<demo-component [demoId]="'markdown-demo-code-blocks'">
  <markdown-demo-code-blocks></markdown-demo-code-blocks>
</demo-component>

<demo-component [demoId]="'markdown-demo-blockquotes-dividers'">
  <markdown-demo-blockquotes-dividers></markdown-demo-blockquotes-dividers>
</demo-component>

<demo-component [demoId]="'markdown-demo-hosted-url'">
  <markdown-demo-hosted-url></markdown-demo-hosted-url>
</demo-component>
