<demo-component [demoId]="'markdown-demo-basic'" [demoTitle]="'Basic Markdown Examples'">
    <markdown-demo-basic></markdown-demo-basic>
</demo-component>

<demo-component [demoId]="'markdown-demo-anchor-jumping'" [demoTitle]="'Anchor Jumping with Markdown'">
  <markdown-demo-anchor-jumping></markdown-demo-anchor-jumping>
</demo-component>

<demo-component [demoId]="'markdown-demo-hosted-url'" [demoTitle]="'Hosted URL for generating absolute URLs'">
  <markdown-demo-hosted-url></markdown-demo-hosted-url>
</demo-component>
