<section class="push-block-end-xxl">
  <h1 class="push-block-end-sm mat-display-1">CSS Utility Styles &amp; Classes</h1>

  <p class="tc-grey-600 push-block-end-md">
    Covalent includes many utility styles to save you time. We've included general utilities, padding (pad), margin
    (push), negative margin (pull), sizing, and text classes.
  </p>
</section>

<section class="push-block-end-xxl">
<section class="push-block-end-xl">
  <h4 class="push-block-end-sm mat-title">General Utilities</h4>
  <td-highlight lang="css">
    .radius-none // no border radius
    .overflow-hidden // hide overflow
    .overflow-auto // normal overflow
    .block // display block
    .inline-block // display inline block
    .relative // relative positioning
    .fixed // fixed positioning
    .height-auto // 0 min height
    .z-3 // z index 3
    .z-2 // z index 2
    .z-1 // z index 1
  </td-highlight>
</section>
<section class="push-block-end-xl">
  <h4 class="push-block-end-sm mat-title">Sizing Utilities</h4>
  <td-highlight lang="css">
    /* Sizing avail in 12 16 24 32 50 64 72 100 128 256 */
    .size-256 // 256 height and width
    .size-height-256 // 256 height and auto width
    .size-width-256 // 256 width and auto height
  </td-highlight>
</section>
<section class="push-block-end-xl">
  <h4 class="push-block-end-sm mat-title">Text Utilities</h4>
  <td-highlight lang="css">
    .text-normal // normal font size
    .text-center // text align center
    .text-start // text align left
    .text-end // text align right
    .text-micro // font size 10px
    .text-xs // font size 50%
    .text-sm // font size 70%
    .text-md // font size 80%
    .text-lg // font size 110%
    .text-xl // font size 120%
    .text-xxl // font size 130%
    .text-30 // font size 30px
    .text-super // font size 60px
    .text-wrap // normal white space
    .text-break // word break
    .text-upper // uppercase
    .text-lower // lowercase
    .text-caps // all caps
    .text-truncate // single line of truncated text w/ ...
    .text-nodecoration // no underline
  </td-highlight>
</section>
<h4 class="push-block-end-xs mat-title">Layout Utilities</h4>
<div layout-gt-md="row">
  <div flex class="push-inline-end-sm">
    <h4 class="push-block-end-sm push-block-start-smP">Pad (Padding)</h4>
    <td-highlight lang="css">
      .pad             // 16px
      .pad-xxl         // 56px
      .pad-xl          // 48px
      .pad-lg          // 32px
      .pad-md          // 24px
      .pad-sm          // 8px
      .pad-xs          // 4px
      .pad-none        // 0px

      .pad-block-start         // 16px
      .pad-block-start-xxl     // 56px
      .pad-block-start-xl      // 48px
      .pad-block-start-lg      // 32px
      .pad-block-start-md      // 24px
      .pad-block-start-sm      // 8px
      .pad-block-start-xs      // 4px
      .pad-block-start-none    // 0px

      .pad-inline-end       // 16px
      .pad-inline-end-xxl   // 56px
      .pad-inline-end-xl    // 48px
      .pad-inline-end-lg    // 32px
      .pad-inline-end-md    // 24px
      .pad-inline-end-sm    // 8px
      .pad-inline-end-xs    // 4px
      .pad-inline-end-none  // 0px

      .pad-block-end      // 16px
      .pad-block-end-xxl  // 56px
      .pad-block-end-xl   // 48px
      .pad-block-end-lg   // 32px
      .pad-block-end-md   // 24px
      .pad-block-end-sm   // 8px
      .pad-block-end-xs   // 4px
      .pad-block-end-none // 0px

      .pad-inline-start        // 16px
      .pad-inline-start-xxl    // 56px
      .pad-inline-start-xl     // 48px
      .pad-inline-start-lg     // 32px
      .pad-inline-start-md     // 24px
      .pad-inline-start-sm     // 8px
      .pad-inline-start-xs     // 4px
      .pad-inline-start-none   // 0px
    </td-highlight>
  </div>
  <div flex class="push-inline-end-sm">
    <h4 class="push-block-end-sm push-block-start-smP">Push (Margin)</h4>
    <td-highlight lang="css">
      .push             // 16px
      .push-xxl         // 56px
      .push-xl          // 48px
      .push-lg          // 32px
      .push-md          // 24px
      .push-sm          // 8px
      .push-xs          // 4px
      .push-none        // 0px

      .push-block-start         // 16px
      .push-block-start-xxl     // 56px
      .push-block-start-xl      // 48px
      .push-block-start-lg      // 32px
      .push-block-start-md      // 24px
      .push-block-start-sm      // 8px
      .push-block-start-xs      // 4px
      .push-block-start-none    // 0px

      .push-inline-end       // 16px
      .push-inline-end-xxl   // 56px
      .push-inline-end-xl    // 48px
      .push-inline-end-lg    // 32px
      .push-inline-end-md    // 24px
      .push-inline-end-sm    // 8px
      .push-inline-end-xs    // 4px
      .push-inline-end-none  // 0px

      .push-block-end      // 16px
      .push-block-end-xxl  // 56px
      .push-block-end-xl   // 48px
      .push-block-end-lg   // 32px
      .push-block-end-md   // 24px
      .push-block-end-sm   // 8px
      .push-block-end-xs   // 4px
      .push-block-end-none // 0px

      .push-inline-start        // 16px
      .push-inline-start-xxl    // 56px
      .push-inline-start-xl     // 48px
      .push-inline-start-lg     // 32px
      .push-inline-start-md     // 24px
      .push-inline-start-sm     // 8px
      .push-inline-start-xs     // 4px
      .push-inline-start-none   // 0px
    </td-highlight>
  </div>
  <div flex>
    <h4 class="push-block-end-sm push-block-start-smP">Pull (Negative Margin)</h4>

    <td-highlight lang="css">
      .pull             // 16px
      .pull-xxl         // 56px
      .pull-xl          // 48px
      .pull-lg          // 32px
      .pull-md          // 24px
      .pull-sm          // 8px
      .pull-xs          // 4px
      .pull-none        // 0px

      .pull-block-start         // 16px
      .pull-block-start-xxl     // 56px
      .pull-block-start-xl      // 48px
      .pull-block-start-lg      // 32px
      .pull-block-start-md      // 24px
      .pull-block-start-sm      // 8px
      .pull-block-start-xs      // 4px
      .pull-block-start-none    // 0px

      .pull-inline-end       // 16px
      .pull-inline-end-xxl   // 56px
      .pull-inline-end-xl    // 48px
      .pull-inline-end-lg    // 32px
      .pull-inline-end-md    // 24px
      .pull-inline-end-sm    // 8px
      .pull-inline-end-xs    // 4px
      .pull-inline-end-none  // 0px

      .pull-block-end      // 16px
      .pull-block-end-xxl  // 56px
      .pull-block-end-xl   // 48px
      .pull-block-end-lg   // 32px
      .pull-block-end-md   // 24px
      .pull-block-end-sm   // 8px
      .pull-block-end-xs   // 4px
      .pull-block-end-none // 0px

      .pull-inline-start        // 16px
      .pull-inline-start-xxl    // 56px
      .pull-inline-start-xl     // 48px
      .pull-inline-start-lg     // 32px
      .pull-inline-start-md     // 24px
      .pull-inline-start-sm     // 8px
      .pull-inline-start-xs     // 4px
      .pull-inline-start-none   // 0px
    </td-highlight>
  </div>
</div>
</section>
