body,
html {
  background-color: var(--mdc-theme-background);
}

/* Elements that depend on a parent to have a width and height */
.knapsack-wrapper.knapsack-pattern-direct-parent:has(
    > cv-action-ribbon,
    > cv-top-app-bar,
    > cv-toolbar
  ) {
  min-width: 100vw;
  min-height: 100vh;
}

/* Elements that depend on a parent to have a width*/
/* Partial width */
.knapsack-wrapper.knapsack-pattern-direct-parent:has(
    > cv-alert,
    > cv-linear-progress,
    > cv-slider,
    > cv-slider-range
  ) {
  min-width: 80vw;
}

/* Full-width */
.knapsack-wrapper.knapsack-pattern-direct-parent:has(> cv-alert[inline]) {
  min-width: 100vw;
}

cv-app-shell {
  display: block;
  margin: -8px;
}
