<md-card>
  <md-card-title>Expansion panels</md-card-title>
  <md-card-subtitle>Use single or multiple expansion panels</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
        <div class="md-padding">
          <h3 class="md-subhead">md-padding class</h3>
          <div>Demo 1</div>
          <div>Demo 2</div>
          <div>Demo 3</div>
          <div>Demo 4</div>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Another label goes here" [disabled]="disabled">
        <div class="md-padding">
          <h3 class="md-subhead">md-padding class</h3>
          <div>Demo 5</div>
          <div>Demo 6</div>
          <div>Demo 7</div>
          <div>Demo 8</div>
        </div>
      </td-expansion-panel>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
              <div class="md-padding">
                <h3 class="md-subhead">md-padding class</h3>
                <div>Demo 1</div>
                <div>Demo 2</div>
                <div>Demo 3</div>
                <div>Demo 4</div>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Another label goes here" [disabled]="disabled">
              <div class="md-padding">
                <h3 class="md-subhead">md-padding class</h3>
                <div>Demo 5</div>
                <div>Demo 6</div>
                <div>Demo 7</div>
                <div>Demo 8</div>
              </div>
            </td-expansion-panel>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              disabled: boolean = false;
            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
  <md-divider></md-divider>
  <md-card-actions>
    <div class="pad-sm">
      <md-slide-toggle color="accent" [(ngModel)]="disabled">
        Disabled
      </md-slide-toggle>
    </div>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Grouped Expansion panels</md-card-title>
  <md-card-subtitle>Add margin animation between grouped expansion panels</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <td-expansion-panel-group>
        <td-expansion-panel label="Label goes here">
          <div class="md-padding">
            <h3 class="md-subhead">md-padding class</h3>
          </div>
        </td-expansion-panel>
        <td-expansion-panel label="Another label goes here">
          <div class="md-padding">
            <h3 class="md-subhead">md-padding class</h3>
          </div>
        </td-expansion-panel>
        <td-expansion-panel label="Yet another label goes here">
          <div class="md-padding">
            <h3 class="md-subhead">md-padding class</h3>
          </div>
        </td-expansion-panel>
      </td-expansion-panel-group>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel-group>
              <td-expansion-panel label="Label goes here">
                <div class="md-padding">
                  <h3 class="md-subhead">md-padding class</h3>
                </div>
              </td-expansion-panel>
              <td-expansion-panel label="Another label goes here">
                <div class="md-padding">
                  <h3 class="md-subhead">md-padding class</h3>
                </div>
              </td-expansion-panel>
              <td-expansion-panel label="Yet another label goes here">
                <div class="md-padding">
                  <h3 class="md-subhead">md-padding class</h3>
                </div>
              </td-expansion-panel>
            </td-expansion-panel-group>
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>

<md-card>
  <md-card-title>Expansion panel with summary and templates</md-card-title>
  <md-card-subtitle>Expand to view form, collapse to view summary</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <td-expansion-panel [expand]="true">
        <ng-template td-expansion-panel-label>
          <md-icon>star</md-icon>
          <span>Google</span>
        </ng-template>
        <ng-template td-expansion-panel-sublabel>
          <span>1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA</span>
        </ng-template>
        <td-expansion-summary>
          <md-list>
            <md-list-item>
              <md-icon md-list-avatar>pin_drop</md-icon>
              <h3 md-line>Google</h3>
              <h4 md-line>Headquarters</h4>
              <p md-line>
                1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
              </p>
            </md-list-item>
          </md-list>
        </td-expansion-summary>
        <form class="md-padding" layout="column">
          <md-input-container flex>
            <input mdInput placeholder="Company (disabled)" disabled value="Google"/>
          </md-input-container>
          <md-input-container flex>
            <textarea mdInput placeholder="Description" rows="4"></textarea>
          </md-input-container>
        </form>
        <md-divider></md-divider>
        <div layout="row" layout-margin layout-align="end center">
          <button md-button class="text-upper">Cancel</button>
          <button md-button color="accent" class="text-upper">Save</button>
        </div>
      </td-expansion-panel>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel [expand]="true">
              <ng-template td-expansion-panel-label>
                <md-icon>star</md-icon>
                <span>Google</span>
              </ng-template>
              <ng-template td-expansion-panel-sublabel>
                <span>1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA</span>
              </ng-template>
              <td-expansion-summary>
                <md-list>
                  <md-list-item>
                    <md-icon md-list-avatar>pin_drop</md-icon>
                    <h3 md-line>Google</h3>
                    <h4 md-line>Headquarters</h4>
                    <p md-line>
                      1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
                    </p>
                  </md-list-item>
                </md-list>
              </td-expansion-summary>
              <form class="md-padding" layout="column">
                <md-input-container flex>
                  <input mdInput placeholder="Company (disabled)" disabled value="Google"/>
                </md-input-container>
                <md-input-container flex>
                  <textarea mdInput placeholder="Description" rows="4"></textarea>
                </md-input-container>
              </form>
              <md-divider></md-divider>
              <div layout="row" layout-margin layout-align="end center">
                <button md-button class="text-upper">Cancel</button>
                <button md-button color="accent" class="text-upper">Save</button>
              </div>
            </td-expansion-panel>
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>

<md-card>
  <md-card-title>Expansion panel with header template</md-card-title>
  <md-card-subtitle>replace the entire header as needed and disable ripple</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
        <td-expansion-panel disableRipple>
          <ng-template td-expansion-panel-header>
            <md-toolbar color="accent">
              <span>Custom td-expansion-panel-header</span>
            </md-toolbar>
          </ng-template>
          <td-expansion-summary>
            <div class="md-padding">
              <div flex layout-gt-xs="row" layout-align="start center">
                <span flex="30" class="md-subhead">Owner</span>
                <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
                <span flex>John Jameson</span>
              </div>
              <div flex layout-gt-xs="row" layout-align="start center">
                <span flex="30" class="md-subhead">API Key</span>
                <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
                <span flex>1141e8e8-8d24-4956-93c2</span>
              </div>
            </div>
          </td-expansion-summary>
          <md-list>
            <h3 md-subheader>Metadata</h3>
            <md-list-item>
                <md-icon md-list-avatar>account_box</md-icon>
                <h4 md-line>John Jameson</h4>
                <p md-line>Owner</p>
            </md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item>
                <md-icon md-list-avatar>description</md-icon>
                <h4 md-line>An item description</h4>
                <p md-line>Description</p>
            </md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item>
                <md-icon md-list-avatar>vpn_key</md-icon>
                <h4 md-line>1141e8e8-8d24-4956-93c2</h4>
                <p md-line>API Key</p>
            </md-list-item>
          </md-list>
        </td-expansion-panel>
      </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel disableRipple>
              <ng-template td-expansion-panel-header>
                <md-toolbar color="accent">
                  <span>Custom td-expansion-panel-header</span>
                </md-toolbar>
              </ng-template>
              <td-expansion-summary>
                <div class="md-padding">
                  <div flex layout-gt-xs="row" layout-align="start center">
                    <span flex="30" class="md-subhead">Owner</span>
                    <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
                    <span flex>John Jameson</span>
                  </div>
                  <div flex layout-gt-xs="row" layout-align="start center">
                    <span flex="30" class="md-subhead">API Key</span>
                    <span flex="5" hide-xs><md-icon class="tc-grey-500">chevron_right</md-icon></span>
                    <span flex>1141e8e8-8d24-4956-93c2</span>
                  </div>
                </div>
              </td-expansion-summary>
              <md-list>
                <h3 md-subheader>Metadata</h3>
                <md-list-item>
                    <md-icon md-list-avatar>account_box</md-icon>
                    <h4 md-line>John Jameson</h4>
                    <p md-line>Owner</p>
                </md-list-item>
                <md-divider md-inset></md-divider>
                <md-list-item>
                    <md-icon md-list-avatar>description</md-icon>
                    <h4 md-line>An item description</h4>
                    <p md-line>Description</p>
                </md-list-item>
                <md-divider md-inset></md-divider>
                <md-list-item>
                    <md-icon md-list-avatar>vpn_key</md-icon>
                    <h4 md-line>1141e8e8-8d24-4956-93c2</h4>
                    <p md-line>API Key</p>
                </md-list-item>
              </md-list>
            </td-expansion-panel>
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>

<td-readme-loader resourceUrl="platform/core/expansion-panel/README.md"></td-readme-loader>
