<mat-card>
  <mat-card-title>Expansion panels</mat-card-title>
  <mat-card-subtitle>Use single or multiple expansion panels</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
        <div class="md-padding">
          <h3 class="mat-subheading-2">md-padding class</h3>
          <div>Demo 1</div>
          <div>Demo 2</div>
          <div>Demo 3</div>
          <div>Demo 4</div>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Another label goes here" [disabled]="disabled">
        <div class="md-padding">
          <h3 class="mat-subheading-2">md-padding class</h3>
          <div>Demo 5</div>
          <div>Demo 6</div>
          <div>Demo 7</div>
          <div>Demo 8</div>
        </div>
      </td-expansion-panel>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
              <div class="md-padding">
                <h3 class="mat-subheading-2">md-padding class</h3>
                <div>Demo 1</div>
                <div>Demo 2</div>
                <div>Demo 3</div>
                <div>Demo 4</div>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Another label goes here" [disabled]="disabled">
              <div class="md-padding">
                <h3 class="mat-subheading-2">md-padding class</h3>
                <div>Demo 5</div>
                <div>Demo 6</div>
                <div>Demo 7</div>
                <div>Demo 8</div>
              </div>
            </td-expansion-panel>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              disabled: boolean = false;
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="disabled">
        Disabled
      </mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Grouped Expansion panels</mat-card-title>
  <mat-card-subtitle>Add margin animation between grouped expansion panels</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <td-expansion-panel-group>
        <td-expansion-panel label="Label goes here">
          <div class="md-padding">
            <h3 class="mat-subheading-2">md-padding class</h3>
          </div>
        </td-expansion-panel>
        <td-expansion-panel label="Another label goes here">
          <div class="md-padding">
            <h3 class="mat-subheading-2">md-padding class</h3>
          </div>
        </td-expansion-panel>
        <td-expansion-panel label="Yet another label goes here">
          <div class="md-padding">
            <h3 class="mat-subheading-2">md-padding class</h3>
          </div>
        </td-expansion-panel>
      </td-expansion-panel-group>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel-group>
              <td-expansion-panel label="Label goes here">
                <div class="md-padding">
                  <h3 class="mat-subheading-2">md-padding class</h3>
                </div>
              </td-expansion-panel>
              <td-expansion-panel label="Another label goes here">
                <div class="md-padding">
                  <h3 class="mat-subheading-2">md-padding class</h3>
                </div>
              </td-expansion-panel>
              <td-expansion-panel label="Yet another label goes here">
                <div class="md-padding">
                  <h3 class="mat-subheading-2">md-padding class</h3>
                </div>
              </td-expansion-panel>
            </td-expansion-panel-group>
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card>
  <mat-card-title>Expansion panel with summary and templates</mat-card-title>
  <mat-card-subtitle>Expand to view form, collapse to view summary</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <td-expansion-panel [expand]="true">
        <ng-template td-expansion-panel-label>
          <mat-icon>star</mat-icon>
          <span>Google</span>
        </ng-template>
        <ng-template td-expansion-panel-sublabel>
          <span>1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA</span>
        </ng-template>
        <td-expansion-summary>
          <mat-list>
            <mat-list-item>
              <mat-icon matListAvatar>pin_drop</mat-icon>
              <h3 matLine>Google</h3>
              <h4 matLine>Headquarters</h4>
              <p matLine>
                1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
              </p>
            </mat-list-item>
          </mat-list>
        </td-expansion-summary>
        <form class="md-padding">
          <div layout="row">
            <mat-form-field flex>
              <input matInput placeholder="Company (disabled)" disabled value="Google"/>
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-form-field flex>
              <textarea matInput placeholder="Description" rows="4"></textarea>
            </mat-form-field>
          </div>
        </form>
        <mat-divider></mat-divider>
        <div layout="row" class="pad-sm">
          <button mat-button color="accent" class="text-upper">Save</button>
          <button mat-button class="text-upper">Cancel</button>
        </div>
      </td-expansion-panel>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel [expand]="true">
              <ng-template td-expansion-panel-label>
                <mat-icon>star</mat-icon>
                <span>Google</span>
              </ng-template>
              <ng-template td-expansion-panel-sublabel>
                <span>1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA</span>
              </ng-template>
              <td-expansion-summary>
                <mat-list>
                  <mat-list-item>
                    <mat-icon matListAvatar>pin_drop</mat-icon>
                    <h3 matLine>Google</h3>
                    <h4 matLine>Headquarters</h4>
                    <p matLine>
                      1600 Amphitheatre Pkwy<br/>Mountain View, CA 94043, USA
                    </p>
                  </mat-list-item>
                </mat-list>
              </td-expansion-summary>
              <form class="md-padding">
                <div layout="row">
                  <mat-form-field flex>
                    <input matInput placeholder="Company (disabled)" disabled value="Google"/>
                  </mat-form-field>
                </div>
                <div layout="row">
                  <mat-form-field flex>
                    <textarea matInput placeholder="Description" rows="4"></textarea>
                  </mat-form-field>
                </div>
              </form>
              <mat-divider></mat-divider>
              <div layout="row" class="pad-sm">
                <button mat-button color="accent" class="text-upper">Save</button>
                <button mat-button class="text-upper">Cancel</button>
              </div>
            </td-expansion-panel>
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card>
  <mat-card-title>Expansion panel with header template</mat-card-title>
  <mat-card-subtitle>replace the entire header as needed and disable ripple</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
        <td-expansion-panel disableRipple>
          <ng-template td-expansion-panel-header>
            <mat-toolbar color="accent">
              <span>Custom td-expansion-panel-header</span>
            </mat-toolbar>
          </ng-template>
          <td-expansion-summary>
            <div class="md-padding">
              <div flex layout-gt-xs="row" layout-align="start center">
                <span flex="30" class="mat-subheading-2">Owner</span>
                <span flex="5" hide-xs><mat-icon class="tc-grey-500">chevron_right</mat-icon></span>
                <span flex>John Jameson</span>
              </div>
              <div flex layout-gt-xs="row" layout-align="start center">
                <span flex="30" class="mat-subheading-2">API Key</span>
                <span flex="5" hide-xs><mat-icon class="tc-grey-500">chevron_right</mat-icon></span>
                <span flex>1141e8e8-8d24-4956-93c2</span>
              </div>
            </div>
          </td-expansion-summary>
          <mat-list>
            <h3 matSubheader>Metadata</h3>
            <mat-list-item>
                <mat-icon matListAvatar>account_box</mat-icon>
                <h4 matLine>John Jameson</h4>
                <p matLine>Owner</p>
            </mat-list-item>
            <mat-divider matInset></mat-divider>
            <mat-list-item>
                <mat-icon matListAvatar>description</mat-icon>
                <h4 matLine>An item description</h4>
                <p matLine>Description</p>
            </mat-list-item>
            <mat-divider matInset></mat-divider>
            <mat-list-item>
                <mat-icon matListAvatar>vpn_key</mat-icon>
                <h4 matLine>1141e8e8-8d24-4956-93c2</h4>
                <p matLine>API Key</p>
            </mat-list-item>
          </mat-list>
        </td-expansion-panel>
      </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-expansion-panel disableRipple>
              <ng-template td-expansion-panel-header>
                <mat-toolbar color="accent">
                  <span>Custom td-expansion-panel-header</span>
                </mat-toolbar>
              </ng-template>
              <td-expansion-summary>
                <div class="md-padding">
                  <div flex layout-gt-xs="row" layout-align="start center">
                    <span flex="30" class="mat-subheading-2">Owner</span>
                    <span flex="5" hide-xs><mat-icon class="tc-grey-500">chevron_right</mat-icon></span>
                    <span flex>John Jameson</span>
                  </div>
                  <div flex layout-gt-xs="row" layout-align="start center">
                    <span flex="30" class="mat-subheading-2">API Key</span>
                    <span flex="5" hide-xs><mat-icon class="tc-grey-500">chevron_right</mat-icon></span>
                    <span flex>1141e8e8-8d24-4956-93c2</span>
                  </div>
                </div>
              </td-expansion-summary>
              <mat-list>
                <h3 matSubheader>Metadata</h3>
                <mat-list-item>
                    <mat-icon matListAvatar>account_box</mat-icon>
                    <h4 matLine>John Jameson</h4>
                    <p matLine>Owner</p>
                </mat-list-item>
                <mat-divider matInset></mat-divider>
                <mat-list-item>
                    <mat-icon matListAvatar>description</mat-icon>
                    <h4 matLine>An item description</h4>
                    <p matLine>Description</p>
                </mat-list-item>
                <mat-divider matInset></mat-divider>
                <mat-list-item>
                    <mat-icon matListAvatar>vpn_key</mat-icon>
                    <h4 matLine>1141e8e8-8d24-4956-93c2</h4>
                    <p matLine>API Key</p>
                </mat-list-item>
              </mat-list>
            </td-expansion-panel>
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<td-readme-loader resourceUrl="platform/core/expansion-panel/README.md"></td-readme-loader>
