:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.td-draggable-md-navigator-window {
    .td-md-navigator-window-toolbar {
      cursor: move;
    }
  }
}

::ng-deep {
  .td-draggable-md-navigator-window-wrapper {
    > .mat-dialog-container {
      padding: 0;
    }
  }
}
