:host {
  margin-bottom: 104px;
}

.doc-nav ::ng-deep {
  padding-top: 24px;

  .doc-nav-section-label {
    padding: 12px 36px 0;

    &::before {
      content: '';
      width: 243px;
      height: 1px;
      background-color: #e0e0e0;
      display: block;
    }
  }

  .doc-nav-link {
    padding-left: 36px;
    margin-right: 24px;

    &.active .mdc-list-item__primary-text {
      // color: #005655 !important;
      font-weight: 400 !important;
    }
  }

  a.doc-nav-link {
    &::before {
      border-radius: 0 20px 20px 0;
    }

    &:hover {
      &::before {
        background-color: #0000000d;
        opacity: 1;
      }
    }
  }

  a.doc-nav-link.active {
    &::before {
      opacity: 1;
      background-color: #00969626;
    }
  }

  .mat-expansion-panel {
    border-radius: 0;
    margin-right: 16px;

    .mat-expansion-panel-header {
      font-size: var(--mdc-list-list-item-label-text-size, 16px);
      padding-right: 28px;
      border-radius: 0 20px 20px 0;
    }

    .mat-expansion-panel-body {
      padding-right: 0;
      padding-left: 0;
    }

    .mat-expansion-indicator::after {
      border-width: 0 1.5px 1.5px 0;
      padding: 2px;
      margin-bottom: 4px;
    }

    &.nested-expansion-panel {
      .mat-expansion-panel-body {
        padding-bottom: 0;
      }

      .mat-expansion-panel-header {
        padding-left: 36px;
      }
    }
  }
}
