<demo-component [demoId]="'message-demo-basic'" [demoTitle]="'
Basic'">
  <message-demo-basic></message-demo-basic>
</demo-component>
<demo-component [demoId]="'message-demo-action'" [demoTitle]="'Message Action'">
  <message-demo-action></message-demo-action>
</demo-component>
<demo-component [demoId]="'message-demo-color'" [demoTitle]="'Color Styling'">
  <message-demo-color></message-demo-color>
</demo-component>
<demo-component
  [demoId]="'message-demo-toggle-visibility'"
  [demoTitle]="'Manage Visibility'"
>
  <message-demo-toggle-visibility></message-demo-toggle-visibility>
</demo-component>
