<demo-component [demoId]="'markdown-demo-basic'" [demoTitle]="'Basic'">
  <markdown-demo-basic></markdown-demo-basic>
</demo-component>

<demo-component
  [demoId]="'markdown-demo-anchor-jumping'"
  [demoTitle]="'Anchor Jumping'"
>
  <markdown-demo-anchor-jumping></markdown-demo-anchor-jumping>
</demo-component>

<demo-component
  [demoId]="'markdown-demo-hosted-url'"
  [demoTitle]="'Hosted URL For Generating Absolute URLs'"
>
  <markdown-demo-hosted-url></markdown-demo-hosted-url>
</demo-component>

<demo-component
  [demoId]="'markdown-demo-youtube'"
  [demoTitle]="'YouTube video embedding'"
>
  <markdown-demo-youtube></markdown-demo-youtube>
</demo-component>
