<md-card>
  <md-card-title>Logo Placement</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <p class="md-body-1">Your company logo can be implemented with <code>md-icon</code>.</p>
    
    <p class="md-body-1">For example:</p>
    <td-highlight lang="html">
      <![CDATA[
        <md-icon class="md-icon-logo" svgIcon="assets:teradata"></md-icon>
      ]]>
    </td-highlight>
    <p class="md-body-1">The code above will output a 100x26px inline SVG:</p>
    <md-icon class="md-icon-logo" svgIcon="assets:teradata"></md-icon>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="primary" [routerLink]="['iconography']" class="text-upper">Iconography</a>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Toolbar Placement</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <td-layout-nav logo="assets:teradata" toolbarTitle="App Title">
    </td-layout-nav>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Sidenav Placement</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <md-sidenav-container>
      <md-sidenav opened="true" mode="side">
        <md-toolbar layout="row">
          <md-icon class="md-icon-logo" svgIcon="assets:teradata"></md-icon>
          <span flex>App Title</span>
        </md-toolbar>
        <div class="md-padding">
        <p>Sidenav content</p>
        </div>

      </md-sidenav>

      <div>
        <md-card class="md-padding">
          <p>Main Content</p>
          <p>Main Content</p>
          <button md-raised-button>Example Button</button>
        </md-card>
      </div>
    </md-sidenav-container>
  </md-card-content>
</md-card>