<mat-card>
  <mat-card-title>SVG Product Icons</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3 class="mat-title">Style</h3>
    <p class="mat-body-1">While Teradata doesn't have product logos, products do have illustrated vector icons.</p>
    <p class="mat-body-1">Product icons will be flat, angled, and incorporate arrows or movement into dimensionality.</p>
    <h4 class="mat-subheading-1">Examples</h4>
    <div layout="row">
      <div flex layout="column" layout-align="center center">
        <mat-icon class="mat-icon-lg fill-teal-700" svgIcon="assets:appcenter"></mat-icon>
        <div class="mat-subheading-1 push-top">AppCenter</div>
      </div>
      <div flex layout="column" layout-align="center center">
        <mat-icon class="mat-icon-lg fill-orange-700" svgIcon="assets:listener"></mat-icon>
        <div class="mat-subheading-1 push-top">Listener</div>
      </div>
      <div flex layout="column" layout-align="center center">
        <mat-icon class="mat-icon-lg fill-cyan-700" svgIcon="assets:querygrid"></mat-icon>
        <div class="mat-subheading-1 push-top">QueryGrid</div>
      </div>
    </div>
    <h3 class="mat-title">Usage</h3>
    <p class="mat-body-1">Use the <code>mat-icon</code> component to load an SVG instead of a typing font icon:</p>
    <td-highlight lang="html">
      <![CDATA[
        <mat-icon svgIcon="assets:appcenter"></mat-icon>
        /* to color an SVG icon use our utility material color fill class */
        <mat-icon class="fill-teal-700" svgIcon="assets:appcenter">/mat-icon>
      ]]>
    </td-highlight>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <span class="mat-caption">Teradata AppCenter, Teradata Listener & Teradata QuerGrid icons copyright Teradata. All rights reserved.</span>
  </mat-card-actions>
</mat-card>
