<md-card>
  <md-card-title>SVG Product Icons</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">Style</h3>
    <p class="md-body-1">While Teradata doesn't have product logos, products do have illustrated vector icons.</p>
    <p class="md-body-1">Product icons will be flat, angled, and incorporate arrows or movement into dimensionality.</p>
    <h4 class="md-subtitle">Examples</h4>
    <div layout="row">
      <div flex layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-teal-700" svgIcon="assets:appcenter"></md-icon>
        <div class="md-subtitle push-top">AppCenter</div>
      </div>
      <div flex layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-orange-700" svgIcon="assets:listener"></md-icon>
        <div class="md-subtitle push-top">Listener</div>
      </div>
      <div flex layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-cyan-700" svgIcon="assets:querygrid"></md-icon>
        <div class="md-subtitle push-top">QueryGrid</div>
      </div>
    </div>
    <h3 class="md-title">Usage</h3>
    <p class="md-body-1">Use the <code>md-icon</code> component to load an SVG instead of a typing font icon:</p>
    <td-highlight lang="html">
      <![CDATA[
        <md-icon svgIcon="assets:appcenter"></md-icon>
        /* to color an SVG icon use our utility material color fill class */
        <md-icon class="fill-teal-700" svgIcon="assets:appcenter">/md-icon>
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <span class="md-caption">Teradata AppCenter, Teradata Listener & Teradata QuerGrid icons copyright Teradata. All rights reserved.</span>
  </md-card-actions>
</md-card>
