<span class="td-data-table-heading">
  <md-icon 
    class="td-data-table-sort-icon" 
    *ngIf="sortable && numeric"
    [class.mat-asc]="(!(active) || isAscending())"
    [class.mat-desc]="(active && isDescending())">
    arrow_upward
  </md-icon>
  <span>
    <ng-content></ng-content>
  </span>
  <md-icon 
    class="td-data-table-sort-icon" 
    *ngIf="sortable && !numeric"
    [class.mat-asc]="(!(active) || isAscending())"
    [class.mat-desc]="(active && isDescending())">
    arrow_upward
  </md-icon>
</span>
