.margin {
  margin: -60px;
}

.mat-icon-logo {
  width: 88px;
}

.mat-icon-svg-lg {
  height: 60px;
  width: 60px;
  margin-left: 16px;
}

.mat-icon-svg-xxl {
  width: 90%;
  max-width: 352px;
  height: 90%;
}

.mat-icon-ux {
  width: 165px;
}

.max-width {
  max-width: 1056px;
  width: 100%;
}
@media (max-width: 799px) {
  .mat-icon-md {
    font-size: 50px;
  }

  .mat-icon-xl {
    font-size: 120px;
  }
}
@media (min-width: 800px) {
  .mat-icon-md {
    font-size: 70px;
  }

  .mat-icon-xl {
    font-size: 160px;
  }
}

.banner {
  background-image: url('/assets/images/banner-bgcs.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.banner-lg {
  background-size: 80%;
}

.icon-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.covalent-logo-xs {
  width: 192px;
  height: auto;
}
