<demo-component [demoId]="'notifications-demo-basic'" [demoTitle]="'Basic'">
  <notifications-demo-basic></notifications-demo-basic>
</demo-component>

<demo-component [demoId]="'notifications-demo-toolbar'" [demoTitle]="'Toolbar'">
  <notifications-demo-toolbar></notifications-demo-toolbar>
</demo-component>

<demo-component [demoId]="'notifications-demo-tabs'" [demoTitle]="'Tabs'">
  <notifications-demo-tabs></notifications-demo-tabs>
</demo-component>

<demo-component [demoId]="'notifications-demo-list'" [demoTitle]="'List'">
  <notifications-demo-list></notifications-demo-list>
</demo-component>
