<demo-component [demoId]="'notifications-demo-basic'">
    <notifications-demo-basic></notifications-demo-basic>
</demo-component>

<demo-component [demoId]="'notifications-demo-toolbar'">
 <notifications-demo-toolbar></notifications-demo-toolbar>
</demo-component>

<demo-component [demoId]="'notifications-demo-tabs'">
  <notifications-demo-tabs></notifications-demo-tabs>
</demo-component>

<demo-component [demoId]="'notifications-demo-list'">
  <notifications-demo-list></notifications-demo-list>
</demo-component>