<demo-component [demoId]="'notifications-demo-basic'" [demoTitle]="'Notifications demo'">
  <notifications-demo-basic></notifications-demo-basic>
</demo-component>

<demo-component [demoId]="'notifications-demo-toolbar'" [demoTitle]="'Notifications - toolbar demo'">
  <notifications-demo-toolbar></notifications-demo-toolbar>
</demo-component>

<demo-component [demoId]="'notifications-demo-tabs'" [demoTitle]="'Notifications - tabs demo'">
  <notifications-demo-tabs></notifications-demo-tabs>
</demo-component>

<demo-component [demoId]="'notifications-demo-list'" [demoTitle]="'Notifications - list demo'">
  <notifications-demo-list></notifications-demo-list>
</demo-component>