<md-card>
  <md-card-title>Minimum Demo</md-card-title>
  <md-card-subtitle>Minimum code for this layout with no wrapper</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'200px'">
    <td-layout-manage-list opened="true" mode="side">
      <md-toolbar td-sidenav-content></md-toolbar>
      <div td-sidenav-content>
        Sidenav content here
      </div>
      <md-toolbar></md-toolbar>
      Content goes here
    </td-layout-manage-list>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout-manage-list opened="true" mode="side">
          <md-toolbar td-sidenav-content></md-toolbar>
          <div td-sidenav-content>
            Sidenav content here
          </div>
          <md-toolbar></md-toolbar>
          Content goes here
        </td-layout-manage-list>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Basic Demo</md-card-title>
  <md-card-subtitle>Basic layout wrapper &amp; nav drawer</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a md-list-item><md-icon>home</md-icon>Home</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a md-list-item><md-icon>account_box</md-icon>Profile</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
          <md-icon>menu</md-icon>
        </button>
        <td-layout-manage-list opened="true" mode="side">
          <md-toolbar td-sidenav-content>Nav Title</md-toolbar>
          <div td-sidenav-content>
            Sidenav content here
          </div>
          <md-toolbar>
            <button md-button tdLayoutManageListToggle>
              Toggle
            </button>
            Content Title
          </md-toolbar>
          Content goes here
        </td-layout-manage-list>
      </td-layout-nav>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a md-list-item><md-icon>home</md-icon>Home</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a md-list-item><md-icon>account_box</md-icon>Profile</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
            <button md-icon-button td-menu-button tdLayoutToggle>
              <md-icon>menu</md-icon>
            </button>
            <td-layout-manage-list opened="true" mode="side">
              <md-toolbar td-sidenav-content>Nav Title</md-toolbar>
              <div td-sidenav-content>
                Sidenav content here
              </div>
              <md-toolbar>
                <button md-button tdLayoutManageListToggle>
                  Toggle
                </button>
                Content Title
              </md-toolbar>
              Content goes here
            </td-layout-manage-list>
          </td-layout-nav>
        </td-layout>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Full Demo</md-card-title>
  <md-card-subtitle>Full working code with all options and templates</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a *ngFor="let item of routes" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav color="accent">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
          </button>
          <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
          <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
          <span flex></span>
          <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
          <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
        </div>
        <td-layout-manage-list #manageList 
                [opened]="media.registerQuery('gt-sm') | async"
                [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
          <md-toolbar td-sidenav-content>
            <span>Optional Title</span>
          </md-toolbar>
          <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
            <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
              <a md-list-item>
                <md-icon mdListIcon>{{item.icon}}</md-icon> {{item.title}}
              </a>
            </ng-template>
          </md-nav-list>
          <md-toolbar>
            <div layout="row" layout-align="start center" flex>
              <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
                <md-icon>arrow_back</md-icon>
              </button>
              <span>Content Title</span>
              <span flex></span>
              <button md-icon-button><md-icon>settings</md-icon></button>
            </div>
          </md-toolbar>
          <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
            <div flex-gt-sm="60">
              <md-card>
                <md-card-title>Products Sales</md-card-title>
                <md-card-subtitle>usage stats for our products</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                  card content
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                  <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                    <span>View More</span>
                  </a>
                </md-card-actions>
              </md-card>
              <md-card>
                <md-card-title>Customer Activity</md-card-title>
                <md-card-subtitle>Recent activity from select members</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                  card content
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                  <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                    <span>View More</span>
                  </a>
                </md-card-actions>
              </md-card>
            </div>
            <div flex-gt-sm="40">
              <md-card>
                <md-card-title>Alerts</md-card-title>
                <md-card-subtitle>Items requiring attention</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                  card content
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                  <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                    <span>View More</span>
                  </a>
                </md-card-actions>
              </md-card>
              <md-card>
                <md-card-title>Favorites</md-card-title>
                <md-card-subtitle>Your favorite products</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                  card content
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                  <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                    <span>View More</span>
                  </a>
                </md-card-actions>
              </md-card>
            </div>
          </div>
          <td-layout-footer-inner>
            Optional inner footer
          </td-layout-footer-inner>
        </td-layout-manage-list>
        <td-layout-footer>
          <div layout="row" layout-align="start center">
            <span class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
          </div>
        </td-layout-footer>
      </td-layout-nav>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a *ngFor="let item of routes" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav color="accent">
            <div td-toolbar-content layout="row" layout-align="start center" flex>
              <button md-icon-button td-menu-button tdLayoutToggle>
                <md-icon>menu</md-icon>
              </button>
              <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
              <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
              <span flex></span>
              <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
              <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
            </div>
            <td-layout-manage-list #manageList 
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
              <md-toolbar td-sidenav-content>
                <span>Optional Title</span>
              </md-toolbar>
              <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
                <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
                  <a md-list-item>
                    <md-icon mdListIcon>{ {item.icon} }</md-icon> { {item.title} }
                  </a>
                </ng-template>
              </md-nav-list>
              <md-toolbar>
                <div layout="row" layout-align="start center" flex>
                  <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
                    <md-icon>arrow_back</md-icon>
                  </button>
                  <span>Content Title</span>
                  <span flex></span>
                  <button md-icon-button><md-icon>settings</md-icon></button>
                </div>
              </md-toolbar>
              <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
                <div flex-gt-sm="60">
                  <md-card>
                    <md-card-title>Products Sales</md-card-title>
                    <md-card-subtitle>usage stats for our products</md-card-subtitle>
                    <md-divider></md-divider>
                    <md-card-content>
                      card content
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions>
                      <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                        <span>View More</span>
                      </a>
                    </md-card-actions>
                  </md-card>
                  <md-card>
                    <md-card-title>Customer Activity</md-card-title>
                    <md-card-subtitle>Recent activity from select members</md-card-subtitle>
                    <md-divider></md-divider>
                    <md-card-content>
                      card content
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions>
                      <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                        <span>View More</span>
                      </a>
                    </md-card-actions>
                  </md-card>
                </div>
                <div flex-gt-sm="40">
                  <md-card>
                    <md-card-title>Alerts</md-card-title>
                    <md-card-subtitle>Items requiring attention</md-card-subtitle>
                    <md-divider></md-divider>
                    <md-card-content>
                      card content
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions>
                      <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                        <span>View More</span>
                      </a>
                    </md-card-actions>
                  </md-card>
                  <md-card>
                    <md-card-title>Favorites</md-card-title>
                    <md-card-subtitle>Your favorite products</md-card-subtitle>
                    <md-divider></md-divider>
                    <md-card-content>
                      card content
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions>
                      <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                        <span>View More</span>
                      </a>
                    </md-card-actions>
                  </md-card>
                </div>
              </div>
              <td-layout-footer-inner>
                Optional inner footer
              </td-layout-footer-inner>
            </td-layout-manage-list>
            <td-layout-footer>
              <div layout="row" layout-align="start center">
                <span class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
              </div>
            </td-layout-footer>
          </td-layout-nav>
        </td-layout>
      ]]>
    </td-highlight>
    <h3 class="md-title">TypeScript:</h3>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Component, AfterViewInit, ChangeDetectionStrategy, ChangeDetectorRef } from '@angular/core';
        import { TdMediaService } from '@covalent/core';

        @Component({
          changeDetection: ChangeDetectionStrategy.OnPush,
          selector: 'layouts-manage-list',
          styleUrls: ['./manage-list.component.scss'],
          templateUrl: './manage-list.component.html',
          animations: [fadeAnimation],
        })
        export class ManageListComponent implements AfterViewInit {

          routes: Object[] = [{
              icon: 'home',
              route: '.',
              title: 'Home',
            }, {
              icon: 'library_books',
              route: '.',
              title: 'Documentation',
            }, {
              icon: 'color_lens',
              route: '.',
              title: 'Style Guide',
            }, {
              icon: 'view_quilt',
              route: '.',
              title: 'Layouts',
            }, {
              icon: 'picture_in_picture',
              route: '.',
              title: 'Components & Addons',
            },
          ];
          usermenu: Object[] = [{
              icon: 'swap_horiz',
              route: '.',
              title: 'Switch account',
            }, {
              icon: 'tune',
              route: '.',
              title: 'Account settings',
            }, {
              icon: 'exit_to_app',
              route: '.',
              title: 'Sign out',
            },
          ];
          navmenu: Object[] = [{
              icon: 'looks_one',
              route: '.',
              title: 'First item',
              description: 'Item description',
            }, {
              icon: 'looks_two',
              route: '.',
              title: 'Second item',
              description: 'Item description',
            }, {
              icon: 'looks_3',
              route: '.',
              title: 'Third item',
              description: 'Item description',
            }, {
              icon: 'looks_4',
              route: '.',
              title: 'Fourth item',
              description: 'Item description',
            }, {
              icon: 'looks_5',
              route: '.',
              title: 'Fifth item',
              description: 'Item description',
            },
          ];

          constructor(private _changeDetectorRef: ChangeDetectorRef,
                      public media: TdMediaService) {}

          ngAfterViewInit(): void {
            // broadcast to all listener observables when loading the page
            setTimeout(() => { // workaround since MdSidenav has issues redrawing at the beggining
              this.media.broadcast();
              this._changeDetectorRef.detectChanges();
            });
          }

        }

      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<td-readme-loader resourceUrl="platform/core/layout/layout-manage-list/README.md"></td-readme-loader>