<h3>Test Bed</h3>

<h4>Sandbox Links:</h4>

<div class="pad td-skeleton-outer-container">
  <div class="inner">
    <td-loading-mask
      [animated]="true"
      [borderRadius]="'3px'"
      [width]="'180px'"
      class="push-block-end-sm fast"
    ></td-loading-mask>
    <td-loading-mask
      [animated]="true"
      [height]="'14px'"
      [borderRadius]="'3px'"
      [width]="'100px'"
      class="push-block-end-sm fast"
    ></td-loading-mask>
    <td-loading-mask
      [animated]="true"
      [height]="'14px'"
      [borderRadius]="'3px'"
      [width]="'80px'"
      class="push-block-end-md fast"
    ></td-loading-mask>
  </div>
</div>

<td-nav-links
  [style.width.px]="400"
  [links]="[
    {
      label: 'expansion',
      collapsable: true,
      children: [
        {
          label: 'link',
          link: { href: '/', openInNewTab: true },
          icon: { name: 'apps' }
        }
      ]
    },
    {
      label: 'header',
      children: [
        {
          label: 'link',
          link: { href: '/' },
          icon: { name: 'apps' }
        }
      ]
    },
    {
      label: 'link',
      link: { href: '/' },
      icon: { name: 'apps' },
      children: [
        {
          label: 'header',
          link: { href: '/', openInNewTab: true },
          icon: { name: 'apps' }
        },
        {
          label: 'link',
          link: { href: '/' },
          icon: { name: 'apps' }
        }
      ]
    }
  ]"
></td-nav-links>
