.td-skeleton-container {
  min-height: 400px;
  width: 400px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto 70px;
  flex-direction: column;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

.fast::after {
  animation-duration: 1.3s !important;
}
