<!-- <td-markdown-loader
[url]="'https://raw.githubusercontent.com/Teradata/covalent/develop/docs/DEVELOPER_GUIDE.md'" [httpOptions]="httpOptions"
[anchor]="anchor"
></td-markdown-loader> -->

<div class="sample-wrapper" [style.height.px]="300">
  <td-help
    [items]="multipleItems"
    >
  </td-help>
</div>

<!-- <td-help-window
  [items]="multipleItems"
  [draggable]="false"
>
</td-help-window> -->

<!--Cursor-->
<!-- <td-help-window
  [items]="multipleItems"
  [draggable]="true"
>
</td-help-window> -->

<!-- <button
  *ngIf="showOpenButton"
  mat-icon-button
  color="accent"
  (click)="openDialog()"
  [style.position]="'fixed'"
  [style.right]="'0'"
>
  <mat-icon>help</mat-icon>
</button>

<h1>
  Help component demo
</h1>

<h2>One item</h2>
<button mat-raised-button color="primary" (click)="use(oneItem)">Try</button>
<td-highlight [content]="prettyJson(oneItem)"></td-highlight>

<h2>Multiple items</h2>
<button mat-raised-button color="primary" (click)="use(multipleItems)">Try</button>
<td-highlight [content]="prettyJson(multipleItems)"></td-highlight>

<h2>One item with anchor</h2>
<button mat-raised-button color="primary" (click)="use(oneItemWithAnchor)">Try</button>
<td-highlight [content]="prettyJson(oneItemWithAnchor)"></td-highlight>

<h2>Nested items</h2>
<button mat-raised-button color="primary" (click)="use(nestedItems)">Try</button>
<td-highlight [content]="prettyJson(nestedItems)"></td-highlight>

<h2>Try your own</h2>
<mat-form-field  [style.width]="'100%'">
  <textarea
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="5"
    [(ngModel)]="userInput"
  ></textarea>
</mat-form-field>
<br />
<button mat-raised-button color="primary" (click)="tryUserInput()">Try</button> -->
