<div layout="row" layout-align="end center" class="md-caption td-paging-bar">
  <span class="td-paging-bar-per-page">
    Rows per page:
  </span>
  <button md-icon-button [md-menu-trigger-for]="pageSizeMenu">
    <span class="td-paging-size">{{pageSize}}</span> <md-icon>arrow_drop_down</md-icon>
  </button>
  <span class="td-paging-bar-ranges">
    {{range}} <span>of</span> {{total}}
  </span>
  <div class="td-paging-bar-navigation">
    <button md-icon-button [disabled]="isMinPage()" (click)="firstPage()">
      <md-icon>skip_previous</md-icon>
    </button>
    <button md-icon-button [disabled]="isMinPage()" (click)="prevPage()">
      <md-icon>navigate_before</md-icon>
    </button>
    <button md-icon-button [disabled]="isMaxPage()" (click)="nextPage()">
      <md-icon>navigate_next</md-icon>
    </button>
    <button md-icon-button [disabled]="isMaxPage()" (click)="lastPage()">
      <md-icon>skip_next</md-icon>
    </button>
  </div>
</div>
<md-menu x-position="before" #pageSizeMenu="mdMenu">
  <template let-size ngFor [ngForOf]="pageSizes">
    <button md-menu-item (click)="pageSize = size">{{size}}</button>
  </template>
</md-menu>