<td-layout-nav #root="$implicit" dir="ltr" logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
    <td-toolbar (changeDir)="root.dir = $event" td-toolbar-content flex layout="row"></td-toolbar>
    <section class="bgc-blue-grey-600 md-whiteframe-z1">
        <div layout-gt-xs="row" layout-align="center center">
            <div flex-gt-xs="80" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-lg']">
                <h2 class="md-display-1 push-bottom-none tc-blue-grey-50">Covalent Templates</h2>
                <h3 class="md-headline tc-blue-grey-200">Starter example templates for your application</h3>
            </div>
        </div>
    </section>
    <section>
        <div layout-gt-xs="row" layout-align="center center">
            <div flex-gt-xs="80" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-lg']">
                <md-grid-list cols="2" gutterSize="20" rowHeight="300px">
                    <md-grid-tile *ngFor="let template of templates" class="bgc-{{template.color}} md-whiteframe-z1">
                        <a href="{{template.link}}" target="_blank">
                            <img src="app/assets/images/templates/{{template.image}}.png">
                            <md-grid-tile-footer>
                                <h3 md-line>{{template.title}}</h3>
                                <span md-line>{{template.description}}</span>
                                <md-icon>launch</md-icon>
                            </md-grid-tile-footer>
                        </a>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </section>
</td-layout-nav>
