<td-layout-nav #root="$implicit" dir="ltr" logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
    <td-toolbar (changeDir)="root.dir = $event" td-toolbar-content flex layout="row"></td-toolbar>
    <section class="bgc-blue-grey-100 pad">
        <md-card>
            <md-card-header>
                <md-icon md-card-avatar class="tc-blue-700">mail</md-icon>
                <md-card-title>Email App</md-card-title>
                <md-card-subtitle>template for a mail applications</md-card-subtitle>
            </md-card-header>
            <md-divider></md-divider>
            <div class="pad relative" style="height:600px">
                <iframe style="width: 100%; height: 600px"
                        src="https://embed.plnkr.co/Nfngf7UnaDgPRKMH1sSP/?show=preview"
                        frameborder="0"
                        allowfullscren="allowfullscren">
                </iframe>
            </div>
            <md-divider></md-divider>
            <md-card-actions>
                <a href="http://plnkr.co/edit/Nfngf7UnaDgPRKMH1sSP" target="_blank" md-button color="accent">VIEW CODE</a>
            </md-card-actions>
        </md-card>
    </section>
    <section class="bgc-blue-grey-200 pad">
        <md-card>
            <md-card-header>
                <md-icon md-card-avatar class="tc-indigo-700">comment</md-icon>
                <md-card-title>Slack (Chat) App</md-card-title>
                <md-card-subtitle>chat applications like Slack</md-card-subtitle>
            </md-card-header>
            <md-divider></md-divider>
            <div class="pad">
                <iframe style="width: 100%; height: 600px"
                        src="https://embed.plnkr.co/yI61h9yLgjh0UnuWnSZT/?show=preview"
                        frameborder="0"
                        allowfullscren="allowfullscren">
                </iframe>
            </div>
            <md-divider></md-divider>
            <md-card-actions>
                <a href="http://plnkr.co/edit/yI61h9yLgjh0UnuWnSZT" target="_blank" md-button color="accent">VIEW CODE</a>
            </md-card-actions>
        </md-card>
    </section>
    <section class="bgc-blue-grey-100 pad">
        <md-card>
            <md-card-header>
                <md-icon md-card-avatar class="tc-blue-700">contacts</md-icon>
                <md-card-title>Contacts App</md-card-title>
                <md-card-subtitle>contact list app with inner nav</md-card-subtitle>
            </md-card-header>
            <md-divider></md-divider>
            <div class="pad">
                <iframe style="width: 100%; height: 600px"
                        src="https://embed.plnkr.co/wtxo9AoZTi6DXJXrxIX4/?show=preview"
                        frameborder="0"
                        allowfullscren="allowfullscren">
                </iframe>
            </div>
            <md-divider></md-divider>
            <md-card-actions>
                <a href="http://plnkr.co/edit/wtxo9AoZTi6DXJXrxIX4" target="_blank" md-button color="accent">VIEW CODE</a>
            </md-card-actions>
        </md-card>
    </section>
    <section class="bgc-blue-grey-200 pad">
        <md-card>
            <md-card-header>
                <md-icon md-card-avatar class="tc-orange-700">view_day</md-icon>
                <md-card-title>Landing Page</md-card-title>
                <md-card-subtitle>website landing page template</md-card-subtitle>
            </md-card-header>
            <md-divider></md-divider>
            <div class="pad">
                <iframe style="width: 100%; height: 600px"
                        src="https://embed.plnkr.co/imBanFIiKDgBLK0aH3Dr/?show=preview"
                        frameborder="0"
                        allowfullscren="allowfullscren">
                </iframe>
            </div>
            <md-divider></md-divider>
            <md-card-actions>
                <a href="http://plnkr.co/edit/imBanFIiKDgBLK0aH3Dr" target="_blank" md-button color="accent">VIEW CODE</a>
            </md-card-actions>
        </md-card>
    </section>
</td-layout-nav>
