<td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>
    <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
    <section class="bgc-blue-grey-600 md-whiteframe-z1">
        <div layout-gt-xs="row" layout-align="center center">
            <div flex-gt-xs="80" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-lg']">
                <h2 class="mat-display-1 push-bottom-none tc-blue-grey-50">Covalent Templates</h2>
                <h3 class="mat-headline push-top-xs tc-blue-grey-200">Example starter templates for your application</h3>
            </div>
        </div>
    </section>
    <section>
        <div layout-gt-xs="row" layout-align="center center">
            <div flex-gt-xs="80" class="pad" tdMediaToggle="gt-sm" [mediaClasses]="['pad-lg']">
                <mat-grid-list [cols]="(media.registerQuery('gt-xs') | async) ? 2 : 1" [gutterSize]="(media.registerQuery('gt-sm') | async) ? 25 : 10" [rowHeight]="(media.registerQuery('gt-sm') | async) ? '335px' : '240px'">
                    <mat-grid-tile *ngFor="let template of templatesObs | async" matTooltip="View Template" matTooltipPosition="above" matRipple class="md-whiteframe-z3">
                        <a [href]="template.plnkr" target="_blank" [class]="'bgc-' + template.color">
                            <img alt="{{template.title}}" [src]="template.img">
                            <mat-grid-tile-footer>
                                <h3 matLine>{{template.title}}</h3>
                                <span matLine>{{template.description}}</span>
                                <mat-icon>launch</mat-icon>
                            </mat-grid-tile-footer>
                        </a>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </section>
</td-layout-nav>
