<button *ngIf="!trigger.text" mat-icon-button id="{{ trigger.id }}" [matMenuTriggerFor]="menu">
  <mat-icon *ngIf="trigger.svgIcon" [class]="trigger.iconClasses" [svgIcon]="trigger.svgIcon"></mat-icon>
  <mat-icon *ngIf="trigger.icon" [class]="trigger.iconClasses">{{ trigger.icon }}</mat-icon>
</button>
<button *ngIf="trigger.text" mat-button id="{{ trigger.id }}" [matMenuTriggerFor]="menu">
  <mat-icon *ngIf="trigger.svgIcon" [class]="trigger.iconClasses" [svgIcon]="trigger.svgIcon"></mat-icon>
  <mat-icon *ngIf="trigger.icon" [class]="trigger.iconClasses">{{ trigger.icon }}</mat-icon>
  <span *ngIf="trigger.text">
    {{ trigger.text }}
  </span>
</button>

<mat-menu #menu="matMenu">
  <ng-template let-item let-index="index" ngFor [ngForOf]="items">
    <td-dynamic-menu-trigger
      *ngIf="item.children && item.children.length > 0"
      [item]="item"
      (itemClicked)="emitClicked($event)"
    ></td-dynamic-menu-trigger>
    <td-dynamic-menu-label
      *ngIf="(!item.children || item.children.length === 0) && !item.link && !item.action"
      [item]="item"
    ></td-dynamic-menu-label>
    <td-dynamic-menu-link
      *ngIf="(!item.children || item.children.length === 0) && (item.link || item.action)"
      [item]="item"
      (itemClicked)="emitClicked($event)"
    ></td-dynamic-menu-link>
  </ng-template>
</mat-menu>
