@import '~@angular/material/core/theming/theming';

@mixin covalent-markdown-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  td-markdown {
    a {
      color: md-color($accent);
    }
    h1, h2 {
      border-bottom-color: md-color($foreground, divider);
    }
    h3,h4,h5,h6 {
      color: md-color($foreground, secondary-text);
    }
    hr {
      border-color: md-color($foreground, divider);
    }
    blockquote {
      color: md-color($foreground, secondary-text);
      border-left-color: md-color($foreground, divider);
    }
    table {
      th,
      td {
        border-color: md-color($foreground, dividers);
      }
      tr {
        border-top-color: md-color($foreground, dividers);
        &:nth-child(2n) {
          background-color: md-color($foreground, dividers);
        }
      }
    }
    img {
      background-color: md-color($background, card);
    }
    code {
      background-color: md-color($background, hover);
    }
    .highlight pre,
    pre {
      background-color: md-color($background, app-bar);
    }
    kbd {
      color: md-color($foreground, secondary-text);
      background-color: md-color($background, app-bar);
      border-color: md-color($foreground, divider);
      border-bottom-color: md-color($foreground, disabled);
    }
  }
}