<td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 1</div>
    <div>Demo 2</div>
    <div>Demo 3</div>
    <div>Demo 4</div>
  </div>
</td-expansion-panel>
<td-expansion-panel label="Another label goes here" [disabled]="disabled">
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 5</div>
    <div>Demo 6</div>
    <div>Demo 7</div>
    <div>Demo 8</div>
  </div>
</td-expansion-panel>
