<div class="td-search-input" layout="row" layout-align="end center">
  <md-form-field [class.mat-hide-underline]="!showUnderline" floatPlaceholder="never" flex>
    <input mdInput
            #searchElement
            type="search"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            (blur)="handleBlur()"
            (search)="stopPropagation($event)"
            (keyup.enter)="handleSearch($event)"/>
  </md-form-field>
  <button md-icon-button
          type="button"
          [@searchState]="(searchElement.value ?  'show' : (isRTL ? 'hide-left' : 'hide-right'))"
          (click)="clearSearch()"
          flex="none">
    <md-icon>cancel</md-icon>
  </button>
</div>