<div class="td-search-input">
  <mat-form-field class="td-search-input-field"
                  [class.mat-hide-underline]="!showUnderline"
                  [appearance]="appearance"
                  floatLabel="never">
    <input matInput
            #searchElement
            type="search"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            (blur)="handleBlur()"
            (search)="stopPropagation($event)"
            (keyup.enter)="handleSearch($event)"/>
    <span matSuffix *ngIf="appearance === 'fill' || appearance === 'outline' || appearance === 'standard'">
      <ng-template
        [ngTemplateOutlet]="clearButton">
      </ng-template>
    </span>
  </mat-form-field>
  <ng-template
    *ngIf="!appearance || appearance === 'legacy'"
    [ngTemplateOutlet]="clearButton">
  </ng-template>
</div>
<ng-template #clearButton>
  <button mat-icon-button
          class="td-search-input-clear"
          type="button"
          [@searchState]="(searchElement.value ?  'show' : (isRTL ? 'hide-left' : 'hide-right'))"
          (click)="clearSearch()">
    <mat-icon>{{clearIcon}}</mat-icon>
  </button>
</ng-template>
