/**
* Colors
*/

// Customer Teradata brand palette
// Custom orange contrast
$td-orange: (
  100: #ffcfb3,
  200: #ffaf81,
  300: #ff8f4e,
  400: #ff7728,
  500: #ff5f02,
  600: #f05800,
  700: #e54900,
  800: #d83b03,
  900: #c23200,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
  ),
);
$td-slate: (
  50: #e3e7e8,
  100: #c9cfd1,
  200: #afb6b9,
  300: #959ea2,
  400: #7b858a,
  500: #616d73,
  600: #57646b,
  700: #4d5b62,
  800: #43515a,
  900: #394851,
  1000: #2e3d42,
  1100: #28353b,
  1200: #222e33,
  1300: #1f282e,
  1400: #1a2126,
  1500: #161c1f,
  1600: #14171a,
  1700: #101314,
  1800: #0c0e0f,
  1900: #060708,
  2000: #020203,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    1100: $white-87-opacity,
    1200: $white-87-opacity,
    1300: $white-87-opacity,
    1400: $white-87-opacity,
    1500: $white-87-opacity,
    1600: $white-87-opacity,
    1700: $white-87-opacity,
    1800: $white-87-opacity,
    1900: $white-87-opacity,
    2000: $white-87-opacity,
  ),
);
$td-yellow: (
  50: #fff4df,
  100: #fff4df,
  200: #fee9c0,
  300: #fee9c0,
  400: #fedea0,
  500: #fedea0,
  600: #fdd381,
  700: #fdd381,
  800: #fec64d,
  900: #fec64d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
  ),
);
$td-teal: (
  50: #def9f8,
  100: #b2ebea,
  200: #85dddc,
  300: #59cecd,
  400: #2cc0bf,
  500: #00b2b1,
  600: #00a2a2,
  700: #009392,
  800: #008383,
  900: #007373,
  1000: #016b6b,
  1100: #036464,
  1200: #045c5c,
  1300: #055454,
  1400: #074d4d,
  1500: #084545,
  1600: #0a3e3e,
  1700: #0b3636,
  1800: #0c2e2e,
  1900: #0e2727,
  2000: #0f1f1f,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    1100: $white-87-opacity,
    1200: $white-87-opacity,
    1300: $white-87-opacity,
    1400: $white-87-opacity,
    1500: $white-87-opacity,
    1600: $white-87-opacity,
    1700: $white-87-opacity,
    1800: $white-87-opacity,
    1900: $white-87-opacity,
    2000: $white-87-opacity,
  ),
);
$td-blue: (
  50: #d1eaf4,
  100: #d1eaf4,
  200: #a4d6e8,
  300: #a4d6e8,
  400: #76c1dd,
  500: #76c1dd,
  600: #49add1,
  700: #49add1,
  800: #0098c9,
  900: #0098c9,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
  ),
);

$td-positive: (
  foreground-light: mat-color($mat-green, 700),
  foreground-dark: mat-color($mat-green, 300),
  background-light: mat-color($mat-green, 300),
  background-dark: mat-color($mat-green, 300),
);
$td-caution: (
  foreground-light: mat-color($mat-amber, 800),
  foreground-dark: mat-color($mat-orange, 300),
  background-light: mat-color($mat-orange, 300),
  background-dark: mat-color($mat-orange, 300),
);
$td-negative: (
  foreground-light: mat-color($mat-red, 900),
  foreground-dark: mat-color($mat-red, 300),
  background-light: mat-color($mat-red, 300),
  background-dark: mat-color($mat-red, 300),
);
$td-neutral: (
  foreground-light: mat-color($mat-grey, 800),
  foreground-dark: mat-color($mat-grey, 300),
  background-light: mat-color($mat-grey, 300),
  background-dark: mat-color($mat-grey, 300),
);
$td-emphasis1: (
  foreground-light: mat-color($mat-cyan, 800),
  foreground-dark: mat-color($mat-cyan, 200),
  background-light: mat-color($mat-cyan, 200),
  background-dark: mat-color($mat-cyan, 200),
);
$td-emphasis2: (
  foreground-light: mat-color($mat-blue-grey, 600),
  foreground-dark: mat-color($mat-blue-grey, 200),
  background-light: mat-color($mat-blue-grey, 200),
  background-dark: mat-color($mat-blue-grey, 200),
);

// Background palette for light themes.
$td-light-theme-background: (
  status-bar: mat-color($mat-grey, 300),
  app-bar: mat-color($mat-grey, 50),
  background: mat-color($mat-grey, 100),
  canvas: mat-color($mat-grey, 200),
  card: white /*** card color = surface color ***/,
  dialog: white,
  hover: rgba(0, 0, 0, 4%),
  disabled-button: rgba(mat-color($mat-grey, 400), 0.1),
  raised-button: white,
  focused-button: rgba(0, 0, 0, 12%),
  selected-button: #e0e0e0,
  selected-disabled-button: #bdbdbd,
  disabled-button-toggle: #eeeeee,
  unselected-chip: mat-color($mat-grey, 400),
  disabled-list-option: #eeeeee,
  tooltip: #616161,
  overlay: rgba(#000000, 0.4),
  accent: mat-color($td-teal, 200),
  accent-highlight: rgba(mat-color($td-teal, 200), 0.1),
  accent-highlight-hover: rgba(mat-color($td-teal, 200), 0.2),
  emphasis: mat-color($mat-blue-grey, 200),
  emphasis-highlight: rgba(mat-color($mat-blue-grey, 200), 0.1),
  emphasis-highlight-hover: rgba(mat-color($mat-blue-grey, 200), 0.2),
  caution: mat-color($mat-orange, 300),
  caution-highlight: rgba(mat-color($mat-orange, 300), 0.1),
  caution-highlight-hover: rgba(mat-color($mat-orange, 300), 0.2),
  negative: mat-color($mat-red, 300),
  negative-highlight: rgba(mat-color($mat-red, 300), 0.1),
  negative-highlight-hover: rgba(mat-color($mat-red, 300), 0.2),
  neutral: mat-color($mat-grey, 400),
  neutral-highlight: rgba(mat-color($mat-grey, 400), 0.04),
  neutral-highlight-hover: rgba(mat-color($mat-grey, 400), 0.08),
  positive: mat-color($mat-green, 200),
  positive-highlight: rgba(mat-color($mat-green, 200), 0.1),
  positive-highlight-hover: rgba(mat-color($mat-green, 200), 0.2),
  primary: mat-color($td-slate, 200),
  primary-highlight: rgba(mat-color($td-slate, 500), 0.04),
  primary-highlight-hover: rgba(mat-color($td-slate, 500), 0.08),
);

// Foreground palette for light themes.
$td-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  accent: mat-color($td-teal, 900),
  emphasis: mat-color($mat-blue-grey, 600),
  caution: mat-color($mat-amber, 800),
  negative: mat-color($mat-red, 900),
  neutral: mat-color($mat-grey, 400),
  positive: mat-color($mat-green, 700),
  primary: mat-color($td-slate, 800),
);

// Background palette for dark themes.
$td-dark-theme-background: (
  status-bar: black,
  app-bar: mat-color($td-slate, 1300),
  background: mat-color($td-slate, 1500),
  canvas: mat-color($td-slate, 1700),
  card: mat-color($td-slate, 1100) /*** card color = surface color ***/,
  dialog: mat-color($td-slate, 1100),
  hover: rgba(255, 255, 255, 4%),
  disabled-button: rgba(mat-color($td-slate, 800), 0.4),
  raised-button: mat-color($td-slate, 800),
  focused-button: rgba(255, 255, 255, 12%),
  selected-button: #212121,
  selected-disabled-button: mat-color($td-slate, 800),
  disabled-button-toggle: black,
  unselected-chip: mat-color($td-slate, 800),
  disabled-list-option: black,
  tooltip: #616161,
  overlay: rgba(0, 0, 0, 40%),
  accent: mat-color($td-teal, 1200),
  accent-highlight: rgba(mat-color($td-teal, 1200), 0.4),
  accent-highlight-hover: rgba(mat-color($td-teal, 1200), 0.6),
  emphasis: #4f5558,
  emphasis-highlight: rgba(mat-color($td-slate, 200), 0.4),
  emphasis-highlight-hover: rgba(mat-color($td-slate, 200), 0.6),
  caution: #704c16,
  caution-highlight: rgba(#704c16, 0.4),
  caution-highlight-hover: rgba(#704c16, 0.6),
  negative: #883e32,
  negative-highlight: rgba(#883e32, 0.4),
  negative-highlight-hover: rgba(#883e32, 0.6),
  neutral: mat-color($td-slate, 800),
  neutral-highlight: rgba(mat-color($td-slate, 800), 0.4),
  neutral-highlight-hover: rgba(mat-color($td-slate, 800), 0.6),
  positive: #336033,
  positive-highlight: rgba(#336033, 0.4),
  positive-highlight-hover: rgba(#336033, 0.6),
  primary: mat-color($td-slate, 900),
  primary-highlight: rgba(mat-color($td-slate, 900), 0.4),
  primary-highlight-hover: rgba(mat-color($td-slate, 900), 0.6),
);

// Foreground palette for dark themes.
$td-dark-theme-foreground: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  accent: mat-color($td-teal, 300),
  emphasis: mat-color($mat-blue-grey, 200),
  caution: mat-color($mat-orange, 300),
  negative: mat-color($mat-red, 400),
  neutral: rgba(white, 0.87),
  positive: mat-color($mat-green, 300),
  primary: mat-color($td-slate, 200),
);

body {
  // Slate
  .bgc-td-slate,
  .bgc-td-slate-900,
  .bgc-td-slate-800 {
    background-color: mat-color($td-slate, 800);
  }

  .bgc-td-slate-700,
  .bgc-td-slate-600 {
    background-color: mat-color($td-slate, 600);
  }

  .bgc-td-slate-500,
  .bgc-td-slate-400 {
    background-color: mat-color($td-slate, 400);
  }

  .bgc-td-slate-300,
  .bgc-td-slate-200 {
    background-color: mat-color($td-slate, 200);
  }

  .bgc-td-slate-100,
  .bgc-td-slate-50 {
    background-color: mat-color($td-slate, 50);
  }

  .tc-td-slate,
  .tc-td-slate-900,
  .tc-td-slate-800 {
    color: mat-color($td-slate, 800);
  }

  .tc-td-slate-700,
  .tc-td-slate-600 {
    color: mat-color($td-slate, 600);
  }

  .tc-td-slate-500,
  .tc-td-slate-400 {
    color: mat-color($td-slate, 400);
  }

  .tc-td-slate-300,
  .tc-td-slate-200 {
    color: mat-color($td-slate, 200);
  }

  .tc-td-slate-100,
  .tc-td-slate-50 {
    color: mat-color($td-slate, 50);
  }

  .fill-td-slate,
  .fill-td-slate-900,
  .fill-td-slate-800 {
    fill: mat-color($td-slate, 800);
  }

  .fill-td-slate-700,
  .fill-td-slate-600 {
    fill: mat-color($td-slate, 600);
  }

  .fill-td-slate-500,
  .fill-td-slate-400 {
    fill: mat-color($td-slate, 400);
  }

  .fill-td-slate-300,
  .fill-td-slate-200 {
    fill: mat-color($td-slate, 200);
  }

  .fill-td-slate-100,
  .fill-td-slate-50 {
    fill: mat-color($td-slate, 50);
  }
  // Orange
  .bgc-td-orange,
  .bgc-td-orange-900,
  .bgc-td-orange-800 {
    background-color: mat-color($td-orange, 800);
  }

  .bgc-td-orange-700,
  .bgc-td-orange-600 {
    background-color: mat-color($td-orange, 600);
  }

  .bgc-td-orange-500,
  .bgc-td-orange-400 {
    background-color: mat-color($td-orange, 400);
  }

  .bgc-td-orange-300,
  .bgc-td-orange-200 {
    background-color: mat-color($td-orange, 200);
  }

  .bgc-td-orange-100,
  .bgc-td-orange-50 {
    background-color: mat-color($td-orange, 50);
  }

  .tc-td-orange,
  .tc-td-orange-900,
  .tc-td-orange-800 {
    color: mat-color($td-orange, 800);
  }

  .tc-td-orange-700,
  .tc-td-orange-600 {
    color: mat-color($td-orange, 600);
  }

  .tc-td-orange-500,
  .tc-td-orange-400 {
    color: mat-color($td-orange, 400);
  }

  .tc-td-orange-300,
  .tc-td-orange-200 {
    color: mat-color($td-orange, 200);
  }

  .tc-td-orange-100,
  .tc-td-orange-50 {
    color: mat-color($td-orange, 50);
  }

  .fill-td-orange,
  .fill-td-orange-900,
  .fill-td-orange-800 {
    fill: mat-color($td-orange, 800);
  }

  .fill-td-orange-700,
  .fill-td-orange-600 {
    fill: mat-color($td-orange, 600);
  }

  .fill-td-orange-500,
  .fill-td-orange-400 {
    fill: mat-color($td-orange, 400);
  }

  .fill-td-orange-300,
  .fill-td-orange-200 {
    fill: mat-color($td-orange, 200);
  }

  .fill-td-orange-100,
  .fill-td-orange-50 {
    fill: mat-color($td-orange, 50);
  }
  // Yellow
  .bgc-td-yellow,
  .bgc-td-yellow-900,
  .bgc-td-yellow-800 {
    background-color: mat-color($td-yellow, 800);
  }

  .bgc-td-yellow-700,
  .bgc-td-yellow-600 {
    background-color: mat-color($td-yellow, 600);
  }

  .bgc-td-yellow-500,
  .bgc-td-yellow-400 {
    background-color: mat-color($td-yellow, 400);
  }

  .bgc-td-yellow-300,
  .bgc-td-yellow-200 {
    background-color: mat-color($td-yellow, 200);
  }

  .bgc-td-yellow-100,
  .bgc-td-yellow-50 {
    background-color: mat-color($td-yellow, 50);
  }

  .tc-td-yellow,
  .tc-td-yellow-900,
  .tc-td-yellow-800 {
    color: mat-color($td-yellow, 800);
  }

  .tc-td-yellow-700,
  .tc-td-yellow-600 {
    color: mat-color($td-yellow, 600);
  }

  .tc-td-yellow-500,
  .tc-td-yellow-400 {
    color: mat-color($td-yellow, 400);
  }

  .tc-td-yellow-300,
  .tc-td-yellow-200 {
    color: mat-color($td-yellow, 200);
  }

  .tc-td-yellow-100,
  .tc-td-yellow-50 {
    color: mat-color($td-yellow, 50);
  }

  .fill-td-yellow,
  .fill-td-yellow-900,
  .fill-td-yellow-800 {
    fill: mat-color($td-yellow, 800);
  }

  .fill-td-yellow-700,
  .fill-td-yellow-600 {
    fill: mat-color($td-yellow, 600);
  }

  .fill-td-yellow-500,
  .fill-td-yellow-400 {
    fill: mat-color($td-yellow, 400);
  }

  .fill-td-yellow-300,
  .fill-td-yellow-200 {
    fill: mat-color($td-yellow, 200);
  }

  .fill-td-yellow-100,
  .fill-td-yellow-50 {
    fill: mat-color($td-yellow, 50);
  }
  // Teal
  .bgc-td-teal,
  .bgc-td-teal-900,
  .bgc-td-teal-800 {
    background-color: mat-color($td-teal, 800);
  }

  .bgc-td-teal-700,
  .bgc-td-teal-600 {
    background-color: mat-color($td-teal, 600);
  }

  .bgc-td-teal-500,
  .bgc-td-teal-400 {
    background-color: mat-color($td-teal, 400);
  }

  .bgc-td-teal-300,
  .bgc-td-teal-200 {
    background-color: mat-color($td-teal, 200);
  }

  .bgc-td-teal-100,
  .bgc-td-teal-50 {
    background-color: mat-color($td-teal, 50);
  }

  .tc-td-teal,
  .tc-td-teal-900,
  .tc-td-teal-800 {
    color: mat-color($td-teal, 800);
  }

  .tc-td-teal-700,
  .tc-td-teal-600 {
    color: mat-color($td-teal, 600);
  }

  .tc-td-teal-500,
  .tc-td-teal-400 {
    color: mat-color($td-teal, 400);
  }

  .tc-td-teal-300,
  .tc-td-teal-200 {
    color: mat-color($td-teal, 200);
  }

  .tc-td-teal-100,
  .tc-td-teal-50 {
    color: mat-color($td-teal, 50);
  }

  .fill-td-teal,
  .fill-td-teal-900,
  .fill-td-teal-800 {
    fill: mat-color($td-teal, 800);
  }

  .fill-td-teal-700,
  .fill-td-teal-600 {
    fill: mat-color($td-teal, 600);
  }

  .fill-td-teal-500,
  .fill-td-teal-400 {
    fill: mat-color($td-teal, 400);
  }

  .fill-td-teal-300,
  .fill-td-teal-200 {
    fill: mat-color($td-teal, 200);
  }

  .fill-td-teal-100,
  .fill-td-teal-50 {
    fill: mat-color($td-teal, 50);
  }
  // Blue
  .bgc-td-blue,
  .bgc-td-blue-900,
  .bgc-td-blue-800 {
    background-color: mat-color($td-blue, 800);
  }

  .bgc-td-blue-700,
  .bgc-td-blue-600 {
    background-color: mat-color($td-blue, 600);
  }

  .bgc-td-blue-500,
  .bgc-td-blue-400 {
    background-color: mat-color($td-blue, 400);
  }

  .bgc-td-blue-300,
  .bgc-td-blue-200 {
    background-color: mat-color($td-blue, 200);
  }

  .bgc-td-blue-100,
  .bgc-td-blue-50 {
    background-color: mat-color($td-blue, 50);
  }

  .tc-td-blue,
  .tc-td-blue-900,
  .tc-td-blue-800 {
    color: mat-color($td-blue, 800);
  }

  .tc-td-blue-700,
  .tc-td-blue-600 {
    color: mat-color($td-blue, 600);
  }

  .tc-td-blue-500,
  .tc-td-blue-400 {
    color: mat-color($td-blue, 400);
  }

  .tc-td-blue-300,
  .tc-td-blue-200 {
    color: mat-color($td-blue, 200);
  }

  .tc-td-blue-100,
  .tc-td-blue-50 {
    color: mat-color($td-blue, 50);
  }

  .fill-td-blue,
  .fill-td-blue-900,
  .fill-td-blue-800 {
    fill: mat-color($td-blue, 800);
  }

  .fill-td-blue-700,
  .fill-td-blue-600 {
    fill: mat-color($td-blue, 600);
  }

  .fill-td-blue-500,
  .fill-td-blue-400 {
    fill: mat-color($td-blue, 400);
  }

  .fill-td-blue-300,
  .fill-td-blue-200 {
    fill: mat-color($td-blue, 200);
  }

  .fill-td-blue-100,
  .fill-td-blue-50 {
    fill: mat-color($td-blue, 50);
  }
}

@mixin teradata-brand($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $accent-highlight-hover: map-get($background, accent-highlight-hover);

  // Logo alignment
  .mat-icon.mat-icon-logo {
    position: relative;
    top: -2px;
    // Logo + title alignment
    & + .mat-title,
    & + span {
      position: relative;
      top: 1px;
      text-transform: uppercase;
    }

    & + .td-navigation-drawer-title {
      top: 2px;
    }
  }
  // Spacing before logo in main toolbar
  .mat-toolbar {
    .mdc-icon-button + .mat-icon-logo,
    .mdc-icon-button + span > .mat-icon-logo {
      margin-left: 10px;
    }

    .mat-icon-logo {
      margin-right: 16px;
    }
  }
  // Logo in card title alignment
  .mat-card-title {
    .mat-icon-logo {
      margin-right: 8px;
    }
  }

  // Apply theme for this app
  body::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    z-index: 999;
    background-color: mat-color($accent);
  }

  // Active icon color in list nav
  .mat-drawer {
    mat-nav-list {
      .mat-list-item {
        &.active {
          font-weight: bold;
          color: mat-color($accent, darker) !important;

          .mat-icon.mat-list-avatar {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast);
            fill: mat-color($accent, default-contrast);
          }

          .mat-icon.mat-list-icon {
            color: mat-color($accent);
            fill: mat-color($accent);
          }
        }
      }

      &[dense] {
        .mat-icon.mat-list-avatar {
          min-width: 36px;
        }
      }
    }
  }

  // Active icon color in list nav
  mat-nav-list {
    [mat-list-item].active {
      mat-icon[matListItemAvatar] {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }

      mat-icon[matListIcon] {
        color: mat-color($accent);
      }
    }
  }

  // Expansion panels
  .home .theme-dark .td-expansion-panel {
    background-color: mat-color($td-slate, 800);
  }

  td-layout-nav {
    mat-toolbar {
      z-index: 2;
      @include mat-elevation(3);
    }
  }

  // Active top nav
  nav.docs-nav {
    a {
      line-height: 4;
      display: block;
      font-size: 1.1428em;
      letter-spacing: 0.0764em;
      position: relative;
      color: rgba(250, 250, 250, 80%);

      &:hover {
        color: #ffffff;
      }

      &.active {
        color: #ffffff;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 0;
          width: 100%;
          background-color: mat-color($accent);
          left: 0;
        }
      }
    }
  }

  // Active side nav 
  .doc-nav a.doc-nav-link.active {
    &::before {
      background-color: $accent-highlight-hover;
    }
  }

  // Links
  a {
    text-decoration: none;
    color: mat-color($accent, darker);
  }

  .tc-td-secondary {
    color: map-get($foreground, secondary-text);
  }
}
