@use '@angular/material' as mat;
@import '../../../libs/angular/theming/all-theme';
@import '../../../libs/markdown/markdown-theme';
@import '../../../libs/angular-highlight/highlight-theme';
@import '../../../libs/markdown-flavored/flavored-markdown-theme';
@import '../../../libs/markdown-navigator/markdon-navigator-theme';
@import '../../../libs/angular-guided-tour/guided-tour-theme';
@import '../../../libs/angular-guided-tour/styles/guided-tour.scss';

// Import Roboto styles from google apis CDN
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Plus imports for other components in your app.

// Custom typography
$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400),
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400),
);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Use the default configuration.
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

// Setting the toolbar to the proper spec weight
@include mat-toolbar-typography($custom-toolbar-typography);

// Teradata brand
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import './teradata-branding';

// Include the core styles for Covalent
@include covalent-core();

// Include material icons
$mat-font-url: './';
@include covalent-material-icons();

// Include covalent utility classes
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();

// Include covalent color classes
@include covalent-colors();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat.define-palette($td-slate, 700, 100, 900);
$accent: mat.define-palette($td-teal, 800, 200, 900);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette($mat-red, 600, 200, 900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      on-secondary: '#ff0000',
      warn: $warn,
    ),
    typography: $my-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
@include covalent-theme($theme);
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme($theme);
@import 'highlight.js/styles/vs.css';
@include covalent-flavored-markdown-theme($theme);
@include covalent-markdown-navigator-theme($theme);
@include covalent-markdown-navigator-typography($custom-typography);
@include covalent-guided-tour-theme($theme);
@include teradata-brand($theme);

body .mat-card {
  border-radius: 8px;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  $primary-dark: mat-palette($td-slate, 800, 200, 900);
  $accent-dark: mat-palette($td-orange, 800, 200, 900);
  $warn-dark: mat-palette($mat-red, 600, 200, 900);
  $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);
  @include mat.all-component-themes($theme-dark);
  @include covalent-theme($theme-dark);
  @include covalent-markdown-theme($theme-dark);
  @include covalent-highlight-theme($theme);
  @import 'highlight.js/styles/dark';
  @include covalent-flavored-markdown-theme($theme-dark);
  @include covalent-markdown-navigator-theme($theme-dark);
  @include teradata-brand($theme-dark);
  @include covalent-guided-tour-theme($theme-dark);
}

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Apply theme for this app
.bgc-contrast {
  background-color: #ececec;
}

.td-markdown {
  h1,
  h2,
  h3 {
    font-weight: 400 !important;
  }
}
