<div layout="row" layout-align="start center">
  <mat-button-toggle-group (change)="modeChange()" name="mode" [(ngModel)]="mode">
    <mat-button-toggle matTooltip="Vertical Stepper" [value]="0">
      <mat-icon>swap_vert</mat-icon>
      <span hide-md hide-sm hide-xs>Vertical</span>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Horizontal Stepper" [value]="1">
      <mat-icon>swap_horiz</mat-icon>
      <span hide-md hide-sm hide-xs>Horizontal</span>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Responsive (changes from horizontal to vertical)" [value]="2">
      <mat-icon>devices</mat-icon>
      <span hide-md hide-sm hide-xs>Responsive (gt-sm)</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<p>Active/Deactive Event for Step 1: {{ activeDeactiveStep1Msg }}</p>
<h3>{{ horizontal ? 'Horizontal Mode' : 'Vertical Mode' }}</h3>
<td-steps [mode]="horizontal ? 'horizontal' : 'vertical'">
  <td-step
    #step1
    label="Basic Usage"
    sublabel="Toggle between active and inactive and emit events."
    [active]="true"
    [disabled]="disabled"
    (activated)="activeStep1Event()"
    (deactivated)="deactiveStep1Event()"
  >
    <ng-template td-step-label><span>Basic Usage (template)</span></ng-template>
    Include any content you like for an active stepper
  </td-step>
  <td-step
    #step2
    label="Required State"
    sublabel="Toggle between active and inactive while in required state and disable ripple."
    [state]="stateStep2"
    [disabled]="disabled"
    disableRipple
  >
    This step is required!
    <ng-template td-step-actions>
      <button mat-raised-button color="primary" (click)="toggleRequiredStep2()" class="text-upper">
        Toggle Require
      </button>
      <button mat-button (click)="step2.active = false" class="text-upper">Cancel</button>
    </ng-template>
  </td-step>
  <td-step
    #step3
    label="Complete State"
    sublabel="Toggle between active and inactive while in complete state."
    [state]="stateStep3"
    [disabled]="disabled"
  >
    Mark this step complete and get a summary
    <ng-template td-step-summary>
      Use an optional step summary to summarize the info in this step
    </ng-template>
    <ng-template td-step-actions>
      <button mat-raised-button color="primary" (click)="toggleCompleteStep3()" class="text-upper">
        Toggle Complete
      </button>
      <button mat-button (click)="step3.active = false" class="text-upper">Cancel</button>
    </ng-template>
  </td-step>
</td-steps>
