<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-bottom']">
    <mat-card-title>Alert Patterns</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-typography">
      <h3>When to use</h3>
      <p>Dialogs, toasts, and inline errors all provide a means to communicate with the user to provide feedback or a call to action.</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <div layout="row" layout-align="start center">
        <span>Example</span>
        <span flex></span>
        <a href="https://stackblitz.com/edit/alert-patterns" target="_blank" matTooltip="View Code" mat-icon-button>
          <mat-icon>launch</mat-icon>
        </a>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <div layout-gt-sm="row">
      <div flex-gt-sm="25" class="mat-typography pad relative">
        <h2>Usage</h2>
        <mat-list class="pull-left pull-right">
          <mat-list-item>
            <h3 matLine>Dialogs</h3>
            <p matLine>Catastrophic errors &amp; confirmations</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 matLine>Snackbars (Toasts)</h3>
            <p matLine>Passive temporary confirmations</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 matLine>Form Errors &amp; Hints</h3>
            <p matLine>Informative inline tips</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 matLine>Messages</h3>
            <p matLine>Priority info or errors</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 matLine>Lists</h3>
            <p matLine>Use lists inside cards</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 matLine>Images</h3>
            <p matLine>Various size &amp; location options</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <h2 class="push-top push-bottom-none">Guidelines</h2>
        <mat-nav-list class="pull-left pull-right">
          <a mat-list-item href="https://material.io/guidelines/components/dialogs.html" target="_blank">
            <mat-icon>launch</mat-icon>
            <h3 matLine>Material Design</h3>
            <p matLine>Dialogs</p>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://material.angular.io/components/dialog/overview" target="_blank">
            <mat-icon>launch</mat-icon>
            <h3 matLine>Angular Material</h3>
            <p matLine>Dialogs</p>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://material.io/guidelines/components/snackbars-toasts.html" target="_blank">
            <mat-icon>launch</mat-icon>
            <h3 matLine>Material Design</h3>
            <p matLine>Snackbars</p>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://material.angular.io/components/snack-bar/overview" target="_blank">
            <mat-icon>launch</mat-icon>
            <span matLine>Angular Material</span>
            <p matLine>Snackbars</p>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item href="https://material.io/guidelines/patterns/errors.html" target="_blank">
            <mat-icon>launch</mat-icon>
            <span matLine>Material Design</span>
            <p matLine>Errors</p>
          </a>
        </mat-nav-list>
      </div>
      <div layout="row" flex-gt-sm>
        <iframe flex class="iframe" [src]="source"></iframe>
      </div>
    </div>
  </mat-card>
  <div layout-gt-xs="row">
    <div flex-gt-xs="50">
      <mat-card>
        <mat-card-title>
          <span class="tc-green-600">Do</span>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>looks_one</mat-icon>
            <h3 matLine>Align action buttons to the right.</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_two</mat-icon>
            <h3 matLine>Keep dialogs simple</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_3</mat-icon>
            <h3 matLine>Give informative error messages.</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div flex-gt-xs="50">
      <mat-card>
        <mat-card-title>
          <span class="tc-red-600">Don't</span>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>looks_one</mat-icon>
            <h3 matLine>Don't use dialogs for complex forms.</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_two</mat-icon>
            <h3 matLine>Don't use a dismiss button in snackbar.</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_3</mat-icon>
            <h3 matLine>Don't use a snackbar for important info.</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
