<div flex>
  <template let-chip ngFor [ngForOf]="value">
    <td-chip>{{chip}}<md-icon *ngIf="!readOnly" (click)="removeItem(chip)">cancel</md-icon></td-chip>
  </template>
  <td-autocomplete #autocomplete 
                   [hidden]="readOnly" 
                   [searchItems]="filteredItems"
                   (focus)="focused = $event"
                   (blur)="(focused = $event) || (matches = autocomplete.clear())"
                   (itemSelect)="(matches = addItem($event)) && autocomplete.clear()"></td-autocomplete>
  <div class="md-input-underline"
       [class.md-disabled]="disabled">
    <span class="md-input-ripple"
          [class.md-focused]="focused"
          [class.md-warn]="!matches"></span>
  </div>
</div>
