<mat-card>
  <mat-card-title>Charts</mat-card-title>
  <mat-card-subtitle>example implementation and usage</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-grid-list [cols]="(media.registerQuery('gt-md') | async) ? 4 : ((media.registerQuery('gt-xs') | async) ? 3 : 2)"
                    rowHeight="150px"
                    gutterSize="10px">
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
      <mat-grid-tile matRipple ngClass="bgc-{{item.color}}" class="cursor-pointer" [routerLink]="item.route">
        <mat-icon class="icon-component tc-white">{{item.icon}}</mat-icon>
        <mat-grid-tile-footer>
          <h3 mat-line>{{item.title}}</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Atomic Components</mat-card-title>
  <mat-card-subtitle>
    easily customize specific chart components using a more angular friendly way.
  </mat-card-subtitle>
  <mat-divider></mat-divider> 
  <mat-card-content>
    <mat-grid-list [cols]="(media.registerQuery('gt-md') | async) ? 4 : ((media.registerQuery('gt-xs') | async) ? 3 : 2)"
                    rowHeight="150px"
                    gutterSize="10px">
      <ng-template let-item let-last="last" ngFor [ngForOf]="atomicComponents">
      <mat-grid-tile matRipple ngClass="bgc-{{item.color}}" class="cursor-pointer" [routerLink]="item.route">
        <mat-icon class="icon-component tc-white">{{item.icon}}</mat-icon>
        <mat-grid-tile-footer>
          <h3 mat-line>{{item.title}}</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
