@import '../../common/styles/mixins';
:host {
  font-size: 13px;
  vertical-align: middle;
  @include rtl(text-align, left, right);
  padding: 0;
  > .td-data-table-cell-content-wrapper {
    padding: 0 28px 0 28px;
  }

  &:first-child > .td-data-table-cell-content-wrapper {
    @include rtl(padding-left, 24px, initial);
    @include rtl(padding-right, initial, 24px);
  }
  &:last-child  > .td-data-table-cell-content-wrapper {
    @include rtl(padding-left, 28px, 24px);
    @include rtl(padding-right, 24px, 28px);
  }

  > * {
    vertical-align: middle;
  }

  &.mat-clickable {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &.mat-numeric {
    @include rtl(text-align, right, left);
  }
}