@import '../../common/styles/mixins';
:host {
  font-size: 13px;
  vertical-align: middle;
  @include rtl(text-align, left, right);
  padding: 0 28px 0 28px;

  &:first-child {
        [dir='ltr'] & { padding-left: 24px;}
        [dir='rtl'] & { padding-right: 24px;}
  }
  &:last-child {
        [dir='ltr'] & { padding-right: 24px;}
        [dir='rtl'] & { padding-left: 24px;}
  }

  > * {
    vertical-align: middle;
  }

  &.mat-clickable {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &.mat-numeric {
    @include rtl(text-align, right, left);
  }
}