<md-card>
  <md-card-title>Loading</md-card-title>
  <md-card-subtitle>Circular or linear progress loader</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">[tdLoading] directive with (*) syntax</h3>
    <h4 class="md-subhead">with indetederminate [tdLoadingMode], circular [tdLoadingType], overlay [tdLoadingStrategy], accent [tdLoadingColor]</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
          <div layout="column" flex>
            <md-input-container flex>
              <input mdInput [(ngModel)]="overlayDemo.name" placeholder="Name"/>
            </md-input-container>
            <md-input-container flex>
              <textarea mdInput [(ngModel)]="overlayDemo.description" placeholder="Description" rows="4"></textarea>
            </md-input-container>
          </div>
        </div>
        <div layout="row">
          <button md-button color="primary" (click)="toggleOverlayStarSyntax()" class="text-upper">Toggle Loader</button>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
              <div layout="column" flex>
                <md-input-container flex>
                  <input mdInput [(ngModel)]="overlayDemo.name" placeholder="Name"/>
                </md-input-container>
                <md-input-container flex>
                  <textarea mdInput [(ngModel)]="overlayDemo.description" placeholder="Description" rows="4"></textarea>
                </md-input-container>
              </div>
            </div>
            <div layout="row">
              <button md-button color="primary" (click)="toggleOverlayStarSyntax()" class="text-upper">Toggle Loader</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { TdLoadingService } from '@covalent/core';
            ...
            export class Demo implements OnInit {
              overlayStarSyntax: boolean = false;

              overlayDemo: any = {
                name: '',
                description: '',
              };

              constructor(private _loadingService: TdLoadingService) {}

              ngOnInit(): void {
                this._loadingService.register('overlayStarSyntax');
              }

              toggleOverlayStarSyntax(): void {
                if (this.overlayStarSyntax) {
                  this._loadingService.register('overlayStarSyntax');
                } else {
                  this._loadingService.resolve('overlayStarSyntax');
                }
                this.overlayStarSyntax = !this.overlayStarSyntax;
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">[tdLoading] directive with template syntax</h3>
    <h4 class="md-subhead">with determinate [tdLoadingMode], linear [tdLoadingType], replace [tdLoadingStrategy], warn [tdLoadingColor]</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <ng-template tdLoading="replaceTemplateSyntax" tdLoadingMode="determinate" tdLoadingType="linear" tdLoadingStrategy="replace" tdLoadingColor="warn">
          <div layout="column" flex>
            <md-input-container flex>
              <input mdInput [(ngModel)]="replaceDemo.name" placeholder="Name"/>
            </md-input-container>
            <md-select placeholder="Type" [(ngModel)]="replaceDemo.type">
              <md-option [value]="1">Some type</md-option>
              <md-option [value]="2">Another type</md-option>
            </md-select>
            <md-input-container flex>
              <textarea mdInput [(ngModel)]="replaceDemo.description" placeholder="Description" rows="4"></textarea>
            </md-input-container>
          </div>
        </ng-template>
        <div layout="row">
          <button md-button color="primary" [disabled]="replaceTemplateSyntaxDisabled" (click)="toggleReplaceTemplateSyntax()" class="text-upper">Toggle Loader</button>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <ng-template tdLoading="replaceTemplateSyntax" tdLoadingMode="determinate" tdLoadingType="linear" tdLoadingStrategy="replace" tdLoadingColor="warn">
              <div layout="column" flex>
                <md-input-container flex>
                  <input mdInput [(ngModel)]="replaceDemo.name" placeholder="Name"/>
                </md-input-container>
                <md-select placeholder="Type" [(ngModel)]="replaceDemo.type">
                  <md-option [value]="1">Some type</md-option>
                  <md-option [value]="2">Another type</md-option>
                </md-select>
                <md-input-container flex>
                  <textarea mdInput [(ngModel)]="replaceDemo.description" placeholder="Description" rows="4"></textarea>
                </md-input-container>
              </div>
            </ng-template>
            <div layout="row">
              <button md-button color="primary" (click)="toggleReplaceTemplateSyntax()" class="text-upper">Toggle Loader</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { TdLoadingService } from '@covalent/core';
            ...
            export class Demo {
              replaceDemo: any = {
                name: '',
                select: '',
                description: '',
              };

              constructor(private _loadingService: TdLoadingService) {}

              toggleReplaceTemplateSyntax(): void {
                this._loadingService.register('replaceTemplateSyntax');
                let value: number = 0;
                let interval: number = setInterval(() => {
                  this._loadingService.setValue('replaceTemplateSyntax', value);
                  value = value + 10;
                  if (value > 100) {
                    clearInterval(interval);
                  }
                }, 250);
                setTimeout(() => {
                  this._loadingService.resolve('replaceTemplateSyntax');
                }, 3000);
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">[tdLoading] until star syntax with variable reference and observables</h3>
    <h4 class="md-subhead">with accent [tdLoadingColor]</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <div *tdLoading="let items until listObservable | async; color: 'accent'">
          <md-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
              <md-list-item>
                <md-slide-toggle md-line [checked]="item.value">
                  {{item.label}}
                </md-slide-toggle>
              </md-list-item>
              <md-divider *ngIf="!last"></md-divider>
            </ng-template>
          </md-list>
        </div>
        <div layout="row">
          <button md-button color="primary" [disabled]="listObservableDisabled" (click)="createObservableList()" class="text-upper">Create observable</button>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div *tdLoading="let items until listObservable | async; type: circle; color: accent">
              <md-list>
                <ng-template let-item let-last="last" ngFor [ngForOf]="items">
                  <md-list-item>
                    <md-slide-toggle md-line [checked]="item.value">
                      { {item.label} }
                    </md-slide-toggle>
                  </md-list-item>
                  <md-divider *ngIf="!last"></md-divider>
                </ng-template>
              </md-list>
            </div>
            <div layout="row">
              <button md-button color="primary" (click)="createObservableList()" class="text-upper">Create observable</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { Observable } from 'rxjs/Observable';
            import { Subscriber } from 'rxjs/Subscriber';
            ...
            export class Demo {
              listObservable: Observable<any[]>;

              createObservableList(): void {
                this.listObservable = new Observable<any[]>((subscriber: Subscriber<any[]>) => {
                  setTimeout(() => {
                    subscriber.next([{label: 'Light', value: true}, {label: 'Console', value: false}, {label: 'T.V.', value: true}]);
                  }, 3000);
                });
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">[tdLoading] until template syntax with booleans</h3>
    <h4 class="md-subhead">with overlay [tdLoadingStrategy]</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">
          <div layout="column" flex>
            <md-input-container flex>
              <input mdInput [(ngModel)]="untilOverlayDemo.name" placeholder="Name"/>
            </md-input-container>
            <md-input-container flex>
              <textarea mdInput [(ngModel)]="untilOverlayDemo.description" placeholder="Description" rows="4"></textarea>
            </md-input-container>
          </div>
        </ng-template>
        <div class="pad-sm">
          <md-slide-toggle [(ngModel)]="loading">Loading Mask</md-slide-toggle>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <ng-template tdLoading [tdLoadingUntil]="!loading" tdLoadingStrategy="overlay">
              <div layout="column" flex>
                <md-input-container flex>
                  <input mdInput [(ngModel)]="untilOverlayDemo.name" placeholder="Name"/>
                </md-input-container>
                <md-input-container flex>
                  <textarea mdInput [(ngModel)]="untilOverlayDemo.description" placeholder="Description" rows="4"></textarea>
                </md-input-container>
              </div>
            </ng-template>
            <div class="pad-sm">
              <md-slide-toggle [(ngModel)]="loading">Loading Mask</md-slide-toggle>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            ...
            export class Demo {
              loading: boolean = false;

              untilOverlayDemo: any = {
                name: '',
                description: '',
              };
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Preloaded [TdLoading] fullscreen mask</h3>
    <h4 class="md-subhead">with indeterminate [mode], circular [type], primary [color] by default</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <div layout="row">
          <button md-button color="primary" (click)="toggleDefaultFullscreenDemo()" class="text-upper">Toggle Loader</button>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div layout="row">
              <button md-button color="primary" (click)="toggleDefaultFullscreenDemo()" class="text-upper">Toggle Loader</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { TdLoadingService } from '@covalent/core';
            ...
            export class Demo implements OnInit {
              constructor(private _loadingService: TdLoadingService) {}

              ngOnInit(): void {
                this.toggleDefaultFullscreenDemo();
              }

              toggleDefaultFullscreenDemo(): void {
                this._loadingService.register();
                setTimeout(() => {
                  this._loadingService.resolve();
                }, 1500);
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
   <h3 class="md-title">Custom [TdLoading] fullscreen mask</h3>
    <h4 class="md-subhead">with indeterminate [mode], linear [type], accent [color]</h4>
    <md-tab-group md-stretch-tabs dynamicHeight>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
        <div layout="row">
          <button md-button color="primary" (click)="toggleConfigFullscreenDemo()" class="text-upper">Toggle Loader</button>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div layout="row">
              <button md-button color="primary" (click)="toggleConfigFullscreenDemo()" class="text-upper">Toggle Loader</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { TdLoadingService } from '@covalent/core';
            ...
            export class Demo {
              constructor(private _loadingService: TdLoadingService) {
                this._loadingService.create({
                  name: 'configFullscreenDemo',
                  mode: LoadingMode.Indeterminate,
                  type: LoadingType.Linear,
                  color: 'accent',
                });
              }

              toggleConfigFullscreenDemo(): void {
                this._loadingService.register('configFullscreenDemo');
                setTimeout(() => {
                  this._loadingService.resolve('configFullscreenDemo');
                }, 1500);
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdLoadingDirective</md-card-title>
  <md-card-subtitle>How to use this directive</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>tdLoading</code></h2>
    <p>Simply add the <code>tdLoading</code> attibute with a "name" value to the element you want to mask.</p>
    <p>Dont forget to add the asterisk syntax before the <code>tdLoading</code> directive if its not used in a <code><![CDATA[<ng-template>]]></code> element.</p>
    <p>More info on the asterisk (*) syntax <a target="_blank" href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#star-template">here</a></p>
    <h3>Properties:</h3>
    <p>The <code>tdLoading</code> directive has {{loadingAttrs.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="loadingAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
          <p md-line *ngIf="attr.additionalDescription"> {{attr.additionalDescription}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example(after setup):</h3>
    <p>HTML (*) syntax:</p>
    <td-highlight lang="html">
      <![CDATA[
        <div *tdLoading="'stringName'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
          ...
        </div>
      ]]>
    </td-highlight>
    <p>HTML (*) until async syntax:</p>
    <td-highlight lang="html">
      <![CDATA[
        <div *tdLoading="let item until observable | async; type:'circular'; color:'primary'">
          { {item} }
        </div>
      ]]>
    </td-highlight>  
    <p>HTML <![CDATA[<ng-template>]]> syntax</p>
    <td-highlight lang="html">
      <![CDATA[
        <ng-template tdLoading="stringName" tdLoadingType="circular" tdLoadingMode="indeterminate" tdLoadingStrategy="replace" tdLoadingColor="primary">
          ...
        </ng-template>
      ]]>
    </td-highlight>
    <p>HTML <![CDATA[<ng-template>]]> until syntax</p>
    <td-highlight lang="html">
      <![CDATA[
        <ng-template tdLoading [tdLoadingUntil]="boolean">
          ...
        </ng-template>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdLoadingService } from '@covalent/core';
        ...
        })
        export class Demo {
          constructor(private _loadingService: TdLoadingService) {
            ...
          }

          registerLoading(): void {
            this._loadingService.register('stringName');
          }

          resolveLoading(): void {
            this._loadingService.resolve('stringName');
          }

          changeValue(value: number): void { // Usage only enabled on [LoadingMode.Determinate] mode.
            this._loadingService.setValue('stringName', value);
          }
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentLoadingModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentLoadingModule } from '@covalent/core';

        @NgModule({
          imports: [
            CovalentLoadingModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
 </md-card>
 <md-card>
  <md-card-title>TdLoadingService</md-card-title>
  <md-card-subtitle>How to use this service</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>TdLoadingService</code></h2>
    <p>This service is designed to be a factory of loading masks and serves as a facade for their usage.</p>
    <p>Simply add this service as a provider to be able to use it in a component.</p>
    <p>TdLoadingService.create() method recieves as parameter an object that implements the [ITdLoadingConfig] interface.</p>
    <td-highlight lang="typescript">
      interface ITdLoadingConfig {{'{'}}
        name: string;
        type?: LoadingType;
        mode?: LoadingMode;
        color?: 'primary' | 'accent' | 'warn';
      }
    </td-highlight>
    <h3>Methods:</h3>
    <p>The <code>TdLoadingService</code> service has {{loadingServiceMethods.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="loadingServiceMethods">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example(after setup):</h3>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdLoadingService, LoadingType, LoadingMode } from '@covalent/core';
        ...
        export class Demo {
          constructor(private _loadingService: TdLoadingService) {
            this._loadingService.create({
              name: 'stringName',
              type: LoadingType.Circular,
              mode: LoadingMode.Indeterminate,
              color: 'accent',
            });
          }

          registerLoading(): void {
            this._loadingService.register('stringName');
          }

          resolveLoading(): void {
            this._loadingService.resolve('stringName'); // or this._loadingService.resolveAll('stringName');
          }
        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
