<md-card>
  <md-card-title>Loading</md-card-title>
  <md-card-subtitle>Circular or linear progress loader</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="row" layout-align="start center" flex>
      <md-button-toggle-group name="mode" [(ngModel)]="determinate" (click)="modeChange()">
        <md-button-toggle md-tooltip="Determinate" [value]="0"><md-icon>timer_off</md-icon></md-button-toggle>
        <md-button-toggle md-tooltip="Indeterminate" [value]="1"><md-icon>timer</md-icon></md-button-toggle>
      </md-button-toggle-group>
      <span flex="5"></span>
      <span>Loading Registered: {{replaceRegistered}} times</span>
    </div>
    <div *ngIf="!determinate">
      <h3>Indeterminate Mode</h3>
      <p>Circular Type</p>
      <template tdLoading="test.indeterminate">
        <div layout="column" flex>
          <md-input placeholder="Name" maxLength="20" [(ngModel)]="demo.name">
          </md-input>
          <md-input placeholder="Description" maxLength="100" [(ngModel)]="demo.desc">
          </md-input>
        </div>
      </template>
      <p>Linear Type</p>
      <template tdLoading="test2.indeterminate" loadingType="linear">
      <div layout="column" flex>
        <md-input placeholder="Name" maxLength="20" [(ngModel)]="demo2.name">
        </md-input>
        <md-input placeholder="Description" maxLength="100" [(ngModel)]="demo2.desc">
        </md-input>
      </div>
    </template>
    </div>
    <div *ngIf="determinate">
      <h3>Determinate Mode</h3>
      <p>Circular Type</p>
      <template tdLoading="test.determinate" loadingMode="determinate">
        <div layout="column" flex>
          <md-input placeholder="Name" maxLength="20" [(ngModel)]="demo.name">
          </md-input>
          <md-input placeholder="Description" maxLength="100" [(ngModel)]="demo.desc">
          </md-input>
        </div>
      </template>
      <p>Linear Type</p>
      <template tdLoading="test2.determinate" loadingType="linear" loadingMode="determinate">
        <div layout="column" flex>
          <md-input placeholder="Name" maxLength="20" [(ngModel)]="demo2.name">
          </md-input>
          <md-input placeholder="Description" maxLength="100" [(ngModel)]="demo2.desc">
          </md-input>
        </div>
      </template>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="registerCircleLoadingMain()">3 Second Circle Loading Main</button>
    <button md-button color="primary" (click)="registerLinearLoadingMain()">3 Second Linear Loading Main</button>
    <button md-button color="primary" (click)="registerLoadingDirective()">Register Loading Directive</button>
    <button md-button color="primary" (click)="resolveLoadingDirective()">Resolve Loading Directive</button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>TdLoadingDirective</md-card-title>
  <md-card-subtitle>How to use this directive</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>tdLoading</code></h2>
    <p>Simply add the <code>tdLoading</code> attibute with a "name" value to the element you want to mask.</p>
    <p>Dont forget to add the asterisk syntax before the <code>tdLoading</code> directive if its not used in a <code><![CDATA[<template>]]></code> element.</p>
    <p>More info on the asterisk (*) syntax <a target="_blank" href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#star-template">here</a></p>
    <p>Note: when used on page load, <code>tdLoading</code> should be registered in [TdLoadingService] after 'AfterViewInit#ngAfterViewInit()' component hook cycle.</p>
    <h3>Properties:</h3>
    <p>The <code>tdLoading</code> directive has {{loadingAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="loadingAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example(after setup):</h3>
    <p>HTML (*) syntax:</p>
    <td-highlight lang="html">
      <![CDATA[
        <div *tdLoading="'stringName'">
          ...
        </div>
      ]]>
    </td-highlight>   
    <p>HTML <![CDATA[<template>]]> syntax</p>
    <td-highlight lang="html">
      <![CDATA[
        <template tdLoading="stringName" loadingType="circular|linear" loadingMode="ciruclar|linear">
          ...
        </template>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdLoadingService } from '@covalent/core';
        ...
        })
        export class Demo {
          constructor(private _loadingService: TdLoadingService) {
            ...
          }

          registerLoading(): void {
            this._loadingService.register('stringName');
          }

          resolveLoading(): void {
            this._loadingService.resolve('stringName');
          }

          changeValue(value: number): void { // Usage only enabled on [LoadingMode.Determinate] mode.
            this._loadingService.setValue('stringName', value);
          }
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentCoreModule] using the <code>forRoot()</code> method and set [TD_LOADING_ENTRY_COMPONENTS] as 'entryComponents' in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentCoreModule, TD_LOADING_ENTRY_COMPONENTS } from '@covalent/core';

        @NgModule({
          imports: [
            CovalentCoreModule.forRoot(),
            ...
          ],
          entryComponents: [ TD_LOADING_ENTRY_COMPONENTS ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
 </md-card>
 <md-card>
  <md-card-title>TdLoadingService</md-card-title>
  <md-card-subtitle>How to use this service</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code>TdLoadingService</code></h2>
    <p>This service is designed to be a factory of loading masks and serves as a facade for their usage.</p>
    <p>Simply add this service as a provider to be able to use it in a component.</p>
    <p>TdLoadingService.createOverlayComponent() method recieves as parameter an object that implements the [ILoadingOptions] interface.</p>
    <td-highlight lang="typescript">
      interface ILoadingOptions {{'{'}}
        name: string;
        type?: LoadingType;
        mode?: LoadingMode;
      }
    </td-highlight>
    <h3>Methods:</h3>
    <p>The <code>TdLoadingService</code> service has {{loadingServiceMethods.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="loadingServiceMethods">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example(after setup):</h3>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { ViewContainerRef } from '@angular/core';
        import { TdLoadingService, ILoadingOptions, LoadingType, LoadingMode } from '@covalent/core';
        ...
        export class Demo {
          constructor(private _loadingService: TdLoadingService, viewContainerRef: ViewContainerRef) {
            let options: ILoadingOptions = {
              name: 'stringName',
              type: LoadingType.Circular,
              mode: LoadingMode.Indeterminate,
            };
            this._loadingService.createOverlayComponent(options, viewContainerRef);
          }

          registerLoading(): void {
            this._loadingService.register('stringName');
          }

          resolveLoading(): void {
            this._loadingService.resolve('stringName');
          }
        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
