.margin {
    margin: -60px;
}
.md-icon-logo {
    width: 88px;
}
.md-icon-svg-lg {
    height: 60px;
    width: 60px;
    margin-left: 16px;
}
.md-icon-ux {
    width: 165px;
}
div[after-card] {
    margin: 64px 8px 8px 8px;
}