<td-layout-nav logo="assets:teradata" toolbarTitle="Covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="updates.length + 1">
        <md-icon>notifications</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Updates</div>
        <md-nav-list dense>
          <ng-template let-item let-last="last" ngFor [ngForOf]="updates">
            <a md-list-item [routerLink]="[item.route]">
              <md-icon md-list-avatar>{{item.icon}}</md-icon>
              <h4 md-line><span class="text-wrap">{{item.description}}</span></h4>
              <p md-line>{{item.title}}</p>
            </a>
            <md-divider></md-divider>
          </ng-template>
          <a md-list-item href="https://github.com/Teradata/covalent/blob/develop/package.json#L58-L79" target="_blank">
            <md-icon md-list-avatar>change_history</md-icon>
            <h4 md-line><span class="text-wrap">Angular v4.1 and material@beta.5 support</span></h4>
            <p md-line>Dependencies updated</p>
          </a>
        </md-nav-list>
        <a md-button color="accent" td-menu-footer href="https://github.com/Teradata/covalent/blob/develop/docs/CHANGELOG.md#100-beta4-johnny-b-goode-2017-05-16" target="_blank">
          View Full Changelog
        </a>
      </td-menu>
    </md-menu>
    <a md-icon-button mdTooltip="Quickstart" href="https://github.com/Teradata/covalent-quickstart" target="_blank"><md-icon>flash_on</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <td-layout-card-over>
      <div layout="row" layout-align="start center">
        <md-icon class="md-icon-svg-lg" svgIcon="assets:covalent"></md-icon>
        <div>
          <md-card-title>Teradata Covalent UI Platform</md-card-title>
        <md-card-subtitle>a UI platform built on Angular + Material Design</md-card-subtitle>
        </div>
      </div>
    <md-divider></md-divider>
    <md-nav-list hide-gt-sm>
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
        <a md-list-item [routerLink]="[item.route]">
          <md-icon md-list-avatar>{{item.icon}}</md-icon>
          <h3 md-line> {{item.title}} </h3>
          <p md-line> {{item.description}} </p>
        </a>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-nav-list>
    <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
        <div flex-md="50" flex-gt-md="25" layout="column">
          <md-card href [routerLink]="[item.route]" class="md-card-colored" flex>
            <md-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
              <md-icon class="md-icon-font-xl tc-white">{{item.icon}}</md-icon>
            </md-toolbar>
            <md-card-content>
              <div layout="column" layout-padding>
                <div class="md-subhead">{{item.title}}</div>
                <div class="md-caption tc-grey-600"> {{item.description}} </div>   
              </div>
            </md-card-content>
          </md-card>
        </div>
      </ng-template>
    </div>
    <md-divider></md-divider>
    <md-card-actions>
      <div layout="row">
        <a href="https://gitter.im/Teradata/covalent" target="_blank" md-button color="primary" class="text-upper">Gitter Chat</a>
        <a href="https://github.com/teradata/covalent/issues" target="_blank" md-button class="text-upper">Feature Request</a>
        <span flex></span>
        <a md-raised-button mdTooltip="Star us on Github!" mdTooltipPosition="below" href="https://github.com/Teradata/covalent/stargazers" target="_blank">
          <md-icon svgIcon="assets:github" class="pad-right-xs"></md-icon>
          <span *ngIf="starCount"><md-icon class="text-md tc-grey-600">star</md-icon> {{starCount}}</span>
        </a>
      </div>
    </md-card-actions>
    <div td-after-card>
      <h3 class="md-title">FAQs</h3>
      <td-expansion-panel label="What is Covalent?" sublabel="what is this thing?">
        <div class="md-padding">
          Covalent is a UI Platform that combines proven design language with a comprehensive web framework, built on Angular & Angular-Material (Design).
          Covalent gives you a quickstart to build a modern web application UI and ensure consistency across your enterprise products.
          Some of Covalent's most important features include:
          <ul>
            <li>Angular-Material</li>
            <li>Angular Command-line interface (CLI) for builds, deploys, testing & more.</li>
            <li>Drastically simplified interface layouts (for dashboards, lists, etc).</li>
            <li>Custom web components (stepper, file upload, expansion panels & more).</li>
            <li>750+ Material Design icons.</li>
            <li>Style Guide with brand standards, color palettes & tips.</li>
            <li>Design Patterns for consistent, reusable web components such as cards, forms, etc.</li>
            <li>Testing Tools for both unit tests and end-to-end tests.</li>
            <li>Quickstart app to get started right away!</li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Why Covalent?" sublabel="what's up with that name?">
        <div class="md-padding">
          We follow Atomic Design principles and apply them to Angular-Material web components. In Atomic Design, several atoms (such as buttons and inputs) form molecules (such as a search box).
          Our covalent bonds are the molecules that we're building on top of Angular-Material. Also, covalent bonds are liquid and conform to their container, just like our responsive layouts!
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Why would I use this?" sublabel="can't I just build my own?">
        <div class="md-padding">
          By using Covalent as a unified UI Platform there are a ton of benefits. Here are some highlights:
          <ul>
            <li>Angular-Material doesn't have a full app quickstart. <a href="https://teradata.github.io/covalent-quickstart/">Covalent does</a>.</li>
            <li>Covalent provides the Angular-Material (AngularJS) flexbox layout that was removed in Angular-Material (angular).</li>
            <li>Covalent provides several custom components such as steppers & expansion panels.</li>
            <li>Custom layouts & components in Covalent are developed specifically for enterprise solutions.</li>
            <li>Covalent provides a selection of UI layouts out of the box.</li>
            <li>Our team is continuously adding tools like Syntax Highlighting & Markdown.</li>
            <li>Our team will always maintain native compatibility with Angular & Material  </li>
            <li>Our team will always follow the principles of the official Material Design spec.</li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Why Material Design?" sublabel="what's so great about Material?">
        <div class="md-padding">
          By adopting Material Design along with Angular, we get a style guide spec that is perfectly matched with an incredbly powerful and modern web framework, all for free.
          Along with that, there are lots of other great benefits such as:
          <ul>
            <li>A design spec that is married to code implementation.</li>
            <li>Official implementations from the the designer/developer (Google).</li>
            <li>Free code implementation and updates from a continuously evolving design spec.</li>
            <li>Compatability with many devices & breakpoints, from watch and mobile all the way up to fullscreen desktop.</li>
            <li>Usage familiarity for users, designers & developers.</li>
            <li>Focus on out-of the box accessibility.</li>
            <li>Open sourced design & code.</li>
            <li>Modularity that gives a natural bridge to agile development principles.</li>
            <li>Inspiration, community & resources from around the world.</li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="But won't we look like Google?" sublabel="great question, you're not alone in that concern">
        <div class="md-padding">
          With any new framework, people's intial reaction is that they'll lose their company brand or identity.
          Consider when 960 grids came out, or Bootstrap from Twitter. Many said "all sites will look the same!".
          They weren't completely wrong, for a time, when adoption of these new frameworks began. However, with time, usage, and innovation, your special brand identity and uniqueness will always shine through!
          Also consider:
          <ul>
            <li>Material Design is being embraced across the web,  and is not specific to Google anymore</li>
            <li>Material Design can be thought of as a native Web SDK, similar to developing a MacOS or iOS app.</li>
            <li>Onboarding users is a simpler process if design patterns are familiar.</li>
            <li>Think of your favorite iOS, Android or Windows app that adheres to the OS's design. Aren’t the features more important? What woud you really consider “brand”?</li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Why Angular?" sublabel="why not React/Ember/Java/etc?">
        <div class="md-padding">
          <p>The short answer: we had to pick something & we believe Angular has won the adoption war.</p>
          The longer answer:
          Before passing judgement if you have Angular 1.x experience, remember that Angular is a complete rewrite from the ground up.
          Angular moved from an opinionated framework to a sophistated platform.
          Angular utilizes ES2015 (previously ES6) and the power of Typescript, which results in a much more native JavaScript platform with coding paradigms & power previously reserved for backend languages.
          This means many more back end engineers can jump into the front end and ramp up quickly to productivity.
          Also there are many other benefits, such as:
          <ul>
            <li>New & exciting software to learn & advocate</li>
            <li>More easily attract new hires</li>
            <li>An incredibly powerful standardized CLI that is provided to us</li>
            <li>More powerful IDEs for development</li>
            <li>Integrated testing tools</li>
            <li>Native mobile & desktop app support</li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="What's not included?" sublabel="what is my team responsible for building?">
        <div class="md-padding">
          We give you everything you need to quickly get started on your UI, but you have the domain knowledge and are the expert in your product.
          You'll need to build all the custom views, controllers & services for your product, and hook them up to your RESTful APIs.
          Don't worry though, we have detailed docs & tips, and there's a wealth of help on the internet (it's why we chose such a popular platform).
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Can I help build Covalent?" sublabel="heck yeah!">
        <div class="md-padding">
          We'd LOVE any type of contribution and collaboration! There's all kinds of ways you can join in:
          <ul>
            <li>Submit a bug (cool)</li>
            <li>Open a pull request to fix a bug (cooler)</li>
            <li>Suggest a new feature (which we'll prioritize by demand)</li>
            <li>Open a pull request with new feature (make sure it follows the guidelines)</li>
            <li>Give us feedback on any aspect of this site or the platform</li>
            <li><a href="http://www.teradata.com/careers/" target="_blank">Join the Teradata UX team!</a></li>
          </ul>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="What is the full vision?" sublabel="good news: we've put some thought into it">
        <div class="md-padding">
          <md-card>
            <md-card-content>
              <div class="md-subhead">
                To build an atomic, standardized, reusable UI component platform based on Material Design, for Teradata to use for all user interfaces, while collaborating in an open source model.
              </div>
            </md-card-content>
          </md-card>
          <div class="md-padding">
            Teradata's UX team is extremely lean & agile (notice agile is lower case). We have a simple list of milestones and issues prioritized by demand across products.
            Some big ticket items are underway such as TD Charts, an extensive & standardized component built on Google Charts (continuing w/ the Google web stack).
            We're also building Dynamic Forms which will allow products to build complex forms with a simple key:value pair JSON structure.
            Remember, we're agile so our roadmap is iterative & bite sized for frequent, rapid releases.
          </div>
        </div>
        <md-nav-list>
          <a md-list-item href="https://github.com/teradata/covalent/releases" target="_blank">
            <md-icon>launch</md-icon>
            <h3 md-line>Releases</h3>
            <p md-line>Our latest version you can use today!</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item href="https://github.com/teradata/covalent/milestones" target="_blank">
            <md-icon>launch</md-icon>
            <h3 md-line>Milestones</h3>
            <p md-line>Rough time estimates</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item href="https://github.com/teradata/covalent/issues" target="_blank">
            <md-icon>launch</md-icon>
            <h3 md-line>Feature Requests & Bugs</h3>
            <p md-line>Priotized by demand</p>
          </a>
        </md-nav-list>
      </td-expansion-panel>
      <td-expansion-panel label="Does Covalent support desktop apps?" sublabel="Build desktop apps with Covalent Electron">
        <div class="md-padding">
          Covalent is a UI Platform that combines proven design language with a comprehensive web framework, built on Angular & Angular-Material (Design).
          Electron is a framework for creating native desktop applications with web technologies like JavaScript, HTML, and CSS.
          Covalent Electron is the Electron Platform to build desktop apps using Covalent and Electron
          <a md-button color="primary" href="https://github.com/Teradata/covalent-electron" target="_blank">View Repo</a>
        </div>
      </td-expansion-panel>
      <td-expansion-panel label="Is a backend API required?" sublabel="Mock API endpoints with Covalent Data">
        <div class="md-padding">
          Covalent Data is a Mock API server for rapid prototyping and API standards
          Built on Golang
          Allows for quick prototyping for your Covalent Applications with an easy to mock http backend server
          <a md-button color="primary" href="https://github.com/Teradata/covalent-data" target="_blank">View Repo</a>
        </div>
      </td-expansion-panel>
    </div>
  </td-layout-card-over>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 - 2017 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
