.margin {
    margin: -60px;
}
.md-icon-logo {
    width: 88px;
}
.md-icon-svg-lg {
    height: 60px;
    width: 60px;
    margin-left: 16px;
}
.mat-icon-xl {
    font-size: 120px;
}
.mat-icon-svg-xxl {
    width: 90%;
    height: auto;
}
.md-icon-ux {
    width: 165px;
}
[td-after-card] {
    margin: 64px 8px 8px 8px;
}