<td-layout-nav logo="assets:teradata" toolbarTitle="Covalent">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
  <div>
    <section class="bgc-blue-grey-800">
      <div layout="row">
        <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
          <div class="push-top-xl" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
            <div layout="row" layout-align="start center">
              <h1 class="mat-display-1 tc-blue-grey-50 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['mat-headline']">Covalent UI Platform for <span hide-xs>building</span> enterprise <span hide-xs>desktop</span> web apps</h1>
            </div>
            <h2 class="mat-headline tc-blue-grey-100 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['text-lg']">An open-source UI Platform from Teradata that combines a comprehensive design language with a powerful web framework, built on Angular &amp; Angular Material (Design).</h2>
            <div class="push-top-xl" hide-xs></div>
            <button mat-raised-button color="accent" class="text-upper" tdMediaToggle="gt-xs" [mediaClasses]="['text-xxl']" [routerLink]="['/docs']">View Docs</button>
            <a mat-raised-button color="primary" class="push-left" tdMediaToggle="gt-xs" [mediaClasses]="['text-xxl']" matTooltip="Star us on Github!" matTooltipPosition="below" href="https://github.com/Teradata/covalent/stargazers" target="_blank">
              <mat-icon svgIcon="assets:github" class="pad-right-xs"></mat-icon>
              <span *ngIf="starCount"><mat-icon class="text-md tc-orange-A700">star</mat-icon> {{starCount}}</span>
            </a>
          </div>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
        <div flex="40" flex-xs="20" flex-order-xs="1" layout-gt-xs="column" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-right-xl']">
          <mat-icon class="mat-icon-svg-xxl" svgIcon="assets:covalent" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']"></mat-icon>
        </div>
      </div>
    </section>
    <mat-toolbar color="primary">
    </mat-toolbar>
    <section class="bgc-blue-grey-100">
      <div layout-gt-xs="row">
        <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad']">
          <div class="push-top-md" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push']">
            <mat-nav-list hide-gt-md>
              <ng-template let-item let-last="last" ngFor [ngForOf]="sections">
                <a mat-list-item [routerLink]="[item.route]">
                  <mat-icon matListAvatar><span class="tc-{{item.color}}">{{item.icon}}</span></mat-icon>
                  <h3 class="tc-blue-grey-900" matLine> {{item.title}} </h3>
                  <p class="tc-blue-grey-700" matLine> {{item.description}} </p>
                </a>
                <mat-divider *ngIf="!last" matInset></mat-divider>
              </ng-template>
            </mat-nav-list>
            <div layout="row" layout-wrap hide-xs hide-sm hide-md>
              <ng-template let-item let-last="last" ngFor [ngForOf]="sections">
                <div flex-gt-sm="33" class="pad-sm">
                  <a [routerLink]="[item.route]" mat-button class="pad">
                    <div layout="row" layout-align="start center" class="push-bottom-xs">
                      <mat-icon class="push-right-sm">
                        <span class="tc-{{item.color}}">{{item.icon}}</span>
                      </mat-icon>
                      <div class="mat-title text-xxl tc-blue-grey-900">{{item.title}}</div>
                    </div>
                    <div class="mat-subheading-2 tc-blue-grey-700 text-wrap text-left" hide-sm hide-md> {{item.description}} </div>   
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="push-bottom-md" hide-xs></div>
        </div>
      </div>
    </section>
    <section class="bgc-blue-grey-800 tc-white">
      <div layout="row">
        <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
          <div class="push-top-xxl" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
            <h2 class="mat-display-1 tc-red-500 push-top-xs push-bottom-sm">Built with <mat-icon>favorite</mat-icon> on Angular</h2>
            <h3 class="mat-headline tc-blue-grey-100 push-top-xs push-bottom-sm">Teradata is one of the largest enterprise consumers of Angular. Currently the entire product suite is being built or revamped on Angular v4.</h3>
            <h4 class="mat-headline tc-blue-grey-200 push-top-xs push-bottom-sm" hide-xs>As Angular unites Teradata developers across the organization, they are able to contribute back to the open-source community with the powerful new tools being developed internally.</h4>
          </div>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
        <div flex="40" flex-xs="20" flex-order-xs="1" layout-gt-xs="column" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-right-xl']">
          <mat-icon class="mat-icon-svg-xxl fill-red-500" svgIcon="assets:angular-outline" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']"></mat-icon>
        </div>
      </div>
    </section>
    <section class="bgc-blue-grey-900">
      <div layout-gt-xs="row">
        <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad']">
          <div class="push-top-xl" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-md']">
            <mat-nav-list hide-gt-sm class="theme-dark">
              <ng-template let-item let-last="last" ngFor [ngForOf]="repos">
                <a mat-list-item href="{{item.link}}" target="_blank">
                  <mat-icon matListAvatar><span class="tc-{{item.color}}">{{item.icon}}</span></mat-icon>
                  <h3 class="tc-white" matLine> {{item.title}} </h3>
                  <p class="tc-white" matLine> {{item.description}} </p>
                </a>
                <mat-divider *ngIf="!last" matInset></mat-divider>
              </ng-template>
            </mat-nav-list>
            <div layout="row" layout-wrap hide-xs hide-sm>
              <ng-template let-item let-last="last" ngFor [ngForOf]="repos">
                <div flex-gt-sm="33" class="pad-sm">
                  <a href="{{item.link}}" target="_blank" mat-button class="pad">
                    <div layout="row">
                      <mat-icon class="mat-icon-md" tdMediaToggle="gt-sm" [mediaClasses]="['push-right-sm']">
                        <span class="tc-{{item.color}}">{{item.icon}}</span>
                      </mat-icon>
                      <div class="tc-white text-left text-wrap">
                        <div class="mat-title push-bottom-xs">{{item.title}}</div>
                        <div class="mat-subheading-2" hide-sm hide-md> {{item.description}} </div>   
                      </div>
                    </div>
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
      </div>
    </section>
    <section class="bgc-blue-grey-100">
      <div layout="row">
        <div flex flex-order="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
          <div class="push-top-xxl" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
            <h2 class="mat-display-1 tc-green-A700 push-top-xs push-bottom-sm">Following the Material Design spec</h2>
            <h3 class="mat-headline tc-blue-grey-700 push-top-xs push-bottom-sm">Covalent follows the Material Design specification as closely as possible through the construction of all components.</h3>
            <h4 class="mat-headline tc-blue-grey-600 push-top-xs push-bottom-sm" hide-xs>Adopting Material Design as our own spec allows our UI/UX staff to adopt and share powerful open-source resources, while Covalent end users enjoy the immediate familiarity and affordance of this global deign spec.</h4>
          </div>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
        <div flex="40" flex-xs="20" flex-order="1" layout-gt-xs="column" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-left-xl']">
          <mat-icon class="mat-icon-svg-xxl fill-green-A700" svgIcon="assets:material-outline" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']"></mat-icon>
        </div>
      </div>
    </section>
    <section class="theme-dark tc-white bgc-blue-grey-900">
      <div layout-gt-xs="row">
        <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
          <div class="push-top-xl" hide-xs></div>
          <h3 class="mat-title">FAQs</h3>
          <td-expansion-panel-group>
            <td-expansion-panel label="What is Covalent?" sublabel="what is this thing?">
              <div class="md-padding">
                Covalent is a UI Platform that combines proven design language with a comprehensive web framework, built on Angular & Angular-Material (Design).
                Covalent gives you a quickstart to build a modern web application UI and ensure consistency across your enterprise products.
                Some of Covalent's most important features include:
                <ul>
                  <li>Angular-Material</li>
                  <li>Angular Command-line interface (CLI) for builds, deploys, testing & more.</li>
                  <li>Drastically simplified interface layouts (for dashboards, lists, etc).</li>
                  <li>Custom web components (stepper, file upload, expansion panels & more).</li>
                  <li>750+ Material Design icons.</li>
                  <li>Style Guide with brand standards, color palettes & tips.</li>
                  <li>Design Patterns for consistent, reusable web components such as cards, forms, etc.</li>
                  <li>Testing Tools for both unit tests and end-to-end tests.</li>
                  <li>Quickstart app to get started right away!</li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Why Covalent?" sublabel="what's up with that name?">
              <div class="md-padding">
                We follow Atomic Design principles and apply them to Angular-Material web components. In Atomic Design, several atoms (such as buttons and inputs) form molecules (such as a search box).
                Our covalent bonds are the molecules that we're building on top of Angular-Material. Also, covalent bonds are liquid and conform to their container, just like our responsive layouts!
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Why would I use this?" sublabel="can't I just build my own?">
              <div class="md-padding">
                By using Covalent as a unified UI Platform there are a ton of benefits. Here are some highlights:
                <ul>
                  <li>Angular-Material doesn't have a full app quickstart. <a href="https://teradata.github.io/covalent-quickstart/">Covalent does</a>.</li>
                  <li>Covalent provides the Angular-Material (AngularJS) flexbox layout that was removed in Angular-Material (angular).</li>
                  <li>Covalent provides several custom components such as steppers & expansion panels.</li>
                  <li>Custom layouts & components in Covalent are developed specifically for enterprise solutions.</li>
                  <li>Covalent provides a selection of UI layouts out of the box.</li>
                  <li>Our team is continuously adding tools like Syntax Highlighting & Markdown.</li>
                  <li>Our team will always maintain native compatibility with Angular & Material  </li>
                  <li>Our team will always follow the principles of the official Material Design spec.</li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Why Material Design?" sublabel="what's so great about Material?">
              <div class="md-padding">
                By adopting Material Design along with Angular, we get a style guide spec that is perfectly matched with an incredbly powerful and modern web framework, all for free.
                Along with that, there are lots of other great benefits such as:
                <ul>
                  <li>A design spec that is married to code implementation.</li>
                  <li>Official implementations from the the designer/developer (Google).</li>
                  <li>Free code implementation and updates from a continuously evolving design spec.</li>
                  <li>Compatability with many devices & breakpoints, from watch and mobile all the way up to fullscreen desktop.</li>
                  <li>Usage familiarity for users, designers & developers.</li>
                  <li>Focus on out-of the box accessibility.</li>
                  <li>Open sourced design & code.</li>
                  <li>Modularity that gives a natural bridge to agile development principles.</li>
                  <li>Inspiration, community & resources from around the world.</li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="But won't we look like Google?" sublabel="great question, you're not alone in that concern">
              <div class="md-padding">
                With any new framework, people's intial reaction is that they'll lose their company brand or identity.
                Consider when 960 grids came out, or Bootstrap from Twitter. Many said "all sites will look the same!".
                They weren't completely wrong, for a time, when adoption of these new frameworks began. However, with time, usage, and innovation, your special brand identity and uniqueness will always shine through!
                Also consider:
                <ul>
                  <li>Material Design is being embraced across the web,  and is not specific to Google anymore</li>
                  <li>Material Design can be thought of as a native Web SDK, similar to developing a MacOS or iOS app.</li>
                  <li>Onboarding users is a simpler process if design patterns are familiar.</li>
                  <li>Think of your favorite iOS, Android or Windows app that adheres to the OS's design. Aren’t the features more important? What woud you really consider “brand”?</li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Why Angular?" sublabel="why not React/Ember/Java/etc?">
              <div class="md-padding">
                <p>The short answer: we had to pick something & we believe Angular has won the adoption war.</p>
                The longer answer:
                Before passing judgement if you have Angular 1.x experience, remember that Angular v2+ is a complete rewrite from the ground up.
                Angular moved from an opinionated framework to a sophistated platform.
                Angular utilizes ES2015 (previously ES6) and the power of Typescript, which results in a much more native JavaScript platform with coding paradigms & power previously reserved for backend languages.
                This means many more back end engineers can jump into the front end and ramp up quickly to productivity.
                Also there are many other benefits, such as:
                <ul>
                  <li>New & exciting software to learn & advocate</li>
                  <li>More easily attract new hires</li>
                  <li>An incredibly powerful standardized CLI that is provided to us</li>
                  <li>More powerful IDEs for development</li>
                  <li>Integrated testing tools</li>
                  <li>Native mobile & desktop app support</li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="What's not included?" sublabel="what is my team responsible for building?">
              <div class="md-padding">
                We give you everything you need to quickly get started on your UI, but you have the domain knowledge and are the expert in your product.
                You'll need to build all the custom views, controllers & services for your product, and hook them up to your RESTful APIs.
                Don't worry though, we have detailed docs & tips, and there's a wealth of help on the internet (it's why we chose such a popular platform).
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Can I help build Covalent?" sublabel="heck yeah!">
              <div class="md-padding">
                We'd LOVE any type of contribution and collaboration! There's all kinds of ways you can join in:
                <ul>
                  <li>Submit a bug (cool)</li>
                  <li>Open a pull request to fix a bug (cooler)</li>
                  <li>Suggest a new feature (which we'll prioritize by demand)</li>
                  <li>Open a pull request with new feature (make sure it follows the guidelines)</li>
                  <li>Give us feedback on any aspect of this site or the platform</li>
                  <li><a href="http://www.teradata.com/careers/" target="_blank">Join the Teradata UX team!</a></li>
                </ul>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="What is the full vision?" sublabel="good news: we've put some thought into it">
              <div class="md-padding">
                <mat-card>
                  <mat-card-content>
                    <div class="mat-subheading-2">
                      To build an atomic, standardized, reusable UI component platform based on Material Design, for Teradata to use for all user interfaces, while collaborating in an open source model.
                    </div>
                  </mat-card-content>
                </mat-card>
                <div class="md-padding">
                  Teradata's UX team is extremely lean & agile (notice agile is lower case). We have a simple list of milestones and issues prioritized by demand across products.
                  Some big ticket items are underway such as TD Charts, an extensive & standardized component built on Google Charts (continuing w/ the Google web stack).
                  We're also building Dynamic Forms which will allow products to build complex forms with a simple key:value pair JSON structure.
                  Remember, we're agile so our roadmap is iterative & bite sized for frequent, rapid releases.
                </div>
              </div>
              <mat-nav-list>
                <a mat-list-item href="https://github.com/teradata/covalent/releases" target="_blank">
                  <mat-icon>launch</mat-icon>
                  <h3 matLine>Releases</h3>
                  <p matLine>Our latest version you can use today!</p>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="https://github.com/teradata/covalent/milestones" target="_blank">
                  <mat-icon>launch</mat-icon>
                  <h3 matLine>Milestones</h3>
                  <p matLine>Rough time estimates</p>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="https://github.com/teradata/covalent/issues" target="_blank">
                  <mat-icon>launch</mat-icon>
                  <h3 matLine>Feature Requests & Bugs</h3>
                  <p matLine>Priotized by demand</p>
                </a>
              </mat-nav-list>
            </td-expansion-panel>
            <td-expansion-panel label="Does Covalent support desktop apps?" sublabel="Build desktop apps with Covalent Electron">
              <div class="md-padding">
                Covalent is a UI Platform that combines proven design language with a comprehensive web framework, built on Angular & Angular-Material (Design).
                Electron is a framework for creating native desktop applications with web technologies like JavaScript, HTML, and CSS.
                Covalent Electron is the Electron Platform to build desktop apps using Covalent and Electron
                <a mat-button color="primary" href="https://github.com/Teradata/covalent-electron" target="_blank">View Repo</a>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="Is a backend API required?" sublabel="Mock API endpoints with Covalent Data">
              <div class="md-padding">
                Covalent Data is a Mock API server for rapid prototyping and API standards
                Built on Golang
                Allows for quick prototyping for your Covalent Applications with an easy to mock http backend server
                <a mat-button color="primary" href="https://github.com/Teradata/covalent-data" target="_blank">View Repo</a>
              </div>
            </td-expansion-panel>
          </td-expansion-panel-group>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
      </div>
    </section>
  </div>
  <td-layout-footer color="primary" tdMediaToggle="xs" [mediaClasses]="['text-center']">
    <div layout-gt-xs="row" layout-align="start center">
      <div class="mat-caption">Copyright &copy; 2016 - 2017 Teradata. All rights reserved</div>
      <span flex></span>
      <div layout-gt-xs="row">
        <a href="https://gitter.im/Teradata/covalent" target="_blank" mat-button class="text-upper">Gitter Chat</a>
        <a href="https://github.com/teradata/covalent/issues" target="_blank" mat-button class="text-upper">Feature Request</a>
      </div>
    </div>
  </td-layout-footer>
</td-layout-nav>
