<td-chips [items]="filteredAsync"
          [debounce]="500"
          [(ngModel)]="asyncModel"
          placeholder="Type here"
          (inputChange)="filterAsync($event)"
          requireMatch>
  <ng-template td-chip let-chip="chip">
    <div class="tc-grey-100 bgc-teal-700" td-chip-avatar>{{chip.substring(0, 1).toUpperCase()}}</div>
    <span class="text-truncate">{{chip}}</span>
  </ng-template>
  <mat-progress-bar [style.height.px]="2" *ngIf="filteringAsync" mode="indeterminate"></mat-progress-bar>
</td-chips>