<mat-card>
  <mat-card-title>Chips &amp; Autocomplete with strings</mat-card-title>
  <mat-card-subtitle>Autocomplete with chips and no custom inputs</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type and select a preset option or press enter:</div>
        <td-chips [chipAddition]="chipAddition"
                  [chipRemoval]="chipRemoval"
                  [items]="filteredStrings"
                  [(ngModel)]="stringsModel"
                  placeholder="Enter autocomplete strings"
                  [disabled]="disabled"
                  (inputChange)="filterStrings($event)"
                  requireMatch>
        </td-chips>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [chipAddition]="chipAddition"
                      [chipRemoval]="chipRemoval"
                      [items]="filteredStrings"
                      [(ngModel)]="stringsModel"
                      placeholder="Enter autocomplete strings"
                      [disabled]="disabled"
                      (inputChange)="filterStrings($event)"
                      requireMatch>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              disabled: boolean = false;
              chipAddition: boolean = true;
              chipRemoval: boolean = true;

              strings: string[] = [
                'stepper',
                'expansion-panel',
                'markdown',
                'highlight',
                'loading',
                'media',
                'chips',
                'http',
                'json-formatter',
                'pipes',
                'need more?',
              ];

              filteredStrings: string[];

              stringsModel: string[] = this.strings.slice(0, 6);

              ngOnInit(): void {
                this.filterStrings('');
              }

              filterStrings(value: string): void {
                this.filteredStrings = this.strings.filter((item: any) => {
                  if (value) {
                    return item.toLowerCase().indexOf(value.toLowerCase()) > -1;
                  } else {
                    return false;
                  }
                }).filter((filteredItem: any) => {
                  return this.stringsModel ? this.stringsModel.indexOf(filteredItem) < 0 : true;
                });
              }
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="disabled">
        Disabled
      </mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="chipAddition">
        Chip addition
      </mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="chipRemoval">
        Chip removal
      </mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Chips &amp; Autocomplete with objects</mat-card-title>
  <mat-card-subtitle>Autocomplete with chips and templates and accent color</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type and select a preset option or press enter:</div>
        <td-chips color="accent"
                  [items]="filteredObjects"
                  [(ngModel)]="objectsModel"
                  placeholder="Enter autocomplete strings"
                  (inputChange)="filterObjects($event)"
                  requireMatch>
          <ng-template td-chip let-chip="chip">
            <mat-icon>location_city</mat-icon> {{chip.city}}, (Pop: {{chip.population}})
          </ng-template>
          <ng-template td-autocomplete-option let-option="option">
            <div layout="row" layout-align="start center">
              <mat-icon>location_city</mat-icon> {{option.city}}
            </div>
          </ng-template>
        </td-chips>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips color="accent"
                      [items]="filteredObjects"
                      [(ngModel)]="objectsModel"
                      placeholder="Enter autocomplete strings"
                      (inputChange)="filterObjects($event)"
                      requireMatch>
              <ng-template td-chip let-chip="chip">
                <mat-icon>location_city</mat-icon> { {chip.city} }, (Pop: { {chip.population} })
              </ng-template>
              <ng-template td-autocomplete-option let-option="option">
                <div layout="row" layout-align="start center">
                  <mat-icon>location_city</mat-icon> { {option.city} }
                </div>
              </ng-template>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              objects: any[] = [
                {id: 1, city: 'San Diego', population: '4M'},
                {id: 2, city: 'San Franscisco', population: '6M'},
                {id: 3, city: 'Los Angeles', population: '5M'},
                {id: 4, city: 'Austin', population: '3M'},
                {id: 5, city: 'New York City', population: '10M'},
              ];

              filteredObjects: string[];

              objectsModel: string[] = this.objects.slice(0, 2);

              ngOnInit(): void {
                this.filterObjects('');
              }

              filterObjects(value: string): void {
                this.filteredObjects = this.objects.filter((obj: any) => {
                  if (value) {
                    return obj.city.toLowerCase().indexOf(value.toLowerCase()) > -1;
                  } else {
                    return false;
                  }
                }).filter((filteredObj: any) => {
                  return this.objectsModel ? this.objectsModel.indexOf(filteredObj) < 0 : true;
                });
              }
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>Chips &amp; async Autocomplete with template chip avatar</mat-card-title>
  <mat-card-subtitle>Load autocomplete items asynchronous when typing in the input</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type and see how it will load items async:</div>
        <td-chips [items]="filteredAsync"
                  [debounce]="500"
                  [(ngModel)]="asyncModel"
                  placeholder="Enter autocomplete strings"
                  (inputChange)="filterAsync($event)"
                  requireMatch>
          <ng-template td-chip let-chip="chip">
            <div class="tc-grey-100 bgc-teal-700" td-chip-avatar>{{chip.substring(0, 1).toUpperCase()}}</div> {{chip}}
          </ng-template>
          <mat-progress-bar [style.height.px]="2" *ngIf="filteringAsync" mode="indeterminate"></mat-progress-bar>
        </td-chips>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [items]="filteredAsync"
                      [debounce]="500"
                      [(ngModel)]="asyncModel"
                      placeholder="Enter autocomplete strings"
                      (inputChange)="filterAsync($event)"
                      requireMatch>
              <ng-template td-chip let-chip="chip">
                <div class="tc-grey-100 bgc-teal-700" td-chip-avatar>{ {chip.substring(0, 1).toUpperCase()} }</div> { {chip} }
              </ng-template>
              <mat-progress-bar [style.height.px]="2" *ngIf="filteringAsync" mode="indeterminate"></mat-progress-bar>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              filteringAsync: boolean = false;

              strings: string[] = [
                'stepper',
                'expansion-panel',
                'markdown',
                'highlight',
                'loading',
                'media',
                'chips',
                'http',
                'json-formatter',
                'pipes',
                'need more?',
              ];

              filteredAsync: string[];

              asyncModel: string[] = this.strings.slice(0, 2);

              filterAsync(value: string): void {
                this.filteredAsync = undefined;
                if (value) {
                  this.filteringAsync = true;
                  // Timeout isn't actually needed here, only added for demo to simulate async behavior
                  setTimeout(() => {
                    this.filteredAsync = this.strings.filter((item: any) => {
                      return item.toLowerCase().indexOf(value.toLowerCase()) > -1;
                    }).filter((filteredItem: any) => {
                      return this.asyncModel ? this.asyncModel.indexOf(filteredItem) < 0 : true;
                    });
                    this.filteringAsync = false;
                  }, 2000);
                }
              }
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>Stacked chips and Autocomplete with custom inputs</mat-card-title>
  <mat-card-subtitle>Autocomplete demo allowing custom inputs and stacked chips</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type and select option or enter custom text and press enter:</div>
        <td-chips [items]="filteredStackedStrings"
                  [(ngModel)]="stackedStringsModel"
                  placeholder="Enter any string"
                  (inputChange)="filterStackedStrings($event)"
                  stacked>
          <ng-template td-chip let-chip="chip">
            <div class="tc-grey-100 bgc-teal-700" td-chip-avatar>{{chip.substring(0, 1).toUpperCase()}}</div> {{chip}}
          </ng-template>
        </td-chips>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [items]="filteredStackedStrings"
                      [(ngModel)]="stackedStringsModel"
                      placeholder="Enter any string"
                      (inputChange)="filterStackedStrings($event)"
                      stacked>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {

              strings: string[] = [
                'stepper',
                'expansion-panel',
                'markdown',
                'highlight',
                'loading',
                'media',
                'chips',
                'http',
                'json-formatter',
                'pipes',
                'need more?',
              ];

              filteredStackedStrings: string[];

              stackedStringsModel: string[] = this.strings.slice(0, 2);

              filterStackedStrings(value: string): void {
                this.filteredStackedStrings = this.strings.filter((item: any) => {
                  if (value) {
                    return item.toLowerCase().indexOf(value.toLowerCase()) > -1;
                  } else {
                    return false;
                  }
                });
              }

            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>Custom chips</mat-card-title>
  <mat-card-subtitle>Demo allowing custom inputs for tags and warn color</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type any test and press enter:</div>
        <td-chips color="warn" placeholder="Enter any string"></td-chips>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips color="warn" placeholder="Enter any string"></td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>Chip Events</mat-card-title>
  <mat-card-subtitle>Demo showing chip events</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template matTabLabel>Demo</ng-template>
      <div class="push">
        <div class="mat-body-1">Type and select a preset option or press enter:</div>
        <td-chips [items]="filteredStrings"
                  [(ngModel)]="stringsModel"
                  placeholder="Enter autocomplete strings"
                  (add)="handleAdd($event)"
                  (remove)="handleRemove($event)"
                  (inputChange)="filterStrings($event)"
                  (chipBlur)="handleChipBlur($event)"
                  (chipFocus)="handleChipFocus($event)"
                  requireMatch>
        </td-chips>
      </div>
      <mat-card-content>
        <p>Event Log: </p>
        <td-highlight language="bash" [style.height.px]="200" [style.overflow]="'auto'" [content]="events.reverse().join('\n')">
          {{ 'No Event Logs' }}
        </td-highlight>
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>Code</ng-template>
      <mat-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [items]="filteredStrings"
                  [(ngModel)]="stringsModel"
                  placeholder="Enter autocomplete strings"
                  (add)="handleAdd($event)"
                  (remove)="handleRemove($event)"
                  (inputChange)="filterStrings($event)"
                  (chipBlur)="handleChipBlur($event)"
                  (chipFocus)="handleChipFocus($event)"
                  requireMatch>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              events: string[] = [];

              get logTime(): string {
                return new Date().toISOString().split('T')[1].split('.')[0];
              }

              handleChipBlur(value: any): void {
                this.events.push(this.logTime + ': Blur Event received from ' + value);
              }

              handleChipFocus(value: any): void {
                this.events.push(this.logTime + ': Focus Event received from ' + value);
              }

              handleAdd(value: any): void {
                this.events.push(this.logTime + ': Add Event received from ' + value);
              }

              handleRemove(value: any): void {
                this.events.push(this.logTime + ': Remove Event received from ' + value);
              }
            }
          ]]>
        </td-highlight>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
   
<td-readme-loader resourceUrl="platform/core/chips/README.md"></td-readme-loader>
