<md-card>
  <md-card-title>Chips &amp; Autocomplete</md-card-title>
  <md-card-subtitle>Autocomplete with chips and no custom inputs</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <div class="push">
        <div class="md-body-1">Type and select a preset option:</div>
        <td-chips [chipAddition]="chipAddition"
                  [items]="items"
                  [(ngModel)]="itemsRequireMatch"
                  placeholder="Enter autocomplete strings"
                  [readOnly]="readOnly"
                  requireMatch>
        </td-chips>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [chipAddition]="chipAddition"
                      [items]="items"
                      [(ngModel)]="itemsRequireMatch"
                      placeholder="Enter autocomplete strings"
                      [readOnly]="readOnly"
                      requireMatch>
            </td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              readOnly: boolean = false;
              chipAddition: boolean = true;

              items: string[] = [
                'stepper',
                'expansion-panel',
                'markdown',
                'highlight',
                'loading',
                'media',
                'chips',
                'http',
                'json-formatter',
                'pipes',
                'need more?',
              ];

              itemsRequireMatch: string[] = this.items.slice(0, 6);

            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
  <md-divider></md-divider>
  <md-card-actions>
    <div class="pad-sm">
      <md-slide-toggle color="accent" [(ngModel)]="readOnly">
        Read only
      </md-slide-toggle>
    </div>
    <md-divider></md-divider>
    <div class="pad-sm">
      <md-slide-toggle color="accent" [(ngModel)]="chipAddition">
        Chip addition
      </md-slide-toggle>
    </div>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>Autocomplete with custom inputs</md-card-title>
  <md-card-subtitle>Autocomplete demo allowing custom inputs</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <div class="push">
        <div class="md-body-1">Type and select option or enter custom text and press enter:</div>
        <td-chips [items]="items" placeholder="Enter any string"></td-chips>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips [items]="items" placeholder="Enter any string"></td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {

              items: string[] = [
                'stepper',
                'expansion-panel',
                'markdown',
                'highlight',
                'loading',
                'media',
                'chips',
                'http',
                'json-formatter',
                'pipes',
                'need more?',
              ];

            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>
<md-card>
  <md-card-title>Custom chips</md-card-title>
  <md-card-subtitle>Demo allowing custom inputs for tags</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs dynamicHeight>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <div class="push">
        <div class="md-body-1">Type any test and press enter:</div>
        <td-chips placeholder="Enter any string"></td-chips>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chips placeholder="Enter any string"></td-chips>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class ChipsDemoComponent {
              
            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>
<md-card>
  <md-card-title>TdChipsComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-chips>]]></code></h2>
    <p>Use <code><![CDATA[<td-chips>]]></code> element to generate a list of strings as chips.</p>
    <p>Add the [items] attribute to enable the autocomplete with a search list, and [requireMatch] to validate the input against the provided search list.</p>
    <p>When used with <a target="_blank" href="https://angular.io/docs/ts/latest/guide/forms.html">forms</a>, you can track change-states [dirty/pristine] and [touched/untouched].</p>
    <p>Since <code>[(ngModel)]</code> would be an array, you need to implement a custom validator for [valid/invalid] when its empty.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-chips>]]></code> component has {{chipsAttrs.length}} properties:</p>
    <md-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="chipsAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </ng-template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-chips placeholder="Enter string" [items]="items" [(ngModel)]="model" [readOnly]="readOnly" [chipAddition]="chipAddition" (add)="add($event)" (remove)="remove($event)" requireMatch>
        </td-chips>        
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        ...
        })
        export class Demo {
          readOnly: boolean: false;
          items: string[] = [
            'string1',
            'string2',
            'string3'
          ];
          model: string[] = [];

          add(value: string): void {
            ...
          }
          remove(value: string): void {
            ...
          }
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentChipsModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentChipsModule } from '@covalent/core';
        @NgModule({
          imports: [
            CovalentChipsModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
