.doc-nav ::ng-deep {
  font-size: 14px;
  padding-top: 24px;
  .doc-nav-section {
    padding-top: 4px;
  }
  .doc-nav-section-label {
    padding: 12px 36px 0;
    letter-spacing: 0.1666em;
    font-size: 11px;
    &::after {
      content: '';
      width: 227px;
      height: 1px;
      background-color: #e0e0e0;
      display: block;
    }
  }
  .mat-list-base .mat-list-item {
    font-size: 14px;
    height: 38px;
    .mat-list-item-content {
      padding-left: 36px;
      padding-bottom: 2px;
    }
  }
  td-expansion-panel.td-expansion-panel {
    box-shadow: none;
    .mat-icon {
      font-size: 18px;
      // display: none;
      user-select: none;
    }
    .td-expansion-panel-header .td-expansion-panel-header-content {
      height: 38px;
      padding-right: 20px;
    }
    .td-expansion-label {
      font-size: 14px;
      padding-bottom: 4px;
    }
  }
  .doc-nav-link {
    position: relative;
    &.active {
      color: #005655 !important;
      font-weight: 400 !important;
    }
    &.mat-list-item:focus {
      background-color: white;
    }
  }

  a.doc-nav-link {
    &::after {
      content: '';
      display: block;
      width: calc(100% - 36px);
      height: 29px;
      position: absolute;
      left: 0;
      top: 5px;
      z-index: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      opacity: 0;
    }
    &:hover {
      background: white;
      &::after {
        background-color: #0000000d;
        opacity: 1;
      }
    }
  }

  a.doc-nav-link.active {
    &::after {
      opacity: 1;
      background-color: #00969626;
    }
  }
  .doc-nav-link:hover:not(.active) {
    color: black !important;
  }
  .fw-500 {
    font-weight: 500;
  }
}
