<md-card>
  <md-card-title>Data Table</md-card-title>
  <md-card-subtitle>Display sets of raw data</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <p>Basic Demo</p>

    <td-data-table
      title="Search and pagination enabled"
      [data]="data"
      [columns]="columns"
      [pagination]="pagination"
      [pageSize]="pageSize"
      [rowSelection]="rowSelection"
      [multiSelect]="multiSelect"
      [search]="search"
      [initialSortColumn]="initialSortColumn"
      [sortOrder]="sortOrder"
      (sortChanged)="sortChanged($event)">
    </td-data-table>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="togglePagination()">
      Toggle Pagination
      ({{pagination ? 'ON' : 'OFF'}})
    </button>

    <button md-button color="primary" (click)="togglePageSize()" [disabled]="!pagination">
      Change Page Size
      ({{pageSize}})
    </button>

    <button md-button color="primary" (click)="toggleRowSelection()">
      Toggle RowSelection
      ({{rowSelection ? 'ON' : 'OFF'}})
    </button>

    <button md-button color="primary" (click)="toggleRowMultiSelect()" [disabled]="!rowSelection">
      Toggle RowMultiSelect
      ({{multiSelect ? 'ON' : 'OFF'}})
    </button>

    <button md-button color="primary" (click)="toggleSortOrder()">
      Toggle SortOrder
      ({{sortOrder}})
    </button>

    <button md-button color="primary" (click)="toggleTooltips()">
      Toggle Tooltip
      ({{areTooltipsOn() ? 'ON' : 'OFF'}})
    </button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>TdDataTableComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-data-table>]]></code></h2>
    <p>Use <code><![CDATA[<td-data-table>]]></code> element to generate a table.</p>
    <p>Pass an array of javascript objects with the information to be displayed on the table to the [data] attribute.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td-data-table>]]></code> component has {{dataTableAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="dataTableAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-data-table
          [data]="data"
          [columns]="columns"
          pagination="true"
          pageSize="5"
          rowSelection="true"          
          multiSelect="false"          
          search="true"
          initialSortColumn="calories"
          sortOrder="ASC">
        </td-data-table>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        ...
        })
        export class Demo {
          columns: any[] = [
            { name: 'name',  label: 'Dessert (100g serving)', tooltip: 'Common food name', sortable: true },
            { name: 'type', label: 'Type', sortable: true },
            { name: 'calories', label: 'Calories', numeric: true, format: NUMBER_FORMAT, sortable: true },
            { name: 'fat', label: 'Fat (g)', numeric: true, format: DECIMAL_FORMAT },
            { name: 'carbs', label: 'Carbs (g)', numeric: true, format: NUMBER_FORMAT },
            { name: 'protein', label: 'Protein (g)', numeric: true, format: DECIMAL_FORMAT },
            { name: 'sodium', label: 'Sodium (mg)', numeric: true, format: NUMBER_FORMAT },
            { name: 'calcium', label: 'Calcium (%)', numeric: true, format: NUMBER_FORMAT },
            { name: 'iron', label: 'Iron (%)', numeric: true, format: NUMBER_FORMAT },
          ];

          data: any[] = [
              {
                'name': 'Frozen yogurt',
                'type': 'Ice cream',
                'calories': { 'value': 159.0 },
                'fat': { 'value': 6.0 },
                'carbs': { 'value': 24.0 },
                'protein': { 'value': 4.0 },
                'sodium': { 'value': 87.0 },
                'calcium': { 'value': 14.0 },
                'iron': { 'value': 1.0 },
              }, {
                'name': 'Ice cream sandwich',
                'type': 'Ice cream',
                'calories': { 'value': 237.0 },
                'fat': { 'value': 9.0 },
                'carbs': { 'value': 37.0 },
                'protein': { 'value': 4.3 },
                'sodium': { 'value': 129.0 },
                'calcium': { 'value': 8.0 },
                'iron': { 'value': 1.0 },
              }, {
                'name': 'Eclair',
                'type': 'Pastry',
                'calories': { 'value':  262.0 },
                'fat': { 'value': 16.0 },
                'carbs': { 'value': 24.0 },
                'protein': { 'value':  6.0 },
                'sodium': { 'value': 337.0 },
                'calcium': { 'value':  6.0 },
                'iron': { 'value': 7.0 },
              }];
        }
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentDataTableModule] using the <code>forRoot()</code> method in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentDataTableModule } from '@covalent/data-table';
        @NgModule({
          imports: [
            CovalentDataTableModule.forRoot(),
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
