<mat-card>
  <mat-card-title>Data Table</mat-card-title>
  <mat-card-subtitle>Display sets of raw data</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3 class="mat-title">Custom Data Table</h3>
    <h4 class="mat-subheading-2">with custom headings, columns, and inline editing</h4>
    <mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
          <div class="mat-table-container">
          <table td-data-table>
            <thead>
              <tr td-data-table-column-row>
                <th td-data-table-column
                    *ngFor="let column of columns"
                    [numeric]="column.numeric">
                  {{column.label}}
                </th>
                <th td-data-table-column>
                  <mat-icon>comment</mat-icon>
                  <span>Comments</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr td-data-table-row *ngFor="let row of basicData">
                <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
                  {{column.format ? column.format(row[column.name]) : row[column.name]}}
                </td>
                <td td-data-table-cell (click)="openPrompt(row, 'comments')">
                  <button mat-button [class.mat-accent]="!row['comments']">{{row['comments'] || 'Add Comment'}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <table td-data-table>
              <thead>
                <tr td-data-table-column-row>
                  <th td-data-table-column
                      *ngFor="let column of columns"
                      [numeric]="column.numeric">
                    { {column.label}}
                  </th>
                  <th td-data-table-column>
                    <mat-icon>comment</mat-icon>
                    <span>Comments</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr td-data-table-row *ngFor="let row of basicData">
                  <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
                    { {column.format ? column.format(row[column.name]) : row[column.name]}}
                  </td>
                  <td td-data-table-cell (click)="openPrompt(row, 'comments')">
                    <button mat-button [class.mat-accent]="!row['comments']">{ {row['comments'] || 'Add Comment'}}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { ITdDataTableColumn } from '@covalent/core';
            import { TdDialogService } from '@covalent/core';
            ...
            const DECIMAL_FORMAT: (v: any) => any = (v: number) => v.toFixed(2);
            ...
            })
            export class Demo {
              columns: ITdDataTableColumn[] = [
                { name: 'first_name',  label: 'First Name' },
                { name: 'last_name', label: 'Last Name' },
                { name: 'gender', label: 'Gender' },
                { name: 'email', label: 'Email' },
                { name: 'balance', label: 'Balance', numeric: true, format: DECIMAL_FORMAT },
              ];

              basicData: any[] = [...]; // see data json

              constructor(private _dialogService: TdDialogService) {}

              openPrompt(row: any, name: string): void {
                this._dialogService.openPrompt({
                  message: 'Enter comment?',
                  value: row[name],
                }).afterClosed().subscribe((value: any) => {
                  if (value !== undefined) {
                    row[name] = value;
                  }
                });
              }
            }
          ]]>
        </td-highlight>
        <p>Data:</p>
        <td-highlight lang="json" [content]="basicData | json">
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">Basic Data Table</h3>
    <h4 class="mat-subheading-2">with formatting, configurable width columns and templates</h4>
    <mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <td-data-table
          [data]="basicData"
          [columns]="configWidthColumns">
          <ng-template tdDataTableTemplate="img" let-value="value">
            <img [src]="value"/>
          </ng-template>
        </td-data-table>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-data-table
              [data]="basicData"
              [columns]="configWidthColumns">
              <ng-template tdDataTableTemplate="img" let-value="value">
                <img [src]="value"/>
              </ng-template>
            </td-data-table>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { ITdDataTableColumn } from '@covalent/core';
            ...
            const DECIMAL_FORMAT: (v: any) => any = (v: number) => v.toFixed(2);
            ...
            })
            export class Demo implements OnInit {
              configWidthColumns: ITdDataTableColumn[] = [
                { name: 'first_name',  label: 'First name', width: 150 },
                { name: 'last_name', label: 'Last name', width: { min: 150, max: 250 } },
                { name: 'gender', label: 'Gender'},
                { name: 'email', label: 'Email', width: 250},
                { name: 'img', label: '', width: 100},
              ];

              basicData: any[] = [...]; // see data json
            }
          ]]>
        </td-highlight>
        <p>Data:</p>
        <td-highlight lang="json" [content]="basicData | json">
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">Data Table with components</h3>
    <h4 class="mat-subheading-2">Paging Bar / Search Box / Sortable components</h4>
    <mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" [class.mat-selected-title]="selectedRows.length && selectable">
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
            <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title">Title here</span>
            <span *ngIf="selectedRows.length && selectable" class="mat-body-1">{{selectedRows.length}} item(s) selected</span>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
          </td-search-box>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <td-data-table
          #dataTable
          [data]="filteredData"
          [columns]="columns"
          [selectable]="selectable"
          [clickable]="clickable"
          [multiple]="multiple"
          [sortable]="true"
          [sortBy]="sortBy"
          [(ngModel)]="selectedRows"
          [sortOrder]="sortOrder"
          (sortChange)="sort($event)"
          (rowClick)="showAlert($event)"
          [style.height.px]="200">
        </td-data-table>
        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h3>No results to display.</h3>
        </div>
        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
              <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                <span class="mat-title">Title here</span>
              </span>
              <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title">Title here</span>
                <span *ngIf="selectedRows.length && selectable" class="mat-body-1">{{selectedRows.length}} item(s) selected</span>
              </span>
              <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
              </td-search-box>
            </div>
            <mat-divider></mat-divider>
            <td-data-table
              #dataTable
              [data]="filteredData"
              [columns]="columns"
              [selectable]="selectable"
              [clickable]="clickable"
              [multiple]="multiple"
              [sortable]="true"
              [sortBy]="sortBy"
              [(ngModel)]="selectedRows"
              [sortOrder]="sortOrder"
              (sortChange)="sort($event)"
              (rowClick)="showAlert($event)"
              [style.height.px]="200">
            </td-data-table>
            <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
              <h3>No results to display.</h3>
            </div>
            <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
              <span hide-xs>Rows per page:</span>
              <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
                  { {size} }
                </mat-option>
              </mat-select>
              { {pagingBar.range} } <span hide-xs>of { {pagingBar.total} }</span>
            </td-paging-bar>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { TdDataTableService, TdDataTableSortingOrder, ITdDataTableSortChangeEvent, ITdDataTableColumn } from '@covalent/core';
            import { IPageChangeEvent } from '@covalent/core';
            ...
            const DECIMAL_FORMAT: (v: any) => any = (v: number) => v.toFixed(2);
            ...
            })
            export class Demo {
              columns: ITdDataTableColumn[] = [
                { name: 'first_name',  label: 'First Name', sortable: true, width: 150 },
                { name: 'last_name', label: 'Last Name', filter: true, sortable: false },
                { name: 'gender', label: 'Gender', hidden: false },
                { name: 'email', label: 'Email', sortable: true, width: 250 },
                { name: 'balance', label: 'Balance', numeric: true, format: DECIMAL_FORMAT },
              ];
          
              data: any[] = [...]; // see json data

              filteredData: any[] = this.data;
              filteredTotal: number = this.data.length;

              searchTerm: string = '';
              fromRow: number = 1;
              currentPage: number = 1;
              pageSize: number = 50;
              sortBy: string = 'first_name';
              selectedRows: any[] = [];
              sortOrder: TdDataTableSortingOrder = TdDataTableSortingOrder.Descending;

               constructor(private _dataTableService: TdDataTableService) {}

              ngOnInit(): void {
                this.filter();
              }

              sort(sortEvent: ITdDataTableSortChangeEvent): void {
                this.sortBy = sortEvent.name;
                this.sortOrder = sortEvent.order;
                this.filter();
              }

              search(searchTerm: string): void {
                this.searchTerm = searchTerm;
                this.filter();
              }

              page(pagingEvent: IPageChangeEvent): void {
                this.fromRow = pagingEvent.fromRow;
                this.currentPage = pagingEvent.page;
                this.pageSize = pagingEvent.pageSize;
                this.filter();
              }

              showAlert(event: any): void {
                let row: any = event.row;
                // .. do something with event.row
              }

              filter(): void {
                let newData: any[] = this.data;
                let excludedColumns: string[] = this.columns
                .filter((column: ITdDataTableColumn) => {
                  return ((column.filter === undefined && column.hidden === true) || 
                          (column.filter !== undefined && column.filter === false));
                }).map((column: ITdDataTableColumn) => {
                  return column.name;
                });
                newData = this._dataTableService.filterData(newData, this.searchTerm, true, excludedColumns);
                this.filteredTotal = newData.length;
                newData = this._dataTableService.sortData(newData, this.sortBy, this.sortOrder);
                newData = this._dataTableService.pageData(newData, this.fromRow, this.currentPage * this.pageSize);
                this.filteredData = newData;
              }
            }
          ]]>
        </td-highlight>
        <p>Data:</p>
        <td-highlight lang="json" [content]="basicData | json">
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="selectable">
        Selectable rows
      </mat-slide-toggle>
      <mat-slide-toggle color="accent" [(ngModel)]="clickable">
        Clickable rows
      </mat-slide-toggle>
      <mat-slide-toggle class="push-left" color="accent" [(ngModel)]="multiple" [disabled]="!selectable && !clickable">
        Multiple rows (shift + click for range selection)
      </mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" (change)="toggleTooltips()">
        Tooltips on column headers
      </mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="pad-sm">
      <mat-slide-toggle color="accent" [(ngModel)]="columns[2].hidden" (ngModelChange)="dataTable.refresh()">
        Hide calories
      </mat-slide-toggle>
      <mat-slide-toggle color="accent" [(ngModel)]="columns[1].filter">
        Type column is searchable (search for <code>lifsey</code>)
      </mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>

<td-readme-loader resourceUrl="platform/core/data-table/README.md"></td-readme-loader>

<mat-card>
  <mat-card-title>TdDataTableService</mat-card-title>
  <mat-card-subtitle>How to use this service</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <p>Service provided with methods for sorting/paging/searching the data table.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[TdDataTableService]]></code> service has {{serviceAttrs.length}} methods:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="serviceAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Data Table (Atomic) Components</mat-card-title>
  <mat-card-subtitle>How to use these components</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Use <code><![CDATA[<table td-data-table>]]></code> element to generate wrapper atomic table.</p>
    <p>Use <code><![CDATA[<tr td-data-table-column-row>]]></code> element to generate wrapper atomic column row.</p>
    <p>Use <code><![CDATA[<tr td-data-table-row>]]></code> element to generate wrapper atomic row.</p>
    <p>Use <code><![CDATA[<td td-data-table-cell>]]></code> element to generate wrapper atomic cell.</p>
    <p>Use <code><![CDATA[<th td-data-table-column>]]></code> element to generate wrapper atomic column.</p>
    <h3>Properties:</h3>
    <p>The <code><![CDATA[<td td-data-table-cell>]]></code> component has {{cellAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="cellAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <p>The <code><![CDATA[<th td-data-table-column>]]></code> component has {{columnAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="columnAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <table td-data-table>
          <thead>
            <tr td-data-table-column-row>
              <th td-data-table-column
                  [name]="unique"
                  [sortable]="true|false"
                  [sortOrder]="'ASC'|'DESC'"
                  [active]="true|false"
                  [numeric]="true|false"
                  (sortChange)="function($event)">
                ...
              </th>
            </tr>
          </thead>
          <tbody>
            <tr td-data-table-row>
              <td td-data-table-cell
                  [numeric]="true|false">
                ...
              </td>
            </tr>
          </tbody>
        </table>
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
