//
// Pulls (negative margins)
// --------------------------------------------------
body {
	.pull {
		margin: -16px;
	}
	.pull-xxl {
		margin: -56px;
	}
	.pull-xl {
		margin: -48px;
	}
	.pull-lg {
		margin: -32px;
	}
	.pull-md {
		margin: -24px;
	}
	.pull-sm {
		margin: -8px;
	}
	.pull-xs {
		margin: -4px;
	}
	.pull-none {
		margin: -0px;
	}

	.pull-top {
		margin-top: -16px;
	}
	.pull-top-xxl {
		margin-top: -56px;
	}
	.pull-top-xl {
		margin-top: -48px;
	}
	.pull-top-lg {
		margin-top: -32px;
	}
	.pull-top-md {
		margin-top: -24px;
	}
	.pull-top-sm {
		margin-top: -8px;
	}
	.pull-top-xs {
		margin-top: -4px;
	}
	.pull-top-none {
		margin-top: -0px;
	}

  .pull-right {
    margin-right: -16px;
  }
	.pull-right-xxl {
		margin-right: -56px;
	}
	.pull-right-xl {
		margin-right: -48px;
	}
	.pull-right-lg {
		margin-right: -32px;
	}
	.pull-right-md {
		margin-right: -24px;
	}
	.pull-right-sm {
		margin-right: -8px;
	}
	.pull-right-xs {
		margin-right: -4px;
	}
	.pull-right-none {
		margin-right: -0px;
	}

	.pull-bottom {
		margin-bottom: -16px;
	}
	.pull-bottom-xxl {
		margin-bottom: -56px;
	}
	.pull-bottom-xl {
		margin-bottom: -48px;
	}
	.pull-bottom-lg {
		margin-bottom: -32px;
	}
	.pull-bottom-md {
		margin-bottom: -24px;
	}
	.pull-bottom-sm {
		margin-bottom: -8px;
	}
	.pull-bottom-xs {
		margin-bottom: -4px;
	}
	.pull-bottom-none {
		margin-bottom: -0px;
	}

  .pull-left {
    margin-left: -16px;
  }
	.pull-left-xxl {
		margin-left: -56px;
	}
	.pull-left-xl {
		margin-left: -48px;
	}
	.pull-left-lg {
		margin-left: -32px;
	}
	.pull-left-md {
		margin-left: -24px;
	}
	.pull-left-sm {
		margin-left: -8px;
	}
	.pull-left-xs {
		margin-left: -4px;
	}
	.pull-left-none {
		margin-left: -0px;
	}
}
