<demo-component [demoTitle]="'Checkboxes'">
    <flavored-markdown-demo-basic></flavored-markdown-demo-basic>
</demo-component>

<demo-component [demoTitle]="'Inline Code & Snippets'">
  <flavored-markdown-demo-inline></flavored-markdown-demo-inline>
</demo-component>

<demo-component [demoTitle]="'Tables'">
  <flavored-markdown-demo-tables></flavored-markdown-demo-tables>
</demo-component>

<demo-component [demoTitle]="'Flavored Markdown Loader'">
  <flavored-markdown-demo-loader></flavored-markdown-demo-loader>
</demo-component>
