<mat-card>
  <mat-card-title>Media Queries</mat-card-title>
  <mat-card-subtitle>Responsive service & directive (for attributes)</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Resize screen to toggle breakpoints</p>
    <mat-list>
      <ng-template let-demo let-last="last" ngFor [ngForOf]="mediaDemo">
        <mat-list-item>
          <mat-icon [@tdJello]="demo.value" matListAvatar>
            <span *ngIf="demo.value; else offStateIcon" class="tc-primary">check_circle</span>
            <ng-template #offStateIcon>
              <span>highlight_off</span>
            </ng-template>
          </mat-icon>
          <h3 [tdMediaToggle]="demo.query" [mediaClasses]="['tc-primary']" [mediaAttributes]="{title: 'It matches!!!'}" matLine> {{demo.query}}</h3>
          <p matLine> matches: {{demo.value}} </p>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>    
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdMediaService</mat-card-title>
  <mat-card-subtitle>How to use this service</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code>TdMediaService</code></h2>
    <p>This service is designed to provide basic media query evaluation for responsive applications.</p>
    <p>It has pre-programmed support for media queries that match the layout 
      <a href="https://material.google.com/layout/responsive-ui.html" target="_blank">breakpoints</a>:
    </p>
    <mat-list>
      <ng-template let-bpoint let-last="last" ngFor [ngForOf]="mediaBreakpoints">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{bpoint.breakpoint}}</h3>
          <p matLine> {{bpoint.query}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Methods:</h3>
    <p>The <code>TdMediaService</code> service has {{mediaServiceMethods.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="last" ngFor [ngForOf]="mediaServiceMethods">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example:</h3>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Component, NgZone, OnInit, OnDestroy } from '@angular/core';
        import { TdMediaService } from '@covalent/core';
        import { Subscription } from 'rxjs/Subscription';
        ...
        })
        export class Demo implements OnInit, OnDestroy {
          isSmallScreen: boolean = false;
          private _querySubscription: Subscription;

          constructor(private _mediaService: TdMediaService, private _ngZone: NgZone) { 
          }

          checkScreen(): void {
            this._ngZone.run(() => {
              this.isSmallScreen = this._mediaService.query('sm'); // or '(min-width: 960px) and (max-width: 1279px)'
            });
          }

          watchScreen(): void {
            this._querySubscription = this._mediaService.registerQuery('sm').subscribe((matches: boolean) => {
              this._ngZone.run(() => {
                this.isSmallScreen = matches;
              });
            });
          }

          ngOnInit(): void {
            this.watchScreen();
          }

          ngOnDestroy(): void {
            this._querySubscription.unsubscribe();
          }
        }
      ]]>
    </td-highlight>
    <p>Note: Always unsubscribe from [Observable] objects when not using them anymore.</p>
    <p>A good way of doing it is in the <code>ngOnDestroy</code> component life-cycle hook provided by the [OnDestroy] interface.</p>
    <h3>Setup:</h3>
    <p>Import the [CovalentMediaModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentMediaModule } from '@covalent/core';
        @NgModule({
          imports: [
            CovalentMediaModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdMediaToggleDirective</mat-card-title>
  <mat-card-subtitle>How to use this directive</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code>tdMediaToggle</code></h2>
    <p>Simply add the <code>tdMediaToggle</code> attibute with a "media query" value to the element you want to modify depending on screen size.</p>
    <h3>Properties:</h3>
    <p>The <code>tdMediaToggle</code> directive has {{mediaAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="mediaAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example:</h3>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <div tdMediaToggle="sm" [mediaClasses]="['classOne', 'classTwo']" 
          [mediaAttributes]="{title: 'tooltip'}" [mediaStyles]="{color: 'red'}">
          ...
        </div>
      ]]>
    </td-highlight>
  </mat-card-content>
 </mat-card>
