<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-bottom']">
    <mat-card-title>FAB Patterns</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-typography">
      <h3>When to use</h3>
      <p>The floating action button (FAB) provides access to the primary action in an application.</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <div layout="row" layout-align="start center">
        <span>Example</span>
        <span flex></span>
        <a href="https://stackblitz.com/edit/fab-patterns" target="_blank" matTooltip="View Code" mat-icon-button>
          <mat-icon>launch</mat-icon>
        </a>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <div layout-gt-xs="row">
      <div flex-gt-xs="25" class="mat-typography pad">
      <h2>Usage</h2>
      <h3>Position</h3>
      <p>Float to bottom-right for most common use case: adding a new</p>
      <mat-divider class="push-bottom"></mat-divider>
      <h3>Color</h3>
      <p>Use theme's accent color</p>
      <mat-divider class="push-bottom"></mat-divider>
      <h2 class="push-bottom-none">Guidelines</h2>
      <mat-nav-list>
        <a mat-list-item href="https://material.io/guidelines/components/buttons-floating-action-button.html" target="_blank">
          <mat-icon style="font-size: 15px">launch</mat-icon>
          <span matLine>Material Design</span>
          <p matLine>FAB Guidelines</p>
        </a>
        <mat-divider></mat-divider>
          <a mat-list-item href="https://material.angular.io/components/button/overview" target="_blank">
          <mat-icon style="font-size: 15px">launch</mat-icon>
          <span matLine>Angular Material</span>
          <p matLine>Button Component</p>
        </a>
      </mat-nav-list>
    </div>
    <iframe flex-gt-xs class="iframe" [src]="source"></iframe>
  </div>
  </mat-card>
  <div layout-gt-xs="row">
    <div flex-gt-xs="50">
      <mat-card>
        <mat-card-title>
          <span class="tc-green-600">Do.</span>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>looks_one</mat-icon>
            <h3 matLine>Only include one per page</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_two</mat-icon>
            <h3 matLine>Use for primary action</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div flex-gt-xs="50">
      <mat-card>
        <mat-card-title>
          <span class="tc-red-600">Don't.</span>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>looks_one</mat-icon>
            <h3 matLine>Use for negative actions like delete</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>looks_3</mat-icon>
            <h3 matLine>Embelish with custom styles</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
