<!-- <mat-card>
  <mat-card-title>Markdown Text Editor</mat-card-title>
  <mat-card-subtitle
    >Simple markdown text editor component (edit the markdown in the left editor for a real-time
    preview)</mat-card-subtitle
  >
  <mat-divider></mat-divider>
  <mat-toolbar hide show-gt-md>
    <div layout="row" flex>
      <span flex="55">Editor</span>
      <span flex="45">Preview</span>
    </div>
  </mat-toolbar>
  <mat-divider hide show-gt-md></mat-divider>
  <div layout-gt-md="row" class="bgc-grey-50" tdMediaToggle="gt-md" [mediaStyles]="{ height: '650px' }">
    <div flex-gt-md="55" layout-gt-md="column" class="pad-sm">
      <td-text-editor flex-gt-md [(ngModel)]="editorVal"></td-text-editor>
    </div>
    <div flex-gt-md="45" layout-gt-md="column" class="md-content pad-sm">
      <td-markdown flex-gt-md [content]="editorVal" [simpleLineBreaks]="simpleLineBreaks"></td-markdown>
    </div>
  </div>
</mat-card>

<td-readme-loader resourceUrl="platform/text-editor/README.md"> </td-readme-loader> -->
<h1>Text editor is working!</h1>
