<td-layout-nav-list #navList
                    #root="$implicit" dir="ltr"
                    logo="assets:teradata"
                    toolbarTitle="Covalent"
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : ((media.registerQuery('sm') | async) ? 'push' : 'over')"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <md-nav-list td-sidenav-content>
    <h3 md-subheader>Core Components</h3>
    <ng-template let-item let-last="last" ngFor [ngForOf]="items">
      <a md-list-item 
          [routerLink]="[item.route]" 
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact:true}"
          (click)="!media.query('gt-sm') && navList.close()">
        <md-icon md-list-avatar>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line> {{item.description}} </p>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
    <h3 md-subheader>Optional Components</h3>
    <ng-template let-item let-last="last" ngFor [ngForOf]="optional">
      <a md-list-item 
          [routerLink]="[item.route]" 
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact:true}"
          (click)="!media.query('gt-sm') && navList.close()">
        <md-icon md-list-avatar>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line> {{item.description}} </p>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
    <h3 md-subheader>External Components</h3>
    <a md-list-item 
        href="https://material.angular.io/components"
        target="_blank">
      <md-icon md-list-avatar>layers</md-icon>
      <h3 md-line> Angular Material </h3>
      <p md-line> Material Design components </p>
      <md-icon mdTooltip="External docs" class="text-md tc-grey-600">launch</md-icon>
    </a>
    <md-divider md-inset></md-divider>
    <ng-template let-item let-last="last" ngFor [ngForOf]="external">
      <a md-list-item 
          [routerLink]="[item.route]" 
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact:true}" 
          (click)="!media.query('gt-sm') && navList.close()">
        <md-icon md-list-avatar>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line> {{item.description}} </p>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </md-nav-list>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Covalent Components &amp; Addons</span>
    <span flex></span>
    <button md-icon-button [mdMenuTriggerFor]="settingsMenu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #settingsMenu="mdMenu">
      <button md-menu-item (click)="root.dir = (root.dir == 'rtl' ? 'ltr' : 'rtl'); changeDir(root.dir)" title="Toggle between RTL and LTR">
        <md-icon>swap_horiz</md-icon>
        <span>{{root.dir.toUpperCase()}}</span>
      </button>
    </md-menu>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</td-layout-nav-list>