<div class="pad">
  <h2>Navigational Stepper</h2>
  <h3>Horizontal Stepper</h3>
  <td-step-nav mode="horizontal">
    <ng-template let-routeLink let-index="index" let-last="last" ngFor [ngForOf]="routeLinks">
      <a td-step-link class="td-step-horizontal-header" 
        [routerLink]="['../']"
        [active]="activeLinkIndex === index"
        [label]="routeLink.label"
        [sublabel]="routeLink.sublabel"
        [state]="routeLink.state"
        [number]="index + 1"
        [disabled]="routeLink.disabled">
      </a>
      <span *ngIf="!last" class="td-horizontal-line"></span>
    </ng-template>
  </td-step-nav>
</div>
