<div class="pad-inline-end-sm pad-inline-start-sm">
  <h1 class="mat-display-1 push-block-end text-caps">{{ category.name }}</h1>
  <h3 class="mat-subheading-2 tc-grey-600 push-block-end-xl" [style.maxWidth.px]="468">{{ category.description }}</h3>
</div>

<section *ngFor="let group of categoryGroups">
  <div
    *ngIf="!(group?.views?.length === 1 && (group?.views)[0]?.name === 'Overview')"
    class="push-block-end-lg pad-block-end-xs"
  >
    <h3 class="mat-subheading-1 tc-grey-600 push-block-end-xs pad-inline-end-sm pad-inline-start-sm">{{ group.name }}</h3>
    <div layout="row" layout-wrap>
      <ng-container *ngFor="let item of group.views">
        <div flex-xs="100" flex-sm="33" flex-md="33" flex-gt-md="25" *ngIf="item.name !== 'Overview'">
          <mat-card
            [routerLink]="item.route"
            [ngClass]="{ 'no-description': !item?.description }"
            class="component-card cursor-pointer"
            layout="column"
            layout-align="space-between start"
          >
            <mat-icon ngClass="tc-{{ item.color || group.color || 'grey-600' }}">
              {{ item.icon }}
            </mat-icon>
            <div>
              <div class="push-block-end-xs">
                <span class="mat-subheading-2">{{ item.name }}</span>
              </div>
              <div *ngIf="item?.description" class="tc-grey-600 mat-caption component-card-body">
                {{ item.description | truncate }}
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="pad-block-end-xxl" *ngIf="category.name === 'Components'">
  <div class="pad-inline-end-sm pad-inline-start-sm pad-block-start-xl">
    <h1 class="mat-display-1 push-block-end-md">External Components</h1>
    <h3 class="mat-subheading-2 tc-grey-600 push-block-end-lg" [style.maxWidth.px]="468">
      Recommended but not maintained by Covalent
    </h3>
  </div>

  <div layout="row" layout-wrap>
    <div flex-xs="100" flex-sm="33" flex-md="33" flex-gt-md="25">
      <a [href]="angularDocsURL" target="_blank">
        <mat-card class="component-card cursor-pointer" layout="column" layout-align="space-between start">
          <mat-icon class="icon-component tc-deep-purple-800">layers</mat-icon>
          <div>
            <div class="mat-subheading-2 push-block-end-xs">Angular Material</div>
            <div class="tc-grey-600 mat-caption">A short description about the component.</div>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</section>
