<td-file-input *ngIf="!files" [multiple]="multiple" [disabled]="disabled" [accept]="accept" [color]="defaultColor" (select)="handleSelect($event)">
  <ng-template [cdkPortalHost]="inputLabel" [ngIf]="true"></ng-template>
</td-file-input>
<div *ngIf="files" layout="row">
  <button #fileUpload
          class="td-file-upload"
          mat-raised-button
          type="button"
          [color]="activeColor"
          (keyup.delete)="cancel()"
          (keyup.backspace)="cancel()"
          (keyup.escape)="cancel()"
          (click)="uploadPressed()"> 
    <ng-content></ng-content>
  </button>
  <button mat-icon-button
          type="button"
          class="td-file-upload-cancel"
          [color]="cancelColor"            
          (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
</div>