<mat-nav-list dense *ngIf="links && links.length > 0">
  <ng-template ngFor [ngForOf]="links" let-link let-linkIndex="index">
    <ng-container *ngIf="link.show === undefined || link.show">
      <ng-container *ngIf="link.children?.length && !link.link">
        <h3
          [class.td-nav-link-cursor]="link.collapsable"
          matSubheader
          matRipple
          [matRippleDisabled]="!link.collapsable"
          (click)="link.collapsable && _toggle(link)"
        >
          <mat-icon *ngIf="link.icon" [fontSet]="link.icon?.fontSet">{{ link.icon?.name }}</mat-icon>
          <span [style.width.%]="100">{{ link.label }}</span>
          <mat-icon [@tdRotate]="!_isCollapsed(link)" *ngIf="link.collapsable">
            keyboard_arrow_down
          </mat-icon>
        </h3>
        <td-nav-links
          [id]="id + '-' + linkIndex"
          [@tdCollapse]="!!_isCollapsed(link)"
          [links]="link.children"
        ></td-nav-links>
      </ng-container>
      <ng-container *ngIf="link.link">
        <a
          mat-list-item
          *ngIf="_href(link)"
          [href]="_href(link)"
          [target]="link.link.openInNewTab ? '_blank' : undefined"
          id="{{ id }}-{{ linkIndex }}"
          class="td-nav-link"
          (click)="_linkClicked(link)"
        >
          <mat-icon matListIcon [fontSet]="link.icon?.fontSet">{{ link.icon?.name }}</mat-icon>
          <span matLine>{{ link.label }}</span>
          <mat-icon *ngIf="link.link.openInNewTab">
            launch
          </mat-icon>
        </a>
        <a
          mat-list-item
          *ngIf="_routerLink(link)"
          [routerLink]="_routerLink(link)"
          [target]="link.link.openInNewTab ? '_blank' : undefined"
          id="{{ id }}-{{ linkIndex }}"
          class="td-nav-link"
          (click)="_linkClicked(link)"
        >
          <mat-icon matListIcon [fontSet]="link.icon?.fontSet">{{ link.icon?.name }}</mat-icon>
          <span matLine>{{ link.label }}</span>
          <mat-icon *ngIf="link.link.openInNewTab">
            launch
          </mat-icon>
        </a>
      </ng-container>
    </ng-container>
  </ng-template>
</mat-nav-list>
