<mat-card>
  <mat-card-title>Core Components</mat-card-title>
  <mat-card-subtitle>Core Covalent Components, Directives, Pipes &amp; Services</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <div layout-gt-xs="row" layout-wrap>
       <ng-template let-item let-last="last" ngFor [ngForOf]="items">
          <div flex-sm="50" flex-md="50" flex-gt-md="25">
            <mat-card href [routerLink]="[item.route]" class="mat-card-colored" flex>
              <mat-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
                <mat-icon class="mat-icon-font-xl tc-white">{{item.icon}}</mat-icon>
              </mat-toolbar>
              <mat-card-content>
                <div layout="column" layout-padding>
                  <div class="mat-subheading-2">{{item.title}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
     </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Optional Components</mat-card-title>
  <mat-card-subtitle>Extra components &amp; services not required</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <div layout-gt-xs="row" layout-wrap>
       <ng-template let-item let-last="last" ngFor [ngForOf]="optional">
          <div flex-sm="50" flex-md="50" flex-gt-md="25">
            <mat-card href [routerLink]="[item.route]" class="mat-card-colored" flex>
              <mat-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
                <mat-icon class="mat-icon-font-xl tc-white">{{item.icon}}</mat-icon>
              </mat-toolbar>
              <mat-card-content>
                <div layout="column" layout-padding>
                  <div class="mat-subheading-2">{{item.title}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
     </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>External Components</mat-card-title>
  <mat-card-subtitle>Recommended but not maintained by Covalent</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <div layout-gt-xs="row" layout-wrap>
        <div flex-sm="50" flex-md="50" flex-gt-md="25">
          <a href="https://material.angular.io/components" target="_blank" class="text-nodecoration tc-inherit">
            <mat-card href class="mat-card-colored" flex>
              <mat-toolbar class="bgc-cyan-500" layout="column" layout-align="center center" layout-padding>
                <mat-icon class="mat-icon-font-xl tc-white">layers</mat-icon>
              </mat-toolbar>
              <mat-card-content>
                <div layout="column" layout-padding>
                  <div class="mat-subheading-2">Angular Material <mat-icon class="text-md tc-grey-600" title="External docs">launch</mat-icon></div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
       <ng-template let-item let-last="last" ngFor [ngForOf]="external">
          <div flex-sm="50" flex-md="50" flex-gt-md="25">
            <mat-card href [routerLink]="[item.route]" class="mat-card-colored" flex>
              <mat-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
                <mat-icon class="mat-icon-font-xl tc-white">{{item.icon}}</mat-icon>
              </mat-toolbar>
              <mat-card-content>
                <div layout="column" layout-padding>
                  <div class="mat-subheading-2">{{item.title}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
     </div>
  </mat-card-content>
</mat-card>