<mat-card>
  <mat-card-title>Core Components</mat-card-title>
  <mat-card-subtitle>Core Covalent Components, Directives, Pipes &amp; Services</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="10px">
      <ng-template let-item let-last="last" ngFor [ngForOf]="items">
      <mat-grid-tile ngClass="bgc-{{item.color}}" class="cursor-pointer" [routerLink]="[item.route]">
        <mat-icon class="text-super tc-white">{{item.icon}}</mat-icon>
        <mat-grid-tile-footer>
          <h3 mat-line>{{item.title}}</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Optional Components</mat-card-title>
  <mat-card-subtitle>Extra components &amp; services not required</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="10px">
      <ng-template let-item let-last="last" ngFor [ngForOf]="optional">
        <mat-grid-tile ngClass="bgc-{{item.color}}" class="cursor-pointer" [routerLink]="[item.route]">
          <mat-icon class="text-super tc-white">{{item.icon}}</mat-icon>
          <mat-grid-tile-footer>
            <h3 mat-line>{{item.title}}</h3>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>External Components</mat-card-title>
  <mat-card-subtitle>Recommended but not maintained by Covalent</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="10px">
      <mat-grid-tile ngClass="bgc-cyan-500" class="cursor-pointer" href="https://material.angular.io/components" target="_blank">
        <mat-icon class="text-super tc-white">layers</mat-icon>
        <mat-grid-tile-footer>
          <h3 mat-line>Angular Material</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <ng-template let-item let-last="last" ngFor [ngForOf]="external">
        <mat-grid-tile ngClass="bgc-{{item.color}}" class="cursor-pointer" [routerLink]="[item.route]">
          <mat-icon class="text-super tc-white">{{item.icon}}</mat-icon>
          <mat-grid-tile-footer>
            <h3 mat-line>{{item.title}}</h3>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>