/**
* Teradata Colors
*/

// Custom orange contrast
$td-orange: (
  100: #facdbc,
  200: #f8b79d,
  300: #f7a17d,
  400: #f58b5e,
  500: #f3753f,
  600: #e46732,
  700: #d45925,
  800: #c54b17,
  900: #b53d0a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $white-87-opacity,
  ),
);
$td-slate: (
  50: #e3e7e8,
  100: #c9cfd1,
  200: #afb6b9,
  300: #959ea2,
  400: #7b858a,
  500: #616d73,
  600: #57646b,
  700: #4d5b62,
  800: #43515a,
  900: #394851,
  1000: #2e3d42,
  1100: #28353b,
  1200: #222e33,
  1300: #1f282e,
  1400: #1a2126,
  1500: #161c1f,
  1600: #14171a,
  1700: #101314,
  1800: #0c0e0f,
  1900: #060708,
  2000: #020203,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    1100: $white-87-opacity,
    1200: $white-87-opacity,
    1300: $white-87-opacity,
    1400: $white-87-opacity,
    1500: $white-87-opacity,
    1600: $white-87-opacity,
    1700: $white-87-opacity,
    1800: $white-87-opacity,
    1900: $white-87-opacity,
    2000: $white-87-opacity,
  ),
);
$td-slate-dark: $td-slate;
$td-yellow: (
  50: #fff4df,
  100: #ffebc2,
  200: #ffe2a5,
  300: #fed887,
  400: #fecf6a,
  500: #fec64d,
  600: #f5bb3c,
  700: #ecaf2b,
  800: #e3a419,
  900: #da9808,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
  ),
);
$td-teal: (
  50: #def9f8,
  100: #b2ebea,
  200: #85dddc,
  300: #59cecd,
  400: #2cc0bf,
  500: #00b2b1,
  600: #00a2a2,
  700: #009392,
  800: #008383,
  900: #007373,
  1000: #016b6b,
  1100: #036464,
  1200: #045c5c,
  1300: #055454,
  1400: #074d4d,
  1500: #084545,
  1600: #0a3e3e,
  1700: #0b3636,
  1800: #0c2e2e,
  1900: #0e2727,
  2000: #0f1f1f,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    1100: $white-87-opacity,
    1200: $white-87-opacity,
    1300: $white-87-opacity,
    1400: $white-87-opacity,
    1500: $white-87-opacity,
    1600: $white-87-opacity,
    1700: $white-87-opacity,
    1800: $white-87-opacity,
    1900: $white-87-opacity,
    2000: $white-87-opacity,
  ),
);
$td-blue: (
  50: #dceef5,
  100: #b0ddec,
  200: #84cce3,
  300: #58badb,
  400: #2ca9d2,
  500: #0098c9,
  600: #008ab6,
  700: #007ba3,
  800: #006d90,
  900: #005e7d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
  ),
);

// Background palette for light themes.
$mat-light-theme-background: (
  status-bar: mat-color($mat-grey, 300),
  app-bar: mat-color($mat-grey, 50),
  background: mat-color($mat-grey, 100),
  canvas: mat-color($mat-grey, 200),
  card: white /*** card color = surface color ***/,
  dialog: white,
  hover: rgba(0, 0, 0, 0.04),
  disabled-button: rgba(mat-color($mat-grey, 400), 0.1),
  raised-button: white,
  focused-button: rgba(0, 0, 0, 0.12),
  selected-button: #e0e0e0,
  selected-disabled-button: #bdbdbd,
  disabled-button-toggle: #eeeeee,
  unselected-chip: mat-color($mat-grey, 400),
  disabled-list-option: #eeeeee,
  tooltip: #616161,
  overlay: rgba(#000000, 0.4),
  accent: mat-color($td-teal, 200),
  accent-highlight: rgba(mat-color($td-teal, 200), 0.1),
  accent-highlight-hover: rgba(mat-color($td-teal, 200), 0.2),
  emphasis: mat-color($mat-blue-grey, 200),
  emphasis-highlight: rgba(mat-color($mat-blue-grey, 200), 0.1),
  emphasis-highlight-hover: rgba(mat-color($mat-blue-grey, 200), 0.2),
  caution: mat-color($mat-orange, 300),
  caution-highlight: rgba(mat-color($mat-orange, 300), 0.1),
  caution-highlight-hover: rgba(mat-color($mat-orange, 300), 0.2),
  negative: mat-color($mat-red, 300),
  negative-highlight: rgba(mat-color($mat-red, 300), 0.1),
  negative-highlight-hover: rgba(mat-color($mat-red, 300), 0.2),
  neutral: mat-color($mat-grey, 400),
  neutral-highlight: rgba(mat-color($mat-grey, 400), 0.04),
  neutral-highlight-hover: rgba(mat-color($mat-grey, 400), 0.08),
  positive: mat-color($mat-green, 200),
  positive-highlight: rgba(mat-color($mat-green, 200), 0.1),
  positive-highlight-hover: rgba(mat-color($mat-green, 200), 0.2),
  primary: mat-color($td-slate, 200),
  primary-highlight: rgba(mat-color($td-slate, 500), 0.04),
  primary-highlight-hover: rgba(mat-color($td-slate, 500), 0.08),
);

// Foreground palette for light themes.
$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  accent: mat-color($td-teal, 900),
  emphasis: mat-color($mat-blue-grey, 600),
  caution: mat-color($mat-amber, 800),
  negative: mat-color($mat-red, 900),
  neutral: mat-color($mat-grey, 400),
  positive: mat-color($mat-green, 700),
  primary: mat-color($td-slate, 800),
);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar: mat-color($td-slate, 1300),
  background: mat-color($td-slate, 1500),
  canvas: mat-color($td-slate, 1700),
  card: mat-color($td-slate, 1100) /*** card color = surface color ***/,
  dialog: mat-color($td-slate, 1100),
  hover: rgba(255, 255, 255, 0.04),
  disabled-button: rgba(mat-color($td-slate, 800), 0.4),
  raised-button: mat-color($td-slate, 800),
  focused-button: rgba(255, 255, 255, 0.12),
  selected-button: #212121,
  selected-disabled-button: mat-color($td-slate, 800),
  disabled-button-toggle: black,
  unselected-chip: mat-color($td-slate, 800),
  disabled-list-option: black,
  tooltip: #616161,
  overlay: rgba(0, 0, 0, 0.4),
  accent: mat-color($td-teal, 1200),
  accent-highlight: rgba(mat-color($td-teal, 1200), 0.4),
  accent-highlight-hover: rgba(mat-color($td-teal, 1200), 0.6),
  emphasis: #4f5558,
  emphasis-highlight: rgba(mat-color($td-slate, 200), 0.4),
  emphasis-highlight-hover: rgba(mat-color($td-slate, 200), 0.6),
  caution: #704c16,
  caution-highlight: rgba(#704c16, 0.4),
  caution-highlight-hover: rgba(#704c16, 0.6),
  negative: #883e32,
  negative-highlight: rgba(#883e32, 0.4),
  negative-highlight-hover: rgba(#883e32, 0.6),
  neutral: mat-color($td-slate, 800),
  neutral-highlight: rgba(mat-color($td-slate, 800), 0.4),
  neutral-highlight-hover: rgba(mat-color($td-slate, 800), 0.6),
  positive: #336033,
  positive-highlight: rgba(#336033, 0.4),
  positive-highlight-hover: rgba(#336033, 0.6),
  primary: mat-color($td-slate, 900),
  primary-highlight: rgba(mat-color($td-slate, 900), 0.4),
  primary-highlight-hover: rgba(mat-color($td-slate, 900), 0.6),
);

// Foreground palette for dark themes.
$mat-dark-theme-foreground: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  accent: mat-color($td-teal, 300),
  emphasis: mat-color($mat-blue-grey, 200),
  caution: mat-color($mat-orange, 300),
  negative: mat-color($mat-red, 400),
  neutral: rgba(white, 0.87),
  positive: mat-color($mat-green, 300),
  primary: mat-color($td-slate, 200),
);

$td-positive: (
  foreground-light: map-get($mat-light-theme-foreground, positive),
  foreground-dark: map-get($mat-dark-theme-foreground, positive),
  background-light: map-get($mat-light-theme-background, positive),
  background-dark: map-get($mat-dark-theme-background, positive),
);
$td-caution: (
  foreground-light: map-get($mat-light-theme-foreground, caution),
  foreground-dark: map-get($mat-dark-theme-foreground, caution),
  background-light: map-get($mat-light-theme-background, caution),
  background-dark: map-get($mat-dark-theme-background, caution),
);
$td-negative: (
  foreground-light: map-get($mat-light-theme-foreground, negative),
  foreground-dark: map-get($mat-dark-theme-foreground, negative),
  background-light: map-get($mat-light-theme-background, negative),
  background-dark: map-get($mat-dark-theme-background, negative),
);
$td-neutral: (
  foreground-light: map-get($mat-light-theme-foreground, neutral),
  foreground-dark: map-get($mat-dark-theme-foreground, neutral),
  background-light: map-get($mat-light-theme-background, neutral),
  background-dark: map-get($mat-dark-theme-background, neutral),
);
$td-emphasis1: (
  foreground-light: map-get($mat-light-theme-foreground, accent),
  foreground-dark: map-get($mat-dark-theme-foreground, accent),
  background-light: map-get($mat-light-theme-background, accent),
  background-dark: map-get($mat-dark-theme-background, accent),
);
$td-emphasis2: (
  foreground-light: map-get($mat-light-theme-foreground, emphasis),
  foreground-dark: map-get($mat-dark-theme-foreground, emphasis),
  background-light: map-get($mat-light-theme-background, emphasis),
  background-dark: map-get($mat-dark-theme-background, emphasis),
);
