<md-card>
   <md-card-header>
    <md-icon md-card-avatar>format_paint</md-icon>
    <md-card-title class="md-display-1">Colors</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <p>
      Color in material design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights.
    </p>
    <p>
      Teradata product usage recommends selecting primary and accent colors from these Material Design colors:
    </p>
    <md-list dense>
      <md-list-item>
        <md-icon class="tc-orange-700">label</md-icon>
        Orange
      </md-list-item>
      <md-list-item>
        <md-icon class="tc-deep-orange-700">label</md-icon>
        Deep Orange
      </md-list-item>
      <md-list-item>
        <md-icon class="tc-blue-700">label</md-icon>
        Blue
      </md-list-item>
      <md-list-item>
        <md-icon class="tc-light-blue-700">label</md-icon>
        Light Blue
      </md-list-item>
      <md-list-item>
        <md-icon class="tc-grey-700">label</md-icon>
        Grey
      </md-list-item>
      <md-list-item>
        <md-icon class="tc-blue-grey-700">label</md-icon>
        Blue Grey
      </md-list-item>
    </md-list>
    <div class="bgc-grey-100 md-caption" layout="row" layout-align="center center" layout-padding>
      <md-icon class="push-right-sm">info</md-icon> <span>NOTE: as always, rules are meant to be bent so if you veer from these colors, just have a good justification!</span>
    </div>
    <h3>Hues</h3>
    <p>
      Each Material Design color has several available hues. It's recommended to use 3 hues for your primary and 1 for your accent, like:
    </p>
    <md-grid-list cols="4">
     <md-grid-tile class="bgc-orange-700">
       <md-grid-tile-footer>
          <h3 md-line>Orange 700</h3>
        </md-grid-tile-footer>
     </md-grid-tile>
     <md-grid-tile class="bgc-orange-500">
       <md-grid-tile-footer>
          <h3 md-line>Orange 500</h3>
        </md-grid-tile-footer>
     </md-grid-tile>
     <md-grid-tile class="bgc-orange-900">
       <md-grid-tile-footer>
          <h3 md-line>Orange 900</h3>
        </md-grid-tile-footer>
     </md-grid-tile>
     <md-grid-tile class="bgc-blue-700">
       <md-grid-tile-footer>
          <h3 md-line>Blue 700</h3>
        </md-grid-tile-footer>
     </md-grid-tile>
  </md-grid-list>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <cite class="text-normal"><a md-button color="primary" href="https://material.google.com/style/color.html" target="_blank">
    Material Design Color Spec
    </a></cite>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>Example Product Color Schemes</md-card-title>
  <md-card-subtitle>Products may select colors from the material design color palette. Limit your selection of colors to three hues from the primary palette and one accent color from the secondary palette.</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title"><span class="tc-blue-700">Blue Primary</span> / <span class="tc-orange-700">Orange Accent</span></h3>
    <div layout-gt-xs="row" layout-margin>
      <div flex-gt-xs="50" class="pad-top-sm">
        <md-toolbar class="bgc-blue-700 tc-white">
          <span>Primary</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
        <md-toolbar class="bgc-blue-500 tc-white push-top">
          <span>Hue: 500</span>
        </md-toolbar>
        <md-toolbar class="bgc-blue-900 tc-white push-bottom">
          <span>Hue: 900</span>
        </md-toolbar>
        <md-toolbar class="bgc-orange-700 tc-white">
          <span>Accent</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
      </div>
      <div flex-gt-xs="50">
        <md-card class="top-toolbar">
          <md-toolbar class="bgc-blue-700 tc-white">
            <md-toolbar-row>
              <span></span>
            </md-toolbar-row>
            <md-toolbar-row>
              <span>App Usage</span>
            </md-toolbar-row>
          </md-toolbar>
          <md-toolbar class="bgc-blue-500 tc-white push-bottom relative">
            <span>Subtoolbar</span>
            <button md-fab class="md-fab md-fab-position-bottom-right bgc-orange-700">
              <md-icon class="md-24">add</md-icon>
            </button>
          </md-toolbar>
          <md-card-content>
            <h3 class="md-title tc-blue-600">View title</h3>
            <p>
              When using a primary color in your palette, this color should be the most widely used across all screens and components.
            </p>
            <p>
              Palettes with a secondary color may use this color to indicate a related action or information.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <md-divider></md-divider>
    <h3 class="md-title"><span class="tc-orange-700">Orange Primary</span> / <span class="tc-light-blue-700">Light Blue Accent</span></h3>
    <div layout-gt-xs="row" layout-margin>
      <div flex-gt-xs="50" class="pad-top-sm">
        <md-toolbar class="bgc-orange-700 tc-white">
          <span>Primary</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
        <md-toolbar class="bgc-orange-500 tc-white push-top">
          <span>Hue: 500</span>
        </md-toolbar>
        <md-toolbar class="bgc-orange-900 tc-white push-bottom">
          <span>Hue: 900</span>
        </md-toolbar>
        <md-toolbar class="bgc-light-blue-700 tc-white">
          <span>Accent</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
      </div>
      <div flex-gt-xs="50">
        <md-card class="top-toolbar">
          <md-toolbar class="bgc-orange-700 tc-white">
            <md-toolbar-row>
              <span></span>
            </md-toolbar-row>
            <md-toolbar-row>
              <span>App Usage</span>
            </md-toolbar-row>
          </md-toolbar>
          <md-toolbar class="bgc-orange-500 tc-white push-bottom relative">
            <span>Subtoolbar</span>
            <button md-fab class="md-fab md-fab-position-bottom-right bgc-light-blue-700">
              <md-icon class="md-24">add</md-icon>
            </button>
          </md-toolbar>
          <md-card-content>
            <h3 class="md-title tc-orange-600">View title</h3>
            <p>
              When using a primary color in your palette, this color should be the most widely used across all screens and components.
            </p>
            <p>
              Palettes with a secondary color may use this color to indicate a related action or information.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <md-divider></md-divider>
    <h3 class="md-title"><span class="tc-blue-grey-700">Blue-Grey Primary</span> / <span class="tc-deep-orange-700">Deep Orange Accent</span></h3>
    <div layout-gt-xs="row" layout-margin>
      <div flex-gt-xs="50" class="pad-top-sm">
        <md-toolbar class="bgc-blue-grey-700 tc-white">
          <span>Primary</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
        <md-toolbar class="bgc-blue-grey-500 tc-white push-top">
          <span>Hue: 500</span>
        </md-toolbar>
        <md-toolbar class="bgc-blue-grey-900 tc-white push-bottom">
          <span>Hue: 900</span>
        </md-toolbar>
        <md-toolbar class="bgc-deep-orange-700 tc-white">
          <span>Accent</span>
          <md-toolbar-row>
            <span>Hue: 700</span>
          </md-toolbar-row>
        </md-toolbar>
      </div>
      <div flex-gt-xs="50">
        <md-card class="top-toolbar">
          <md-toolbar class="bgc-blue-grey-700 tc-white">
            <md-toolbar-row>
              <span></span>
            </md-toolbar-row>
            <md-toolbar-row>
              <span>App Usage</span>
            </md-toolbar-row>
          </md-toolbar>
          <md-toolbar class="bgc-blue-grey-500 tc-white push-bottom relative">
            <span>Subtoolbar</span>
            <button md-fab class="md-fab md-fab-position-bottom-right bgc-deep-orange-700">
              <md-icon class="md-24">add</md-icon>
            </button>
          </md-toolbar>
          <md-card-content>
            <h3 class="md-title tc-blue-grey-600">View title</h3>
            <p>
              When using a primary color in your palette, this color should be the most widely used across all screens and components.
            </p>
            <p>
              Palettes with a secondary color may use this color to indicate a related action or information.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>CSS Background Colors</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <p>To manually color a background, use our simple bgc utility class:</p>
    <td-highlight lang="html">
      <![CDATA[
        <div class="bgc-green-700">green background</div>
      ]]>
    </td-highlight>
    <p>choose from any of the material colors, in hues from 50, 100, 200, 300, 400, 500, 600, 700, 800, 900 (and A100, A200, A400, A700 for all except brown, grey &amp; blue-grey)</p>
    <div layout-gt-sm="row" layout-wrap>
      <div flex-gt-sm="20" *ngFor="let color of colors">
        <md-card>
          <div class="md-caption pad-xs">class="bgc-{{color}}-"</div>
          <div class="tc-grey-800">
            <div class="bgc-{{color}}-50 pad-xs">50</div>
            <div class="bgc-{{color}}-100 pad-xs">100</div>
            <div class="bgc-{{color}}-200 pad-xs">200</div>
            <div class="bgc-{{color}}-300 pad-xs">300</div>
          </div>
          <div class="tc-{{color}}-50">
            <div class="bgc-{{color}}-400 pad-xs">400</div>
            <div class="bgc-{{color}}-500 pad-xs">500</div>
            <div class="bgc-{{color}}-600 pad-xs">600</div>
            <div class="bgc-{{color}}-700 pad-xs">700</div>
            <div class="bgc-{{color}}-800 pad-xs">800</div>
            <div class="bgc-{{color}}-900 pad-xs">900</div>
          </div>
          <div class="tc-grey-800">
            <div class="bgc-{{color}}-A100 pad-xs">A100</div>
          </div>
          <div class="tc-{{color}}-50">
            <div class="bgc-{{color}}-A200 pad-xs">A200</div>
            <div class="bgc-{{color}}-A400 pad-xs">A400</div>
            <div class="bgc-{{color}}-A700 pad-xs">A700</div>
          </div>
        </md-card>
      </div>
      <div flex-gt-sm="20" *ngFor="let color of neutrals">
        <md-card>
          <div class="md-caption pad-xs">class="bgc-{{color}}-"</div>
          <div class="tc-grey-800">
            <div class="bgc-{{color}}-50 pad-xs">50</div>
            <div class="bgc-{{color}}-100 pad-xs">100</div>
            <div class="bgc-{{color}}-200 pad-xs">200</div>
            <div class="bgc-{{color}}-300 pad-xs">300</div>
          </div>
          <div class="tc-{{color}}-50">
            <div class="bgc-{{color}}-400 pad-xs">400</div>
            <div class="bgc-{{color}}-500 pad-xs">500</div>
            <div class="bgc-{{color}}-600 pad-xs">600</div>
            <div class="bgc-{{color}}-700 pad-xs">700</div>
            <div class="bgc-{{color}}-800 pad-xs">800</div>
            <div class="bgc-{{color}}-900 pad-xs">900</div>
          </div>
        </md-card>
      </div>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Material Design Color Resources</md-card-title>
  <md-divider></md-divider>
  <md-nav-list>
    <a md-list-item href="http://www.materialpalette.com/" target="_blank">
      <md-icon>launch</md-icon>
      <span md-line>Material Palette</span>
    </a>
    <md-divider></md-divider>
    <a md-list-item href="https://www.materialui.co/colors" target="_blank">
      <md-icon>launch</md-icon>
      <span md-line>Material Design Colors</span>
    </a>
    <md-divider></md-divider>
    <a md-list-item href="http://www.dadapixel.com/blog/2014/12/2/download-googles-expanded-material-design-palette-for-the-osx-system-color-picker" target="_blank">
      <md-icon>launch</md-icon>
      <span md-line>OSX Material Design System Color Picker</span>
    </a>
    <md-divider></md-divider>
    <a md-list-item href="https://github.com/romannurik/MaterialColorsApp" target="_blank">
      <md-icon>launch</md-icon>
      <span md-line>Material Colors OSX Desktop App</span>
    </a>
    <md-divider></md-divider>
    <a md-list-item href="https://material.google.com/resources/color-palettes.html" target="_blank">
      <md-icon>launch</md-icon>
      <span md-line>Color Palettes (official resource)</span>
    </a>
  </md-nav-list>
</md-card>
