<h3>Bar Test</h3>
<td-chart [style.height.px]="300"
                [dataZoom]="false">
  <td-chart-tooltip [trigger]="'item'">
    <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
      <ng-container *ngIf="params">
        <div layout="row" layout-align="start center">
          <mat-icon>
            <span class="tc-blue-300">person</span>
          </mat-icon>
          <span class="mat-caption pad-left-sm">
            {{params.seriesName + ': ' + params.value}}
          </span>
        </div>
      </ng-container>
    </ng-template>
  </td-chart-tooltip>
  <td-chart-x-axis [show]="true"
                    [position]="'top'"
                    [type]="'category'"
                    [boundaryGap]="true"
                    [axisLine]="xLine"
                    [splitLine]="{show: false}">
  </td-chart-x-axis>
  <td-chart-y-axis [show]="true"
                    [type]="'value'"
                    [position]="barYaxisPosition"
                    [axisLabel]="yAxisLabel"
                    [axisLine]="yLine"
                    [max]="120"
                    [splitLine]="splitLineBar">
  </td-chart-y-axis>
  <td-chart-series td-bar
                   *ngFor="let series of barPlot"
                   [data]="series.data"
                   [name]="series.name"
                   [itemStyle]="series.itemStyle">
  </td-chart-series>
</td-chart>
<h3>Line Test (atomic)</h3>
<div layout="row">
  <button mat-button (click)="showTooltip = !showTooltip">
    Show/Hide Tooltip
  </button>
</div>
<td-chart [style.height.px]="300" [config]="{series: linePlot}">
  <td-chart-tooltip [show]="showTooltip">
    <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
      <ng-container *ngIf="params">
        <div layout="row" layout-align="start center">
          <mat-icon>
            <span class="tc-blue-300">update_time</span>
          </mat-icon>
          <span class="mat-caption pad-left-sm">
            {{params[0].seriesName + ': ' + params[0].value[1]}}
          </span>
        </div>
        <div class="mat-caption">
          at {{(params[0].name | date:'medium')}}
        </div>
      </ng-container>
    </ng-template>
  </td-chart-tooltip>
  <td-chart-x-axis [show]="true"
                    [position]="lineXAxisPosition"
                    [axisLabel]="xAxisLabel"
                    [type]="'time'"
                    [boundaryGap]="false"
                    [axisLine]="xLine"
                    [splitLine]="splitLine">
  </td-chart-x-axis>
  <td-chart-y-axis [show]="true"
                    [type]="'value'"
                    [axisLabel]="yAxisLabel"
                    [axisLine]="yLine"
                    [splitLine]="splitLine">
  </td-chart-y-axis>
  <td-chart-series td-line
                    *ngFor="let series of linePlot"
                    [data]="series.data"
                    [name]="series.name"
                    [lineStyle]="series.lineStyle">
  </td-chart-series>
</td-chart>
<h3>Line Test (config object)</h3>
<td-chart [style.height.px]="300"
          [config]="lineConfig">
</td-chart>