<div class="push-block-end-xxl pad-block-end-xxl">
  <div class="pad-inline-end-sm pad-inline-start-sm push-block-end-lg">
    <h1 class="mat-display-1 content-title push-block-end-sm text-caps">{{ component?.name }}</h1>
    <h3 class="mat-subheading-2 tc-grey-600" [style.maxWidth.px]="500">{{ component?.description }}</h3>
  </div>

  <nav mat-tab-nav-bar color="accent" class="push-block-end-lg">
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.route"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.name | uppercase }}
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>
