<mat-list>
  <ng-template let-item let-last="last" ngFor [ngForOf]="itemList">
    <mat-list-item>
      <div matListAvatar>
        <ng-template
          tdLoading
          [tdLoadingUntil]="!item.value"
          [tdLoadingStrategy]="loadingStrategy.Overlay"
        >
          <mat-icon matListAvatar>settings_backup_restore</mat-icon>
        </ng-template>
      </div>
      <h3 matLine>{{ item.label }}</h3>
    </mat-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
  </ng-template>
</mat-list>
