:host {
  display: block;
  position: relative;
  .editorContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

::ng-deep {
  // hide this part of monaco so it doesnt add height
  .monaco-aria-container {
    display: none;
  }
}
