<md-card>
  <md-card-title>Minimum Demo</md-card-title>
  <md-card-subtitle>Minimum code for this layout with no wrapper</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'150px'">
    <td-layout-card-over cardTitle="Covalent" cardSubtitle="Card Over Layout Demo">
      Content goes here
    </td-layout-card-over>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout-card-over cardTitle="Covalent" cardSubtitle="Card Over Layout Demo">
          Content goes here
        </td-layout-card-over>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Basic Demo</md-card-title>
  <md-card-subtitle>Basic layout wrapper &amp; nav drawer</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a md-list-item><md-icon>home</md-icon>Home</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a md-list-item><md-icon>account_box</md-icon>Profile</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
          <md-icon>menu</md-icon>
        </button>
        <td-layout-card-over cardTitle="Covalent" cardSubtitle="Card Over Layout Demo">
          Content goes here
        </td-layout-card-over>
      </td-layout-nav>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a md-list-item><md-icon>home</md-icon>Home</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a md-list-item><md-icon>account_box</md-icon>Profile</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
            <button md-icon-button td-menu-button tdLayoutToggle>
              <md-icon>menu</md-icon>
            </button>
            <td-layout-card-over cardTitle="Covalent" cardSubtitle="Card Over Layout Demo">
              Content goes here
            </td-layout-card-over>
          </td-layout-nav>
        </td-layout>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Full Demo</md-card-title>
  <md-card-subtitle>Full working code with all options and templates</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a *ngFor="let item of routes" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav color="accent">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
          </button>
          <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
          <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
          <span flex></span>
          <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
          <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
        </div>
        <td-layout-card-over color="accent" cardWidth="75">
          <md-card-title>Card Over Layout</md-card-title>
          <md-card-subtitle>A card over layout with all available options</md-card-subtitle>
          <md-divider></md-divider>
          <md-card-content>
            <md-list>
              <h3 md-subheader>Metadata</h3>
              <ng-template let-item let-last="last" ngFor [ngForOf]="cardlist">
                <md-list-item>
                  <md-icon mdListAvatar>{{item.icon}}</md-icon>
                  <h3 mdLine> {{item.title}} </h3>
                  <p mdLine> {{item.description}} </p>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
              <md-divider></md-divider>
              <h3 md-subheader>Dates</h3>
              <ng-template let-item let-last="last" ngFor [ngForOf]="carddates">
                <md-list-item>
                  <md-icon mdListAvatar>{{item.icon}}</md-icon>
                  <h3 mdLine> {{item.date | timeAgo}} </h3>
                  <p mdLine> {{item.description}} </p>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-list>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions>
            <button md-button color="accent" class="text-upper">Edit</button>
          </md-card-actions>
        </td-layout-card-over>
      </td-layout-nav>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a *ngFor="let item of routes" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav color="accent">
            <div td-toolbar-content layout="row" layout-align="start center" flex>
              <button md-icon-button td-menu-button tdLayoutToggle>
                <md-icon>menu</md-icon>
              </button>
              <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
              <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
              <span flex></span>
              <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
              <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
            </div>
            <td-layout-card-over color="accent" cardWidth="75">
              <md-card-title>Card Over Layout</md-card-title>
              <md-card-subtitle>A card over layout with all available options</md-card-subtitle>
              <md-divider></md-divider>
              <md-card-content>
                <md-list>
                  <h3 md-subheader>Metadata</h3>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="cardlist">
                    <md-list-item>
                      <md-icon mdListAvatar>{ {item.icon} }</md-icon>
                      <h3 mdLine> { {item.title} } </h3>
                      <p mdLine> { {item.description} } </p>
                    </md-list-item>
                    <md-divider md-inset *ngIf="!last"></md-divider>
                  </ng-template>
                  <md-divider></md-divider>
                  <h3 md-subheader>Dates</h3>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="carddates">
                    <md-list-item>
                      <md-icon mdListAvatar>{ {item.icon} }</md-icon>
                      <h3 mdLine> { {item.date | timeAgo} } </h3>
                      <p mdLine> { {item.description} } </p>
                    </md-list-item>
                    <md-divider md-inset *ngIf="!last"></md-divider>
                  </ng-template>
                </md-list>
              </md-card-content>
              <md-divider></md-divider>
              <md-card-actions>
                <button md-button color="accent" class="text-upper">Edit</button>
              </md-card-actions>
            </td-layout-card-over>
          </td-layout-nav>
        </td-layout>
      ]]>
    </td-highlight>
    <h3 class="md-title">TypeScript:</h3>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Component, ChangeDetectionStrategy } from '@angular/core';

        @Component({
          changeDetection: ChangeDetectionStrategy.OnPush,
          selector: 'layouts-card-over',
          styleUrls: ['./card-over.component.scss'],
          templateUrl: './card-over.component.html',
        })
        export class CardOverComponent {

          routes: Object[] = [{
              icon: 'home',
              route: '.',
              title: 'Home',
            }, {
              icon: 'library_books',
              route: '.',
              title: 'Documentation',
            }, {
              icon: 'color_lens',
              route: '.',
              title: 'Style Guide',
            }, {
              icon: 'view_quilt',
              route: '.',
              title: 'Layouts',
            }, {
              icon: 'picture_in_picture',
              route: '.',
              title: 'Components & Addons',
            },
          ];
          usermenu: Object[] = [{
              icon: 'swap_horiz',
              route: '.',
              title: 'Switch account',
            }, {
              icon: 'tune',
              route: '.',
              title: 'Account settings',
            }, {
              icon: 'exit_to_app',
              route: '.',
              title: 'Sign out',
            },
          ];
          cardlist: Object[] = [{
              icon: 'account_box',
              route: '.',
              title: 'John Jameson',
              description: 'Owner',
            }, {
              icon: 'description',
              route: '.',
              title: 'An item description',
              description: 'Description',
            }, {
              icon: 'vpn_key',
              route: '.',
              title: '1141e8e8-8d24-4956-93c2',
              description: 'API Key',
            },
          ];
          carddates: Object[] = [{
              icon: 'access_time',
              route: '.',
              date: '2017-07-07T00:25:49+00:00',
              description: 'Last Updated',
            }, {
              icon: 'today',
              route: '.',
              date: '2017-07-04T00:25:49+00:00',
              description: 'Created',
            },
          ];
        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<td-readme-loader td-after-card resourceUrl="platform/core/layout/layout-card-over/README.md"></td-readme-loader>
