<td-paging-bar #pagingBarInput pageLinkCount="5" [firstLast]="false" [pageSize]="100" [total]="1345" (change)="changeInput($event)">
  <p hide-xs>Go to:</p>
  <mat-form-field [style.width.px]="30">
    <input #goToInput 
      matInput
      type="number"
      [min]="1"
      [max]="pagingBarInput.maxPage"
      [value]="pagingBarInput.page"
      (change)="pagingBarInput.navigateToPage(goToInput.value); goToInput.value = pagingBarInput.page"
    />
  </mat-form-field>
  {{pagingBarInput.range}} of {{pagingBarInput.total}}
</td-paging-bar>
