<md-card>
   <md-card-header>
    <md-icon md-card-avatar>cloud_download</md-icon>
    <md-card-title class="md-display-1">Resources</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <p>User Experience and User Interface design templates and libraries to provide a seamless transition from visual design to prototypes to production interfaces with Covalent. </p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
      <img md-card-avatar src="app/assets/icons/sketchapp.svg">
      <md-card-title>Sketch Template</md-card-title>
      <md-card-subtitle>Covalent template for the OSX Sketch App</md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <a md-ripple md-tooltip="Download" tooltip-position="below" md-button color="primary" href="https://dribbble.com/shots/2846624-Covalent-Material-Design-Sketch-Template-Free-download/attachments/585808">
      <img width="100%" class="md-whiteframe-z1" src="https://d13yacurqjgara.cloudfront.net/users/13496/screenshots/2846624/covalent-sketch-template.gif">
    </a>
    <md-divider></md-divider>
    <td-expansion-panel label="Features">
      <md-list>
      <md-list-item>
        <h3 md-line>4 Covalent Layouts</h3>
        <p md-line>nav view, manage list, card over & nav list</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>4 responsive formats</h3>
        <p md-line>desktop, tablet landscape, table portrait & mobile</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>All Core Material Design Components</h3>
        <p md-line>built using scalable Sketch symbols</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Material Design Patterns</h3>
        <p md-line>tons of cards, lists, settings & forms</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Material Design Typography & Iconography</h3>
        <p md-line>Sketch shared text styles & SVG icons</p>
      </md-list-item>
    </md-list>
    </td-expansion-panel>
  </md-card-content>
  <md-divider></md-divider>
    <md-card-actions>
      <a md-button color="primary" href="https://dribbble.com/shots/2846624-Covalent-Material-Design-Sketch-Template-Free-download/attachments/585808">
      Download Sketch Template
      </a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
      <img md-card-avatar src="app/assets/icons/axure.png">
      <md-card-title>Axure Widget Library</md-card-title>
      <md-card-subtitle>Covalent widget library for Axure RP</md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <a md-ripple md-tooltip="Download" tooltip-position="below" md-button color="primary" href="https://dribbble.com/shots/2846624-Covalent-Material-Design-Sketch-Template-Free-download/attachments/585808">
      <img width="100%" class="md-whiteframe-z1" src="https://files.slack.com/files-pri/T02EV1PAT-F264J05J9/axure_covalent_library_1.0_alpha.gif">
    </a>
    <md-divider></md-divider>
    <td-expansion-panel label="Features">
      <md-list>
      <md-list-item>
        <h3 md-line>4 Covalent Layouts</h3>
        <p md-line>nav view, manage list, card over & nav list</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>4 responsive formats</h3>
        <p md-line>desktop, tablet landscape, table portrait & mobile</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>All Core Material Design Components</h3>
        <p md-line>built using scalable Sketch symbols</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Material Design Patterns</h3>
        <p md-line>tons of cards, lists, settings & forms</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line>Material Design Typography & Iconography</h3>
        <p md-line>Sketch shared text styles & SVG icons</p>
      </md-list-item>
    </md-list>
    </td-expansion-panel>
  </md-card-content>
  <md-divider></md-divider>
    <md-card-actions>
      <a md-button color="primary" href="https://dribbble.com/shots/2846624-Covalent-Material-Design-Sketch-Template-Free-download/attachments/585808">
      Download Sketch Template
      </a>
  </md-card-actions>
</md-card>
