<mat-card>
  <mat-card-title>Resources</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>User Experience and User Interface design templates and libraries to provide a seamless transition from visual design to prototypes to production interfaces with Covalent. </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Templates</mat-card-title>
  <mat-card-subtitle>download the template of your preferred design application</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-nav-list class="pad-top-none">
    <a mat-list-item target="_blank" href="https://github.com/Teradata/covalent-resources/raw/develop/axure/covalent-axure.rplib">
      <img matListIcon src="assets/icons/axure.png" alt="Axure icon">
      <h3 matLine>Axure RP Libraries</h3>
      <p matLine>Covalent libraries for the Axure RP</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item target="_blank" href="https://github.com/Teradata/covalent-resources/raw/develop/illustrator/covalent-illustrator.ai">
      <img matListIcon src="assets/icons/illustrator.svg" alt="Illustrator icon">
      <h3 matLine>Illustrator Template</h3>
      <p matLine>Covalent template for the Adobe Illustrator</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item target="_blank" href="https://github.com/Teradata/covalent-resources/raw/develop/sketch/covalent-sketch.sketch">
      <img matListIcon src="assets/icons/sketchapp.svg" alt="Sketch icon">
      <h3 matLine>Sketch Template</h3>
      <p matLine>Covalent template for the macOS Sketch App</p>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" target="_blank" href="https://github.com/Teradata/covalent-resources" class="text-upper">Resources Repo</a>
  </mat-card-actions>
</mat-card>
