<md-card>
  <md-card-title>Resources</md-card-title>
  <mat-divider></mat-divider>
  <md-card-content>
    <p>User Experience and User Interface design templates and libraries to provide a seamless transition from visual design to prototypes to production interfaces with Covalent. </p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
      <img mdCardAvatar src="app/assets/icons/sketchapp.svg" alt="Sketch icon">
      <md-card-title>Sketch Template</md-card-title>
      <md-card-subtitle>Covalent template for the OSX Sketch App</md-card-subtitle>
  </md-card-header>
  <mat-divider></mat-divider>
  <md-card-content>
    <p>Create static mockups that are identical to the Covalent layouts and Angular-Material components!</p>
    <a matRipple mdTooltip="Download" target="_blank" mdTooltipPosition="below" mat-button color="primary" href="https://dribbble.com/shots/3250690-Covalent-Material-Design-Sketch-Template-beta">
      <img width="100%" class="md-whiteframe-z1" src="https://cdn.dribbble.com/users/13496/screenshots/3250690/covalent-beta1-dribbble.png" alt="Sketch Template Screenshot">
    </a>
    <mat-divider></mat-divider>
    <td-expansion-panel label="Features">
      <mat-list>
      <mat-list-item>
        <h3 matLine>4 Covalent Layouts</h3>
        <p matLine>nav view, manage list, card over &amp; nav list</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>4 responsive formats</h3>
        <p matLine>desktop, tablet landscape, table portrait &amp; mobile</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>All Core Material Design Components</h3>
        <p matLine>built using scalable Sketch symbols</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Material Design Patterns</h3>
        <p matLine>tons of cards, lists, settings &amp; forms</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Material Design Typography &amp; Iconography</h3>
        <p matLine>Sketch shared text styles &amp; SVG icons</p>
      </mat-list-item>
    </mat-list>
    </td-expansion-panel>
  </md-card-content>
  <mat-divider></mat-divider>
    <md-card-actions>
      <a mat-button color="accent" target="_blank" href="https://dribbble.com/shots/3250690-Covalent-Material-Design-Sketch-Template-beta" class="text-upper">Sketch Template</a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-header>
      <img mdCardAvatar src="app/assets/icons/axure.png" alt="Axure icon">
      <md-card-title>Axure Widget Library</md-card-title>
      <md-card-subtitle>Covalent widget library for Axure RP</md-card-subtitle>
  </md-card-header>
  <mat-divider></mat-divider>
  <md-card-content>
    <p>Prototype interactive UX flows that perfectly complement the Sketch template and production Covalent code.</p>
    <a matRipple mdTooltip="Download" target="_blank" mdTooltipPosition="below" mat-button color="primary" href="https://dribbble.com/shots/2963271-FREE-Download-Official-Teradata-Covalent-Library-for-Axure-RP">
      <img width="100%" class="md-whiteframe-z1" src="https://cdn.dribbble.com/users/815033/screenshots/2963271/untitled-1.png" alt="Axure Widget Library Screenshot">
    </a>
    <mat-divider></mat-divider>
    <td-expansion-panel label="Features">
      <mat-list>
      <mat-list-item>
        <h3 matLine>4 Covalent Layouts</h3>
        <p matLine>nav view, manage list, card over &amp; nav list</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Interactive Prototype Elements</h3>
        <p matLine>buttons, tabs, stepper</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Interactive Navigation Drawer</h3>
        <p matLine>mimics the Material Design responsive sidenav</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Form and Form Components</h3>
        <p matLine>interactive inputs, radio, checkboxes, toggles &amp; more</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Vector SVG Iconsets</h3>
        <p matLine>Material Design sets of icons</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Pre-built Material Design Patterns</h3>
        <p matLine>cards, lists, settings &amp; more</p>
      </mat-list-item>
    </mat-list>
    </td-expansion-panel>
  </md-card-content>
  <mat-divider></mat-divider>
    <md-card-actions>
      <a mat-button color="accent" target="_blank" href="https://dribbble.com/shots/2963271-FREE-Download-Official-Teradata-Covalent-Library-for-Axure-RP" class="text-upper">Axure Library</a>
      <a mat-button color="primary" href="http://gxkfh3.axshare.com/" class="text-upper">View Prototype</a>
  </md-card-actions>
</md-card>
