<td-message
  label="Deprecation Notice"
  sublabel="This component will be deprecated in favor of a different implementation"
  color="warn"
  icon="warning"
  class="push-bottom-md"
>
  <a
    td-message-actions
    mat-button
    target="_blank"
    [href]="'https://material.angular.io/cdk/layout/overview'"
    class="mat-button"
  >
    VIEW DOC
  </a>
</td-message>

<section class="push-bottom-xl">
  <h1 class="push-bottom-sm mat-display-1">Media Toggle Directive</h1>

  <p class="tc-grey-600 push-bottom-md">Toggle properties based on media queries</p>
</section>

<section class="push-bottom-xxl">
  <div class="push-bottom-xl">
    <h3 class="push-bottom-sm mat-title">tdMediaToggle</h3>
    <mat-divider></mat-divider>
    <p>
      Simply add the
      <code>tdMediaToggle</code>
      attibute with a "media query" value to the element you want to modify depending on screen size.
    </p>
    <h3>Properties</h3>
    <p>
      The
      <code>tdMediaToggle</code>
      directive has {{ mediaAttrs.length }} properties:
    </p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="mediaAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine>
            {{ attr.name }}:
            <span>{{ attr.type }}</span>
          </h3>
          <p matLine>{{ attr.description }}</p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example</h3>
    <p>HTML</p>
    <td-highlight codeLang="html">
      {{ mediaToggleHtml }}
    </td-highlight>
  </div>

  <div>
    <h3 class="push-bottom-sm mat-title">See the breakpoints in action</h3>
    <mat-divider></mat-divider>
    <p>The break</p>
    <p>Resize screen to toggle breakpoints</p>
    <mat-list>
      <ng-template let-demo let-last="last" ngFor [ngForOf]="mediaDemo">
        <mat-list-item>
          <mat-icon [@tdJello]="demo.value" matListAvatar>
            <span *ngIf="demo.value; else offStateIcon" class="tc-td-teal">check_circle</span>
            <ng-template #offStateIcon>
              <span>highlight_off</span>
            </ng-template>
          </mat-icon>
          <h3
            [tdMediaToggle]="demo.query"
            [mediaClasses]="['tc-td-teal']"
            [mediaAttributes]="{ title: 'It matches!!!' }"
            matLine
          >
            {{ demo.query }}
          </h3>
          <p matLine>matches: {{ demo.value }}</p>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
  </div>
</section>
