<demo-component [demoId]="'loading-demo-basic'">
    <loading-demo-basic></loading-demo-basic>
</demo-component>

<demo-component [demoId]="'loading-demo-replace'">
  <loading-demo-replace></loading-demo-replace>
</demo-component>

<demo-component [demoId]="'loading-demo-observable'">
  <loading-demo-observable></loading-demo-observable>
</demo-component>

<demo-component [demoId]="'loading-demo-fullscreen'">
    <loading-demo-fullscreen></loading-demo-fullscreen>
</demo-component>

<demo-component [demoId]="'loading-demo-icon'">
    <loading-demo-icon></loading-demo-icon>
</demo-component>
