<td-markdown>
  {{ description }}
</td-markdown>

<td-markdown
  [fileLinkExtensions]="['.ipynb']"
  (fileLinkClicked)="handleFileLinkClick($event)"
>
  * [File URL with fileLinkExtensions provided](docs/GETTING_STARTED.ipynb)
</td-markdown>

<td-markdown
  hostedUrl="https://github.com/Teradata/covalent/blob/main/"
  [fileLinkExtensions]="['.ipynb']"
  (fileLinkClicked)="handleFileLinkClick($event)"
>
  * [File URL with fileLinkExtensions and hostedUrl
  provided](docs/GETTING_STARTED.ipynb)
</td-markdown>

<td-markdown>
  * [Normal file URL without fileLinkExtensions
  provided](docs/GETTING_STARTED.ipynb)
</td-markdown>
