<mat-card>
  <mat-card-title>Typography</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="mat-body-1">Angular Material provides typography CSS classes you can use to create visual consistency across your application.</p>
    <p class="mat-body-1">
      <strong>Note:</strong> 
      <span>Base font size is 10px for easy rem units (1.2rem = 12px). Body font size is 14px. sp = scalable pixels.</span>
      </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="primary" href="https://material.io/guidelines/style/typography.html" target="_blank" class="text-upper">Typography Spec</a>
    <a mat-button color="primary" href="https://material.angular.io/guide/typography" target="_blank" class="text-upper">Material Typography</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Header Styles</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="mat-body-1">To preserve semantic structures, you can optionally style the <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> heading tags with the styling classes shown below:</p>
    <div layout-align="center end">
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-display-4</code>
        <span class="mat-display-4 push-bottom-none">X-Large Header</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-display-3</code>
        <span class="mat-display-3 push-bottom-none">Large Header</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-display-2</code>
        <span class="mat-display-2 push-bottom-none">Medium Header</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-display-1</code>
         <span class="mat-display-1 push-bottom-none">Small Header</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-headline</code>
         <span class="mat-headline push-bottom-none"><![CDATA[<h1>]]> Header</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-title</code>
         <span class="mat-title push-bottom-none"><![CDATA[<h2>]]> Header</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-subheading-2</code>
         <span class="mat-subheading-2 push-bottom-none"><![CDATA[<h3>]]> Header</span>
       </div>
       <mat-divider></mat-divider>
       <div layout="row" layout-align="start center">
         <code flex="15">.mat-subheading-1</code>
          <span class="mat-subheading-1 push-bottom-none"><![CDATA[<h4>]]> Header</span>
        </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Body Copy</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout-align="center end">
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-body-1</code>
        <span class="mat-body-1">Base body text</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-body-2</code>
        <span class="mat-body-2">Bolder body text</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-caption</code>
        <span class="mat-caption">Smaller body and hint text</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-button</code>
        <span class="mat-button pad-none">Buttons and anchors</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-input</code>
        <span class="mat-input">Form input fields</span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
</mat-card>
