<md-card>
   <md-card-header>
    <md-icon md-card-avatar>font_download</md-icon>
    <md-card-title class="md-display-1">Typography</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <p class="md-body-1"><a ng-href="/styleguide/material-design">Angular Material</a> provides typography CSS classes you can use to create visual consistency across your application.</p>
    <p class="md-body-1">
      <strong>Note:</strong> 
      <span>Base font size is 10px for easy rem units (1.2rem = 12px). Body font size is 14px. sp = scalable pixels.</span>
        
      </p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="primary" href="http://www.google.com/design/spec/style/typography.html" target="_blank">
    More on Material Design Typography
    </a>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Header Styles</md-card-title>
  <md-divider></md-divider>
  <md-card-content>

    <p class="md-body-1">To preserve semantic structures, you can optionally style the <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> heading tags with the styling classes shown below:</p>

    <div layout-align="center end">

      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-4</code>
        <span class="md-display-4">Light 112px</span>
      </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-3</code>
        <span class="md-display-3">Regular 56px</span>
      </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-2</code>
         <span class="md-display-2">Regular 45px</span>
       </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-1</code>
         <span class="md-display-1">Regular 34px</span>
       </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-headline</code>
         <span class="md-headline">Regular 24px</span>
       </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-title</code>
         <span class="md-title">Medium 20px</span>
       </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-subhead</code>
         <span class="md-subhead">Regular 16px</span>
       </div>
      <md-divider></md-divider>

    </div>

    <p class="md-body-1"><a ng-href="/styleguide/material-design">Angular Material</a> provides typography CSS classes you can use to create visual consistency across your application. Angular Material provides typography CSS classes you can use to create visual consistency across your application.</p>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="primary" href="http://www.google.com/design/spec/style/typography.html" target="_blank">
    More on Material Design Typography
    </a>
  </md-card-actions>
</md-card>

<md-card class="push-bottom block">
  <md-card-title>Body Copy</md-card-title>
  <md-divider></md-divider>
  <md-card-content>

    <div layout-align="center end">

      <div layout="row" layout-align="start center">
        <code flex="15">.md-body-1</code>
        <span class="md-body-1">Regular 14px</span>
      </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-body-2</code>
        <span class="md-body-2">Medium 14px</span>
      </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-button</code>
        <span class="md-button md-raised">Medium 14px</span>
      </div>
      <md-divider></md-divider>

      <div layout="row" layout-align="start center">
        <code flex="15">.md-caption</code>
        <span class="md-caption">Regular 12px</span>
      </div>
      <md-divider></md-divider>

    </div>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <a md-button color="primary" href="http://www.google.com/design/spec/style/typography.html" target="_blank">
      More on Material Design Typography
    </a>
  </md-card-actions>

</md-card>

<md-card>
  <md-card-title id="examples">Examples</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html"> 
    <![CDATA[
      <!-- Large Heading -->
      <h1 class="md-display-4">Roboto is the standard typeface on Android.</h1>
      <h2 class="md-display-3">Roboto and Noto are the standard typefaces on Android and Chrome.</h2>
      <h3 class="md-display-2">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</h3>
      <!-- Medium Heading -->
      <h1 class="md-display-1">Roboto is the standard typeface on Android.</h1>
      <h2 class="md-headline">Roboto and Noto are the standard typefaces on Android and Chrome.</h2>
      <h3 class="md-subhead">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</h3>
      <!-- body copy -->
      <p class="md-body-1">Roboto is the standard typeface on Android.</p>
      <p class="md-body-2">Roboto and Noto are the standard typefaces on Android and Chrome.</p>
      <p class="md-button">Roboto and Noto are the standard typefaces on Android and Chrome.</p>
      <p class="md-caption">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</p>
    ]]>
    </td-highlight>
  </md-card-content>
</md-card>