<mat-card>
  <mat-card-title>Typography</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="mat-body-1">Angular Material provides typography CSS classes you can use to create visual consistency across your application.</p>
    <p class="mat-body-1">
      <strong>Note:</strong> 
      <span>Base font size is 10px for easy rem units (1.2rem = 12px). Body font size is 14px. sp = scalable pixels.</span>
      </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="primary" href="https://material.io/guidelines/style/typography.html" target="_blank" class="text-upper">Typography Spec</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Header Styles</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p class="mat-body-1">To preserve semantic structures, you can optionally style the <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> heading tags with the styling classes shown below:</p>
    <div layout-align="center end">
      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-4</code>
        <span class="md-display-4">Light 112px</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-3</code>
        <span class="md-display-3">Regular 56px</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-2</code>
         <span class="md-display-2">Regular 45px</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-display-1</code>
         <span class="md-display-1">Regular 34px</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-headline</code>
         <span class="md-headline">Regular 24px</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-title</code>
         <span class="md-title">Medium 20px</span>
       </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-subhead</code>
         <span class="md-subhead">Regular 16px</span>
       </div>
      <mat-divider></mat-divider>
    </div>
    <h3 class="mat-title">Usage</h3>
    <td-highlight lang="html"> 
    <![CDATA[
      <!-- Large Heading -->
      <h1 class="md-display-4">Roboto is the standard typeface on Android.</h1>
      <h2 class="md-display-3">Roboto and Noto are the standard typefaces on Android and Chrome.</h2>
      <h3 class="md-display-2">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</h3>
      <!-- Medium Heading -->
      <h1 class="md-display-1">Roboto is the standard typeface on Android.</h1>
      <h2 class="md-headline">Roboto and Noto are the standard typefaces on Android and Chrome.</h2>
      <h3 class="md-subhead">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</h3>
    ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Body Copy</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout-align="center end">
      <div layout="row" layout-align="start center">
        <code flex="15">.md-body-1</code>
        <span class="md-body-1">Regular 14px</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-body-2</code>
        <span class="md-body-2">Medium 14px</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.mat-button</code>
        <span class="mat-button md-raised">Medium 14px</span>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-align="start center">
        <code flex="15">.md-caption</code>
        <span class="md-caption">Regular 12px</span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <h3 class="mat-title">Usage</h3>
    <td-highlight lang="html"> 
    <![CDATA[
      <!-- body copy -->
      <p class="md-body-1">Roboto is the standard typeface on Android.</p>
      <p class="md-body-2">Roboto and Noto are the standard typefaces on Android and Chrome.</p>
      <p class="mat-button">Roboto and Noto are the standard typefaces on Android and Chrome.</p>
      <p class="md-caption">Noto is the standard typeface for all languages on Chrome and Android for all languages not covered by Roboto.</p>
    ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>CSS Font Colors</mat-card-title>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Default Colors">
      <mat-card-content>
        <p>To manually color a font color, use our simple tc utility class:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div class="tc-green-700">green font</div>
          ]]>
        </td-highlight>
        <p>choose from any of the material colors, in hues from 50, 100, 200, 300, 400, 500, 600, 700, 800, 900 (and A100, A200, A400, A700 for all except brown, grey &amp; blue-grey)</p>
        <div layout-gt-sm="row" layout-wrap>
          <div flex-gt-sm="20" *ngFor="let color of colors">
            <mat-card>
              <div class="mat-caption pad-xs">class="tc-{{color}}-"</div>
              <div class="bgc-grey-800">
                <div class="tc-{{color}}-50 pad-xs">50</div>
                <div class="tc-{{color}}-100 pad-xs">100</div>
                <div class="tc-{{color}}-200 pad-xs">200</div>
                <div class="tc-{{color}}-300 pad-xs">300</div>
                <div class="tc-{{color}}-400 pad-xs">400</div>
              </div>
              <div class="bgc-{{color}}-50">
                <div class="tc-{{color}}-500 pad-xs">500</div>
                <div class="tc-{{color}}-600 pad-xs">600</div>
                <div class="tc-{{color}}-700 pad-xs">700</div>
                <div class="tc-{{color}}-800 pad-xs">800</div>
                <div class="tc-{{color}}-900 pad-xs">900</div>
              </div>
              <div class="bgc-grey-800">
                <div class="tc-{{color}}-A100 pad-xs">A100</div>
                <div class="tc-{{color}}-A200 pad-xs">A200</div>
              </div>
              <div class="bgc-{{color}}-50">
                <div class="tc-{{color}}-A400 pad-xs">A400</div>
                <div class="tc-{{color}}-A700 pad-xs">A700</div>
              </div>
            </mat-card>
          </div>
          <div flex-gt-sm="20" *ngFor="let color of neutrals">
            <mat-card>
              <div class="mat-caption pad-xs">class="tc-{{color}}-"</div>
              <div class="bgc-grey-800">
                <div class="tc-{{color}}-50 pad-xs">50</div>
                <div class="tc-{{color}}-100 pad-xs">100</div>
                <div class="tc-{{color}}-200 pad-xs">200</div>
                <div class="tc-{{color}}-300 pad-xs">300</div>
                <div class="tc-{{color}}-400 pad-xs">400</div>
              </div>
              <div class="bgc-{{color}}-50">
                <div class="tc-{{color}}-500 pad-xs">500</div>
                <div class="tc-{{color}}-600 pad-xs">600</div>
                <div class="tc-{{color}}-700 pad-xs">700</div>
                <div class="tc-{{color}}-800 pad-xs">800</div>
                <div class="tc-{{color}}-900 pad-xs">900</div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Dark Colors">
      <mat-card-content>
        <p>To manually color a font color, use our simple tc utility class:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div class="tc-dark-green-700">dark green font</div>
          ]]>
        </td-highlight>
        <p>choose from any of the dark material colors, in hues from 500, B100, B65, B40, B30 &amp; B15</p>
        <div layout-gt-sm="row" layout-wrap>
          <div flex-gt-sm="20" *ngFor="let color of colors">
            <mat-card>
              <div class="mat-caption pad-xs">class="tc-dark-{{color}}-"</div>
              <div class="bgc-{{color}}-100">
                <div class="tc-dark-{{color}}-500 pad-xs">500</div>
                <div class="tc-dark-{{color}}-B100 pad-xs">B100</div>
                <div class="tc-dark-{{color}}-B65 pad-xs">B65</div>
                <div class="tc-dark-{{color}}-B40 pad-xs">B40</div>
                <div class="tc-dark-{{color}}-B30 pad-xs">B30</div>
                <div class="tc-dark-{{color}}-B15 pad-xs">B15</div>
              </div>
            </mat-card>
          </div>
          <div flex-gt-sm="20" *ngFor="let color of neutrals">
            <mat-card>
              <div class="mat-caption pad-xs">class="tc-dark-{{color}}-"</div>
              <div class="bgc-{{color}}-100">
                <div class="tc-dark-{{color}}-500 pad-xs">500</div>
                <div class="tc-dark-{{color}}-B100 pad-xs">B100</div>
                <div class="tc-dark-{{color}}-B65 pad-xs">B65</div>
                <div class="tc-dark-{{color}}-B40 pad-xs">B40</div>
                <div class="tc-dark-{{color}}-B30 pad-xs">B30</div>
                <div class="tc-dark-{{color}}-B15 pad-xs">B15</div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>