<table td-data-table>
  <thead>
    <tr td-data-table-column-row>
      <th td-data-table-column *ngFor="let column of columns" [numeric]="column.numeric">
        {{ column.label }}
      </th>
      <th td-data-table-column>
        <mat-icon>comment</mat-icon>
        <span>Comments</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let row of basicData">
      <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
        {{ column.format ? column.format(row[column.name]) : row[column.name] }}
      </td>
      <td td-data-table-cell (click)="openPrompt(row, 'comments')" align="start">
        <button mat-button [class.mat-accent]="!row['comments']">{{ row['comments'] || 'Add Comment' }}</button>
      </td>
    </tr>
  </tbody>
</table>
