:host {
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
  padding: 0 56px 0 0;
  &:first-child {
    padding-left: 24px;
  }
  &:last-child {
    padding-right: 24px;
  }

  > * {
    vertical-align: middle;
  }

  &:last-child {
    padding: 0 24px 0 0;
  }

  &.md-clickable {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &.md-numeric {
    text-align: right;
  }
}