<md-card>
  <md-card-title>Bar Chart</md-card-title>
  <md-card-subtitle>Generate Bar Chart</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <td-bar-chart dataSrc="platform/charts/bar-chart/data.csv"
                   contentType="csv"
                   bottomAxis="salesperson"
                   bottomAxisTitle="Day Offset"
                   leftAxisTitle="Sales"
                   barColumns="sales"
                   [zDepthConfig]="['120%', 2, 0, 1]"
                   chartTitle="Sales Bar Chart">
    </td-bar-chart>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdBarChartComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
     <h2><code><![CDATA[<td-bar-chart>]]></code></h2>
     <p>Use <code><![CDATA[<td-bar-chart>]]></code> element to draw a bar chart</p>
     <p>Note: <code>d3.min.js</code> needs to be added as vendor and referenced in `index.html`.</p>
     <td-highlight lang="javascript">
      module.exports = function(defaults) {
        return new Angular2App(defaults, {
          vendorNpmFiles: [
            ...
            'd3/build/d3.min.js'
          ]
        });
      };
    </td-highlight>
    and
    <td-highlight lang="html">
      <![CDATA[
        <script src="vendor/d3/build/d3.min.js"></script>
      ]]>
    </td-highlight>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
      <td-bar-chart dataSrc="platform/charts/bar-chart/data.csv"
                    contentType="csv"
                    bottomAxis="salesperson"
                    bottomAxisTitle="Day Offset"
                    leftAxisTitle="Sales"
                    barColumns="sales"
                    [zDepthConfig]="['130%', 5, 5, 5]"
                    chartTitle="Sales Bar Chart">
      </td-bar-chart>
         ]]>
    </td-highlight>
    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
      salesperson,sales
      Bob,33
      Robin,12
      Anne,41
      Mark,16
      Joe,59
      Eve,38
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdBarChartComponent } from '@covalent/charts';
        ...
          directives: [ TdBarChartComponent ]
        })
        export class BarChartDemoComponent {

        }
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
