<md-card>
  <md-card-title>File Upload Button</md-card-title>
  <md-card-subtitle>Single upload input button</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <md-card-content>
        <h3 class="md-title">Single file selection or drop:</h3>
        <p>Select Event: {{fileSelectMsg}}</p>
        <p>Upload Event: {{fileUploadMsg}}</p>
        <td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" [disabled]="disabled">
          <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
          <ng-template td-file-input-label>
            <md-icon>attach_file</md-icon><span>Choose a file...</span>
          </ng-template>
        </td-file-upload>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" (click)="toggleDisabled()" class="text-upper">Toggle Disable</button>
      </md-card-actions>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <p>Select Event: { {fileSelectMsg} }</p>
            <p>Upload Event: { {fileUploadMsg} }</p>
            <td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" [disabled]="disabled">
              <md-icon>file_upload</md-icon><span>{ { singleFileUpload.files?.name } }</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose a file...</span>
              </ng-template>
            </td-file-upload>

            <button md-button color="primary" (click)="toggleDisabled()">Toggle Disable</button>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class Demo {
              fileSelectMsg: string = 'No file selected yet.';
              fileUploadMsg: string = 'No file uploaded yet.';
              disabled: boolean = false;

              selectEvent(file: File): void {
                this.fileSelectMsg = file.name;
              }

              uploadEvent(file: File): void {
                this.fileUploadMsg = file.name;
              }

              cancelEvent(): void {
                this.fileSelectMsg = 'No file selected yet.';
                this.fileUploadMsg = 'No file uploaded yet.';
              }

              toggleDisabled(): void {
                this.disabled = !this.disabled;
              }
            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>
<md-card>
  <md-card-title>Multiple File Upload Button</md-card-title>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
      <md-card-content>
        <h3 class="md-title">Multiple selection/drop for only .sql files and custom color palette:</h3>
        <p>Select Event: {{fileSelectMultipleMsg}}</p>
        <p>Upload Event: {{fileUploadMultipleMsg}}</p>
        <td-file-upload #fileMultipleUpload (select)="selectMultipleEvent($event)" (upload)="uploadMultipleEvent($event)" (cancel)="cancelMultipleEvent()"
                        accept=".sql" defaultColor="accent" activeColor="warn" cancelColor="primary" multiple [disabled]="disabled">
          <md-icon>file_upload</md-icon>
          <span>{{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }} <span *ngIf="fileMultipleUpload.files?.length">files selected</span></span>
          <ng-template td-file-input-label>
            <md-icon>attach_file</md-icon><span>Choose multiple .sql files...</span>
          </ng-template>
        </td-file-upload>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" (click)="toggleDisabled()" class="text-upper">Toggle Disable</button>
      </md-card-actions>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <p>Select Event: { {fileSelectMultipleMsg} }</p>
            <p>Upload Event: { {fileUploadMultipleMsg} }</p>
            <td-file-upload #fileMultipleUpload (select)="selectMultipleEvent($event)" (upload)="uploadMultipleEvent($event)" (cancel)="cancelMultipleEvent()"
                            accept=".sql" defaultColor="accent" activeColor="warn" cancelColor="primary" multiple [disabled]="disabled">
              <md-icon>file_upload</md-icon>
              <span>
                { { fileMultipleUpload.files?.name || fileMultipleUpload.files?.length } } <span *ngIf="fileMultipleUpload.files?.length">files selected</span>
              </span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose multiple .sql files...</span>
              </ng-template>
            </td-file-upload>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class Demo {
              fileSelectMultipleMsg: string = 'No file(s) selected yet.';
              fileUploadMultipleMsg: string = 'No file(s) uploaded yet.';

              selectMultipleEvent(files: FileList | File): void {
                if (files instanceof FileList) {
                  let names: string[] = [];
                  for (let i: number = 0; i < files.length; i++) {
                    names.push(files[i].name);
                  }
                  this.fileSelectMultipleMsg = names.join(',');
                } else {
                  this.fileSelectMultipleMsg = files.name;
                }
              }

              uploadMultipleEvent(files: FileList | File): void {
                if (files instanceof FileList) {
                  let names: string[] = [];
                  for (let i: number = 0; i < files.length; i++) {
                    names.push(files[i].name);
                  }
                  this.fileUploadMultipleMsg = names.join(',');
                } else {
                  this.fileUploadMultipleMsg = files.name;
                }
              }

              cancelMultipleEvent(): void {
                this.fileSelectMultipleMsg = 'No file(s) selected yet.';
                this.fileUploadMultipleMsg = 'No file(s) uploaded yet.';
              }
            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>
<td-readme-loader resourceUrl="platform/core/file/file-upload/README.md"></td-readme-loader>