<div class="pad">
  <h2>Breadcrumbs</h2>
  <h3>Basic Breadcrumbs</h3>
  <td-breadcrumbs class="pad-left">
    <a td-breadcrumb [routerLink]="'/'">Home</a>
    <a td-breadcrumb [routerLink]="'/layouts'">Layouts</a>
    <a td-breadcrumb [routerLink]="'/layouts2'">Layouts2</a>
    <a td-breadcrumb [routerLink]="'/layouts3'">Layouts3</a>
    <td-breadcrumb class="tc-grey-500">Manage List</td-breadcrumb>
  </td-breadcrumbs>
  <mat-divider></mat-divider>
  <h3>Breadcrumbs with all inputs/outputs</h3>
  <td-breadcrumbs #breadcrumbs class="pad-left" separatorIcon="motorcycle">
    <a td-breadcrumb [routerLink]="'/'">Home</a>
    <a td-breadcrumb [routerLink]="'/layouts'">Layouts</a>
    <a td-breadcrumb [routerLink]="'/layouts2'">Layouts2</a>
    <a td-breadcrumb [routerLink]="'/layouts3'">Layouts3</a>
    <td-breadcrumb class="tc-grey-500">Manage List</td-breadcrumb>
  </td-breadcrumbs>
  <div class="pad-top-sm">
    Total Breadcrumbs Count: {{breadcrumbs.count}}
  </div>
  <div class="pad-xs">
    Hidden Breadcrumbs Count (shrink window to see): {{breadcrumbs.hiddenBreadcrumbs.length}}
  </div>
  <ng-template let-breadcrumb let-index="index" ngFor [ngForOf]="breadcrumbs.hiddenBreadcrumbs">
    <div>
      <p>Breadcrumb Index: {{index}}</p>
      <p>Breadcrumb Width: {{breadcrumb?.width}}</p>
      <mat-divider></mat-divider>
    </div>
  </ng-template>
</div>

<h3>Breadcrumbs in a mat-toolbar with padding</h3>
<mat-toolbar class="dense-toolbar push-top" color="primary">
  <mat-toolbar-row>
    <td-breadcrumbs #breadcrumbsPadded class="pad-left">
      <a td-breadcrumb routerLink="/">Home</a>
      <a td-breadcrumb routerLink="/layouts">Layouts</a>
      <a td-breadcrumb routerLink="/layouts2">Layouts2</a>
      <a td-breadcrumb routerLink="/layouts3">Layouts3</a>
      <td-breadcrumb class="tc-grey-500">Manage List</td-breadcrumb>
    </td-breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Display: {{ breadcrumbsPadded.count }} Hidden: {{ breadcrumbsPadded.hiddenBreadcrumbs.length }}
  </mat-toolbar-row>
</mat-toolbar>