<md-card>
  <md-card-title>Paging</md-card-title>
  <md-card-subtitle>Paging for lists and tables</md-card-subtitle>
  <md-divider></md-divider>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <ng-template md-tab-label>Demo</ng-template>
          <md-card-content>
            <p>Change Event: </p>
            <div>
              <p>Page Size: {{event1?.pageSize || '100'}}</p>
              <p>Page: {{event1?.page || '1'}} of {{event1?.maxPage || '14'}}</p>
              <p>Rows: {{event1?.fromRow || '1'}} to {{event1?.toRow || '100'}}</p>
            </div>
            <p>Total: {{event1?.total || '1345'}}</p>
          </md-card-content>
          <md-divider></md-divider>
          <td-paging-bar #pagingBar1 pageSizeAllText="All" [pageSizeAll]="true" [pageSizes]="[50,100,200,500,1000,2000]" pageLinkCount="5" [initialPage]="1" [firstLast]="firstLast" [pageSize]="100" [total]="1345" (change)="change1($event)">
            <span td-paging-bar-label hide-xs>Row per page:</span>
            {{pagingBar1.range}} <span hide-xs>of {{pagingBar1.total}}</span>
          </td-paging-bar>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Code</ng-template>
        <md-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <td-paging-bar #pagingBar pageSizeAllText="All" [pageSizeAll]="true" [pageSizes]="[50,100,200,500,1000,2000]" pageLinkCount="5" [initialPage]="1" [firstLast]="firstLast" [pageSize]="100" [total]="1345" (change)="change($event)">
                <span td-paging-bar-label hide-xs>Row per page:</span>
                { {pagingBar.range} } <span hide-xs>of { {pagingBar.total} }</span>
              </td-paging-bar>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { IPageChangeEvent } from '@covalent/core';
              ...
              export class Demo {
                event: IPageChangeEvent;
                firstLast: boolean = false;
                pageSizeAll: boolean = false;

                change(event: IPageChangeEvent): void {
                  this.event = event;
                }

                toggleFirstLast(): void {
                  this.firstLast = !this.firstLast;
                }
              }
            ]]>
          </td-highlight>
        </md-card-content>
      </md-tab>
    </md-tab-group>
  
  <md-divider></md-divider>
  <md-card-actions>
    <div layout="row" layout-align="start center">
      <button md-button color="primary" (click)="toggleFirstLast()" class="text-upper">Toggle First/Last</button>
    </div>
  </md-card-actions>
</md-card>


<md-card>
  <md-card-title>Paging using input</md-card-title>
  <md-card-subtitle>Navigate to a specific page</md-card-subtitle>
  <md-divider></md-divider>
  <md-tab-group md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Demo</ng-template>
        <md-card-content>
          <p>Change Event: </p>
          <div>
            <p>Page Size: {{event2?.pageSize || '100'}}</p>
            <p>Page: {{event2?.page || '1'}} of {{event2?.maxPage || '14'}}</p>
            <p>Rows: {{event2?.fromRow || '1'}} to {{event2?.toRow || '100'}}</p>
          </div>
          <p>Total: {{event2?.total || '1345'}}</p>
        </md-card-content>
        <md-divider></md-divider>
        <td-paging-bar #pagingBar2 [pageSizes]="[50,100,200,500,1000,2000]" pageLinkCount="5" [firstLast]="false" [initialPage]="1" [pageSize]="100" [total]="1345" (change)="change2($event)">
          <span td-paging-bar-label hide-xs>Row per page:</span>
          {{pagingBar2.range}} <span hide-xs>of {{pagingBar2.total}}</span>
          <p hide-xs>Go to:</p>
          <md-input-container>
            <input #goToInput
                    mdInput
                    type="number"
                    [min]="1"
                    [max]="pagingBar2.maxPage"
                    [value]="pagingBar2.page"
                    (blur)="goToInput.value = pagingBar2.page"
                    (keyup.enter)="pagingBar2.navigateToPage(goToInput.value); goToInput.value = pagingBar2.page"/>
          </md-input-container>
        </td-paging-bar>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Code</ng-template>
      <md-card-content>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <td-paging-bar #pagingBar [pageSizes]="[50,100,200,500,1000,2000]" pageLinkCount="5" [firstLast]="false" [initialPage]="1" [pageSize]="100" [total]="1345" (change)="change($event)">
              <span td-paging-bar-label hide-xs>Row per page:</span>
              { {pagingBar.range} } <span hide-xs>of { {pagingBar.total} }</span>
              <p hide-xs>Go to:</p>
              <md-input-container>
                <input #goToInput
                      mdInput
                      type="number"
                      [min]="1"
                      [max]="pagingBar.maxPage"
                      [value]="pagingBar.page"
                      (blur)="goToInput.value = pagingBar.page"
                      (keyup.enter)="pagingBar.navigateToPage(goToInput.value); goToInput.value = pagingBar.page"/>
              </md-input-container>
            </td-paging-bar>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            import { IPageChangeEvent } from '@covalent/core';
            ...
            export class Demo {
              event: IPageChangeEvent;

              change(event: IPageChangeEvent): void {
                this.event = event;
              }
            }
          ]]>
        </td-highlight>
      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>

<td-readme-loader resourceUrl="platform/core/paging/README.md"></td-readme-loader>