<div [style.height]="'300px'" class="relative">
        <mat-sidenav-container fullscreen>
          <mat-sidenav [opened]="true" position="end" mode="side" #sidesheet>
            <td-sidesheet>
              <td-sidesheet-header>
                <td-sidesheet-title>Sidesheet title</td-sidesheet-title>
                <button mat-icon-button td-sidesheet-header-action>
                  <mat-icon matTooltipPosition="before" matTooltip="Close" (click)="sidesheet.toggle()">close</mat-icon>
                </button>
              </td-sidesheet-header>
              <td-sidesheet-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat aliquet sem, a molestie dolor molestie placerat. Donec convallis sodales magna, nec varius tellus tincidunt lacinia. Vivamus sollicitudin finibus imperdiet. Quisque mattis quis mauris a facilisis. Maecenas tristique sem molestie diam varius viverra. Duis egestas mi neque, a posuere libero pellentesque quis. Sed ornare metus augue, vitae maximus lorem euismod vel. Curabitur finibus nisl ac purus efficitur tempor. Morbi fermentum lorem fermentum justo cursus, nec volutpat mi blandit. In nec accumsan quam, eget venenatis arcu.</p>
              </td-sidesheet-content>
              <td-sidesheet-actions>
                <button mat-raised-button class="text-upper" color="accent">action</button>
                <button mat-button class="text-upper">cancel</button>
              </td-sidesheet-actions>
            </td-sidesheet>  
          </mat-sidenav>
          <mat-toolbar layout="row" layout-align="start center" flex>
            <span flex></span>
            <button mat-button (click)="sidesheet.toggle()">
              Toggle Sidesheet
            </button>
          </mat-toolbar>
          Content goes here
        </mat-sidenav-container>
      </div>