<nav td-steps horizontal>
  <a td-step-link
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{exact:true}"
    [state]="'complete'"
    [label]="'1st step'"
    [sublabel]="'complete but can be edited'"
    [active]="rla.isActive"></a>
  <a td-step-link
    routerLinkActive
    #rla2="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [state]="'complete'"
    [label]="'2nd step'"
    [sublabel]="'disabled step'"
    [disabled]="true"
    [active]="rla2.isActive"></a>
  <a td-step-link
    routerLinkActive
    #rla3="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [state]="'required'"
    [label]="'3rd step'"
    [sublabel]="'required step'"
    [active]="rla3.isActive"></a>
  <a td-step-link
    routerLinkActive
    #rla4="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [state]="'none'"
    [label]="'optional step'"
    [sublabel]="'last and final'"
    [active]="rla4.isActive"></a>
</nav>