<nav td-steps horizontal>
  <a td-step-link
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact:true}"
      [state]="'complete'"
      [label]="'1st step'"
      [sublabel]="'some description'"
      [active]="rla.isActive"></a>
  <a td-step-link
      routerLinkActive
      #rla2="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [state]="'complete'"
      [label]="'2nd step'"
      [disabled]="true"
      [active]="rla2.isActive"></a>
  <a td-step-link
      routerLinkActive
      #rla3="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [state]="'required'"
      [label]="'3rd step'"
      [active]="rla3.isActive"></a>
  <a td-step-link
      routerLinkActive
      #rla4="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [state]="'none'"
      [label]="'Optional step'"
      [sublabel]="'Last and final'"
      [active]="rla4.isActive"></a>
</nav>