<mat-card>
  <div class="pad-left pad-right bgc-grey-100" layout="row" layout-align="start center">
    <span flex></span>
    <button mat-icon-button
            matTooltip="View Source"
            (click)="toggleDemoCode = !toggleDemoCode">
      <mat-icon class="tc-grey-700">code</mat-icon>
    </button>
  </div>
  <mat-card-title>Virtual Scroll</mat-card-title>
  <mat-card-subtitle>
    Scroll virtually on a set of items
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div [@tdCollapse]="!toggleDemoCode">
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab>
          <ng-template matTabLabel>HTML</ng-template>
          <td-highlight lang="html">
            <![CDATA[
              <mat-list>
                <mat-list-item>
                  Column Header
                </mat-list-item>
                <mat-divider></mat-divider>
                <td-virtual-scroll-container #virtualScroll [style.height.px]="400" [data]="data">
                  <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
                    <mat-list-item>
                      <mat-icon matListAvatar>person</mat-icon>
                      <h4 matLine>{ {row.name} }</h4>
                      <p matLine>Row: { {row.index} }</p>
                    </mat-list-item>
                    <mat-divider *ngIf="!last" matInset></mat-divider>
                  </ng-template>
                </td-virtual-scroll-container>
              </mat-list>
            ]]>
          </td-highlight>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>TS</ng-template>
          <td-highlight lang="typescript">
            <![CDATA[
              import { Component, OnInit } from '@angular/core';
              ...
              export class Demo implements OnInit {
              
                data: any[] = [];
              
                ngOnInit(): void {
                  for (let index: number = 1; index <= 1500; index++) {
                    this.data.push({index: index, name: 'element-' + index});
                  }
                }
              }
            ]]>
          </td-highlight>
        </mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>
    </div>
    <mat-list>
      <mat-list-item>
        Column Header
      </mat-list-item>
      <mat-divider></mat-divider>
      <td-virtual-scroll-container #virtualScroll [style.height.px]="400" [data]="data">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
          <mat-list-item>
            <mat-icon matListAvatar>person</mat-icon>
            <h4 matLine>{{row.name}}</h4>
            <p matLine>Row: {{row.index}}</p>
          </mat-list-item>
          <mat-divider *ngIf="!last" matInset></mat-divider>
        </ng-template>
      </td-virtual-scroll-container>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button class="text-upper" (click)="virtualScroll.scrollToStart()">
      Scroll to first
    </button>
    <button mat-button class="text-upper" (click)="virtualScroll.scrollToEnd()">
      Scroll to last
    </button>
    <button mat-button class="text-upper" (click)="virtualScroll.scrollTo(400)">
      Scroll to 400th row
    </button>
  </mat-card-actions>
</mat-card>

<td-readme-loader resourceUrl="platform/core/virtual-scroll/README.md"></td-readme-loader>
