<mat-card>
  <mat-card-title>Syntax Highlighting</mat-card-title>
  <mat-card-subtitle>Highlighting your code snippets</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <h3>Example:</h3>
     <p>HTML usage:</p>
     <td-highlight lang="html">
      <![CDATA[
        <td-highlight lang="html">
          <h1>hello world!</h1>
          <span>{ {property} }</span>
        </td-highlight>
      ]]>
    </td-highlight>
    <p>here's what CSS looks like:</p>
    <td-highlight lang="css">    
      <![CDATA[   
        pre {
          display: block;
          overflow-x: auto;
          padding: 0;
          margin: 0;
          background: #002451;
          color: white;
          font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
          line-height: 1.45;
          tab-size: 2;
          -webkit-font-smoothing: auto;
          -webkit-text-size-adjust: none;
          position: relative;
          border-radius: 2px;
        }
      ]]>
    </td-highlight>
    <p>and TypeScript (javascript):</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Injectable } from '@angular/core';
        import { Subject } from 'rxjs/Subject';
        import { Observable } from 'rxjs/Observable';

        @Injectable()
        export class Service {

          private _sources: {[key : string]: Subject<any>} = {};
          private _observables: {[key: string]: Observable<any>} = {};

          constructor(){

          }

          public register(name) : Observable<any> {
            this._sources[name] = new Subject<any>();
            this._observables[name] = this._sources[name].asObservable();
            return this._observables[name];
          }

          public emit(name: string): void {
            if(this._sources[name]){
              this._sources[name].next(null);
            }
          }
        }
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>

<td-readme-loader resourceUrl="platform/highlight/README.md"></td-readme-loader>
