@import '../../../node_modules/@angular/material/core/theming/theming';

@mixin td-data-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  table[td-data-table] {
    .td-data-table-row {
      border-bottom-color: md-color($foreground, divider);
    }
    .md-checkbox-cell,
    .md-checkbox-column {
      color: md-color($foreground, secondary-text);
    }
    .md-column {
      color: md-color($foreground, secondary-text);
      md-icon {
        &.md-sort-icon {
          color: md-color($foreground, disabled);
        }
      }
      &.md-active,
      &.md-active md-icon {
        color: md-color($foreground, base);
      }
    }
    &.md-row-select tbody.md-body > tr.td-data-table-row {
      &:not([disabled]):hover {
        background-color: md-color($background, 'hover');
      }
      &.md-selected {
        background-color: md-color($accent, 0.12);
      }
    }
  }
}
