<div layout="row" layout-align="start center" *ngIf="_title && !_searchVisible">
  <span class="md-subhead">{{_title}}</span>
  <span flex></span>
  <button md-icon-button (click)="toggleSearch()">
    <md-icon *ngIf="_search">filter_list</md-icon>
  </button>
</div>

<div layout="row" layout-align="start center" *ngIf="_searchVisible">
  <md-icon>search</md-icon>
  <form flex layout="row" name="filter.form">
    <md-input flex #searchTerm id="search" name="search" type="text" [formControl]="_searchTermControl">
    </md-input>
  </form>
  <button md-icon-button (click)="toggleSearch()">
    <md-icon>close</md-icon>
  </button>
</div>

<div class="md-table-container" *ngIf="_visibleData.length > 0">
  <table td-table>
    <thead td-head>
      <tr td-row>
        <th td-column class="md-checkbox-column" *ngIf="_rowSelection">
          <md-checkbox
            *ngIf="_multiple"
            [checked]="areAllSelected()"
            (change)="selectAll($event.checked)">
          </md-checkbox>
        </th>
        <th td-column 
            *ngFor="let column of columns" 
            [ngClass]="{'md-clickable': _sorting, 'md-active': column === _sortBy, 'md-numeric': column.numeric, 'md-asc': column === _sortBy && _sortOrder === _ascending, 'md-desc': _sortOrder === !(column === _sortBy) || _descending}">
          <md-icon class="md-sort-icon" *ngIf="column.numeric && (_sortOrder === _ascending || !(column === _sortBy))">
            arrow_upward
          </md-icon>
          <md-icon class="md-sort-icon" *ngIf="column.numeric && _sortOrder === _descending && column === _sortBy">
            arrow_downward
          </md-icon>
          <span class="md-caption" (click)="setSorting(column)">
            {{column.label}}
          </span>
          <md-icon class="md-sort-icon" *ngIf="!column.numeric && (_sortOrder === _ascending || !(column === _sortBy))">
            arrow_upward
          </md-icon>
          <md-icon class="md-sort-icon" *ngIf="!column.numeric && _sortOrder === _descending && column === _sortBy">
            arrow_downward
          </md-icon>
        </th>
      </tr>
    </thead>
    <tbody td-body>
      <tr td-row *ngFor="let row of _visibleData">
        <td td-cell class="md-checkbox-cell" *ngIf="_rowSelection"> 
          <md-checkbox
            [checked]="row[_rowSelectionField]"
            (change)="select(row, $event.checked)">
          </md-checkbox>
        </td>
        <td td-cell *ngFor="let column of columns" [ngClass]="{'md-numeric': column.numeric}">
          <span class="md-body-1">{{ row[column.name] }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="md-body-1" *ngIf="_visibleData.length < 1">
  No results
</div>

<div layout="row" layout-align="end center" class="md-caption md-table-pagination" *ngIf="hasPagination && hasData">
  <span>
    {{ _currentPage }} of {{ _totalPages }}
  </span>
  <button md-icon-button (click)="prevPage()">
    <md-icon *ngIf="_search">keyboard_arrow_left</md-icon>
  </button>
  <button md-icon-button (click)="nextPage()">
    <md-icon *ngIf="_search">keyboard_arrow_right</md-icon>
  </button>
</div>

<div class="md-body-1" *ngIf="hasPagination && !hasData">
  No pages
</div>