$backdrop-index: 80;
$checkbox-size: 18px;

.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.td-data-table {
  &.md-selectable tbody > tr.td-data-table-row {
    transition: background-color 0.2s;
  }

  &.md-selectable td.td-data-table-cell,
  &.md-selectable th.td-data-table-column {
    &:first-child {
      width: 20px;
      padding: 0 24px;
    }
    &:nth-child(2) {
      padding-left: 0px;
    }
  }

  td.md-checkbox-cell,
  th.md-checkbox-column {
    width: $checkbox-size;
    font-size: 0 !important;
    md-checkbox {
      /deep/ .md-checkbox-inner-container {
        width: $checkbox-size;
        height: $checkbox-size;
        margin: 0;
      }
    }
  }
}
