$backdrop-index: 80;
$checkbox-size: 18px;

.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.md-table {
  &.md-row-select tbody.md-body > tr.td-data-table-row {
    transition: background-color 0.2s;
  }

  &.md-row-select td.md-cell,
  &.md-row-select th.md-column {
    &:first-child {
      width: 20px;
      padding: 0 24px;
    }
  }

  td.md-checkbox-cell,
  th.md-checkbox-column {
    width: $checkbox-size;
    font-size: 0 !important;
    md-checkbox {
      /deep/ .md-checkbox-inner-container {
        width: $checkbox-size;
        height: $checkbox-size;
        margin: 0;
      }
    }
  }
}
