<div layout="row" layout-align="start center" *ngIf="_title && !_searchVisible">
  <span class="md-subhead">{{_title}}</span>
  <span flex></span>
  <button md-icon-button (click)="toggleSearch()">
    <md-icon *ngIf="_search">filter_list</md-icon>
  </button>
</div>

<div layout="row" layout-align="start center" *ngIf="_searchVisible">
  <md-icon>search</md-icon>
  <form flex layout="row" name="filter.form">
    <md-input flex #searchTerm id="search" name="search" type="text" [formControl]="_searchTermControl">
    </md-input>
  </form>
  <button md-icon-button (click)="toggleSearch()">
    <md-icon>close</md-icon>
  </button>
</div>

<td-table-container *ngIf="_visibleData.length > 0">
  <table td-table>
    <thead td-head>
      <tr td-row>
        <th td-column *ngIf="_rowSelection">
          <md-checkbox
            *ngIf="_multiple"
            [checked]="areAllSelected()"
            (change)="selectAll($event.checked)">
          </md-checkbox>
        </th>
        <th td-column *ngFor="let column of columns">
          <span class="md-caption">{{column.label}}</span>
        </th>
      </tr>
    </thead>
    <tbody td-body>
      <tr td-row *ngFor="let row of _visibleData">
        <td td-cell *ngIf="_rowSelection">
          <md-checkbox
            [checked]="row[_rowSelectionField]"
            (change)="select(row, $event.checked)">
          </md-checkbox>
        </td>
        <td td-cell *ngFor="let column of columns">
          <span class="md-body-1">{{ row[column.name] }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</td-table-container>

<div class="md-body-1" *ngIf="_visibleData.length < 1">
  No results
</div>

<div layout="row" layout-align="end center" class="md-caption md-table-pagination" *ngIf="hasPagination && hasData">
  <span>
    {{ _currentPage }} of {{ _totalPages }}
  </span>
  <button md-icon-button (click)="prevPage()">
    <md-icon *ngIf="_search">keyboard_arrow_left</md-icon>
  </button>
  <button md-icon-button (click)="nextPage()">
    <md-icon *ngIf="_search">keyboard_arrow_right</md-icon>
  </button>
</div>

<div class="md-body-1" *ngIf="hasPagination && !hasData">
  No pages
</div>