@import 'data-table-theme';

$backdrop-index: 80;
$checkbox-size: 18px;

.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.md-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
  border-collapse: collapse;

  tr.md-row {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  thead.md-head > tr.md-row {
    height: 56px;
  }

  tbody.md-body > tr.md-row {
    height: 48px;
  }

  tr.md-row {
    &[ng\:repeat].ng-leave,
    &[ng-repeat].ng-leave,
    &[x-ng-repeat].ng-leave,
    &[data-ng-repeat].ng-leave {
      display: none;
    }
  }

  &.md-row-select tbody.md-body > tr.md-row {
    transition: background-color 0.2s;
  }

  &.md-row-select td.md-cell,
  &.md-row-select th.md-column {
    &:first-child {
      width: 20px;
      padding: 0 0 0 24px;
    }

    &:nth-child(2) {
      padding: 0 24px;
    }

    &:nth-child(n+3):nth-last-child(n+2) {
      padding: 0 56px 0 0;
    }
  }

  &:not(.md-row-select) td.md-cell,
  &:not(.md-row-select) th.md-column {
    &:first-child {
      padding: 0 24px;
    }

    &:nth-child(n+2):nth-last-child(n+2) {
      padding: 0 56px 0 0;
    }
  }

  td.md-checkbox-cell,
  th.md-checkbox-column {
    width: $checkbox-size;
    font-size: 0 !important;
    md-checkbox {
      /deep/ .md-checkbox-inner-container {
        width: $checkbox-size;
        height: $checkbox-size;
        margin: 0;
      }
    }
  }
}
