@import '../common/styles/theme-functions';

@mixin td-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .td-dialog-message {
    color:  mat-color($foreground, secondary-text);
  }
}