@import '../common/styles/mixins';
.td-dialog-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.td-dialog-content {
  margin-bottom: 16px;
}

.td-dialog-actions {
  position: relative;
  top: 16px;
  left: 16px;
  [dir='ltr'] & { 
      left: 16px;
  }
  [dir='rtl'] & { 
      right: 16px;
  }
}

:host {
  display: block;
  .td-dialog-actions {
    /deep/ button {
      text-transform: uppercase;
      [dir='ltr'] & { 
        margin-left: 8px;
      }
      [dir='rtl'] & { 
        margin-right: 8px;
      }
      padding-left: 8px;
      padding-right: 8px;
      min-width: 64px;
    }
  }
}