/* SideSheet.css */
.side-sheet {
  position: fixed;
  top: 0;
  left: 0; /* Change from right: 0 to left: 0 */
  height: 100%;
  width: 300px;
  max-width: 80%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Change the direction of the shadow */
  transform: translateX(
    -100%
  ); /* Change from translateX(100%) to translateX(-100%) */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.side-sheet.open {
  transform: translateX(0);
}

.side-sheet-content {
  padding: 0 1rem 1rem;
  height: 100%;
  overflow-y: auto;
}

.side-sheet-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-sheet-title h3 {
  font-weight: 500;
}

.close-icon {
  cursor: pointer;
}
