:host {
  display: block;
  .td-message-wrapper {
    padding: 8px 16px;
    min-height: 52px;
    // [layout]
    box-sizing: border-box;
    display: flex;
    // [layout="row"]
    flex-direction: row;
    // [layout-align="start center"]
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-start;
    .td-message-labels {
      // [flex]
      flex: 1;
    }
  }
}

.td-message-icon {
  margin-right: 16px;
  ::ng-deep [dir='rtl'] & {
    margin-left: 16px;
    margin-right: 0;
  }
}
