@import '../../common/styles/core/whiteframe';

:host {
  .td-layout-nav-list-wrapper > .mat-sidenav-container {
    > mat-sidenav.mat-drawer-side {
      border-right: 0;
      [dir='rtl'] & {
        border-left: 0;
      }
    }
  }
  // [layout-fill]
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  // [layout="column"]
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  // [flex]
  flex: 1;
  .td-layout-nav-list-wrapper {
    // [layout="column"]
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    // [flex]
    flex: 1;
    // [md-content]
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .td-layout-nav-list-toolbar-content {
      // [layout="row"]
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      // [layout-align="start center"]
      align-items: center;
      align-content: center;
      max-width: 100%;
      justify-content: flex-start;
    }
    .td-layout-nav-list-content {
      text-align: start;
      // [flex]
      flex: 1;
      // [md-content]
      display: block;
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .td-layout-nav-list-main {
      // [layout="column"]
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      // [layout-fill]
      margin: 0;
      width: 100%;
      min-height: 100%;
      height: 100%;
      position: relative;
      overflow: auto;
      .td-layout-nav-list-content {
        // [md-content]
        display: block;
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        // [flex]
        flex: 1;
      }
    }
    mat-sidenav-container.td-layout-nav-list {
      // [flex]
      flex: 1;
      & > mat-sidenav {
        &.mat-drawer-opened,
        &.mat-drawer-opening,
        &.mat-drawer-closed,
        &.mat-drawer-closing {
          box-shadow: none;
        }
      }
    }
  }
}
:host ::ng-deep {
  mat-sidenav-container.td-layout-nav-list {
    & > .mat-drawer-content {
      flex-grow: 1;
    }
    /* Ensure the left sidenav is a flex column & 100% height */
    & > .mat-drawer > .mat-drawer-inner-container {
      box-shadow: $whiteframe-shadow-1dp;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
    }
  }
}
