<td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
  <div class="md-padding">
    <md-card>
      <md-card-title>Nav View</md-card-title>
      <md-card-subtitle>A simple layout with toolbar &amp; sidenav (this page is using nav view)</md-card-subtitle>
      <md-divider></md-divider>
      <md-nav-list>
        <h3 md-subheader>Recommended usage:</h3>
        <a md-list-item href="https://teradata.github.io/covalent-quickstart/" target="_blank">
          <p md-line>Oveview dashboard with cards</p>
          <md-icon>launch</md-icon>
        </a>
        <md-divider></md-divider>
        <a md-list-item href="https://teradata.github.io/covalent-quickstart/#/templates/dashboard" target="_blank">
          <p md-line>Dashboard with charts</p>
          <md-icon>launch</md-icon>
        </a>
        <md-divider></md-divider>
      </md-nav-list>
      <md-card-content>
        <div layout-gt-md="row">
          <div flex-gt-md="50">
            <td-steps>
              <td-step label="td-layout-nav" sublabel="the main content area of the layout" active="true">
                <md-list>
                  <md-list-item>
                    <h3 md-line><code><![CDATA[<td-layout-nav>]]></code></h3>
                    <p md-line>Builds the top toolbar and content area</p>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item>
                    <h3 md-line><code>toolbarTitle?: string</code></h3>
                    <p md-line>The title of your toolbar</p>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item>
                    <h3 md-line><code>logo?: string</code></h3>
                    <p md-line>The path to your toolbar logo</p>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item>
                    <h3 md-line><code>color?: string</code></h3>
                    <p md-line>Toolbar color (primary | accent | warn | none)</p>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item>
                    <h3 md-line><code>navigationRoute?: string</code></h3>
                    <p md-line>Optional route navigation on logo/icon/title</p>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item>
                    <h3 md-line><code><![CDATA[<router-outlet>]]></code></h3>
                    <p md-line>Loads html for each route (view)</p>
                  </md-list-item>
                  <md-divider></md-divider>
                </md-list>
              </td-step>
              <td-step label="td-layout-footer" sublabel="optional sticky footer">
                <md-list>
                  <md-list-item>
                    <h3 md-line><code><![CDATA[<td-layout-footer>]]></code></h3>
                    <p md-line>Optional footer</p>
                  </md-list-item>
                </md-list>
              </td-step>
            </td-steps>
          </div>
          <div flex-gt-md="50">
            <h3 class="md-title">HTML</h3>
            <td-highlight lang="html">
              <![CDATA[
                <td-layout-nav toolbarTitle="Toolbar Title" logo="svgIconName" navigationRoute="/">
                  <router-outlet></router-outlet>
                  <td-layout-footer>
                    Optional footer
                  </td-layout-footer>
                </td-layout-nav>
              ]]>
            </td-highlight>
          </div>
        </div>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row">
        <a md-button [routerLink]="'/layouts'" class="text-upper">Go back</a>
        <span flex></span>
        <a md-button color="accent" [routerLink]="'/layouts/nav-list'" class="text-upper">Nav List</a>
      </md-card-actions>
    </md-card>
    <td-readme-loader resourceUrl="platform/core/layout/layout-nav/README.md"></td-readme-loader>
  </div>
  <td-layout-footer>
    Optional footer
  </td-layout-footer>
</td-layout-nav>
