<demo-component [demoId]="'chips-demo-with-requireMatch-attribute'" [demoTitle]="'RequireMatch Attribute'">
    <chips-demo-with-requireMatch-attribute></chips-demo-with-requireMatch-attribute>
</demo-component>

<demo-component [demoId]="'chips-demo-with-required-attribute'" [demoTitle]="'Required Attribute'">
    <chips-demo-with-required-attribute></chips-demo-with-required-attribute>
</demo-component>

<demo-component [demoId]="'chips-demo-with-objects'" [demoTitle]="'Objects'">
    <chips-demo-with-objects></chips-demo-with-objects>
</demo-component>

<demo-component [demoId]="'chips-demo-with-chip-avatar'" [demoTitle]="'Avatars'">
    <chips-demo-with-chip-avatar></chips-demo-with-chip-avatar>
</demo-component>

<demo-component [demoId]="'chips-demo-as-stacked-chips'" [demoTitle]="'Stacked Chips'">
    <chips-demo-as-stacked-chips></chips-demo-as-stacked-chips>
</demo-component>

<demo-component [demoId]="'chips-demo-as-custom-chips'" [demoTitle]="'Custom Chips'">
    <chips-demo-as-custom-chips></chips-demo-as-custom-chips>
</demo-component>

<demo-component [demoId]="'chips-demo-with-compareWith-function'" [demoTitle]="'CompareWith Function'">
   <chips-demo-with-compareWith-function></chips-demo-with-compareWith-function>
</demo-component>

<demo-component [demoId]="'chips-demo-for-chip-events'" [demoTitle]="'Events'">
    <chips-demo-for-chip-events></chips-demo-for-chip-events>
 </demo-component>
