<demo-component [demoTitle]="'Configurable Autocomplete'">
    <chips-demo-with-requireMatch-attribute></chips-demo-with-requireMatch-attribute>
</demo-component>

<demo-component [demoTitle]="'Required Attribute'">
    <chips-demo-with-required-attribute></chips-demo-with-required-attribute>
</demo-component>

<demo-component [demoTitle]="'Autocomplete From Object'">
    <chips-demo-with-objects></chips-demo-with-objects>
</demo-component>

<demo-component [demoTitle]="'Chips With Avatars'">
    <chips-demo-with-chip-avatar></chips-demo-with-chip-avatar>
</demo-component>

<demo-component [demoTitle]="'Stacked Chips'">
    <chips-demo-as-stacked-chips></chips-demo-as-stacked-chips>
</demo-component>

<demo-component [demoTitle]="'Custom Chips'">
    <chips-demo-as-custom-chips></chips-demo-as-custom-chips>
</demo-component>

<demo-component [demoTitle]="'Unique Values'">
   <chips-demo-with-compareWith-function></chips-demo-with-compareWith-function>
</demo-component>

<demo-component [demoTitle]="'Events'">
    <chips-demo-for-chip-events></chips-demo-for-chip-events>
 </demo-component>
