<h3>Covalent Example</h3>
<td-expansion-panel label="Label goes here" sublabel="sublabel goes here" [disabled]="disabled">
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 1</div>
    <div>Demo 2</div>
    <div>Demo 3</div>
    <div>Demo 4</div>
  </div>
</td-expansion-panel>
<td-expansion-panel label="Another label goes here" [disabled]="disabled">
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 5</div>
    <div>Demo 6</div>
    <div>Demo 7</div>
    <div>Demo 8</div>
  </div>
</td-expansion-panel>

<h3>Angular Material Example</h3>
<mat-expansion-panel #panel1 [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Label goes here
    </mat-panel-title>
    <mat-panel-description>
      sublabel goes here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 1</div>
    <div>Demo 2</div>
    <div>Demo 3</div>
    <div>Demo 4</div>
  </div>
</mat-expansion-panel>
<mat-expansion-panel #panel2 [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Another label goes here
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="md-padding">
    <h3 class="mat-subheading-2">md-padding class</h3>
    <div>Demo 5</div>
    <div>Demo 6</div>
    <div>Demo 7</div>
    <div>Demo 8</div>
  </div>
</mat-expansion-panel>

<mat-slide-toggle color="accent" [(ngModel)]="disabled" (change)="onChange()" class="push-top">
  Disabled
</mat-slide-toggle>
