:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  md-sidenav-container.td-layout-manage-list {
    & > md-sidenav {
      &.mat-sidenav-opened,
      &.mat-sidenav-opening,
      &.mat-sidenav-closed,
      &.mat-sidenav-closing {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .td-menu-button {
    margin-left: 0px;
  }
  .list {
    text-align: start;
  }
}
:host /deep/ {
  md-sidenav-container.td-layout-manage-list {
    & > .mat-sidenav-content {
      flex-grow: 1;
    }
    /* Ensure the left sidenav is a flex column & 100% height */
    & > md-sidenav {
      & > cdk-focus-trap {
        &, & > div {
          box-sizing: border-box;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  md-nav-list a[md-list-item] .mat-list-item-content {
    font-size: 14px;
  }
}
