:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  mat-sidenav-container.td-layout-manage-list {
    & > mat-sidenav {
      &.mat-drawer-opened,
      &.mat-drawer-opening,
      &.mat-drawer-closed,
      &.mat-drawer-closing {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .list {
    text-align: start;
  }
}
:host /deep/ {
  mat-sidenav-container.td-layout-manage-list {
    & > .mat-drawer-content {
      flex-grow: 1;
    }
    /* Ensure the left sidenav is a flex column & 100% height */
    & > mat-sidenav {
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
    }
  }
  mat-nav-list a[mat-list-item] .mat-list-item-content {
    font-size: 14px;
  }
  .mat-toolbar {
    font-weight: 400;
  }
}
