<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template matTabLabel>
      <div layout="row" layout-align="center center">
        Activities
        <td-notification-count color="accent" [notifications]="true"></td-notification-count>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <div layout="row" layout-align="center center">
        Logs
        <td-notification-count color="warn" [notifications]="0"></td-notification-count>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <div layout="row" layout-align="center center">
        Chats
        <td-notification-count color="accent" [notifications]="12"></td-notification-count>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
