.demo-card {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 80%),
    0 1px 3px 1px rgba(60, 64, 67, 16%);

  .mat-toolbar-row {
    background-color: #f5f5f5;
    height: 56px;
  }
}

:host {
  display: block;
  margin-bottom: 2em;
}
