<td-layout-nav-list #navList
                    logo="assets:teradata"
                    toolbarTitle="Covalent"
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : ((media.registerQuery('sm') | async) ? 'push' : 'over')"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <md-nav-list td-sidenav-content>
    <h3 md-subheader>Style Guide</h3>
    <ng-template let-item let-last="last" ngFor [ngForOf]="items">
      <a md-list-item 
          [routerLink]="[item.route]" 
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact:true}"
          (click)="!media.query('gt-sm') && navList.close()">
        <md-icon md-list-avatar>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line> {{item.description}} </p>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
    <h3 md-subheader>Design Patterns</h3>
    <ng-template let-item let-last="last" ngFor [ngForOf]="patterns">
      <a md-list-item 
          [routerLink]="[item.route]" 
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{exact:true}"
          (click)="!media.query('gt-sm') && navList.close()">
        <md-icon md-list-avatar>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line> {{item.description}} </p>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </md-nav-list>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Teradata Style Guide</span>
    <span flex></span>
  </div>
  <router-outlet></router-outlet>
</td-layout-nav-list>
