<div
  layout="row"
  layout-align="start center"
  class="pad-left-sm pad-right-sm"
  [class.mat-selected-title]="selectedRows.length && selectable"
>
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title">Title here</span>
    <span *ngIf="selectedRows.length && selectable" class="mat-body-1">{{ selectedRows.length }} item(s) selected</span>
  </span>
  <td-search-box
    #searchBox
    backIcon="arrow_back"
    class="push-right-sm"
    placeholder="Filter"
    (searchDebounce)="filter($event)"
    flex
  ></td-search-box>
</div>
<mat-divider></mat-divider>
<td-data-table
  #dataTable
  [data]="filteredData"
  [columns]="columns"
  [selectable]="selectable"
  [clickable]="clickable"
  [multiple]="multiple"
  [sortable]="true"
  [sortBy]="sortBy"
  [resizableColumns]="resizableColumns"
  [(ngModel)]="selectedRows"
  [sortOrder]="sortOrder"
  (sortChange)="sort($event)"
  (rowClick)="showAlert($event)"
  [style.height.px]="200"
></td-data-table>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Rows per page:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of [50, 100, 200, 500]" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
  {{ pagingBar.range }}
  <span hide-xs>of {{ pagingBar.total }}</span>
</td-paging-bar>

<mat-divider></mat-divider>

<div class="pad-sm">
  <mat-slide-toggle color="accent" [(ngModel)]="selectable">
    Row selection
  </mat-slide-toggle>
  <mat-slide-toggle color="accent" [(ngModel)]="clickable">
    Row click
  </mat-slide-toggle>
  <mat-slide-toggle class="push-left" color="accent" [(ngModel)]="multiple" [disabled]="!selectable && !clickable">
    Multi-row click (shift + click)
  </mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div class="pad-sm">
  <mat-slide-toggle color="accent" [(ngModel)]="resizableColumns">
    Resizable columns
  </mat-slide-toggle>
  <mat-slide-toggle color="accent" [(ngModel)]="columns[2].hidden" (ngModelChange)="dataTable.refresh()">
    Hide Email column
  </mat-slide-toggle>
  <mat-slide-toggle color="accent" [(ngModel)]="columns[0].filter" (ngModelChange)="refreshTable()">
    First Name column is filterable (type
    <code>Zarah</code>
    )
  </mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div class="pad-sm"></div>
