<mat-toolbar [color]="color" [style.background-image]="backgroundImage" [class.td-toolbar-background]="!!isBackgroundAvailable">
  <div flex>
    <ng-content select="[td-navigation-drawer-toolbar]"></ng-content>
    <ng-container *ngIf="!isCustomToolbar">
      <span *ngIf="icon || logo || sidenavTitle"
            [class.cursor-pointer]="routerEnabled"
            (click)="handleNavigationClick()"
            layout="row"
            layout-align="start center">
        <mat-icon *ngIf="icon">{{icon}}</mat-icon>
        <mat-icon *ngIf="logo && !icon" class="mat-icon-logo" [svgIcon]="logo"></mat-icon>
        <span *ngIf="sidenavTitle" class="md-subhead">{{sidenavTitle}}</span>
      </span>
      <div class="md-body-2" *ngIf="email && name">{{name}}</div>
      <div class="md-body-1" layout="row" href *ngIf="email || name" (click)="toggleMenu()">
        <span flex>{{email || name}}</span>
        <button mat-icon-button class="mat-icon-button-mini" *ngIf="isMenuAvailable">
          <mat-icon *ngIf="!menuToggled">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="menuToggled">arrow_drop_up</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</mat-toolbar>
<div [@tdCollapse]="menuToggled">
  <ng-content></ng-content>
</div>
<div [@tdCollapse]="!menuToggled">
  <ng-content select="[td-navigation-drawer-menu]"></ng-content>
</div>
