:host {
  width: 100%;
  mat-toolbar {
    padding: 16px;
    &.td-toolbar-background {
      background-repeat: no-repeat;
      background-size: cover;
    }
    /deep/ > .mat-toolbar-layout > mat-toolbar-row {
      height: auto !important;
      display: block !important;
    }
  }
  > div {
    overflow: hidden;
  }
}