:host {
  display: block;
}
.td-search-box {
  td-search-input {
    /deep/ {
      .mat-input-placeholder.mat-focused {
        visibility: hidden;
      }
    }

    [dir='ltr'] & { 
      margin-left: 12px;
    }
    [dir='rtl'] & { 
      margin-right: 12px;
    }

  }
}