:host {
  display: block;
}
.td-search-box {
  height: 64px;
  td-search-input {
    margin-left: 12px;
    /deep/ [dir='rtl'] & { 
      margin-right: 12px;
      margin-left: 0px !important;
    }
    /deep/ {
      .mat-input-placeholder.mat-focused {
        visibility: hidden;
      }
    }
  }
}