:host {
  display: block;
}
.td-search-box {
  // [layout]
  box-sizing: border-box;
  display: flex;
  // [layout="row"]
  flex-direction: row;
  // [layout-align="end center"]
  align-items: baseline;
  align-content: center;
  max-width: 100%;
  justify-content: flex-end;
  .td-search-icon {
    // [flex="none"]
    flex: 0 0 auto;
    align-self: center;
  }
  td-search-input {
    margin-left: 12px;
    ::ng-deep [dir='rtl'] & {
      margin-right: 12px;
      margin-left: 0 !important;
    }
    ::ng-deep .mat-form.field.mat-form-field-appearance-legacy {
      .mat-form-field-wrapper {
        padding-bottom: 1em;
      }
    }
  }
}
