:host {
  display: block;
}
.td-search-box {
  height: 64px;
  td-search-input {
    margin-left: 12px;
    /deep/ {
      .mat-input-placeholder.mat-focused {
        visibility: hidden;
      }
    }
  }
}