:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.td-markdown-navigator-window-title {
  margin-bottom: 0;
}

td-markdown-navigator {
  height: calc(100% - 56px); // account for toolbar height
}

::ng-deep {
  .td-draggable-markdown-navigator-window-wrapper {
    > .mat-dialog-container {
      padding: 0;
    }
  }
}
