<mat-toolbar [color]="toolbarColor" class="td-markdown-navigator-window-toolbar" [style.min-height.px]="toolbarHeight">
  <mat-toolbar-row [style.height.px]="toolbarHeight" [style.padding-right.px]="0">
    <div layout="row" layout-align="start center" flex>
      <span class="mat-title td-markdown-navigator-window-title" flex>
        {{ titleLabel }}
      </span>
      <!-- TODO: Resizing a drag-and-drop element was not working so removed minimize/maximize for now-->
      <button
        mat-icon-button
        [matTooltip]="closeLabel"
        (click)="closed.emit()"
        class="td-markdown-navigator-window-close"
      >
        <mat-icon [attr.aria-label]="closeLabel">
          close
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<td-markdown-navigator [items]="items" [labels]="markdownNavigatorLabels"> </td-markdown-navigator>
