:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.td-markdown-navigator-window-title {
  margin-bottom: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td-markdown-navigator-window-close {
  margin: 0 -8px;
}

::ng-deep {
  .td-draggable-markdown-navigator-window-wrapper {
    > .mat-dialog-container {
      padding: 0;
    }
  }
}
