<demo-component [demoTitle]="'Basic'">
    <loading-demo-basic></loading-demo-basic>
</demo-component>

<demo-component [demoTitle]="'Template Until Syntax'">
  <loading-demo-replace></loading-demo-replace>
</demo-component>

<demo-component [demoTitle]="'Until Syntax Using Observables'">
  <loading-demo-observable></loading-demo-observable>
</demo-component>

<demo-component [demoTitle]="'Fullscreen'">
    <loading-demo-fullscreen></loading-demo-fullscreen>
</demo-component>

<demo-component [demoTitle]="'Icon'">
    <loading-demo-icon></loading-demo-icon>
</demo-component>
