<demo-component [demoId]="'loading-demo-basic'" [demoTitle]="'Loading demo'">
    <loading-demo-basic></loading-demo-basic>
</demo-component>

<demo-component [demoId]="'loading-demo-replace'" [demoTitle]="'Loading - replace demo'">
  <loading-demo-replace></loading-demo-replace>
</demo-component>

<demo-component [demoId]="'loading-demo-observable'" [demoTitle]="'Loading - observable demo'">
  <loading-demo-observable></loading-demo-observable>
</demo-component>

<demo-component [demoId]="'loading-demo-fullscreen'" [demoTitle]="'Loading - fullscreen demo'">
    <loading-demo-fullscreen></loading-demo-fullscreen>
</demo-component>

<demo-component [demoId]="'loading-demo-icon'" [demoTitle]="'Loading - icon demo'">
    <loading-demo-icon></loading-demo-icon>
</demo-component>
