<mat-card>
  <mat-card-title>JSON Formatter</mat-card-title>
  <mat-card-subtitle>JSON object tree with collapsible nodes</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3 class="mat-title">Object using JSON Formatting:</h3>
    <p>(Use mouse or keyboard to expand/collapse nodes)</p>
    <td-json-formatter [data]="data" [levelsOpen]="2"></td-json-formatter>
    <div class="pad-top pad-bottom">
      <mat-divider></mat-divider>
    </div>
    <h3 class="mat-title">Original JSON Object:</h3>
    <td-highlight codeLang="json">
      {{data | json}}
    </td-highlight>
  </mat-card-content>
</mat-card>

<td-readme-loader resourceUrl="platform/core/json-formatter/README.md"></td-readme-loader>
