<mat-nav-list dense flex>
  <a mat-list-item>
    <mat-icon matListAvatar>person</mat-icon>
    <h3 matLine>Jyn Erso stole the plans to the Death Star</h3>
    <p matLine>10 mins ago</p>
    <td-notification-count color="accent" [notifications]="1"></td-notification-count>
  </a>
  <mat-divider [inset]="true"></mat-divider>
  <a mat-list-item>
    <mat-icon matListAvatar>person</mat-icon>
    <h3 matLine>Something something something.. dark side.</h3>
    <p matLine>9 hours ago</p>
    <td-notification-count color="accent" [notifications]="0"></td-notification-count>
  </a>
  <mat-divider [inset]="true"></mat-divider>
  <a mat-list-item>
    <mat-icon matListAvatar>person</mat-icon>
    <h3 matLine>Chirrut Îmwe beat down a bunch of storm troopers with a stick</h3>
    <p matLine>2 days ago</p>
    <td-notification-count [notifications]="true"></td-notification-count>
  </a>
</mat-nav-list>
