<mat-card>
  <mat-card-title>copyToClipboard</mat-card-title>
  <mat-card-subtitle>Assign a text value to the system clipboard. Note: The copy will succeed only if this method is
    performed as a result of a user action (eg. user clicks a button in the UI). Due to browser security restrictions,
    this method will not succeed if executed strictly programmatically.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="row">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="copyText"
                  placeholder="Text to be copied"
                  rows="1"
                  name="copyTextinput">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doCopyToClipboard()"
            class="text-upper">
            Copy To Clipboard
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <form class="md-padding">
                <div layout="row">
                  <mat-form-field flex>
                    <textarea matInput
                      [(ngModel)]="copyText"
                      placeholder="Text to be copied"
                      rows="1"
                      name="copyTextinput">
                    </textarea>
                  </mat-form-field>
                </div>
              </form>
              <button mat-button 
                color="primary"
                (click)="doCopyToClipboard()"
                class="text-upper">
                Copy To Clipboard
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { copyToClipboard } from '@covalent/core'

              export class FunctionsDemoComponent {
                copyText: string = 'Lorem Ipsum';
          
                constructor(private _snackBar: MatSnackBar) {}
          
                doCopyToClipboard(): void {
                  // Invoke utility function to copy input text to clipboard
                  copyToClipboard(this.copyText);
          
                  // Show snackbar to indicate task complete
                  this._snackBar.open('Text copied!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>convertObjectsToCSV</mat-card-title>
  <mat-card-subtitle>Conversion function that takes an array of objects and converts them to CSV format. Custom key and
    line separators can be specified.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="objectsString"
                  placeholder="Objects content"
                  rows="1"
                  name="objectsStringInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="csvOutput"
                  placeholder="CSV output string"
                  rows="3"
                  name="csvOutput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="doConvertObjectsToCSV()" class="text-upper">
            Convert
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <div layout="column">
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="objectsString"
                    placeholder="Objects content"
                    rows="1"
                    name="objectsStringInput"
                    disabled="true">
                  </textarea>
                </mat-form-field>
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="csvOutput"
                    placeholder="CSV output string"
                    rows="3"
                    name="csvOutput"
                    disabled="true">
                  </textarea>
                </mat-form-field>
              </div>
              <button mat-button 
                color="primary"
                (click)="doConvertObjectsToCSV()"
                class="text-upper">
                Convert
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { convertObjectsToCSV } from '@covalent/core'

              export class FunctionsDemoComponent {
                objects: object[] = [ { 'name': 'user1', 'id': 123 }, { 'name': 'user2', 'id': 234 } ];
                objectsString: string;
                csvOutput: string = '';
                        
                constructor(private _snackBar: MatSnackBar) {
                  this.objectsString = JSON.stringify(this.objects);
                }
                        
                doConvertObjectsToCSV(): void {
                  // Invoke utility function to convert objects array using
                  // comma as the key separator and carriage return line feed
                  // as the line separator.
                  this.csvOutput = convertObjectsToCSV(this.objects, ',', '\r\n');
                            
                  // Show snackbar to indicate task complete
                  this._snackBar.open('Objects converted!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>convertCSVToJSON</mat-card-title>
  <mat-card-subtitle>Conversion function that takes a CSV representation of objects and converts them to JSON. The first
    row in the input must be the object keys. Custom key separator and line separator can be specified.
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="csv"
                  placeholder="CSV content"
                  rows="3"
                  name="csvInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="jsonOutput"
                  placeholder="JSON output string"
                  rows="1"
                  name="jsonOutput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doConvertCSVToJSON()"
            class="text-upper">
            Convert
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <div layout="column">
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="csv"
                    placeholder="CSV content"
                    rows="3"
                    name="csvInput"
                    disabled="true">
                  </textarea>
                </mat-form-field>
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="jsonOutput"
                    placeholder="JSON output string"
                    rows="1"
                    name="jsonOutput"
                    disabled="true">
                  </textarea>
                </mat-form-field>
              </div>
              <button mat-button 
                color="primary"
                (click)="doConvertCSVToJSON()"
                class="text-upper">
                Convert
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { convertCSVToJSON } from '@covalent/core'

              export class FunctionsDemoComponent {
                csv: string = 'name,id\r\nuser1,123\r\nuser2,234\r\n';
                jsonOutput: string = '';
                                      
                constructor(private _snackBar: MatSnackBar) {}
                        
                doConvertCSVToJSON(): void {
                  // Invoke utility function to CSV value using
                  // comma as the key separator and carriage return line feed
                  // as the line separator into JSON format.
                  this.jsonOutput = convertCSVToJSON(this.csv, ',', '\r\n');
                            
                  // Show snackbar to indicate task complete
                  this._snackBar.open('Objects converted!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>downloadCSV</mat-card-title>
  <mat-card-subtitle>Download CSV content to the specified file with .csv extension appended to the provided base file
    name.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="csv"
                  placeholder="CSV content"
                  rows="3"
                  name="csvInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doDownloadCSV()"
            class="text-upper">
            Download
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="csv"
                  placeholder="CSV content"
                  rows="3"
                  name="csvInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <button mat-button 
                color="primary"
                (click)="doDownloadCSV()"
                class="text-upper">
                Download
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { downloadCSV } from '@covalent/core'

              export class FunctionsDemoComponent {
                csv: string = 'name,id\r\nuser1,123\r\nuser2,234\r\n';
                                      
                constructor(private _snackBar: MatSnackBar) {}
                        
                doDownloadCSV(): void {
                  // Invoke utility function to download CSV value into file
                  // with 'text/csv' mime type and '.csv' extension.
                  downloadCSV('csvsampledata', this.csv);
              
                  // Show snackbar to indicate task complete
                  this._snackBar.open('CSV downloaded!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>downloadJSON</mat-card-title>
  <mat-card-subtitle>Download JSON content to the specified file with .json extension appended to the provided base file
    name.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="json"
                  placeholder="JSON content"
                  rows="1"
                  name="jsonInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doDownloadJSON()"
            class="text-upper">
            Download
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="json"
                  placeholder="JSON content"
                  rows="1"
                  name="jsonInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <button mat-button 
                color="primary"
                (click)="doDownloadJSON()"
                class="text-upper">
                Download
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { downloadJSON } from '@covalent/core'

              export class FunctionsDemoComponent {
                json: string = '[{"name":"user1","id":"123"},{"name":"user2","id":"234"}]';
                                      
                constructor(private _snackBar: MatSnackBar) {}
                        
                doDownloadJSON(): void {
                  // Invoke utility function to download JSON into file
                  // with 'application/json' mime type and '.json' extension.
                  downloadJSON('jsonsampledata', this.json);
              
                  // Show snackbar to indicate task complete
                  this._snackBar.open('JSON downloaded!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>downloadObjectsToCSV</mat-card-title>
  <mat-card-subtitle>Convert objects to CSV format and download to file with .csv extension appended to the provided
    base file name. Custom key separator and line separator can be specified.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="objectsString"
                  placeholder="Objects content"
                  rows="1"
                  name="objectsStringInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doDownloadObjectsToCSV()"
            class="text-upper">
            Download
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="objectsString"
                  placeholder="Objects content"
                  rows="1"
                  name="objectsStringInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <button mat-button 
                color="primary"
                (click)="doDownloadObjectsToCSV()"
                class="text-upper">
                Download
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { downloadObjectsToCSV } from '@covalent/core'

              export class FunctionsDemoComponent {
                objects: object[] = [ { 'name': 'user1', 'id': 123 }, { 'name': 'user2', 'id': 234 } ];
                objectsString: string;
                        
                constructor(private _snackBar: MatSnackBar) {
                  this.objectsString = JSON.stringify(this.objects);
                }
                        
                doDownloadObjectsToCSV(): void {
                  // Invoke utility function to convert objects to CSV value
                  // and download into file with 'text/csv' mime type and
                  // '.csv' extension.
                  downloadObjectsToCSV('objtocsvsampledata', this.objects);
              
                  // Show snackbar to indicate task complete
                  this._snackBar.open('JSON converted to CSV and downloaded!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>downloadObjectsToJSON</mat-card-title>
  <mat-card-subtitle>Convert objects to JSON format and download to file with .json extension appended to the provided
    base file name.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="objectsString"
                  placeholder="Objects content"
                  rows="1"
                  name="objectsStringInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doDownloadObjectsToJSON()"
            class="text-upper">
            Download
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="objectsString"
                  placeholder="Objects content"
                  rows="1"
                  name="objectsStringInput"
                  disabled="true">
                </textarea>
              </mat-form-field>
              <button mat-button 
                color="primary"
                (click)="doDownloadObjectsToJSON()"
                class="text-upper">
                Download
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { downloadObjectsToJSON } from '@covalent/core'

              export class FunctionsDemoComponent {
                objects: object[] = [ { 'name': 'user1', 'id': 123 }, { 'name': 'user2', 'id': 234 } ];
                objectsString: string;
                        
                constructor(private _snackBar: MatSnackBar) {
                  this.objectsString = JSON.stringify(this.objects);
                }

                doDownloadObjectsToJSON(): void {
                  // Invoke utility function to convert objects to JSON
                  // and download into file with 'application/json' mime type and
                  // '.json' extension.
                  downloadObjectsToJSON('objtojsonsampledata', this.objects);
              
                  // Show snackbar to indicate task complete
                  this._snackBar.open('Objects converted to JSON and downloaded!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>downloadFile</mat-card-title>
  <mat-card-subtitle>Download string content to the specified file with desired mime type.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <mat-card-content>
          <form class="md-padding">
            <div layout="column">
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="fileName"
                  placeholder="File name"
                  rows="1"
                  name="fileNameInput">
                </textarea>
              </mat-form-field>
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="fileContent"
                  placeholder="File content"
                  rows="1"
                  name="fileContentInput">
                </textarea>
              </mat-form-field>
              <mat-form-field flex>
                <textarea matInput
                  [(ngModel)]="mimeType"
                  placeholder="Mime type"
                  rows="1"
                  name="mimeTypeInput">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
            color="primary"
            (click)="doDownloadFile()"
            class="text-upper">
            Download
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <mat-card-content>
          <p>HTML:</p>
          <td-highlight lang="html">
            <![CDATA[
              <div layout="column">
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="fileName"
                    placeholder="File name"
                    rows="1"
                    name="fileNameInput">
                  </textarea>
                </mat-form-field>
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="fileContent"
                    placeholder="File content"
                    rows="1"
                    name="fileContentInput">
                  </textarea>
                </mat-form-field>
                <mat-form-field flex>
                  <textarea matInput
                    [(ngModel)]="mimeType"
                    placeholder="Mime type"
                    rows="1"
                    name="mimeTypeInput">
                  </textarea>
                </mat-form-field>
              </div>
              <button mat-button 
                color="primary"
                (click)="doDownloadFile()"
                class="text-upper">
                Download
              </button>
            ]]>
          </td-highlight>
          <p>Typescript:</p>
          <td-highlight lang="typescript">
            <![CDATA[
              import { downloadFile } from '@covalent/core'

              export class FunctionsDemoComponent {
                fileName: string = 'sample.txt';
                fileContent: string = 'Lorem Ipsum';
                mimeType: string = 'text/plain';
                                      
                constructor(private _snackBar: MatSnackBar) {}

                doDownloadFile(): void {
                  // Invoke utility function to write contents to specified
                  // file with desired mime type.
                  downloadFile(this.fileName, this.fileContent, this.mimeType);
              
                  // Show snackbar to indicate task complete
                  this._snackBar.open('Content downloaded!', undefined, {
                    duration: 2000,
                  });
                }
              }
            ]]>
          </td-highlight>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>