<demo-component [demoId]="'highlight-demo-css'" [demoTitle]="'CSS'">
  <highlight-demo-css></highlight-demo-css>
</demo-component>

<demo-component [demoId]="'highlight-demo-html'" [demoTitle]="'HTML'">
  <highlight-demo-html></highlight-demo-html>
</demo-component>

<demo-component [demoId]="'highlight-demo-ts'" [demoTitle]="'TypeScript'">
  <highlight-demo-ts></highlight-demo-ts>
</demo-component>

<demo-component [demoId]="'highlight-demo-copy-code'" [demoTitle]="'CopyCode'">
  <highlight-demo-copy-code></highlight-demo-copy-code>
</demo-component>
