@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/style/variables';

@mixin td-chips-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Gradient for showing the dashed line when the input is disabled.
  $md-input-underline-disabled-background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);

  // chip
  .td-chip {
    background: md-color($background, status-bar);
    color: md-color($foreground, text);
    md-icon {
      color: md-color($foreground, hint-text);
      &:hover {
        color: md-color($foreground, icon);
      }
    }
  }
  // chips
  td-chips {
    .mat-input-underline {
      border-top: 1px solid md-color($foreground, hint-text);
      &.mat-disabled {
        background-image: $md-input-underline-disabled-background-image;
      }
      .mat-input-ripple {
        background-color: md-color($primary);
        transition: transform $swift-ease-out-duration $swift-ease-out-timing-function,
                  opacity $swift-ease-out-duration $swift-ease-out-timing-function;
        &.mat-accent {
          background-color: md-color($accent);
        }
        &.mat-warn {
          background-color: md-color($warn);
        }
      }
    }
  }
}