@import '../common/styles/mixins';

:host {
  display: block;
  padding: 0px 5px 0px 5px;
  min-height: 48px;
  .td-chips-wrapper {
    min-height: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    &.td-chips-stacked .mat-basic-chip  {
      width: 100%;
    }
  }
  /deep/ {
    .mat-form-field-wrapper {
      padding-bottom: 2px;
    }
    /* TODO see if we can make styles more abstract to future proof for contact chips */
    .mat-basic-chip {
      display: inline-block;
      cursor: default;
      border-radius: 16px;
      @include rtl(margin, 8px 8px 0 0, 8px 0 0 8px);
      .td-chip {
        min-height: 32px;
        line-height: 32px;
        font-size: 13px;
        @include rtl(padding, 0 0 0 12px, 0 12px 0 0);
        [td-chip-avatar] {
          display: inline-block;
          order: -20;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 32px;
          width: 32px;
          @include rtl(margin, 0 8px 0 -12px, 0 -12px 0 8px);
          border-radius: 50%;
        }
      }
      box-sizing: border-box;
      max-width: 100%;
      position: relative;
      &.td-chip-after-pad {
        @include rtl(padding, 0 12px 0 0, 0 0 0 12px);
      }
      mat-icon.td-chip-removal {
        margin: 0 4px;
        font-size: 21px;
        line-height: 22px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .mat-form-field-underline {
    position: relative;
    height: 1px;
    width: 100%;
    bottom: 0;

    &.mat-disabled {
      background-position: 0;
      bottom: -4px;
      background-color: transparent;
    }

    .mat-form-field-ripple {
      position: absolute;
      height: 2px;
      top: 0;
      width: 100%;
      transform-origin: 50%;
      transform: scaleX(0.5);
      visibility: hidden;
      transition: background-color .3s cubic-bezier(.55,0,.55,.2);
      &.mat-focused {
        visibility: visible;
        transform: scaleX(1);
        transition: transform 150ms linear,
                    background-color .3s cubic-bezier(.55,0,.55,.2);
      }
    }
  }
}

:host {
   /deep/ mat-form-field {
    .mat-form-field-underline {
      display: none;
    }
  }
}