<div flex>
  <md-chip-list [tabIndex]="-1" (focus)="focus()">
    <ng-template let-chip let-index="index" ngFor [ngForOf]="value">
      <md-basic-chip [class.td-chip-disabled]="readOnly"
                     (keydown)="_chipKeydown($event, index)">
        <span class="td-basic-chip">
          <span *ngIf="!_basicChipTemplate?.templateRef">{{chip}}</span>
          <ng-template
            *ngIf="_basicChipTemplate?.templateRef"
            [ngTemplateOutlet]="_basicChipTemplate?.templateRef"
            [ngOutletContext]="{ chip: chip }">
          </ng-template>
        </span>
        <md-icon *ngIf="!readOnly" (click)="removeChip(chip)">
          cancel
        </md-icon>
      </md-basic-chip>
    </ng-template>
    <md-input-container floatPlaceholder="never"
                        [style.width.px]="canAddChip ? null : 0"
                        [color]="'primary'">
      <input mdInput
              flex="100" 
              #input
              [mdAutocomplete]="autocomplete"
              [formControl]="inputControl"
              [placeholder]="canAddChip? placeholder : ''"
              (keydown)="_inputKeydown($event)"
              (keyup.enter)="handleAddChip()"
              (focus)="handleFocus()"
              (blur)="handleBlur()">
    </md-input-container>
    <md-autocomplete #autocomplete="mdAutocomplete">
      <ng-template let-item let-first="first" ngFor [ngForOf]="filteredItems | async">
        <md-option (click)="addChip(item)" [value]="item">
          <span *ngIf="!_autocompleteTemplate?.templateRef">{{item}}</span>
          <ng-template
            *ngIf="_autocompleteTemplate?.templateRef"
            [ngTemplateOutlet]="_autocompleteTemplate?.templateRef"
            [ngOutletContext]="{ option: item }">
          </ng-template>
        </md-option>
      </ng-template>
    </md-autocomplete>
  </md-chip-list>
  <div *ngIf="chipAddition" class="mat-input-underline"
       [class.mat-disabled]="readOnly">
    <span class="mat-input-ripple"
          [class.mat-focused]="focused"></span>
  </div>
</div>
