<h3>Covalent Example</h3>
<td-expansion-panel-group [multi]="multi" #covPanelGroup>
  <td-expansion-panel label="Label goes here">
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </td-expansion-panel>
  <td-expansion-panel label="Another label goes here">
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </td-expansion-panel>
  <td-expansion-panel label="Yet another label goes here">
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </td-expansion-panel>
</td-expansion-panel-group>

<h3>Angular Material Example</h3>
<mat-accordion [multi]="multi" #matPanelGroup="matAccordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Label goes here
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Another label goes here
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Yet another label goes here
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="md-padding">
      <h3 class="mat-subheading-2">md-padding class</h3>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="demo-button-row">
  <mat-slide-toggle color="accent" [(ngModel)]="multi" (change)="onChange()" class="push-top push-right">Multi</mat-slide-toggle>
  <button mat-button color="accent" class="text-upper" [disabled]="!multi" (click)="covPanelGroup.openAll(); matPanelGroup.openAll();">Open all</button>
  <button mat-button color="accent" class="text-upper" [disabled]="!multi" (click)="covPanelGroup.closeAll(); matPanelGroup.closeAll();">Close all</button>
</div>
