@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/style/elevation';
@import '../common/styles/variables';

@mixin td-expansion-panel-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  // panel
  td-expansion-panel {
    @include mat-elevation(1);
    background-color: md-color($background, card);
    &:not(:last-of-type) {
      & .td-expanded {
        margin-bottom: $margin;
      }
    }
    &:not(:first-of-type) {
      & .td-expanded {
        margin-top: $margin;
      }
    }
    .mat-disabled {
      &, & * {
        color: md-color($foreground, disabled);
      }
    }
    md-nav-list {
      padding: 0;
    }
    md-icon.td-expand-icon {
      color: md-color($foreground, icon);
    }
    .td-expansion-primary,
    .td-expansion-secondary {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      &, & * {
        vertical-align: middle;
      }
    }
    .td-expansion-secondary {
      color: md-color($foreground, secondary-text);
    }
  }
}