<div class="td-expansion-panel-header"
      [class.mat-disabled]="disabled"
      matRipple
      [matRippleDisabled]="disabled || disableRipple"
      [tabIndex]="disabled? -1 : 0"
      (keydown.enter)="clickEvent()"
      (click)="clickEvent()">
  <ng-template [cdkPortalHost]="expansionPanelHeader"></ng-template>
  <div class="td-expansion-panel-header-content"
        [class.mat-disabled]="disabled"
        *ngIf="!expansionPanelHeader"
        layout="row"
        layout-align="start center"
        flex>
    <div *ngIf="label || expansionPanelLabel" class="md-subhead td-expansion-label" [attr.flex-gt-xs]="(sublabel || expansionPanelSublabel) ? 40 : null">
      <ng-template [cdkPortalHost]="expansionPanelLabel"></ng-template>
      <ng-template [ngIf]="!expansionPanelLabel">{{label}}</ng-template>
    </div>
    <div *ngIf="sublabel || expansionPanelSublabel" class="md-body-1 td-expansion-sublabel">
      <ng-template [cdkPortalHost]="expansionPanelSublabel"></ng-template>
      <ng-template [ngIf]="!expansionPanelSublabel">{{sublabel}}</ng-template>
    </div>
    <span flex></span>
    <mat-icon class="td-expand-icon" *ngIf="!disabled" [@tdRotate]="expand">keyboard_arrow_down</mat-icon>
  </div>
</div>
<div class="td-expansion-content"
      [@tdCollapse]="!expand">
  <ng-content></ng-content>
</div>
<div class="td-expansion-summary"
      [@tdCollapse]="expand">
  <ng-content select="td-expansion-summary"></ng-content>
</div>
