<md-card>
  <md-card-header>
    <md-icon md-card-avatar>view_list</md-icon>
    <md-card-title class="md-display-1">Management List</md-card-title>
  </md-card-header>  
  <md-card-subtitle>An item list with a menu for sorting & filtering</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div class="md-padding bgc-grey-200">
      <md-card>
        <md-list class="pull-top">
          <md-list-item>
            <md-icon md-list-avatar>apps</md-icon>
            <h3 md-line>App Name</h3>
            <span flex></span>
            <span flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
          <span class="md-sort-header" flex="40" layout="row" layout-align="center center" class="pad-left md-body-1 tc-grey-500">
          <md-select flex="90" [(ngModel)]="sortKey">
            <md-option *ngFor="let option of columnOptions" [value]="option.value" (click)="sortBy(sortKey)">
              {{option.name}}
            </md-option>
          </md-select>
          </span>
          <a class="md-sort-header" (click)="sortBy(sortKey)">
            <span layout="row" layout-align="start center" flex>
              <md-icon class="md-sort-icon">{{headers[sortKey] === 'asc'? 'arrow_upward' : 'arrow_downward'}}</md-icon>
            </span>
          </a>
          </md-list-item>
            <template let-attr let-last="attr" ngFor [ngForOf]="listAttrs">
              <md-list-item>
              <md-icon md-list-avatar>timelapse</md-icon>
              <h3 md-line> {{attr.name}} </h3>
              <span flex></span>
              <span hide-xs flex="10">
                {{attr.owner}}
              </span>
              <span hide-xs flex="60" class="text-right md-body-1 tc-grey-500 pad-right">
                {{attr[sortKey] | date:'medium'}}
              </span>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
        </md-list>
      </md-card>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <md-select flex="90" [(ngModel)]="sortKey">
          <md-option *ngFor="let option of columnOptions" [value]="option.value" (click)="sortBy(sortKey)">
            { {option.name}}
          </md-option>
        </md-select>
        </span>
        <a class="md-sort-header" (click)="sortBy(sortKey)">
          <span layout="row" layout-align="start center" flex>
            <md-icon class="md-sort-icon">{ {headers[sortKey] === 'asc'? 'arrow_upward' : 'arrow_downward'}}</md-icon>
          </span>
        </a>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        ...
        export class ManagementListComponent implements OnInit {

          columnOptions: any[] = [{
            name: 'Updated',
            value: 'updated_at',
          }, {
            name: 'Created',
            value: 'created_at',
          }];
          sortKey: string = this.columnOptions[0].value;
          headers: IHeaders = {};

          ngOnInit(): void {
            this.columnOptions.forEach((option: any) => {
              this.headers[option.value] = OrderBy.ASC;
            });
          }
          sortBy(sortKey: string): void {
            if (this.headers[sortKey] === OrderBy.ASC) {
              this.headers[sortKey] = OrderBy.DESC;
            } else {
              this.headers[sortKey] = OrderBy.ASC;
            }
            ... // Sorting algorithm goes here
          }
        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
