<md-card>
  <md-card-header>
    <md-icon md-card-avatar>view_list</md-icon>
    <md-card-title class="md-display-1">Management List</md-card-title>
  </md-card-header>  
  <md-card-subtitle>An item list with a menu for sorting & filtering</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div class="md-padding bgc-grey-200">
      <md-card>
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
            <span class="md-title">Title here</span>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
          </td-search-box>
          <span>
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
            <md-menu #toolbarMenu="mdMenu">
              <button md-menu-item>
                <md-icon>settings</md-icon>
                <span>Settings</span>
              </button>
            </md-menu>
          </span>
        </div>
        <md-divider></md-divider>
        <md-list>
          <md-list-item>
            <md-icon md-list-avatar>apps</md-icon>
            <h3 md-line>App Name</h3>
            <span flex></span>
            <span hide-xs flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
            <span hide-xs class="md-sort-header" flex="40" layout="row" layout-align="center center" class="pad-left md-body-1 tc-grey-500">
              <md-select flex="90" placeholder="{{placeholderText}}">
                <md-option *ngFor="let option of dateOptions" [value]="option" (click)="filterDateOption(option)">
                  {{option}}
                </md-option>
              </md-select>
            </span>
            <a hide-xs class="md-sort-header" (click)="sortBy(sortKey)">
              <span layout="row" layout-align="start center" flex>
                <md-icon class="md-sort-icon">{{headers[sortKey] === 'asc'? 'arrow_upward' : 'arrow_downward'}}</md-icon>
              </span>
            </a>
          </md-list-item>
          <md-divider></md-divider>
          <template let-item let-last="last" ngFor [ngForOf]="listAttrs">
            <md-list-item>
              <md-icon md-list-avatar>desktop_mac</md-icon>
              <h3 md-line> {{item.name}} </h3>
              <span flex></span>
              <span hide-xs flex="10">
                {{item.owner}}
              </span>
              <span hide-xs flex="60" class="text-right md-body-1 tc-grey-500 pad-right">
                {{item[sortKey] | date:'short'}}
              </span>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-list>
        <md-divider></md-divider>
        <td-paging-bar [pageSizes]="[5, 10, 15, 20]" total="20"></td-paging-bar>
      </md-card>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <p>HTML:</p>
    <td-highlight lang="html">
      <![CDATA[
        <md-card>
          <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
              <span class="md-title">Title here</span>
            </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
            </td-search-box>
            <span>
              <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
              <md-menu #toolbarMenu="mdMenu">
                <button md-menu-item>
                  <md-icon>settings</md-icon>
                  <span>Settings</span>
                </button>
              </md-menu>
            </span>
          </div>
          <md-divider></md-divider>
          <md-list>
            <md-list-item>
              <md-icon md-list-avatar>apps</md-icon>
              <h3 md-line>App Name</h3>
              <span flex></span>
              <span hide-xs flex="30" class="pad-left md-body-1 tc-grey-500">Owner</span>
              <span hide-xs class="md-sort-header" flex="40" layout="row" layout-align="center center" class="pad-left md-body-1 tc-grey-500">
                <md-select flex="90" placeholder="{ {placeholderText} }">
                  <md-option *ngFor="let option of dateOptions" [value]="option" (click)="filterDateOption(option)">
                    {{option}}
                  </md-option>
                </md-select>
              </span>
              <a hide-xs class="md-sort-header" (click)="sortBy(sortKey)">
                <span layout="row" layout-align="start center" flex>
                  <md-icon class="md-sort-icon">{{headers[sortKey] === 'asc'? 'arrow_upward' : 'arrow_downward'}}</md-icon>
                </span>
              </a>
            </md-list-item>
            <md-divider></md-divider>
            <template let-item let-last="last" ngFor [ngForOf]="listAttrs">
              <md-list-item>
                <md-icon md-list-avatar>desktop_mac</md-icon>
                <h3 md-line> { {item.name} } </h3>
                <span flex></span>
                <span hide-xs flex="10">
                  { {item.owner} }
                </span>
                <span hide-xs flex="60" class="text-right md-body-1 tc-grey-500 pad-right">
                  { {item[sortKey] | date:'short'} }
                </span>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
          </md-list>
          <md-divider></md-divider>
          <td-paging-bar [pageSizes]="[5, 10, 15, 20]" total="20"></td-paging-bar>
        </md-card>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
      export class ManagementListComponent {

        dateOptions: Object[] = ['Updated', 'Created']; //filter options
        dateFilter: string = 'Updated'; //default filter option
        sortKey: string = 'updated_at'; //key for sorting
        
        filterDateOption(dateStr?: string): void {
          this.dateFilter = dateStr;
          this.sortKey = this.dateFilter === 'Updated' ? 'updated_at' : 'created_at';
        }
        sortBy(sortKey: string): void {
          let sortedData: Object[];
          ...
        }
      }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
