<mat-card>
  <mat-card-title>Covalent Charts (deprecated)</mat-card-title>
  <mat-card-subtitle>use ngx-charts instead</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-title>Time Series Line Chart</mat-card-title>
  <mat-card-subtitle>x-axis grid hidden, shadow disabled</mat-card-subtitle>
  <td-charts title="Prices Trend"
              [margin]="{top: 60, bottom: 100}">
    <td-axis-x [link]="chartLine1" [ticks]="true" [show]="true" [grid]="false" legend="Year"></td-axis-x>
    <td-axis-y-left [link]="chartLine1" [ticks]="true" [show]="true" [grid]="true" legend="Prices($)"></td-axis-y-left>
    <td-chart-line #chartLine1 dataSrc="platform/charts/chart-line/datatime.csv"
                  timeSeries="true"
                  bottomAxis="date"
                  [columns]="['close']"
                  [titles]="['close']"
                  [colors]="['#E91E63']"
                  [transition]="true"
                  transitionDuration="500"
                  transitionDelay="1000">
    </td-chart-line>
  </td-charts>
  <mat-divider></mat-divider>
  <mat-card-title>Sparkline Chart</mat-card-title>
  <mat-card-subtitle>x-axis hidden completely, shadow enabled</mat-card-subtitle>
  <td-charts title="Prices Trend"
              [shadow]="true"
              chartHeight="150">
    <td-axis-x [link]="chartLine2" [show]="false"></td-axis-x>
    <td-chart-line #chartLine2 dataSrc="platform/charts/chart-line/datatime.csv"
                  timeSeries="true"
                  bottomAxis="date"
                  [columns]="['close']"
                  [titles]="['close']"
                  [colors]="['#00E676']"
                  [transition]="true"
                  transitionDuration="500"
                  transitionDelay="1000">
    </td-chart-line>
  </td-charts>
  <mat-divider></mat-divider>
  <mat-card-title>Bar Chart</mat-card-title>
  <mat-card-subtitle>y-axis grid  &amp; ticks hidden</mat-card-subtitle>
  <td-charts title="Sales Bar Chart"
              [shadow]="true"
              fillOpacity="0.95">
      <td-axis-x [link]="chartBar1" [ticks]="true" [show]="true" [grid]="true"  legend="Day Offset"></td-axis-x>
      <td-axis-y-left [link]="chartBar1" [show]="true" [grid]="false" legend="Sales"></td-axis-y-left>
      <td-chart-bar #chartBar1 [colors]="['pink', 'deepPurple']"
                    [data]="jsonData"
                    [padding]="0.1"
                    bottomAxis="x"
                    columns="y"
                    [transition]="true"
                    transitionDuration="1000"
                    transitionDelay="3000">
      </td-chart-bar>
    </td-charts>
    <mat-divider></mat-divider>
    <mat-card-title>Single/Multi Line Chart</mat-card-title>
    <mat-card-subtitle>x-axis ticks &amp; grid hidden, y-axis grid hidden</mat-card-subtitle>
    <td-charts title="Temperature Trend"
                [shadow]="true">
      <td-axis-x [link]="chartLine3" [ticks]="false" [show]="true" [grid]="false" legend="Day Offset"></td-axis-x>
      <td-axis-y-left [link]="chartLine3" [ticks]="true" [show]="true" [grid]="false" legend="Temperature"></td-axis-y-left>
      <td-chart-line #chartLine3 dataSrc="platform/charts/chart-line/data.tsv"
                   bottomAxis="col1"
                   [columns]="['col2', 'col3','col4']"
                   [titles]="['New York','San Francisco', 'Austin']"
                   [colors]="['#304FFE', '#00B8D4', '#FF3D00']"
                   [transition]="true"
                   transitionDuration="1000"
                   transitionDelay="2000">
      </td-chart-line>
    </td-charts>
    <mat-divider></mat-divider>
    <mat-card-title>Area Chart</mat-card-title>
    <mat-card-subtitle>right y-axis used, x-axis grid hidden</mat-card-subtitle>
    <td-charts title="Area Chart"
                [shadow]="true"
                fillOpacity="0.75">
      <td-axis-x [link]="chartArea1" [ticks]="true" [show]="true" [grid]="false" legend="X Axis"></td-axis-x>
      <td-axis-y-right [link]="chartArea1" [ticks]="true" [show]="true" [grid]="true" legend="Numbers"></td-axis-y-right>
      <td-chart-area #chartArea1 [colors]="['#03a9f4', '#0277bd']"
                     dataSrc="platform/charts/chart-area/data.json"
                     bottomAxis="x"
                     columns="y"
                     [transition]="true"
                     transitionDuration="1500"
                     transitionDelay="4000">
      </td-chart-area>
    </td-charts>
    <mat-divider></mat-divider>
  <mat-card-title>Combo Chart</mat-card-title>
  <mat-card-subtitle>dual y-axis, x-axis grid hidden</mat-card-subtitle>
  <td-charts title="Sales Bar/Line Chart"
              [shadow]="true"
              fillOpacity="0.95">
      <td-axis-x [link]="chartLine4" [ticks]="true" [show]="true" [grid]="false" legend="Day Offset"></td-axis-x>
      <td-axis-y-left [link]="chartLine4" [ticks]="true" [show]="true" [grid]="false" legend="Sales"></td-axis-y-left>
      <td-axis-y-right [link]="chartBar2" [ticks]="true" [show]="true" [grid]="true" legend="Sales 2"></td-axis-y-right>
      <td-chart-bar #chartBar2 [colors]="['amber', 'orange']"
                    dataSrc="platform/charts/chart-line/datatime.csv"
                    [padding]="0.1"
                    bottomAxis="date"
                    columns="close"
                    titles="close"
                    [transition]="true"
                    transitionDuration="2050"
                    transitionDelay="5000">
      </td-chart-bar>
      <td-chart-line #chartLine4 dataSrc="platform/charts/chart-line/datatime.csv"
                      timeSeries="true"
                      bottomAxis="date"
                      [columns]="['close']"
                      [titles]="['close']"
                      [colors]="['#03a9f4']"
                      [transition]="true"
                      transitionDuration="2000"
                      transitionDelay="5000">
      </td-chart-line>
    </td-charts>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdChartsComponent</mat-card-title>
  <mat-card-subtitle>How to use this component</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code><![CDATA[<td-charts>]]></code></h2>
    <p>Use <code><![CDATA[<td-charts>]]></code> element to wrap individual chart elements</p>
    <h3>Properties:</h3>
    <p>This component has {{chartsAttr.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="chartsAttr">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example:</h3>
    <p>HTML</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-charts title="Sales Bar/Line Combo Chart"
                  [margin]="{top: 50, bottom: 50}"
                  chartHeight="450"
                  [shadow]="true"
                  [shadowDepth]="['125%', 2, 0, 2]"
                  shadowColor="rgba(0, 0, 0, 0.54)"
                  fillOpacity="0.95">
          <td-axis-x [link]="chartLine1" [ticks]="true" [show]="true" [grid]="false" legend="Day Offset"></td-axis-x>
          <td-axis-y-left [link]="chartLine1" [ticks]="true" [show]="true" [grid]="false" legend="Sales"></td-axis-y-left>
          <td-axis-y-right [link]="chartBar1" [ticks]="true" [show]="true" [grid]="true" legend="Sales 2"></td-axis-y-right>
          <td-chart-bar #chartBar1 [colors]="['amber', 'orange']"
                        dataSrc="platform/charts/chart-line/datatime.csv"
                        [padding]="0.1"
                        bottomAxis="date"
                        columns="close"
                        titles="close"
                        [transition]="true"
                        transitionDuration="2050"
                        transitionDelay="5000">
          </td-chart-bar>
          <td-chart-line #chartLine1 dataSrc="platform/charts/chart-line/datatime.csv"
                        timeSeries="true"
                        bottomAxis="date"
                        [columns]="['close']"
                        [titles]="['close']"
                        [colors]="['#03a9f4']"
                        [transition]="true"
                        transitionDuration="2000"
                        transitionDelay="5000">
          </td-chart-line>
        </td-charts>
      ]]>
    </td-highlight>
    <h3>Setup:</h3>
    <p>Import the [CovalentChartsModule] in your NgModule:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { CovalentChartsModule } from '@covalent/charts';
        @NgModule({
          imports: [
            CovalentChartsModule,
            ...
          ],
          ...
        })
        export class MyModule {}
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdAxisComponent</mat-card-title>
  <mat-card-subtitle>How to use the individual axes components</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
     <h2><code><![CDATA[<td-axis-x>]]></code></h2>
     <p>Use <code><![CDATA[<td-axis-x>]]></code> element to control the x-axis</p>
     <p>Use <code><![CDATA[<td-axis-y-left>]]></code> element to control the left y-axis</p>
     <p>Use <code><![CDATA[<td-axis-y-right>]]></code> element to control the right y-axis</p>
     <h3>Properties:</h3>
      <p>This component has {{axisAttrs.length}} properties:</p>
      <mat-list>
        <ng-template let-attr let-last="attr" ngFor [ngForOf]="axisAttrs">
          <a mat-list-item layout-align="row">
            <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
            <p matLine> {{attr.description}} </p>
          </a>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-axis-x>]]></code>, <code><![CDATA[<td-axis-y-left>]]></code>, or <code><![CDATA[<td-axis-y-right>]]></code> elements</p>
    <h3>Example:</h3>
    <p>HTML</p>
    <td-highlight lang="html">
      <![CDATA[
        <td-axis-x [link]="chartLine1" [ticks]="true" [show]="true" [grid]="false" legend="Day Offset"></td-axis-x>
        <td-axis-y-left [link]="chartLine1" [ticks]="true" [show]="true" [grid]="false" legend="Sales Line"></td-axis-y-left>
        <td-axis-y-right [link]="chartBar1" [ticks]="true" [show]="true" [grid]="true" legend="Sales Bar"></td-axis-y-right>
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdChartBarComponent</mat-card-title>
  <mat-card-subtitle>Use this component to draw Bar Chart</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code><![CDATA[<td-chart-bar>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-bar>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to create a Bar Chart.</p>
    <h3>Properties:</h3>
    <p>This component has {{barChartAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="barChartAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-bar>]]></code> element</p>
    <h3>Example:</h3>
    <p>HTML</p>
    <td-highlight lang="html">
      <![CDATA[
      <td-chart-bar #chartBar1 
                    [colors]="['pink', 'deepPurple']"
                    [data]="jsonData"
                    [padding]="0.1"
                    bottomAxis="x"
                    columns="y"
                    [transition]="true"
                    transitionDuration="1000"
                    transitionDelay="3000">
      </td-chart-bar>
      ]]>
    </td-highlight>
    <p>Data Sample of jsonData</p>

    <td-highlight lang="typescript">
      <![CDATA[
      jsonData: any = [
      {'x': 'Jan', 'y': 70},
      {'x': 'Feb', 'y': 190},
      {'x': 'Mar', 'y': 220},
      {'x': 'Apr', 'y': 160},
      {'x': 'May', 'y': 240},
      {'x': 'Jun', 'y': 70},
      {'x': 'Jul', 'y': 190},
      {'x': 'Aug', 'y': 210},
      {'x': 'Sep', 'y': 150},
      {'x': 'Oct', 'y': 170},
      {'x': 'Nov', 'y': 150},
      {'x': 'Dec', 'y': 260}];
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdChartLineComponent</mat-card-title>
  <mat-card-subtitle>Use this component to draw Line Chart</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code><![CDATA[<td-chart-line>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-line>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to draw a single or multi line chart</p>
    <h3>Properties:</h3>
    <p>This component has {{lineChartAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="lineChartAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-line>]]></code> element </p>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
      <td-chart-line #chartLine1 dataSrc="platform/charts/chart-line/datatime.csv"
                    timeSeries="true"
                    bottomAxis="date"
                    [columns]="['close']"
                    [titles]="['close']"
                    [colors]="['#E91E63']"
                    [transition]="true"
                    transitionDuration="500"
                    transitionDelay="1000">
      </td-chart-line>
         ]]>
    </td-highlight>

    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
      date,close
      22-Apr-07,63.4
      24-Apr-07,93.24
      25-Apr-07,95.35
      26-Apr-07,98.84
      27-Apr-07,99.92
      30-Apr-07,99.80
      ]]>
    </td-highlight>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2>Sparkline example:</h2>
    <td-highlight lang="html">
      <![CDATA[
      <td-axis-x [link]="sparkLine" [show]="false"></td-axis-x>
      <td-chart-line #sparkLine dataSrc="platform/charts/chart-line/datatime.csv"
                    timeSeries="true"
                    bottomAxis="date"
                    [columns]="['close']"
                    [titles]="['close']"
                    [colors]="['#00E676']"
                    [transition]="true"
                    transitionDuration="500"
                    transitionDelay="1000">
      </td-chart-line>
      ]]>
    </td-highlight>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2>Multi Line example:</h2>
    <td-highlight lang="html">
      <![CDATA[
      <td-chart-line #chartLine3 dataSrc="platform/charts/chart-line/data.tsv"
                   bottomAxis="col1"
                   [columns]="['col2', 'col3','col4']"
                   [titles]="['New York','San Francisco', 'Austin']"
                   [colors]="['#304FFE', '#00B8D4', '#FF3D00']"
                   [transition]="true"
                   transitionDuration="1000"
                   transitionDelay="2000">
      </td-chart-line>
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>TdChartAreaComponent</mat-card-title>
  <mat-card-subtitle>Use this component to draw Area Chart</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h2><code><![CDATA[<td-chart-area>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-area>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to draw an area chart</p>
    <h3>Properties:</h3>
    <p>This component has {{areaChartAttrs.length}} properties:</p>
    <mat-list>
      <ng-template let-attr let-last="attr" ngFor [ngForOf]="areaChartAttrs">
        <a mat-list-item layout-align="row">
          <h3 matLine> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p matLine> {{attr.description}} </p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-line>]]></code> element </p>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
        <td-chart-area #chartArea1 [colors]="['#03a9f4', '#0277bd']"
                     dataSrc="platform/charts/chart-area/data.json"
                     bottomAxis="x"
                     columns="y"
                     [transition]="true"
                     transitionDuration="1500"
                     transitionDelay="4000">
        </td-chart-area>
        ]]>
    </td-highlight>

    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
        [{
          "x": 0,
          "y": 250
        }, {
          "x": 40,
          "y": 170
        }, {
          "x": 80,
          "y": 140
        }, {
          "x": 120,
          "y": 220
        }]
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Combo Charts Example</mat-card-title>
  <mat-card-subtitle>Use multiple chart and axes components</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
        <td-charts title="Sales Bar/Line Chart"
                  [shadowDepth]="['125%', 2, 0, 2]"
                  shadowColor="rgba(0, 0, 0, 0.54)"
                  fillOpacity="0.95">
          <td-axis-x [link]="chartLine4" [ticks]="true" [show]="true" [grid]="false" legend="Day Offset"></td-axis-x>
          <td-axis-y-left [link]="chartLine4" [ticks]="true" [show]="true" [grid]="false" legend="Sales"></td-axis-y-left>
          <td-axis-y-right [link]="chartBar2" [ticks]="true" [show]="true" [grid]="true" legend="Sales 2"></td-axis-y-right>
          <td-chart-bar #chartBar2 [colors]="['amber', 'orange']"
                        dataSrc="platform/charts/chart-line/datatime.csv"
                        [padding]="0.1"
                        bottomAxis="date"
                        columns="close"
                        titles="close"
                        [transition]="true"
                        transitionDuration="2050"
                        transitionDelay="5000">
          </td-chart-bar>
          <td-chart-line #chartLine4 dataSrc="platform/charts/chart-line/datatime.csv"
                          timeSeries="true"
                          bottomAxis="date"
                          [columns]="['close']"
                          [titles]="['close']"
                          [colors]="['#03a9f4']"
                          [transition]="true"
                          transitionDuration="2000"
                          transitionDelay="5000">
          </td-chart-line>
    </td-charts>
      ]]>
    </td-highlight>
  </mat-card-content>
</mat-card>