<md-card>
  <md-card-title>Covalent Charts</md-card-title>
  <md-card-subtitle>Responsive charts for Browsers</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-title>Bar Chart</md-card-title>
  <md-card-content>
    <td-charts chartTitle="Sales Bar Chart"
                bottomAxisTitle="Day Offset"
                leftAxisTitle="Sales"
                [grid]="true"
                [ticks]="true"
                [shadowDepth]="['125%', 2, 0, 2]"
                shadowColor="rgba(0, 0, 0, 0.54)"
                fillOpacity="1">
      <td-chart-bar [colors]="['cyan', 'indigo']"
                     dataSrc="platform/charts/chart-bar/data.csv"
                     contentType="csv"
                     bottomAxis="salesperson"
                     columns="sales"
                     [transition]="true"
                     transitionDuration="750"
                     transitionDelay="50">
      </td-chart-bar>
    </td-charts>
    <md-divider></md-divider>
    <md-card-title>Single/Multi Line Chart</md-card-title>
    <td-charts chartTitle="Temperature Trend"
                bottomAxisTitle="Day Offset"
                leftAxisTitle="Temperature"
                [grid]="true"
                [ticks]="true"
                [shadowDepth]="['125%', 2, 0, 2]"
                shadowColor="rgba(0, 0, 0, 0.54)"
                fillOpacity="1">
      <td-chart-line dataSrc="platform/charts/chart-line/data.tsv"
                   contentType="tsv"
                   bottomAxis="col1"
                   [columns]="['col2', 'col3','col4']"
                   [titles]="['New York','San Francisco', 'Austin']"
                   [colors]="['#3366cc', '#dc3912', '#ff9900']"
                   [transition]="true"
                   transitionDuration="5000"
                   transitionDelay="3000">
      </td-chart-line>
    </td-charts>
    <md-divider></md-divider>
    <md-card-title>Area Chart</md-card-title>
    <td-charts chartTitle="Area Chart"
                bottomAxisTitle="X"
                leftAxisTitle="Numbers"
                [grid]="true"
                [ticks]="true"
                [shadowDepth]="['125%', 2, 0, 2]"
                shadowColor="rgba(0, 0, 0, 0.54)"
                fillOpacity="1">
      <td-chart-area [colors]="['#03a9f4', '#0277bd']"
                     dataSrc="platform/charts/chart-area/data.json"
                     contentType="json"
                     bottomAxis="x"
                     columns="y"
                     [transition]="true"
                     transitionDuration="3000"
                     transitionDelay="2000">
      </td-chart-area>
    </td-charts>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>TdChartsComponent</md-card-title>
  <md-card-subtitle>How to use this component</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
     <h2><code><![CDATA[<td-charts>]]></code></h2>
     <p>Use <code><![CDATA[<td-charts>]]></code> element to wrap individual chart elements</p>
     <h3>Properties:</h3>
      <p>This component has {{chartsAttr.length}} properties:</p>
      <md-list>
        <template let-attr let-last="attr" ngFor [ngForOf]="chartsAttr">
          <a md-list-item layout-align="row">
            <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
            <p md-line> {{attr.description}} </p>
          </a>
          <md-divider *ngIf="!last"></md-divider>
        </template>
      </md-list>
      <p>Use above propeties as attributes with <code><![CDATA[<td-charts>]]></code> element</p>
     <p>Note: <code>d3.min.js</code> needs to be added as vendor and referenced in `index.html`.</p>
     <td-highlight lang="javascript">
      module.exports = function(defaults) {{'{'}}
        return new Angular2App(defaults, {{'{'}}
          vendorNpmFiles: [
            ...
            'd3/build/d3.min.js'
          ]
        });
      };
    </td-highlight>
    and
    <td-highlight lang="html">
      <![CDATA[
        <script src="vendor/d3/build/d3.min.js"></script>
      ]]>
    </td-highlight>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
        <td-charts bottomAxisTitle="Day Offset"
                     leftAxisTitle="Sales"
                     [shadowDepth]="['125%', 2, 0, 2]"
                     shadowColor="rgba(0, 0, 0, 0.54)"
                     fillOpacity="1"
                     chartTitle="Sales Bar Chart"
                     ticks='true'
                     grid='true'>
          <td-chart-bar>
            ...
          </td-chart-bar>
        </td-charts>
        <td-charts>
          <td-chart-line>
            ...
          </td-chart-line>
        </td-charts>
      ]]>
    </td-highlight>
    <p>Typescript:</p>
    <td-highlight lang="typescript">
      <![CDATA[
        import { TdChartsComponent } from '@covalent/charts';
        ...
          directives: [ TdChartsComponent ]
        })
        export class ChartDemoComponent {

          @ViewChild(TdChartsComponent) tdChartsComponent: TdChartsComponent;
          
          colorPalette: any[];
          paletteErrorMsg: string = '';

          ngOnInit(): void {
            this.colorPalette = this.tdChartsComponent.generatePalette('pink', 'purple');
          }

        }
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
<md-card>
  <md-card-title>TdChartBarComponent</md-card-title>
  <md-card-subtitle>Use this component to draw Bar Chart</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-chart-bar>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-bar>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to create a Bar Chart.</p>
    <h3>Properties:</h3>
    <p>This component has {{barChartAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="barChartAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-bar>]]></code> element</p>
    <h3>Example:</h3>
    <p>HTML</p>
    <td-highlight lang="html">
      <![CDATA[
      <td-chart-bar dataSrc="platform/charts/chart-bar/data.csv"
                     contentType="csv"
                     bottomAxis="salesperson"
                     columns="sales"
                     [colors]="['cyan', 'indigo']"
                     [transition]="true"
                     transitionDuration="3000"
                     transitionDelay="2000">
      </td-chart-bar>
         ]]>
    </td-highlight>
    <p>Data Sample of dataSrc</p>

    <td-highlight lang="html">
      <![CDATA[
      salesperson,sales
      Bob,33
      Robin,12
      Anne,41
      Mark,16
      Joe,59
      Eve,38
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
<md-card>
  <md-card-title>TdChartLineComponent</md-card-title>
  <md-card-subtitle>Use this component to draw Line Chart</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-chart-line>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-line>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to draw a single or multi line chart</p>
    <h3>Properties:</h3>
    <p>This component has {{lineChartAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="lineChartAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-line>]]></code> element </p>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
      <td-chart-line dataSrc="platform/charts/chart-line/data.tsv"
                     contentType="tsv"
                     bottomAxis="col1"
                     [transition]="true"
                     transitionDuration="3000"
                     transitionDelay="2000">
      </td-chart-line>
         ]]>
    </td-highlight>

    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
      col1,col2,col3,col4
      1,63.4,62.7,72.2
      2,58.0,59.9,67.7
      3,53.3,59.1,69.4
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>
<md-card>
  <md-card-title>TdChartAreaComponent</md-card-title>
  <md-card-subtitle>Use this component to draw Area Chart</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h2><code><![CDATA[<td-chart-area>]]></code></h2>
    <p>Use <code><![CDATA[<td-chart-area>]]></code> element wrapped inside <code><![CDATA[<td-charts>]]></code> element to draw an area chart</p>
    <h3>Properties:</h3>
    <p>This component has {{areaChartAttrs.length}} properties:</p>
    <md-list>
      <template let-attr let-last="attr" ngFor [ngForOf]="areaChartAttrs">
        <a md-list-item layout-align="row">
          <h3 md-line> {{attr.name}}: <span>{{attr.type}}</span></h3>
          <p md-line> {{attr.description}} </p>
        </a>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-list>
    <p>Use above propeties as attributes with <code><![CDATA[<td-chart-line>]]></code> element </p>
    <h3>Example:</h3>
    <p>HTML</p>

    <td-highlight lang="html">
      <![CDATA[
        <td-chart-area [colors]="['#03a9f4', '#0277bd']"
                      dataSrc="platform/charts/chart-area/data.json"
                      contentType="json"
                      bottomAxis="x"
                      columns="y"
                      [transition]="true"
                      transitionDuration="3000"
                      transitionDelay="2000">
        </td-chart-area>
         ]]>
    </td-highlight>

    <p>Data Sample</p>

    <td-highlight lang="html">
      <![CDATA[
        [{
          "x": 0,
          "y": 250
        }, {
            "x": 40,
            "y": 170
        }, {
            "x": 80,
            "y": 140
        }, {
            "x": 120,
            "y": 220
        }]
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
</md-card>