@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/style/variables';
@import '~@angular/material/core/style/elevation';

@mixin td-notification-count-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .td-notification-count {
    @include mat-elevation(1);
    &.mat-warn {
      background-color: mat-color($warn);
      color: mat-color($warn, default-contrast);
    }
    &.mat-primary {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
    &.mat-accent {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
  }
}