<td-message
  label="Deprecation Notice"
  sublabel="This component will be deprecated in favor of a different implementation"
  color="warn"
  icon="warning"
  class="push-bottom-md"
>
  <a
    td-message-actions
    mat-button
    target="_blank"
    [href]="'https://material.angular.io/cdk/layout/overview'"
    class="mat-button"
  >
    VIEW DOC
  </a>
</td-message>

<section class="push-bottom-xl">
  <h1 class="push-bottom-sm mat-display-1">Media Service</h1>
  <p class="tc-grey-600 push-bottom-md">Basic media query evaluation for responsive applications</p>
</section>

<section class="push-bottom-xxl">
  <div class="push-bottom-xl">
    <h3 class="push-bottom-sm mat-title">TdMediaServices</h3>
    <mat-divider></mat-divider>
    <p>
      TdMediaService comes with support for media queries that match the layout
      <a href="https://material.google.com/layout/responsive-ui.html" target="_blank">breakpoints</a>
      :
    </p>
    <mat-list>
      <ng-template let-bpoint let-last="last" ngFor [ngForOf]="mediaBreakpoints">
        <a mat-list-item layout-align="row">
          <h3 matLine>{{ bpoint.breakpoint }}</h3>
          <p matLine>{{ bpoint.query }}</p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Methods</h3>
    <p>
      The
      <code>TdMediaService</code>
      service has {{ mediaServiceMethods.length }} properties:
    </p>
    <mat-list>
      <ng-template let-attr let-last="last" ngFor [ngForOf]="mediaServiceMethods">
        <a mat-list-item layout-align="row">
          <h3 matLine>
            {{ attr.name }}:
            <span>{{ attr.type }}</span>
          </h3>
          <p matLine>{{ attr.description }}</p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
    <h3>Example</h3>
    <p>Typescript</p>
    <td-highlight codeLang="typescript">
      {{ mediaServiceTypescript }}
    </td-highlight>
    <p>Note: Always unsubscribe from [Observable] objects when not using them anymore.</p>
    <p>
      A good way of doing it is in the
      <code>ngOnDestroy</code>
      component life-cycle hook provided by the [OnDestroy] interface.
    </p>
    <h3>Setup</h3>
    <p>Import the [CovalentMediaModule] in your NgModule:</p>
    <td-highlight codeLang="typescript">
      {{ covalentMediaHtml }}
    </td-highlight>
  </div>
  <div>
    <h3 class="push-bottom-sm mat-title">See the breakpoints in action</h3>
    <mat-divider></mat-divider>
    <p>The break</p>
    <p>Resize screen to toggle breakpoints</p>
    <mat-list>
      <ng-template let-demo let-last="last" ngFor [ngForOf]="mediaDemo">
        <mat-list-item>
          <mat-icon [@tdJello]="demo.value" matListAvatar>
            <span *ngIf="demo.value; else offStateIcon" class="tc-td-teal">check_circle</span>
            <ng-template #offStateIcon>
              <span>highlight_off</span>
            </ng-template>
          </mat-icon>
          <h3
            [tdMediaToggle]="demo.query"
            [mediaClasses]="['tc-td-teal']"
            [mediaAttributes]="{ title: 'It matches!!!' }"
            matLine
          >
            {{ demo.query }}
          </h3>
          <p matLine>matches: {{ demo.value }}</p>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-list>
  </div>
</section>
