// You can add global styles to this file that will cascade like normal CSS

// class for route component animations
.td-route-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cdk-overlay-pane {
  direction: ltr;
  html[dir="rtl"] & {
    direction: rtl;
  }
}