@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';
// Plus imports for other components in your app.

// Custom typography
$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400),
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400),
);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core($custom-typography);

// Setting the toolbar to the proper spec weight
@include mat-toolbar-typography($custom-toolbar-typography);

// Teradata brand
@import './teradata-branding';

// Include the core styles for Covalent
@include covalent-core();

// Include material icons
$mat-font-url: '~@covalent/core/common/styles/font/';
@include covalent-material-icons();

// Include covalent utility classes
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();

// Include covalent color classes
@include covalent-colors();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($td-slate, 700, 100, 900);
$accent: mat-palette($td-orange, 800, 200, 900);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red, 600, 200, 900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme(); // OR @import '~highlight.js/styles/vs.css';
@include teradata-brand($theme);

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Default theme
.tc-primary {
  color: mat-color($primary);
}
.tc-accent {
  color: mat-color($accent);
}
.tc-warn {
  color: mat-color($warn);
}
.bgc-primary {
  background-color: mat-color($primary);
}
.bgc-accent {
  background-color: mat-color($accent);
}
.bgc-warn {
  background-color: mat-color($warn);
}
.bgc-white,
.bgc {
  background-color: white;
}
.tc-faded {
  color: rgba(0, 0, 0, 0.5);
}
.bgc-dark {
  background-color: mat-color($background, app-bar);
}
.bgc-contrast {
  background-color: #ececec;
}
// Teradata.com websites white theme
.mat-toolbar.mat-white {
  background-color: white;
  color: mat-color($td-slate, 800);
}
// State colors
.tc-positive {
  color: map-get($td-positive, foreground-light) !important;
}
.tc-caution {
  color: map-get($td-caution, foreground-light) !important;
}
.tc-negative {
  color: map-get($td-negative, foreground-light) !important;
}
.tc-neutral {
  color: map-get($td-neutral, foreground-light) !important;
}
.tc-emphasis-1 {
  color: map-get($td-emphasis1, foreground-light) !important;
}
.tc-emphasis-2 {
  color: map-get($td-emphasis2, foreground-light) !important;
}
.bgc-positive {
  background-color: map-get($td-positive, background-light) !important;
}
.bgc-caution {
  background-color: map-get($td-caution, background-light) !important;
}
.bgc-negative {
  background-color: map-get($td-negative, background-light) !important;
}
.bgc-neutral {
  background-color: map-get($td-neutral, background-light) !important;
}
.bgc-emphasis-1 {
  background-color: map-get($td-emphasis1, background-light) !important;
}
.bgc-emphasis-2 {
  background-color: map-get($td-emphasis2, background-light) !important;
}

// Dark theme
.theme-dark {
  $primary-dark: mat-palette($td-slate, 800, 200, 900);
  $accent-dark: mat-palette($td-orange, 800, 200, 900);
  $warn-dark: mat-palette($mat-red, 600, 200, 900);
  $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);
  @include angular-material-theme($theme-dark);
  @include covalent-theme($theme-dark);
  @include covalent-markdown-theme($theme-dark);
  @include teradata-brand($theme-dark);

  .tc-primary {
    color: mat-color($primary-dark);
  }
  .tc-accent,
  a {
    color: mat-color($accent-dark);
  }
  a:hover {
    color: darken(mat-color($accent-dark), 10%);
  }
  .tc-warn {
    color: mat-color($warn-dark);
  }
  .bgc-contrast {
    background-color: #111111;
  }
  .td-layout-manage-list-sidenav::-webkit-scrollbar {
    width: 8px;
  }
  .td-layout-manage-list-sidenav::-webkit-scrollbar-thumb {
    background-color: mat-color($td-slate, 600);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid mat-color($td-slate, 800);
  }
  .nav-subheader {
    background-color: mat-color($td-slate, 600);
  }
  .custom-icon {
    fill: white;
  }
}

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Active icon color in list nav
mat-nav-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }
  }
}

// Expansion panels
.home .theme-dark .td-expansion-panel {
  background-color: mat-color($td-slate, 800);
}

// Active top nav
nav {
  a {
    line-height: 4;
    display: block;
    &:not(.active) {
      color: rgba(255, 255, 255, 0.75);
    }
    &.active {
      color: mat-color($accent);
      border-bottom: 1px solid mat-color($accent);
    }
  }
}

// Links
a {
  text-decoration: none;
}

.td-layout-manage-list-sidenav::-webkit-scrollbar {
  width: 8px;
}
.td-layout-manage-list-sidenav::-webkit-scrollbar-thumb {
  background-color: mat-color($td-slate, 300);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #fff;
}

.nav-subheader {
  background-color: mat-color($td-slate, 50);
}
