@import '~@angular/material/theming';
@import './platform/core/theming/all-theme';
@import './platform/markdown/markdown-theme';
@import './platform/highlight/highlight-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-orange, 800);
$accent:  mat-palette($mat-light-blue, 600, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme(); // OR @import '~highlight.js/styles/vs.css';

// Custom theme examples
.blue-orange {
    $primary2: mat-palette($mat-blue, 700);
    $accent2:  mat-palette($mat-orange, 800);
    $warn2:    mat-palette($mat-red, 600);

    $blue-orange: mat-light-theme($primary2, $accent2, $warn2);

    @include angular-material-theme($blue-orange);
    @include covalent-theme($blue-orange);
}

.blue-grey-deep-orange {
    $primary3: mat-palette($mat-blue-grey, 700);
    $accent3:  mat-palette($mat-deep-orange);
    $warn3:    mat-palette($mat-red, 600);

    $blue-grey-deep-orange: mat-light-theme($primary3, $accent3, $warn3);

    @include angular-material-theme($blue-grey-deep-orange);
    @include covalent-theme($blue-grey-deep-orange);
}

/* ------------------------------------------------------------------------------- */
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Apply theme for this app

// Active icon color in list nav
md-nav-list {
    [md-list-item].active {
        md-icon[md-list-avatar] {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast)
        }
        md-icon[md-list-icon] {
            color: mat-color($accent);
        }
    }
}

// NGX Charts
[ngx-charts-axis-label] text {
    fill: mat-color($foreground, secondary-text);
}
.tick text {
    fill: mat-color($foreground, disabled);
}
.gridline-path {
    &.gridline-path-horizontal,
    &.gridline-path-vertical {
        stroke: rgba(black, 0.06);
    }
}
.legend-title-text {
    color: mat-color($foreground, secondary-text);
}
