<md-card>
  <md-card-title>File Input</md-card-title>
  <md-card-subtitle>File input button</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">TdFileInput basic example</h3>
    <h4 class="md-subhead">single or multiple selection/drop</h4>
    <md-tab-group md-stretch-tabs>
      <md-tab>
        <template md-tab-label>Demo</template>
        <div class="md-padding" layout="row">
          <td-file-input #fileInput multiple [disabled]="disabled">
            <md-icon>attach_file</md-icon>
            Select a file...
          </td-file-input>
          <md-input-container class="push-left" flex>
            <input md-input readonly [value]="fileInput?.files?.length ? (fileInput?.files?.length + ' files') : fileInput?.files?.name"/>
          </md-input-container>
          <button md-icon-button *ngIf="fileInput?.files" (click)="fileInput.clear()">
            <md-icon>cancel</md-icon>
          </button>
        </div>
        <div layout="row">
          <button md-button color="primary" (click)="toggleDisabled()">Toggle Disable</button>
        </div>
      </md-tab>
      <md-tab>
        <template md-tab-label>Code</template>
        <p>HTML:</p>
        <td-highlight lang="html">
          <![CDATA[
            <div class="md-padding" layout="row">
              <td-file-input #fileInput multiple [disabled]="disabled">
                <md-icon>attach_file</md-icon>
                Select a file...
              </td-file-input>
              <md-input-container class="push-left" flex>
                <input md-input readonly [value]="fileInput?.files?.length ? (fileInput?.files?.length + ' files') : fileInput?.files?.name"/>
              </md-input-container>
              <button md-icon-button *ngIf="fileInput?.files" (click)="fileInput.clear()">
                <md-icon>cancel</md-icon>
              </button>
            </div>
            <div layout="row">
              <button md-button color="primary" (click)="toggleDisabled()">Toggle Disable</button>
            </div>
          ]]>
        </td-highlight>
        <p>Typescript:</p>
        <td-highlight lang="typescript">
          <![CDATA[
            export class Demo {
              disabled: boolean = false;

              toggleDisabled(): void {
                this.disabled = !this.disabled;
              }
            }
          ]]>
        </td-highlight>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<td-readme-loader resourceUrl="platform/core/file/file-input/README.md"></td-readme-loader>