@import 'variables';
@import 'shadows';
@import 'default-theme';

// Standard button sizing.
$md-button-padding: 0 rem(0.600) !default;
$md-button-min-width: rem(8.800) !default;
$md-button-margin: rem(0.600) rem(0.800) !default;
$md-button-line-height: rem(3.60) !default;
$md-button-border-radius: 3px !default;

// FAB sizing.
$md-fab-border-radius: 50%;
$md-fab-size: rem(5.600) !default;
$md-fab-line-height: rem(5.600) !default;
$md-fab-padding: rem(1.60) !default;
$md-fab-mini-size: rem(4.00) !default;
$md-fab-mini-line-height: rem(4.00) !default;

// Icon button sizing.
$md-icon-button-height: rem(4.000) !default;
$md-icon-button-width: rem(4.000) !default;
$md-icon-button-margin: rem(0.600) !default;
$md-icon-border-radius: $md-fab-border-radius;

/** Mixin to create distinct classes for fab positions, e.g. ".md-fab-position-bottom-right". */
@mixin md-fab-position($spot, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  [md-fab].md-fab-position-#{$spot},
  .mat-fab.mat-fab-position-#{$spot},
  [md-fab].md-fab-#{$spot},
  .mat-fab.mat-fab-#{$spot} {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
    &.fixed {
      position: fixed;
    }
  }
}


$md-fab-pos-offset: ($md-fab-size - $md-fab-padding) / 2;
@include md-fab-position(bottom-right, auto, $md-fab-pos-offset, $md-fab-pos-offset, auto);
@include md-fab-position(bottom-left, auto, auto, $md-fab-pos-offset, $md-fab-pos-offset);
@include md-fab-position(top-right, $md-fab-pos-offset, $md-fab-pos-offset, auto, auto);
@include md-fab-position(top-left, $md-fab-pos-offset, auto, auto, $md-fab-pos-offset);

button {
  &[md-icon-button] {
    &.md-icon-button-mini {
      height: 24px;
      line-height: 24px;
      width: 24px;
    }
  }
}