md-list-item,
.mat-list-item-content {
    md-icon {
        &[md-list-avatar] {
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: flex;
        }
    }
}
.mat-icon.md-icon-logo {
    height: auto;
    width: 100px;
}

