<td-breadcrumbs>
  <a td-breadcrumb [routerLink]="['/components', 'breadcrumbs', 'examples']" [queryParams]="{ query: 1 }">Home</a>
  <a td-breadcrumb [routerLink]="['/components', 'breadcrumbs', 'examples']" [queryParams]="{ query: 2 }">Breadcrumb 1</a>
  <a td-breadcrumb [routerLink]="['/components', 'breadcrumbs', 'examples']" [queryParams]="{ query: 3 }">Breadcrumb 2</a>
  <a td-breadcrumb [routerLink]="['/components', 'breadcrumbs', 'examples']" [queryParams]="{ query: 4 }">Breadcrumb 3</a>
    <td-breadcrumb>Manage List</td-breadcrumb>
</td-breadcrumbs>