<h2>Basic Markdown</h2>
<td-markdown>{{ basicMarkdown }}</td-markdown>

<h2>Blockquotes</h2>
<td-markdown>{{ blockquoteMarkdown }}</td-markdown>

<h2>Dividers</h2>
<td-markdown>{{ dividerMarkdown }}</td-markdown>

<h2>Code Blocks</h2>
<p>Inline has `back-ticks` around it.</p>
<p>
  Blocks of code are either fenced by lines with three back-ticks
  <code>```</code>
  , or are indented with four spaces.
</p>
<td-markdown>{{ codeblockMarkdown }}</td-markdown>

<h2>Links &amp; Images</h2>
<p>There are two ways to create links. Inline & reference:</p>
<td-markdown>{{ linksMarkdown }}</td-markdown>
