<md-card>
  <md-card-title>Minimum Demo</md-card-title>
  <md-card-subtitle>Minimum code for this layout with no wrapper</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
      <div td-sidenav-content>
        Sidenav content here
      </div>
      Content goes here
    </td-layout-nav-list>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
          <div td-sidenav-content>
            Sidenav content here
          </div>
          Content goes here
        </td-layout-nav-list>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Basic Demo</md-card-title>
  <md-card-subtitle>Basic layout wrapper &amp; nav drawer</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a md-list-item><md-icon>home</md-icon>Home</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a md-list-item><md-icon>account_box</md-icon>Profile</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
        <button md-icon-button td-menu-button tdLayoutToggle>
          <md-icon>menu</md-icon>
        </button>
        <div td-sidenav-content>
          Sidenav content here
        </div>
        <div td-toolbar-content>
          <button md-button tdLayoutNavListToggle>
            Toggle
          </button>
        </div>
        Content goes here
      </td-layout-nav-list>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a md-list-item><md-icon>home</md-icon>Home</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a md-list-item><md-icon>account_box</md-icon>Profile</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
            <button md-icon-button td-menu-button tdLayoutToggle>
              <md-icon>menu</md-icon>
            </button>
            <div td-sidenav-content>
              Sidenav content here
            </div>
            <div td-toolbar-content>
              <button md-button tdLayoutNavListToggle>
                Toggle
              </button>
            </div>
            Content goes here
          </td-layout-nav-list>
        </td-layout>
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Full Demo</md-card-title>
  <md-card-subtitle>Full working code with all options and templates</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content [style.height]="'400px'">
    <td-layout>
      <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
          <a *ngFor="let item of routes" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
          <md-nav-list>
            <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
          </md-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav-list #navList
            color="accent"
            [opened]="media.registerQuery('gt-sm') | async"
            [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
            [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
        <div td-sidenav-toolbar-content layout="row" layout-align="start center">
          <button md-icon-button tdLayoutToggle>
            <md-icon>menu</md-icon>
          </button>
          <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
          <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
        </div>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <button md-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
            <md-icon>arrow_back</md-icon>
          </button>
          <span>Page Title</span>
          <span flex></span>
          <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
          <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
        </div>
        <md-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
          <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
            <a md-list-item>
              <md-icon mdListAvatar>{{item.icon}}</md-icon>
              <h3 mdLine> {{item.title}} </h3>
              <p mdLine> {{item.description}} </p>
            </a>
            <md-divider md-inset *ngIf="!last"></md-divider>
          </ng-template>
        </md-nav-list>
        <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
          <md-card>
            <md-card-title>Main Content</md-card-title>
            <md-card-subtitle>content area</md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content>
              card content
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
              <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                <span>View More</span>
              </a>
            </md-card-actions>
          </md-card>
        </div>
        <td-layout-footer-inner>
          Optional inner footer
        </td-layout-footer-inner>
        <td-layout-footer>
          <div layout="row" layout-align="start center">
            <span class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
          </div>
        </td-layout-footer>
      </td-layout-nav-list>
    </td-layout>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-content>
    <td-highlight lang="html">
      <![CDATA[
        <td-layout>
          <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
            <md-nav-list>
              <a *ngFor="let item of routes" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
            </md-nav-list>
            <div td-navigation-drawer-menu>
              <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item><md-icon>{ {item.icon} }</md-icon>{ {item.title} }</a>
              </md-nav-list>
            </div>
          </td-navigation-drawer>
          <td-layout-nav-list #navList
                color="accent"
                [opened]="media.registerQuery('gt-sm') | async"
                [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
            <div td-sidenav-toolbar-content layout="row" layout-align="start center">
              <button md-icon-button tdLayoutToggle>
                <md-icon>menu</md-icon>
              </button>
              <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
              <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
            </div>
            <div td-toolbar-content layout="row" layout-align="start center" flex>
              <button md-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
                <md-icon>arrow_back</md-icon>
              </button>
              <span>Page Title</span>
              <span flex></span>
              <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
              <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
            </div>
            <md-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
              <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
                <a md-list-item>
                  <md-icon mdListAvatar>{ {item.icon} }</md-icon>
                  <h3 mdLine> { {item.title} } </h3>
                  <p mdLine> { {item.description} } </p>
                </a>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-nav-list>
            <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
              <md-card>
                <md-card-title>Main Content</md-card-title>
                <md-card-subtitle>content area</md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content>
                  card content
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                  <a md-button color="accent" class="text-upper" [routerLink]="['/']">
                    <span>View More</span>
                  </a>
                </md-card-actions>
              </md-card>
            </div>
            <td-layout-footer-inner>
              Optional inner footer
            </td-layout-footer-inner>
            <td-layout-footer>
              <div layout="row" layout-align="start center">
                <span class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
              </div>
            </td-layout-footer>
          </td-layout-nav-list>
        </td-layout>
      ]]>
    </td-highlight>
    <h3 class="md-title">TypeScript:</h3>
    <td-highlight lang="typescript">
      <![CDATA[
        import { Component, HostBinding, AfterViewInit, ChangeDetectionStrategy, ChangeDetectorRef } from '@angular/core';
        import { TdMediaService } from '@covalent/core';

        @Component({
          changeDetection: ChangeDetectionStrategy.OnPush,
          selector: 'layouts-nav-list',
          styleUrls: ['./nav-list.component.scss'],
          templateUrl: './nav-list.component.html',
        })
        export class NavListComponent implements AfterViewInit {

          routes: Object[] = [{
              icon: 'home',
              route: '.',
              title: 'Home',
            }, {
              icon: 'library_books',
              route: '.',
              title: 'Documentation',
            }, {
              icon: 'color_lens',
              route: '.',
              title: 'Style Guide',
            }, {
              icon: 'view_quilt',
              route: '.',
              title: 'Layouts',
            }, {
              icon: 'picture_in_picture',
              route: '.',
              title: 'Components & Addons',
            },
          ];
          usermenu: Object[] = [{
              icon: 'swap_horiz',
              route: '.',
              title: 'Switch account',
            }, {
              icon: 'tune',
              route: '.',
              title: 'Account settings',
            }, {
              icon: 'exit_to_app',
              route: '.',
              title: 'Sign out',
            },
          ];
          navmenu: Object[] = [{
              icon: 'looks_one',
              route: '.',
              title: 'First item',
              description: 'Item description',
            }, {
              icon: 'looks_two',
              route: '.',
              title: 'Second item',
              description: 'Item description',
            }, {
              icon: 'looks_3',
              route: '.',
              title: 'Third item',
              description: 'Item description',
            }, {
              icon: 'looks_4',
              route: '.',
              title: 'Fourth item',
              description: 'Item description',
            }, {
              icon: 'looks_5',
              route: '.',
              title: 'Fifth item',
              description: 'Item description',
            },
          ];

          constructor(private _changeDetectorRef: ChangeDetectorRef,
                      public media: TdMediaService) {}

          ngAfterViewInit(): void {
            // broadcast to all listener observables when loading the page
            setTimeout(() => { // workaround since MdSidenav has issues redrawing at the beggining
              this.media.broadcast();
              this._changeDetectorRef.detectChanges();
            });
          }

        }
      ]]>
    </td-highlight>
  </md-card-content>
</md-card>
<td-readme-loader resourceUrl="platform/core/layout/layout-nav-list/README.md"></td-readme-loader>