<td-layout-nav-list #navList
                    logo="assets:teradata"
                    toolbarTitle="Covalent"
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && navList.close()">
    <a md-list-item>
      <md-icon md-list-avatar>view_compact</md-icon>
      <h3 md-line> Item Name </h3>
      <p md-line> item description </p>
    </a>
    <md-divider md-inset></md-divider>
    <a md-list-item>
      <md-icon md-list-avatar>view_quilt</md-icon>
      <h3 md-line> Item Name </h3>
      <p md-line> item description </p>
    </a>
  </md-nav-list>
  <div td-toolbar-content layout="row" flex>
    <span>Page Title</span>
    <span flex></span>
  </div>
  <md-card>
    <md-card-title>Nav List Layout</md-card-title>
    <md-card-subtitle>The Nav View with an embedded list (this page is using nav list)</md-card-subtitle>
    <md-divider></md-divider>
    <md-nav-list>
      <h3 md-subheader>Recommended usage:</h3>
      <a md-list-item href="https://teradata.github.io/covalent-quickstart/#/logs" target="_blank">
        <p md-line>Category list view (docs, blog or logs)</p>
        <md-icon>launch</md-icon>
      </a>
      <md-divider></md-divider>
      <a md-list-item href="https://teradata.github.io/covalent-quickstart/#/templates/email" target="_blank">
        <p md-line>List of content items (email app, chat app, etc.)</p>
        <md-icon>launch</md-icon>
      </a>
      <md-divider></md-divider>
    </md-nav-list>
    <md-card-content>
      <div layout-gt-lg="row">
        <div flex-gt-lg="50">
          <td-steps>
            <td-step label="td-layout-nav-list" sublabel="the main content area of the layout" active="true">
              <md-list>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<td-layout-nav-list>]]></code></h3>
                  <p md-line>Builds the top toolbar, left nav and content area</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code>toolbarTitle?: string</code></h3>
                  <p md-line>The title of your toolbar</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code>logo?: string</code></h3>
                  <p md-line>The path to your toolbar logo</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code>navigationRoute?: string</code></h3>
                  <p md-line>Optional route navigation on logo/icon/title</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code>color?: string</code></h3>
                  <p md-line>Toolbar color (primary | accent | warn | none)</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<md-nav-list td-sidenav-content>]]></code></h3>
                  <p md-line>The list items wrapper</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<div td-toolbar-content>]]></code></h3>
                  <p md-line>Right column page title (optional)</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<router-outlet>]]></code></h3>
                  <p md-line>Loads html for each route (view)</p>
                </md-list-item>
                <md-divider></md-divider>
              </md-list>
            </td-step>
            <td-step label="td-layout-footer" sublabel="optional sticky footer">
              <md-list>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<td-layout-footer>]]></code></h3>
                  <p md-line>Optional footer</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code><![CDATA[<td-layout-footer-inner>]]></code></h3>
                  <p md-line>Optional inner footer</p>
                </md-list-item>
              </md-list>
            </td-step>
            <td-step label="responsive layout" sublabel="(Extra) leverage of media service and inputs">
              <md-list>
                <md-list-item>
                  <h3 md-line><code>[opened]</code>, <code>[mode]</code>, <code>[sidenavWidth]</code></h3>
                  <p md-line>Set media breakpoints to change the value of the inputs</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                  <h3 md-line><code>(click)</code> media prevention</h3>
                  <p md-line>Close sidenav only on certain media breakpoints</p>
                </md-list-item>
              </md-list>
            </td-step>
          </td-steps>
        </div>
        <div flex-gt-lg="50">
          <h3 class="md-title">HTML</h3>
          <td-highlight lang="html">
            <![CDATA[
              <td-layout-nav-list #navList
                    logo="assets:teradata"
                    toolbarTitle="Covalent"
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
                <md-nav-list td-sidenav-content
                             (click)="!media.query('gt-sm') && navList.close()">
                  <a md-list-item>
                    <md-icon md-list-avatar>view_compact</md-icon>
                    <h3 md-line> Item Name </h3>
                    <p md-line> item description </p>
                  </a>
                  <md-divider md-inset></md-divider>
                  <a md-list-item>
                    <md-icon md-list-avatar>view_quilt</md-icon>
                    <h3 md-line> Item Name </h3>
                    <p md-line> item description </p>
                  </a>
                </md-nav-list>
                <div td-toolbar-content layout="row" flex>
                  <span>Page Title</span>
                  <span flex></span>
                </div>
                <router-outlet></router-outlet>
                <td-layout-footer-inner>
                  Optional inner footer
                </td-layout-footer-inner>
                <td-layout-footer>
                  Optional footer
                </td-layout-footer>
              </td-layout-nav-list>
            ]]>
          </td-highlight>
          <h3 class="md-title">Typescript</h3>
          <td-highlight lang="typescript">
            <![CDATA[
              import { TdMediaService } from '@covalent/core';
              ...
              export class MyComponent {

                constructor(public media: TdMediaService) {}

                ngAfterViewInit(): void {
                  // broadcast to all listener observables when loading the page
                  this.media.broadcast();
                }
              }
            ]]>
          </td-highlight>
        </div>
      </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row">
        <a md-button [routerLink]="'/layouts'" class="text-upper">Go back</a>
        <span flex></span>
        <a md-button color="accent" [routerLink]="'/layouts/card-over'" class="text-upper">Card Over</a>
    </md-card-actions>
  </md-card>
  <td-readme-loader resourceUrl="platform/core/layout/layout-nav-list/README.md"></td-readme-loader>
  <td-layout-footer>
    Optional footer
  </td-layout-footer>
</td-layout-nav-list>
