<td-chips
  [chipAddition]="chipAddition"
  [chipRemoval]="chipRemoval"
  [items]="filteredStrings"
  [(ngModel)]="stringsModel"
  placeholder="Type here"
  [disabled]="disabled"
  (inputChange)="filterStrings($event)"
  [inputPosition]="before ? 'before' : 'after'"
  requireMatch
></td-chips>

<div class="pad-top pad-bottom-sm" layout="center center" flex layout-wrap="">
  <span class="pad">
    <mat-slide-toggle color="accent" [(ngModel)]="disabled">Disabled</mat-slide-toggle>
  </span>
  <span class="pad">
    <mat-slide-toggle color="accent" [(ngModel)]="chipAddition">Chip addition</mat-slide-toggle>
  </span>
  <span class="pad">
    <mat-slide-toggle color="accent" [(ngModel)]="chipRemoval">Chip removal</mat-slide-toggle>
  </span>
  <span class="pad">
    <mat-slide-toggle color="accent" [(ngModel)]="before">Input Position Before</mat-slide-toggle>
  </span>
</div>
