@import '~@angular/material/core/theming/theming';

@mixin td-loading-theme($theme) {
  $background: map-get($theme, background);
  .td-loading {
    &.td-overlay {
      background: rgba(md-color($background, dialog), 0.9);
    }
  }
}