.td-loading-wrapper {
  position: relative;
  display: block;
  &.td-fullscreen {
    position: inherit;
  }
  &.td-overlay {
    .td-loading {
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
