<div [tdFade]="animation"
     (fadeOut)="outAnimationCompleted()"
     (fadeIn)="inAnimationCompleted()"
     [style.min-height]="getHeight()"
     class="td-loading"
     [class.td-overlay]="overlay"
     layout="row"
     layout-align="center center"
     layout-padding
     flex>
    <md-progress-circle *ngIf="isCircular() && reset" 
                        [mode]="mode"
                        [value]="value" 
                        color="primary" 
                        [style.height]="getCircleDiameter()"
                        [style.width]="getCircleDiameter()">
    </md-progress-circle>
    <md-progress-bar *ngIf="isLinear() && reset" 
                     [mode]="mode"
                     [value]="value"
                     color="primary">
    </md-progress-bar>
</div>