.td-loading {
  &.td-overlay {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    md-progress-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
