<mat-card>
  <mat-card-title>Code Editor</mat-card-title>
  <mat-card-subtitle>Multi-language code editor for Browser and Electron</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>With this component you can utilize the Monaco Editor as an Angular Component in a Browser or Electron.</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" href="https://github.com/Teradata/covalent-code-editor" target="_blank" class="text-upper">Github Repo</a>
    <a mat-button color="accent" href="https://www.npmjs.com/package/@covalent/code-editor" target="_blank" class="text-upper">npm Module</a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Basic example</mat-card-title>
  <mat-card-subtitle>Editor running in browser <br>(change language, theme, right click context menu, syntax highlighting, and more)</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row" layout-align="start center">
      <td-code-editor #editor class="editor" [theme]="editorTheme" flex [language]="editorLanguage" [(ngModel)]="editorVal"></td-code-editor>
    </div>
    <p>Editor Output:</p>
    <div layout="row" layout-align="start center">
      <td-highlight flex [content]="editorVal" [lang]="editorLanguage"></td-highlight>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div layout="row" layout-align="start center" class="pad-sm">
      <span flex="none" hide-xs class="push-right mat-body-1">Editor Language</span>
      <mat-form-field floatPlaceholder="never">
        <mat-select [(ngModel)]="editorLanguage" (change)="changeLanguage()" placeholder="Editor Language">
          <mat-option value="sql">SQL</mat-option>
          <mat-option value="javascript">JavaScript</mat-option>
          <mat-option value="html">HTML</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div layout="row" layout-align="start center" class="pad-sm">
      <span flex="none" hide-xs class="push-right mat-body-1">Editor Theme</span>
      <mat-form-field floatPlaceholder="never">
        <mat-select [(ngModel)]="editorTheme" (change)="changeTheme()" placeholder="Editor Theme">
          <mat-option value="vs">Light</mat-option>
          <mat-option value="vs-dark">Dark</mat-option>
          <mat-option value="hc-black">High Contrast</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-actions>
</mat-card>

<td-readme-loader resourceUrl="https://raw.githubusercontent.com/Teradata/covalent-code-editor/master/docs/API.md">
</td-readme-loader>

<td-readme-loader resourceUrl="https://raw.githubusercontent.com/Teradata/covalent-code-editor/master/docs/SETUP.md">
</td-readme-loader>

<td-readme-loader resourceUrl="https://raw.githubusercontent.com/Teradata/covalent-code-editor/master/docs/ELECTRON.md">
</td-readme-loader>