<ng-content></ng-content>
<div class="td-step-link"
    [class.mat-disabled]="disabled"
    matRipple
    [matRippleDisabled]="disabled || disableRipple"
    [tabIndex]="disabled ? -1 : 0">
    <div class="td-circle"
        [class.mat-inactive]="(!active && !isComplete()) || disabled"
        [class.mat-active]="active && !disabled"
        *ngIf="!isRequired() && !isComplete()">
      <span *ngIf="(active || !isComplete())">{{number || ''}}</span>
    </div>
    <div class="td-complete" *ngIf="isComplete()">
      <mat-icon class="mat-complete">check_circle</mat-icon>
    </div>
    <div class="td-triangle"
        [class.bg-muted]="disabled"
        *ngIf="isRequired()">
      <mat-icon class="mat-warn">warning</mat-icon>
    </div>
    <div class="td-step-link-label-wrapper"
          [class.mat-inactive]="(!active && !isComplete()) || disabled"
          [class.mat-warn]="isRequired() && !disabled">
      <div class="td-step-link-label">
        {{label}}
      </div>
      <div class="td-step-link-sublabel">
        {{sublabel}}
      </div>
    </div>
    <span class="td-step-link-separator"></span>
</div>