:host {
  .td-step-link {
    height: 48px;
    color: rgba(0,0,0,.54);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0 10px;
  }
}

