@import '../../../../node_modules/@angular/material/core/theming/theming';

@mixin td-file-upload-theme($theme) {
  $background: map-get($theme, background);

  .td-file-cancel {
    md-icon {
      background-color: md-color($background, background);
    }
  }
}