<div>
  <div *ngIf="!files">
    <button mat-raised-button
            class="td-file-browse"
            type="button"
            [color]="defaultColor" 
            [multiple]="multiple" 
            [disabled]="disabled"
            (keyup.enter)="fileBrowse.click()"
            (click)="fileBrowse.click()"
            (fileDrop)="files = $event"
            tdFileDrop> 
      <label>   
        <mat-icon>attachment</mat-icon>Choose a File...
      </label>
    </button>
    <input #fileBrowse 
           class="td-file-upload-input" 
           type="file"
           [attr.accept]="accept"                
           (fileSelect)="files = $event"
           [multiple]="multiple" 
           [disabled]="disabled"
           tdFileSelect>
  </div>
  <div *ngIf="files" layout="row">
    <button #fileUpload
            class="td-file-upload"
            mat-raised-button
            type="button"
            [color]="activeColor"
            (keyup.delete)="cancel()"
            (keyup.backspace)="cancel()"
            (keyup.escape)="cancel()"
            (click)="uploadPressed()">
      <label>   
        <mat-icon>file_upload</mat-icon>
        {{ files.name || files.length }} <span *ngIf="files.length">files selected</span> 
      </label>
    </button>
    <button mat-icon-button
            type="button"
            class="td-file-cancel"
            [color]="cancelColor"            
            (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>