@import '~@angular/material/core/theming/theming';

@mixin covalent-charts-theme($theme) {
  $foreground: map-get($theme, foreground);
  td-charts {
    text {
      fill: md-color($foreground, secondary-text);
    }
    p {
      color: md-color($foreground, secondary-text);
    }
    .grid {
      line {
        stroke: md-color($foreground, divider);
      }
    }
    .ticks {
      line,
      path {
        stroke: md-color($foreground, divider);
      }
    }
    .domain {
      stroke: md-color($foreground, divider);
    }
  }
}