<ng-container *ngIf="!showEmptyState">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>

  <ng-container *ngIf="showHeader">
    <div [style.display]="'flex'">
      <button
        id="td-markdown-navigator-home-button"
        *ngIf="showHomeButton"
        mat-icon-button
        [matTooltip]="goHomeLabel"
        (click)="reset()"
        [attr.data-test]="'home-button'"
      >
        <mat-icon [attr.aria-label]="goHomeLabel">home</mat-icon>
      </button>

      <button
        id="td-markdown-navigator-back-button"
        *ngIf="showGoBackButton"
        mat-icon-button
        [matTooltip]="goBackLabel"
        (click)="goBack()"
        [attr.data-test]="'back-button'"
      >
        <mat-icon [attr.aria-label]="goBackLabel">arrow_back</mat-icon>
      </button>
      <span flex *ngIf="currentItemTitle" class="mat-body-2 title truncate" [attr.data-test]="'title'">
        {{ currentItemTitle }}
      </span>
    </div>

    <mat-divider [style.position]="'relative'"></mat-divider>
  </ng-container>

  <div class="scroll-area" id="td-markdown-navigator-content">
    <div *ngIf="showTdMarkdownLoader || showTdMarkdown" class="markdown-wrapper" #markdownWrapper>
      <td-message
        *ngIf="markdownLoaderError"
        [sublabel]="markdownLoaderError"
        color="warn"
        icon="error"
        [attr.data-test]="'markdown-loader-error'"
      ></td-message>
      <td-flavored-markdown-loader
        *ngIf="showTdMarkdownLoader"
        [url]="url"
        [httpOptions]="httpOptions"
        [anchor]="anchor"
        [copyCodeToClipboard]="copyCodeToClipboard"
        [copyCodeTooltips]="copyCodeTooltips"
        (loadFailed)="handleMarkdownLoaderError($event)"
      ></td-flavored-markdown-loader>
      <td-flavored-markdown
        *ngIf="showTdMarkdown"
        [content]="markdownString"
        [hostedUrl]="url"
        [anchor]="anchor"
        [copyCodeToClipboard]="copyCodeToClipboard"
        [copyCodeTooltips]="copyCodeTooltips"
        (buttonClicked)="buttonClicked.emit($event)"
      ></td-flavored-markdown>
    </div>

    <td-message
      *ngIf="childrenUrlError"
      [sublabel]="childrenUrlError"
      color="warn"
      icon="error"
      [attr.data-test]="'children-url-error'"
    ></td-message>
    <div *ngIf="showMenu" class="td-markdown-list">
      <mat-action-list>
        <button
          *ngFor="let item of currentMenuItems; index as index"
          [id]="'td-markdown-navigator-list-item-' + (item.id ? item.id : index)"
          (click)="handleItemSelected(item)"
          mat-list-item
          [matTooltip]="getTitle(item)"
          matTooltipPosition="before"
          matTooltipShowDelay="500"
        >
          <mat-icon matListIcon>
            {{ getIcon(item) }}
          </mat-icon>
          <span matLine class="truncate">
            {{ getTitle(item) }}
          </span>
          <span matLine class="truncate">{{ item.description }}</span>
          <mat-divider></mat-divider>
        </button>
      </mat-action-list>
    </div>

    <ng-container *ngComponentOutlet="footerComponent"></ng-container>
  </div>
</ng-container>

<div *ngIf="showEmptyState" layout="column" layout-align="center center" class="empty-state">
  <mat-icon matListAvatar>subject</mat-icon>
  <h2>{{ emptyStateLabel }}</h2>
</div>
