<td-chips
  color="accent"
  [items]="filteredObjects"
  [(ngModel)]="objectsModel"
  placeholder="Type here"
  (inputChange)="filterObjects($event)"
  requireMatch
>
  <ng-template td-chip let-chip="chip">
    <mat-icon>location_city</mat-icon>
    <span class="text-truncate">{{ chip.city }}, (Pop: {{ chip.population }})</span>
  </ng-template>
  <ng-template td-autocomplete-option let-option="option">
    <div layout="row" layout-align="start center">
      <mat-icon>location_city</mat-icon>
      {{ option.city }}
    </div>
  </ng-template>
</td-chips>
