$mat-font-url: 'styles/font/';
@import "styles/font/font";
@import "styles/variables";
@import "styles/button";
@import "styles/card";
@import "styles/card-colored";
@import "styles/chips";
@import "styles/content";
@import "styles/divider";
@import "styles/icons";
@import "styles/input";
@import "styles/mixins";
@import "styles/navigation-drawer";
@import "styles/theme-functions";
@import "styles/palette";
@import "styles/palette-dark";
@import "styles/colors";
@import "styles/colors-dark";
@import "styles/layout";
@import "styles/list";
@import "styles/structure";
@import "styles/shadows";
@import "styles/sidenav";
@import "styles/toolbar";
@import "styles/typography";
@import "styles/whiteframe";
@import "styles/utilities/utilities";

$app-content-lg: 940px;
$app-content-md: 580px;
$app-content-sm: 360px;
