<!-- <demo-component [demoId]="'markdown-navigator-demo-basic'" [demoTitle]="'Basic'">
    <markdown-navigator-demo-basic></markdown-navigator-demo-basic>
</demo-component> -->


<demo-component [demoId]="'markdown-navigator-demo-children-url'">
    <markdown-navigator-demo-children-url></markdown-navigator-demo-children-url>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-footer'">
    <markdown-navigator-demo-footer></markdown-navigator-demo-footer>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-button-clicked'">
    <markdown-navigator-demo-button-clicked></markdown-navigator-demo-button-clicked>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-window'">
    <markdown-navigator-demo-window></markdown-navigator-demo-window>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-service'">
    <markdown-navigator-demo-service></markdown-navigator-demo-service>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-service-button-clicked'">
    <markdown-navigator-demo-service-button-clicked></markdown-navigator-demo-service-button-clicked>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-directive'">
    <markdown-navigator-demo-directive></markdown-navigator-demo-directive>
</demo-component>
