<demo-component [demoId]="'markdown-navigator-demo-basic'" [demoTitle]="'Basic'">
    <markdown-navigator-demo-basic></markdown-navigator-demo-basic>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-footer'">
    <markdown-navigator-demo-footer></markdown-navigator-demo-footer>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-events'">
    <markdown-navigator-demo-events></markdown-navigator-demo-events>
</demo-component>

<demo-component [demoId]="'markdown-navigator-demo-children-url'">
    <markdown-navigator-demo-children-url></markdown-navigator-demo-children-url>
</demo-component>
